mixin books(image, author, price, name, link)
    a(href='#{link}' title='' data-book-item).profile-book__item
        img(src='#{image}' alt='' title='')
        .profile-book__author #{author}
        .profile-book__name-book #{name}
        .catalog-book__version
            .block-form__filter
                select.select-custom.c-select(name="typeBook")
                    option(value="Печатная версия" selected) Печатная версия
                    option(value="Эл. версия") Эл. версия
        .profile-book__price(data-price) #{price}

mixin book-catalog(image, author, price, name, link, label)
    a(href='#{link}' title='' data-book-item).catalog-book__item
        if (label == 'new')
            .catalog-book__label.catalog-book__label--new
        else if (label == 'best')
            .catalog-book__label.catalog-book__label--best
        .catalog-book__img
            img(src='#{image}' alt='' title='')

        .catalog-book__info
            .catalog-book__author #{author}
            .catalog-book__name-book #{name}
            .catalog-book__version
                .block-form__filter
                    select.select-custom.c-select(name="typeBook")
                        option(value="Печатная версия" selected) Печатная версия
                        option(value="Эл. версия") Эл. версия
            .catalog-book__price(data-price) #{price}
                if (price == "Бесплатно")
                    .catalog-book__add-to-cart.custom-btn.custom-btn--green(data-action="cart" data-free data-name='#{name}') В бибилиотеку
                else
                    .catalog-book__add-to-cart.custom-btn.custom-btn--green(data-action="cart" data-pay data-name='#{name}') В корзину

mixin book-catalog-author(imageAuthor, authorName, link, image)
    a(href='#{link}' title='').catalog-book__bl-author
        .catalog-book__author-img
            img(src='#{imageAuthor}' alt='' title='')
        .catalog-book__author-name #{authorName}
        .catalog-book__author-books
            .catalog-book__img
                img(src='#{image}' alt='' title='')
            .catalog-book__img
                img(src='#{image}' alt='' title='')
