mixin breadcrumb(...items)
    ul.breadcrumb(class!=attributes.class)
        each item in items
            li.breadcrumb__item
                a(href="javascript:void(0);" title='#{item}').link #{item}
            li.breadcrumb__next