.clear
<!-- BEGIN footer -->
footer.footer
    .content
        .footer__block
            a.footer__block-email(href="mailto:Support@bookscriptor.ru" title="")
                |Support@bookscriptor.ru
            .footer__block-social
                a.social-icon.social-icon--ok(href="#" target="_blank" title="")
                    svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                        path(d="M12,12A5,5,0,1,0,7,7,5,5,0,0,0,12,12Zm0-7a2,2,0,1,1-2,2A2.00225,2.00225,0,0,1,12,5Z")
                        path(d="M13.8288,16.049a9.33918,9.33918,0,0,0,3.14972-1.2243,1.39994,1.39994,0,1,0-1.48437-2.374,6.71562,6.71562,0,0,1-6.88281.064A1.40038,1.40038,0,0,0,7.16992,14.916a9.34977,9.34977,0,0,0,3.00079,1.13348L7.00977,19.21045a1.40006,1.40006,0,1,0,1.98047,1.97949L12,18.18018l3.00977,3.00977a1.40006,1.40006,0,1,0,1.98047-1.97949Z")
                a.social-icon.social-icon--vk(href="#" target="_blank" title="")
                    svg(xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13")
                        path( fill-rule="evenodd" d="M21.059 10.91a1.416 1.416 0 0 0-.072-.139c-.367-.66-1.069-1.473-2.105-2.436l-.022-.022-.011-.01-.011-.012h-.011c-.47-.448-.768-.75-.893-.904-.228-.294-.28-.592-.155-.893.089-.228.419-.709.992-1.444.302-.389.541-.702.716-.937 1.272-1.69 1.823-2.77 1.654-3.24l-.065-.11c-.045-.067-.158-.127-.342-.182-.183-.056-.419-.065-.705-.028l-3.175.022a.404.404 0 0 0-.22.006l-.144.033-.055.028-.044.033a.465.465 0 0 0-.121.115.753.753 0 0 0-.11.193 18.044 18.044 0 0 1-1.18 2.48c-.272.456-.522.851-.75 1.185a5.713 5.713 0 0 1-.573.74 3.901 3.901 0 0 1-.418.38c-.126.095-.221.135-.287.12-.066-.015-.129-.029-.188-.044a.724.724 0 0 1-.247-.27 1.2 1.2 0 0 1-.127-.43 4.828 4.828 0 0 1-.033-.975c.007-.228.011-.383.011-.463 0-.28.005-.583.016-.91.011-.327.02-.586.028-.777.007-.19.011-.393.011-.606 0-.213-.013-.38-.039-.502a1.677 1.677 0 0 0-.116-.353.591.591 0 0 0-.226-.264 1.262 1.262 0 0 0-.368-.149c-.39-.088-.886-.136-1.489-.144C8.818-.013 7.94.075 7.551.266a1.476 1.476 0 0 0-.419.331C7 .76 6.981.847 7.076.861c.442.067.753.225.938.474l.066.133c.051.095.103.264.154.507.051.242.084.51.099.804a8.52 8.52 0 0 1 0 1.38c-.036.38-.072.678-.105.891a1.803 1.803 0 0 1-.281.761.185.185 0 0 1-.055.055.82.82 0 0 1-.298.055c-.102 0-.227-.05-.374-.154a2.653 2.653 0 0 1-.458-.425 5.759 5.759 0 0 1-.535-.755 13.445 13.445 0 0 1-.617-1.146l-.176-.32c-.11-.205-.261-.505-.452-.899-.191-.393-.36-.772-.507-1.14A.73.73 0 0 0 4.21.73L4.156.696a1.137 1.137 0 0 0-.431-.165L.705.552c-.308 0-.518.07-.628.21L.033.828A.358.358 0 0 0 0 1.004a.85.85 0 0 0 .066.298A36.35 36.35 0 0 0 1.504 4.3c.518.963.968 1.738 1.35 2.326.383.588.772 1.143 1.169 1.664.397.522.66.857.788 1.004.129.147.23.257.303.33l.276.265c.176.176.435.388.777.634s.72.49 1.135.728c.416.238.899.433 1.45.584.551.15 1.088.211 1.61.181h1.267c.257-.022.452-.103.584-.242l.044-.055a.73.73 0 0 0 .083-.204c.025-.092.038-.193.038-.303a3.654 3.654 0 0 1 .072-.854c.055-.253.117-.444.188-.573.069-.129.148-.237.237-.325a.884.884 0 0 1 .187-.16.761.761 0 0 1 .088-.039c.177-.059.384 0 .623.171.239.173.462.386.673.64.209.253.461.538.754.854.295.315.552.551.772.705l.22.132a2.7 2.7 0 0 0 .574.243c.235.074.44.092.617.055l2.822-.044c.279 0 .496-.046.65-.138.155-.092.246-.193.275-.303a.838.838 0 0 0 .006-.375 1.43 1.43 0 0 0-.077-.292")
                a.social-icon.social-icon--fb(href="#" target="_blank" title="")
                    svg(xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18")
                        path( fill-rule="evenodd" d="M0 5.624h1.758V3.915c0-.753.019-1.915.567-2.635C2.901.518 3.693 0 5.054 0c2.218 0 3.152.316 3.152.316l-.439 2.605s-.733-.212-1.417-.212-1.296.245-1.296.929v1.986h2.804l-.196 2.544H5.054v8.84H1.758v-8.84H0V5.624z")
            .footer__block-address
                |119019, Москва, ул. Воздвиженка, 9
            .footer__block-copyright
                |© 2006–2017 Bookscriptor
        .footer__block
            .footer__block-phone
                |+7 (945) 150-54-27
            .footer__block-phone(style="padding-left: 7px;")
                |8 (800) 707-54-27
            .footer__block-ours
                |Клиентский сервис работает
                br
                |Пн–Пт с 10:00 до19:00
        .footer__block
            a.footer__link(href="" title="")
                |Как работает Bookscriptor?
            a.footer__link(href="" title="")
                |Как приобрести книгу?
            a.footer__link(href="" title="")
                |Правила сайта
            a.footer__link(href="" title="")
                |Пользовательские соглашения
        .footer__block
            a.footer__link(href="" title="")
                |Как оплатить покупки и услуги?
            a.footer__link(href="" title="")
                |Обмен и возврат товара
            a.footer__link(href="" title="")
                |Как подготовить файл к загрузке?

<!-- popup -->
.c-popup.popup.clearfix
    .popup__close.c-popup-close
    .popup__content
div.modal.fade.b-modal(id="create-video" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content.modal-content--video
        button(data-dismiss="modal").b-modal__close
        iframe(width="720" height="480" src="https://www.youtube.com/embed/iuUBYx3Ds9s?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

div.modal.fade.b-modal(id="create-annotation" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
        button(data-dismiss="modal").b-modal__close.b-modal__close--annotation
        .b-popup.b-popup--annotation
            form(action="/").b-popup-annotation__form
                div.block-input
                    textarea(id="annotation-text" name="annotation-text" placeholder="").input-custom.c-input-custom
                    label(for="annotation-text").label-custom.c-label-custom Ваш текст
                .b-popup-annotation__symbol 1 500 / 1 500
                div.b-popup-annotation__group
                    a(href="javascript:void(0)").b-popup-annotation__link
                        img(src="images/content/bitmap.png" alt="")
                        span Специалист к вашим услугам
                    a(href="javascript:void(0)").b-popup-annotation__link-close
                div.b-popup-annotation__button
                    a(href="javascript:void(0)").b-popup-annotation__delete Удалить
                    input(name="annotation-save" id="annotation-save" value="Сохранить" type="submit").custom-btn.custom-btn--blue

div.modal.fade.b-modal(id="create-assistant" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
        button(data-dismiss="modal").b-modal__close
        .b-popup-assistant
            .b-popup-assistant__title 
                h2 Личный помощник
                p Оставьте заявку, и мы свяжемся с вами для обсуждения деталей.
            form(action="/").b-popup-assistant__form
                div.b-popup-assistant__panel
                    div.b-popup-assistant__group
                        label(for="assistant-name") Имя
                        input(type="text" id="assistant-name")
                    div.b-popup-assistant__group
                        label(for="assistant-phone") Номер телефона
                        input(type="text" id="assistant-phone")
                    div.b-popup-assistant__group
                        label(for="assistant-mail") E-mail
                        input(type="text" id="assistant-mail")
                button.custom-btn.custom-btn--green 
                    span Оставить заявку
div.modal.fade.b-modal(id="popup-back" tabindex="-1" role="dialog")
    .modal-dialog(role="document")
        .modal-content
            button(data-dismiss="modal").b-modal__close
                .b-popup-back
                    h2 Ваша книга отправлена на модерацию
                    .b-popup-back__caption В ближайшее время вы получите уведомление о результатах по электронной почте.
                    button.custom-btn.custom-btn--green 
                        span На главную

div.modal.fade.b-modal(id="editor-note" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
        button(data-dismiss="modal").b-modal__close
        .b-popup
            .b-popup__title 
                h2 Сноска
            form(action="/").b-popup__form
                div.b-popup__group
                    label(for="note-text") Текст сноски
                    textarea(name="", cols="30", rows="5" type="text" id="note-text")
                button.custom-btn.custom-btn--green 
                    span Сохранить

div.modal.fade.b-modal(id="editor-img" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
        button(data-dismiss="modal").b-modal__close
        .b-popup
            .b-popup__title 
                h2 Изображение
            form(action="/").b-popup__form
                div.b-popup__wrapper
                    div.b-popup__item
                        .block-btn-radio
                            label Позиция
                            .block-btn-radio__item
                                input#item1.radio-custom(type='radio', name='img-position', value='В тексте', checked='')
                                label.label-radio(for='item1') В тексте
                            .block-btn-radio__item
                                input#item2.radio-custom(type='radio', name='img-position', value='Обтекание текстом справа')
                                label.label-radio(for='item2') Обтекание текстом справа
                            .block-btn-radio__item
                                input#item3.radio-custom(type='radio', name='img-position', value='Обтекание текстом слева')
                                label.label-radio(for='item3') Обтекание текстом слева
                            .block-btn-radio__item
                                input#item4.radio-custom(type='radio', name='img-position', value='Разбить текст')
                                label.label-radio(for='item4') Разбить текст
                            .block-btn-radio__item
                                input#item5.radio-custom(type='radio', name='img-position', value='Разместить во всю страницу книги')
                                label.label-radio(for='item5') Разместить во всю страницу книги

                    div.b-popup__item
                        div.b-popup__group
                            label(for="img-field") Поля
                            .b-popup__select.dropdown
                                input(id="img-field" type="button" value="5 мм" data-toggle="dropdown").dropdown-toggle
                                .b-popup__select-control
                                    a(href="javascript:void(0)").b-popup__select-btn
                                ul.dropdown-menu
                                        li
                                            a(href="#") 5 мм
                                        li
                                            a(href="#") 10 мм

                div.b-popup__group
                    label(for="img-note") Подпись к изображению
                    textarea(name="", cols="30", rows="5" type="text" id="img-note")
                div.b-popup__group
                    label(for="img-author") Автор изображения
                    input(type="text" id="img-author")
                button.custom-btn.custom-btn--green 
                    span Сохранить

div.modal.fade.b-modal(id="editor-footer" tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
        button(data-dismiss="modal").b-modal__close
        .b-popup
            .b-popup__title 
                h2 Колонтитул
            form(action="/").b-popup__form
                div.b-popup__wrapper
                    div.b-popup__item
                        div.b-popup__group
                            label(for="img-field") Поля
                            .b-popup__select.dropdown
                                input(id="img-field" type="button" value="Начало" data-toggle="dropdown").dropdown-toggle
                                .b-popup__select-control
                                    a(href="javascript:void(0)").b-popup__select-btn
                                ul.dropdown-menu
                                        li
                                            a(href="#") 1 вариант
                                        li
                                            a(href="#") 2 вариант

                    div.b-popup__item
                        div.b-popup__group
                            label(for="img-field") Поля
                            .b-popup__select.dropdown
                                input(id="img-field" type="button" value="Конец" data-toggle="dropdown").dropdown-toggle
                                .b-popup__select-control
                                    a(href="javascript:void(0)").b-popup__select-btn
                                ul.dropdown-menu
                                        li
                                            a(href="#") 1 вариант
                                        li
                                            a(href="#") 2 вариант

                div.b-popup__group
                    label(for="img-author") Автор изображения
                    input(type="text" id="img-author")

                div.b-popup__btns
                    button.btn-border.btn-border--blue
                        span Отмена
                    button.custom-btn.custom-btn--green 
                        span Сохранить


include /_sprite-svg.jade


script(src="./js/plugins.js")
script(src="./js/script.js")