<!-- BEGIN header -->
.header-alternate.c-header-alternate
header.header.clearfix.c-header.header--planeta.main-header
	.container-header.clearfix
		.header__menu
			ul()
				li()
					a.header__menu-item(href="#" title="Каталог")
						span
							|Каталог
				li()
					a.header__menu-item(href="#" title="Мастерская")
						span
							|Мастерская
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Услуги
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Статьи
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|О нас
		a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
			img.relative(src="images/content/logo.svg" alt="Bookscriptor")
			img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
		.header__menu.header__menu--right
			ul()
				li()
					a.header__menu-item(href="#" title="Войти")
						span
							|Войти
				li()
					a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
						span
							|Зарегистрироваться
	.add-panel
		.row.clearfix
			ul.logo
				li
					a.header-logo(href="/")
			.input-group.site-search
				.input-group-btn
					button.btn.btn-white.link-dropdown.dropdown-toggle.current-search-type(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-search-type="name") По названию
					ul.dropdown-menu
						li
							a.search-type-element(href="#" data-search-type="name") По названию
						li
							a.search-type-element(href="#" data-search-type="detail_text") По ключевому слову
						li
							a.search-type-element(href="#" data-search-type="author_name") По имени автора
				.form.site-search-form
					input.input-search(type="text" placeholder="Поиск книг" value="")
					a.icon-search(href="#")
nav.main-nav.needs-stretch
	.row.clearfix
		ul.menu
<!-- END header -->
