meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(content="width=device-width" name="viewport")
meta(name="description" content="")
title= title
link(href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500|Open+Sans:400,600,700|PT+Serif:400,400i,700,700i&amp;subset=cyrillic|Caveat+Brush&amp;subset=latin-ext" rel="stylesheet")
link(rel="stylesheet" href="fancybox/jquery.fancybox.css")
link(rel="stylesheet" href="css/cropper.min.css")
link(rel="stylesheet" href="css/jquery-ui.min.css")
link(rel="stylesheet" href="css/bootstrap-datepicker3.min.css")
link(rel="stylesheet" href="css/bootstrap.css")
link(rel="stylesheet" href="css/font-awesome.min.css")
link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" href="css/main_print_book.css")
link(rel="stylesheet" href="css/article.css")
link(rel="stylesheet" href="css/style.css")
link(rel="stylesheet" href="css/owl.carousel.min.css")
link(rel="stylesheet" href="css/owl.theme.default.min.css")

script(src="./js/jquery-1.12.0.min.js")
script(src="./fancybox/jquery.fancybox.js")
script(src="./js/jquery.dotdotdot.min.js")
script(src="./js/jquery.loading.min.js")
script(src="./js/jquery.loading.min.js")
script(src="./js/jquery.query-object.js")
script(src="./js/jquery.stellar.min.js")
script(src="./js/jquery-ui.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
script(src="./js/jquery.ui.datepicker-ru.js")
script(src="./js/bootstrap.js")
script(src="./js/select2.js")
script(src="./js/cropper.min.js")
script(src="./js/bootstrap3-typeahead.min.js")
script(src="./js/bootstrap-datepicker.js")
script(src="./js/bootstrap-datepicker.ru.js")
script(src="./js/mCustomScrollbar.concat.min.js")
script(src="./js/smoothscroll.js")
//script(src="./js/main_print_book.js")
script(src="./js/main.js")

