<!-- BEGIN header -->
.header-alternate.c-header-alternate
header.header.clearfix.c-header
	.content
		.container-header.clearfix
			.header__menu
				ul()
					li()
						a.header__menu-item(href="#" title="Каталог")
							span
								|Каталог
					li()
						a.header__menu-item(href="#" title="Мастерская")
							span
								|Мастерская
					li()
						a.header__menu-item(href="#" title="Услуги")
							span
								|Услуги
					li()
						a.header__menu-item(href="#" title="Услуги")
							span
								|Статьи
					li()
						a.header__menu-item(href="#" title="Услуги")
							span
								|О нас
			a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
				img.relative(src="images/content/logo.svg" alt="Bookscriptor")
				img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
			.header__menu.header__menu--right
				ul()
					li()
						a.header__menu-item(href="#" title="Войти")
							span
								|Войти
					li()
						a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
							span
								|Зарегистрироваться
<<!-- END header -->
