<!-- BEGIN header -->
.header-alternate.c-header-alternate
header.header.clearfix.c-header.header--planeta
	.container-header.clearfix
		.header__menu
			ul()
				li()
					a.header__menu-item(href="#" title="Каталог")
						span
							|Каталог
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Услуги
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|Статьи
				li()
					a.header__menu-item(href="#" title="Услуги")
						span
							|О нас
		a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
			img.relative(src="images/content/logo.svg" alt="Bookscriptor")
			img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
		.header__menu.header__menu--right
			ul()
				li()
					a.header__menu-item(href="#" title="")
						img.cart.cart--no-sales(src="images/content/cart-white-fix.svg" alt="")
						span
							| Нет покупок
				li.separate()
				li().header__menu-item--lk
					a.header__menu-item.active(href="#" title="")
						span
							| Мой кабинет
						img.user(src="images/content/babizky.jpg" alt="")
					.submenu-ul__block
						.submenu-ul__item
							a(href="javascript:void(0);").submenu-ul__link Мастерская
							a(href="javascript:void(0);").submenu-ul__link Гонорар
							a(href="javascript:void(0);").submenu-ul__link Профиль
							a(href="javascript:void(0);").submenu-ul__link Мои заказы
							a(href="javascript:void(0);").submenu-ul__link Библиотека
							.submenu-ul__link--logout
							a(href="javascript:void(0);").submenu-ul__link Выйти

<!-- END header -->
