mixin library-book(image, name, link)
    a(href='#{link}' title='').library-book__item.c-library-book
        img(src='#{image}' alt='' title='')
        .library-book__close.c-library-book-delete
            .library-book__close-txt Удалить книгу из библиотеки
        .library-book__name #{name}