mixin order-header(orderItemList)
    .order-header(class!=attributes.class)
        .content
            .order-header__container
                for orderItem in orderItemList
                    .order-header__item
                        if orderItem.img
                            .order-header__info
                                img(src="images/content/apply.svg" alt="")
                        else
                            .order-header__info #{orderItem.info}
                        .order-header__text #{orderItem.text}
