ul.b-pagination
    li.b-pagination__item.b-pagination__item--nav.b-pagination__item--prev.custom-btn--blue.custom-btn--disabled
        a(href="#").b-pagination__link
            | Назад
    li.b-pagination__item.b-pagination__item--active
        a(href="#").b-pagination__link 1
    li.b-pagination__item
        a(href="#").b-pagination__link 2
    li.b-pagination__item.is-active
        a(href="#").b-pagination__link 3
    li.b-pagination__item
        a(href="#").b-pagination__link 4
    li.b-pagination__item
        a(href="#").b-pagination__link 5
    li.b-pagination__item
        a(href="#").b-pagination__link 6
    li.b-pagination__item
        a(href="#").b-pagination__link 7
    li.b-pagination__item.is-more
        a(href="#").b-pagination__link .&nbsp;.&nbsp;.
    li.b-pagination__item
        a(href="#").b-pagination__link 24
    li.b-pagination__item
        a(href="#").b-pagination__link 25
    li.b-pagination__item
        a(href="#").b-pagination__link 26
    li.b-pagination__item.b-pagination__item--nav.b-pagination__item--next.custom-btn--blue
        a(href="#").b-pagination__link
            | Вперед