mixin create-popup(id, title, text, btnName)
    .custom-popup.custom-popup--confirm(id="#{id}")
        .custom-popup__title #{title}
        .custom-popup__text #{text}
        .custom-popup__btns.clearfix
            .custom-btn.custom-btn-blue #{btnName}
            a.btn--cancel(href="") Отмена

mixin create-popup-kraud(id, title, text, btnName, btnNameCancel, link)
    .custom-popup.custom-popup--confirm.custom-popup--kraud(id="#{id}")
        .custom-popup__title #{title}
        .custom-popup__text #{text}
        .custom-popup__btns.clearfix
            .custom-btn.custom-btn-blue #{btnName}
            a.btn--cancel(href="#{link}") #{btnNameCancel}

mixin create-popup-callback(id, title, text, btnName)
    .custom-popup.custom-popup--confirm(id="#{id}")
        form(name="popupCallback" data-type="form")
            .custom-popup__title #{title}
            .custom-popup__bl-border 4 цветных иллюстрации
                br
                |От 8-ми дней
                br
                |3999 ₽
                .block-form__total-item.block-form__total-old 6 490
                    span.rouble ₽
            .custom-popup__fields.clearfix
                .block-input
                    input.input-custom.c-input-custom#nameCallback(type="text" name="nameCallback" placeholder="")
                    label.label-custom.c-label-custom(for="nameCallback")
                        | Ваше имя
                .block-input.block-input--right
                    input.input-custom.c-input-custom#phoneCallback(type="text" name="phoneCallback" placeholder="")
                    label.label-custom.c-label-custom(for="phoneCallback")
                        | Телефон
            .custom-popup__btns.clearfix
                input.custom-btn.custom-btn-blue(type="submit" value="#{btnName}")
                a.btn--cancel(href="javascript:void(0);" data-action="close") Отмена
        form.custom-popup__success(data-type="success")
            .custom-popup__icon-success
                svg(xmlns="http://www.w3.org/2000/svg" width="64" height="57" viewBox="0 0 50 43")
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-success")
            .custom-popup__title Заявка успешно отправлена
            .custom-popup__text Наш менеджер перезвонит вам<br>в ближайшее время
            .custom-popup__btns.clearfix
                a.custom-btn.custom-btn-blue(href="javascript:void(0);" data-action="close") Закрыть
