mixin services-block(img, title, text, link)
    .services-block__item(class!=attributes.class)
        a.services-block__item-wrapper(href="#{link}")
            .services-block__img
                img(src="#{img}" alt="")
            .services-block__caption #{title}
            .services-block__text #{text}