mixin submenu(activeNum, ...items)
    .main-screen.main-screen--submenu
        .main-screen__shadow
        .content
            .header__menu.header__menu--submenu
                ul()
                    each item, index in items
                        li()
                            if (index === activeNum)
                                a(href="javascript:void(0);" title='#{item}').header__menu-item.header__menu-item--green.active
                                    span #{item} 
                            else 
                                a(href="javascript:void(0);" title='#{item}').header__menu-item.header__menu-item--green
                                    span #{item} 
