<div class="review__item c-review__item">
    <div class="review__author">
        <div class="review__foto"><img src="images/content/person.jpg" alt=""></div>
        <div class="review__name">Станислав Кулиш</div>
        <div class="review__role">Автор</div>
    </div>
    <div class="review__content">
        <div class="review__title">Мне очень понравилось</div>
        <div class="review__text">Валерий Шанин — профессиональный путешественник, писатель и журналист. Член Союза журналистов России и Союза кругосветчиков России.</div>
        <div class="review__date">30 июня, 2016, 11:24</div>
    </div>
</div>
<div class="review__item c-review__item">
    <div class="review__author">
        <div class="review__foto"><img src="images/content/person.jpg" alt=""></div>
        <div class="review__name">Станислав Кулиш</div>
        <div class="review__role">Автор</div>
    </div>
    <div class="review__content">
        <div class="review__title">Мне очень понравилось</div>
        <div class="review__text">Валерий Шанин — профессиональный путешественник, писатель и журналист. Член Союза журналистов России и Союза кругосветчиков России.</div>
        <div class="review__date">30 июня, 2016, 11:24</div>
    </div>
</div>