@charset "UTF-8";
/*******************
********************

 FONT-SIZE VARIABLES

********************
*******************/
/* 8px  / 16px */
/* 10px / 16px */
/* 12px / 16px */
/* 14px / 16px */
/* 16px / 16px */
/* 18px / 16px */
/* 20px / 16px */
/* 22px / 16px */
/* 24px / 16px */
/* 26px / 16px */
/* 28px / 16px */
/* 30px / 16px */
/* 30px / 16px */
/* 34px / 16px */
/* 40px / 16px */
/* 46px / 16px */
/* 48px / 16px */
/***********
************

 FONT-WEIGHT

************
***********/
/**************
***************

COLORS

**************
**************/
/******************
*******************

HEIGHT FORM

******************
******************/
.article .main {
  margin-top: 32px;
}

.article .main .col {
  margin: 2em 0;
}

.article .main .box {
  background: #ebecf2;
  padding: 2.2% 3% 2.5% 3.3%;
  position: relative;
}

.article .main .main-item {
  border-top: 2px solid #ebecf2;
  margin-top: 2em;
}

/*****/
.header-article-dp {
  text-align: center;
  color: white;
}

.header-article-dp .logo-sign {
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.header-article-org {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.header-article-org .header-article-org-tit {
  font-weight: bold;
  font-size: 12px !important;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.header-article-org .org-box {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.header-article-org .header-article-org-name {
  font-size: 12px !important;
  color: #b6a9a9 !important;
  margin-bottom: 0;
  margin-top: 5px;
}

.header-article-title {
  text-align: center;
  font-size: 40px;
}

.header-article-tp-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header-article-description {
  font-size: 14px !important;
  color: #b6a9a9 !important;
}

.article-text {
  margin: 20px 0 !important;
  letter-spacing: 0.03em;
}

.article-hr {
  margin: 20px 0;
}

.article-ul {
  letter-spacing: 0.03em;
}

.small-add {
  color: grey;
  display: block;
  margin: 10px 0 !important;
  letter-spacing: 0.03em;
}

.article-i-info {
  position: relative;
  padding-left: 40px;
}

.article-i-info:after {
  content: "";
  width: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #53c2b3;
}

.article-i-info:before {
  content: "";
  width: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/icons/clock-white-s.svg);
  position: absolute;
  left: 1px;
  height: 18px;
  z-index: 2;
  background-size: cover;
}

.upload-article-s {
  border: 3px solid #e8e6df;
  padding: 25px 15px;
  margin-bottom: 30px;
}

.upload-article-s .us-title {
  font-size: 16px !important;
  margin: 0 !important;
  text-align: center;
  text-transform: uppercase;
}

.upload-article-s .m-title {
  font-size: 18px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0 0 20px !important;
  text-align: center;
}

.upload-article-s .t-s {
  margin-top: 20px;
}

.upload-article-s .t-s .t-s-box {
  width: 100%;
  padding: 2.5px 5px;
}

.upload-article-s .t-s .t-s-box:nth-child(2n+1) {
  background: #e8e6df;
}

.upload-article-s .t-s .t-s-name {
  white-space: nowrap;
  float: left;
  overflow: hidden;
  width: 60%;
  text-overflow: ellipsis;
}

.upload-article-s .t-s .t-s-q {
  float: left;
  width: 30%;
}

.upload-article-s .t-s .t-s-del {
  float: left;
  width: 10%;
}

.upload-article-s .t-s .t-s-del a {
  color: grey;
  text-decoration: none !important;
  border-bottom: none !important;
}

.upload-article-s .inp-box {
  margin: 20px 0;
}

.upload-article-s .up-o {
  padding: 20px;
  border: 2px dashed #ffd15f;
  border-radius: 5px;
  text-align: center;
  opacity: .8;
  cursor: pointer;
}

.upload-article-s .up-o:hover {
  opacity: 1;
}

.upload-article-s .up-o .s-text {
  color: grey;
  margin: 0;
  font-size: 12px;
}

.upload-article-s .error-msg {
  color: #E70000;
  margin: 10px 0 0 !important;
}

.upload-article-s .icon-s {
  margin: 0 auto 20px;
  display: block;
}

.upload-article-s .link-dotted {
  border-bottom: 1px dotted black !important;
  color: black !important;
}

/***********
HEADER
***********/
.article .header {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  min-width: 1024px;
  min-height: 410px;
}

.article .header.s-none:after {
  content: "";
  display: none;
}

.article .header .logo {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.article .header-small {
  min-height: 300px;
}

.article .header-small .row {
  min-height: 300px;
}

.article .header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 1174px) {
  .article .header {
    background-size: 170% !important;
    background-repeat: no-repeat;
  }
}

.article .header-services {
  min-width: 1185px;
  text-align: left;
  background: #faf6f1;
  min-height: 470px;
  position: relative;
  overflow: hidden;
}

.article .header-services .row {
  position: relative;
}

.article .header-services .breadcrumb {
  background: transparent;
}

.article .header-services .main-services-img {
  position: absolute;
}

.article .header-services .description {
  margin-top: 60px;
  position: relative;
  z-index: 2;
}

.article .header-services .breadcrumb {
  z-index: 2;
  position: relative;
}

.article .header-services .breadcrumb li:last-child a {
  color: #9d9b96;
  border-bottom: none;
}

.services-h1-title {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 100;
  text-shadow: none;
  color: black;
}

.hr-services {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 0;
  width: 100%;
}

.services-h2-title {
  margin: 40px 0 20px;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}

.services-h2-title.white {
  color: white;
}

.services-review-title {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.services-p-big-text {
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  margin: 20px 0 40px;
  text-shadow: none;
  color: black;
}

.services-text-add {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
}

.services-text-add.white {
  color: white;
}

.color-grey {
  color: #aaaaac;
}

.services-upload-file {
  min-height: 240px;
  padding: 40px 0;
  margin-bottom: 40px;
  position: relative;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.services-upload-file:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.services-upload-file:hover:after {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
}

.services-upload-file:hover .img-book img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
}

.services-upload-file:after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  opacity: .6;
  border-radius: 4px;
  border: 4px dashed #ffe39f;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.services-upload-file .img-book {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
  width: 90px;
  text-align: center;
  display: inline-block;
  background: white;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.services-upload-file .img-book img {
  opacity: .6;
}

.services-upload-file .upload-box {
  width: 100%;
  text-align: center;
  z-index: 2;
  position: relative;
}

.services-upload-file .actions {
  width: 100%;
  display: block;
  text-align: center;
}

.services-upload-file .actions .link {
  padding: 0;
}

.services-upload-file .actions a {
  vertical-align: middle;
  display: inline;
  margin: 0 5px;
  position: relative;
  z-index: 2;
}

.services-upload-file .upload-files {
  width: 360px;
  max-height: 160px;
  position: relative;
  z-index: 2;
  overflow: auto;
  margin: auto;
  margin-bottom: 20px;
}

.services-upload-file .upload-files li {
  padding: 5px;
  position: relative;
}

.services-upload-file .upload-files li:nth-child(2n) {
  background: #faf6f1;
}

.services-upload-file .upload-files .bn {
  width: 50%;
  margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.services-upload-file .upload-files .fm {
  font-size: 14px;
}

.services-upload-file .upload-files .del {
  position: absolute;
  right: 10px;
  top: 9px;
}

.services-w-bg {
  background-size: cover;
  background-position: 50%;
  position: relative;
  padding: 0.05px;
  min-width: 1185px;
  margin: 40px 0 -40px;
}

.services-w-bg * {
  position: relative;
  z-index: 2;
}

.services-w-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.article .services-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article .services-row .middle-block {
  margin: 0 auto;
}

.article .services-row.mb-default {
  margin-bottom: 50px;
}

.article .services-row.mb-mid {
  margin-bottom: 40px;
}

.services-mb-min {
  margin-bottom: 20px;
}

.services-mb-mid {
  margin-bottom: 40px;
}

.services-mb-default {
  margin-bottom: 50px;
}

.services-mb-10 {
  margin-bottom: 10px;
}

.services-mb-none {
  margin-bottom: 0;
}

.services-ta-c {
  text-align: center;
}

.services-slider {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 50px;
}

.services-slider-nav {
  width: 100%;
}

.services-slider-nav .slick-track {
  margin: auto;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-slider-nav .nav-box {
  width: 180px !important;
  height: 30px;
  border: 2px solid #cccccc;
  border-radius: 20px;
  line-height: 30px;
}

.services-slider-nav .nav-box.slick-current {
  border: 2px solid black;
}

.uploading-file .img-book {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
}

.uploading-file .percent {
  color: #d0d1d6;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.services-total-sum {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 40px;
}

.services-old-sum {
  font-weight: 100;
  letter-spacing: 0.03em;
  font-size: 20px;
  text-decoration: line-through;
}

.services-review {
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.services-review .services-review-text {
  font-size: 24px;
  font-weight: 100;
}

.services-review .services-review-text:after {
  content: "";
  width: 100px;
  height: 1px;
  background: #efefef;
  display: block;
  margin: 30px auto 30px;
}

.services-review .services-review-name {
  font-size: 14px;
  font-weight: 600;
}

.services-review .quote {
  margin: 0 auto 40px;
}

.uploading-file-success {
  position: relative;
  width: 402px;
  height: 180px;
  margin: auto;
}

.uploading-file-success .bg {
  position: absolute;
  bottom: 0;
}

.uploading-file-success .file {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.uploading-file-success .text-sum {
  font-size: 12px;
  position: absolute;
  bottom: 35px;
}

.uploading-file-success .text-sum.center {
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
}

.uploading-file-success .text-sum .color-red {
  color: #E70000;
}

.color-red {
  color: #E70000;
}

.services-inputs-min {
  width: 420px;
  margin: 0 auto 20px;
}

.services-m-phone {
  text-align: center;
  padding: 0 !important;
  font-size: 22px !important;
  font-weight: 300;
  line-height: 40px;
}

.services-review {
  position: relative;
}

.services-review .review-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.services-review .review-arrow.prev {
  left: 0;
}

.services-review .review-arrow.next {
  right: 0;
}

.services-banner {
  background: #faf8f2;
  padding: 50px 50px 45px 170px;
  margin: 0px 100px 40px;
  position: relative;
}

.services-banner .banner-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.services-banner .banner-image.l-20 {
  left: 20px;
}

.services-banner .banner-content {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-banner .banner-description {
  width: 76%;
  padding-right: 4px;
}

.services-banner .banner-action {
  width: 24%;
  text-align: right;
}

.services-banner .btn {
  line-height: 1.4em;
}

.services-banner .banner-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.services-banner .banner-text {
  margin: 0;
  font-size: 13px;
}

.uploading-services-circle {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  border: 2px solid #d3d4d9;
  border-top-color: #ffe39f;
  animation: spin 2s infinite linear;
}

.hiw-box .hiw-content {
  float: left;
  width: 20%;
  text-align: center;
}

.hiw-box .hiw-img {
  height: 100px;
  margin-bottom: 35px;
}

.hiw-box .step {
  margin: 0 auto 25px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: white;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background: #292830;
}

.hiw-box .hiw-title {
  font-weight: bold;
  font-size: 16px;
  color: #292830;
}

.hiw-box .hiw-text {
  margin-bottom: 0;
  font-size: 12px;
}

.services-uploading-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.services-uploading-header .step {
  width: 180px;
  height: 30px;
  border: 2px solid #cccccc;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  box-sizing: content-box;
  border-radius: 30px;
  color: #aaaaac;
  position: relative;
  z-index: 2;
  background: white;
}

.services-uploading-header .step.ok {
  border: 2px solid #84d31e;
  color: black;
}

.services-uploading-header .step.ok + .line {
  background: #84d31e;
}

.services-uploading-header .step.current {
  border: 2px solid black;
  font-weight: 800;
  color: black;
}

.services-uploading-header .step.current:after {
  content: "";
  width: 12.5px;
  height: 12.5px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -8px;
  background: white;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.services-uploading-header .line {
  position: absolute;
  width: 200px;
  height: 2px;
  z-index: 0;
  background: #ccc;
  top: 17px;
}

.services-uploading-header .line.line-1 {
  left: 180px;
}

.services-uploading-header .line.line-2 {
  right: 0;
  left: 0;
  margin: auto;
}

.services-uploading-header .line.line-3 {
  right: 180px;
}

.services-choose-cover {
  width: 820px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin: 0 auto 40px;
}

.services-choose-cover .item {
  position: relative;
}

.services-choose-cover .label-item {
  width: 340px;
  height: 290px;
  border: 2px solid #cccccc;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}

.services-choose-cover .quantity {
  width: 160px;
  margin: 0 auto 20px;
}

.services-choose-cover .main-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  margin: auto;
}

.services-choose-cover .text {
  position: absolute;
  text-align: center;
  top: 240px;
  margin: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.services-choose-cover .label-box {
  text-align: center;
  display: none;
  position: relative;
  z-index: 5;
}

.services-choose-cover .label-box .link {
  font-size: 12px;
}

.services-choose-cover input[type="radio"] {
  display: none;
}

.services-choose-cover input[type="radio"]:checked ~ label {
  border: 2px solid #ffd15f;
}

.services-choose-cover input[type="radio"]:checked ~ .label-box {
  display: block;
}

.services-choose-cover .or {
  line-height: 50px;
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 14px;
  text-align: center;
  top: 130px;
}

.services-choose-cover .or:after {
  content: "";
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  display: inline-block;
  right: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #cccccc;
}

.services-choose-med {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-choose-med .choose-panel {
  width: 40%;
}

.services-choose-med .choose-panel .item {
  position: relative;
}

.services-choose-med .choose-panel .item:last-child .label-item {
  margin-bottom: 0;
}

.services-choose-med .choose-panel .info {
  position: absolute;
  top: 30px;
  right: 20px;
}

.services-choose-med .panel-img {
  text-align: center;
  width: 60%;
}

.services-choose-med input[type="radio"] {
  display: none;
}

.services-choose-med input[type="radio"]:checked + label {
  border: 2px solid #ffd15f;
}

.services-choose-med .label-item {
  border: 2px solid #cccccc;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  display: block;
}

.services-choose-med .label-item.not-active {
  cursor: not-allowed;
  border: 2px solid #dedede;
  pointer-events: none;
}

.services-choose-med .label-item.not-active .text {
  color: #cccccc;
  opacity: .65;
}

.services-choose-med .label-item.not-active .title-label {
  color: #cccccc;
  opacity: .65;
}

.services-choose-med .label-item .title-label {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 5px;
  display: block;
}

.services-choose-med .label-item .text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.services-choose-med .label-item .info {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  pointer-events: all;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.uploading-services-box {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
}

.uploading-stars {
  width: 290px;
  position: absolute;
}

.uploading-stars.left {
  right: 50%;
  margin-right: 120px;
  height: 180px;
}

.uploading-stars.left .star-1 {
  top: 80px;
  right: 0;
}

.uploading-stars.left .star-2 {
  top: 55px;
  right: 30px;
}

.uploading-stars.left .star-3 {
  top: 100px;
  right: 44px;
}

.uploading-stars.left .star-4 {
  top: 80px;
  right: 84px;
}

.uploading-stars.left .star-5 {
  top: 45px;
  right: 130px;
}

.uploading-stars.left .star-6 {
  top: 90px;
  right: 154px;
}

.uploading-stars.left .star-7 {
  top: 30px;
  right: 212px;
}

.uploading-stars.right {
  left: 50%;
  margin-left: 120px;
  height: 180px;
}

.uploading-stars.right .star-1 {
  top: 80px;
  left: 0;
}

.uploading-stars.right .star-2 {
  top: 55px;
  left: 30px;
}

.uploading-stars.right .star-3 {
  top: 100px;
  left: 44px;
}

.uploading-stars.right .star-4 {
  top: 80px;
  left: 84px;
}

.uploading-stars.right .star-5 {
  top: 45px;
  left: 130px;
}

.uploading-stars.right .star-6 {
  top: 90px;
  left: 154px;
}

.uploading-stars.right .star-7 {
  top: 30px;
  left: 212px;
}

.uploading-stars .star {
  position: absolute;
}

.uploading-stars .star-1 {
  width: 8px;
}

.uploading-stars .star-2 {
  width: 16px;
}

.uploading-stars .star-3 {
  width: 16px;
  opacity: .8;
}

.uploading-stars .star-4 {
  width: 24px;
  opacity: .8;
}

.uploading-stars .star-5 {
  width: 28px;
  opacity: .6;
}

.uploading-stars .star-6 {
  width: 50px;
  opacity: .6;
}

.uploading-stars .star-7 {
  width: 72px;
  opacity: .4;
}

.i-box .i-icon,
.i-box .i-text {
  vertical-align: middle;
  display: inline-block;
}

.i-box .i-icon {
  margin-right: 10px;
}

.article .services-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.article .services-between.half {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.article .services-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article .services-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.article .services-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.article .ta-l {
  text-align: left;
}

.article .big-text-shadow {
  font-size: 24px;
  text-shadow: 1px 0px 0px black;
}

.article .services-section-default {
  width: 100%;
  padding: 0;
  margin: 80px 0;
}

.article .services-section-default .col-10 {
  width: 970px;
}

.article .services-section-o {
  width: 100%;
  padding: 0;
  margin: 80px 0;
  border: 1px solid #ebecf2;
  padding: 50px 20px;
  height: 700px;
  position: relative;
}

.article .services-section-o .o-title {
  font-size: 2.5em;
  padding-bottom: 0px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.article .services-section-o .vn {
  margin: 20px 0;
}

.article .services-section-o:hover {
  box-shadow: 0px 0px 10px #afafaf;
}

.article .services-section-o .img-btm {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.article .item-ol {
  border: 2px dotted #343643;
  min-height: 280px;
  border-radius: 4px;
  padding: 30px;
  text-align: left;
  position: relative;
}

.article .item-ol:hover {
  box-shadow: 0px 0px 10px #afafaf;
}

.article .item-ol .st-num {
  font-weight: 800;
  color: transparent;
  font-size: 201px;
  background: #2f3c54 url(../img/articles/articles/gorky/w-pattern.svg);
  background-position: 40% 50%;
  background-size: 190px;
  -webkit-background-clip: text;
  position: absolute;
  bottom: -78px;
  left: -68px;
}

.article .services-section-pd {
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 80px 0;
}

.article .middle-box {
  height: 100%;
  display: flex;
  top: 0;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.article .services-section-min {
  width: 880px;
  margin: 80px auto;
}

.article .services-section-min .line {
  position: relative;
  top: 115px;
  left: 0px;
}

.article .services-section-background {
  padding: 100px 0;
  text-align: center;
  min-width: 1024px;
  line-height: 1.6em;
}

.article .services-section-background .text {
  font-size: 16px;
  line-height: 1.6em;
}

.article .services-section-background.white {
  position: relative;
}

.article .services-section-background.white * {
  color: white !important;
  text-shadow: 1px 1px 0px grey;
  position: relative;
  z-index: 1;
}

.article .services-section-background.white:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.article .services-form {
  width: 500px;
  margin: auto;
}

.article .services-form textarea.necessarily {
  background: white url(../img/icons/necessarily-star.svg) no-repeat 97.4% 8%;
}

.article .services-form textarea.correct {
  background: white url(../img/icons/aquamarine-check.svg) no-repeat 97.4% 8% !important;
}

.article .slider-article {
  position: relative;
  border-bottom: 2px solid #ebecf2;
  padding-bottom: 15px;
}

.article .slider-article .slider-description {
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.65);
  padding: 15px 25px;
}

.article .slider-article .slide-img {
  margin: 0 auto 10px;
}

.article .slider-article .fa {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  font-size: 70px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  color: #ffffff;
  text-shadow: 0 0 2px #6F6F6F;
}

.article .slider-article .fa:hover {
  color: #E70000;
}

.article .slider-article small {
  color: #6F6F6F;
}

.article .slider-article .fa-angle-left {
  left: 20px;
}

.article .slider-article .fa-angle-right {
  right: 20px;
}

.article .item-services {
  padding: 0 20px;
}

.article .item-services .img {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin: 0 auto 30px;
}

.article .item-services .img.with-border {
  background-size: 80px;
  border: 3px solid white;
}

.article .item-services .img.small {
  background-size: 60px;
  width: 60px;
  height: 75px;
  margin-bottom: 50px;
  border-radius: 0;
}

.article .item-services .img-icons {
  width: 110px;
  height: 110px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0 auto 30px;
}

.article .item-services .img-icons.min {
  width: 100%;
  height: 80px;
  margin: 0 0 10px;
  background-size: inherit;
}

.article .item-services.item-5 {
  width: 20%;
}

.article .item-services.item-4 {
  width: 25%;
}

.article .item-services.item-2 {
  width: 50%;
}

.article .item-services.item-3 {
  width: 33.333333%;
}

.article .item-services .services-text-add {
  text-align: center;
  padding: 0 10px;
}

.article .item-services .title-b {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.article .item-services .n-s {
  text-align: center;
  color: #E70000;
  margin-bottom: 0;
  font-size: 12px;
}

.article .item-service {
  text-align: center;
}

.article .item-service .services-title {
  margin-bottom: 1em !important;
  padding: 0;
}

.article .item-service .btn {
  left: 0;
  margin: auto;
  right: 0;
  width: 50%;
}

.article .services-form-sale {
  border: 3px solid #d0d1d6;
  margin: -2px;
  text-align: left;
  padding: 50px 30px 60px 120px;
  border-radius: 4px 0 0 4px;
  position: relative;
  z-index: -1;
}

.article .services-form-sale img {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.article .services-form-sale .title {
  font-size: 34px;
  font-weight: bold;
}

.article .services-form-sale .price {
  margin: 0;
  font-size: 18px;
}

.article .services-form-sale .old-price {
  text-decoration: line-through;
  font-size: 14px;
}

.article .services-form-sale .pt {
  margin: 0;
}

.article .services-form-sale .percent {
  font-size: 126px;
  font-weight: bold;
  position: absolute;
  left: 108px;
  top: 216px;
  color: #e2e2e2;
}

.article .services-reviews {
  position: relative;
}

.article .services-reviews .photo {
  position: absolute;
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  z-index: 2;
  background-position: 50% 50%;
}

.article .services-reviews-left .description {
  padding: 40px 40px 40px 140px !important;
  text-align: left;
}

.article .services-reviews-left .description:before {
  content: "«";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 25px;
  display: block;
  font-size: 82px;
  font-weight: bold;
}

.article .services-reviews-left .photo {
  top: 20px;
  left: -30px;
}

.article .services-reviews-right .description {
  padding: 40px 140px 40px 40px !important;
  text-align: right;
}

.article .services-reviews-right .description:after {
  content: "»";
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 25px;
  display: block;
  font-size: 82px;
  font-weight: bold;
}

.article .services-reviews-right .photo {
  bottom: 20px;
  right: -30px;
}

.article .services-reviews .description {
  border: 3px solid black;
  padding: 25px;
  position: relative;
}

.article .services-reviews .name {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  padding: 6px;
  text-align: center;
}

.article .services-title {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-weight: 700 !important;
  min-width: 960px;
}

.article .header h1,
.article .header p {
  color: #ffffff;
  text-shadow: 1px 0px 0px black;
}

.article .header h1 {
  margin-bottom: 15px;
}

.article .header p {
  font-size: 18px;
}

.article .header .breadcrumb ul {
  margin: 0 0 30px;
}

.article .header .date {
  margin-bottom: 0px;
}

.article .header .row {
  position: relative;
  z-index: 2;
  min-height: 410px;
  padding: 0px 15px 35px 15px;
}

.article .header .description {
  position: absolute;
  bottom: 40px;
  width: 70%;
}

.article .header .social {
  position: absolute;
  bottom: 35px;
  right: 15px;
}

.article .header .btn {
  margin-top: 40px;
}

.article .header .date {
  display: inline-block;
  color: #E70000;
  font-size: 1.125em;
  letter-spacing: 0.04em;
  padding: 6px 9px;
}

.article .header .location {
  font-size: 1.125em;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.04em;
  display: inline-block;
}

.article .header .location:visited,
.article .header .location:focus,
.article .header .location:active {
  text-decoration: none;
}

.article .header .location:hover {
  color: #E70000;
  text-decoration: none;
}

.article .header .location:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 7px;
  width: 20px;
  height: 26px;
  margin: 0px 8px 0px 0px;
  background: url(../img/icons/location.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*************************
event type
*************************/
.article .event-type {
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  padding: 6px 12px;
  font-size: 10px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 3em 0 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.article .event-type.premium {
  background: #53c2b3;
}

.article .event-type.competition {
  background: #9654b6;
}

.article .event-type.meeting {
  background: #ffd739;
}

/*******************************
other pages (icons,elements,ect)
*******************************/
.article .icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*size*/
.article .icon-size-200 {
  width: 200px;
  height: 200px;
}

.article .icon-size-50-140 {
  width: 50px;
  height: 140px;
}

.article .icon-bg-size-50 {
  background-size: 50%;
}

.article .icon-bg-size-100 {
  background-size: 100%;
}

.article .icon-pa {
  position: absolute;
}

.article .icon-br-50 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.article .icon-pa-center {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.article .icon-pa-right-3 {
  right: 3%;
}

.article .icon-white {
  background-color: #ffffff;
}

.article .icon-typewriter {
  background-image: url(../img/icons/red-typewriter.svg);
}

.article .icon-exclamation {
  background-image: url(../img/icons/red-exclamation.svg);
}

.article .icon-file-light {
  background-image: url(../img/icons/file-light.svg);
}

.article .icon-red-letter-light {
  background-image: url(../img/icons/red-letter-light.svg);
}

.article .icon-card {
  background-image: url(../img/icons/card.svg);
}

.article .icon-book-light {
  background-image: url(../img/icons/book-light.svg);
}

.article .main .main-content .proofreading .step {
  text-align: center;
  margin-bottom: 30px;
}

.article .why-we .item {
  width: 25%;
  float: left;
}

.article .proofreading-box {
  padding-bottom: 0 !important;
}

.article .proofreading-box .load-book {
  padding: 15px 15px 5px;
}

.article .proofreading-box .modal-content {
  height: 318px;
}

.article .proofreading-box .modal-content p {
  font-size: 14px;
}

.article .proofreading-box .item-choose {
  width: 39px;
  height: 44px;
}

.article .step .item {
  float: left;
  width: 25%;
  height: 175px;
  margin-right: -1px;
  position: relative;
  background-color: white;
  border-right: 1px solid #ebecf2;
}

.article .step .item:last-child:after {
  content: "";
  display: none;
}

.article .b-grey {
  border: 1px solid #ebecf2;
}

.article .t-a-c {
  text-align: center;
}

.article .step .item:after {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: -10.5px;
  top: 50%;
  z-index: 9;
  margin-top: -10px;
  border-top: 1px solid #ebecf2;
  border-left: 1px solid #ebecf2;
  background: #ffffff;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.article .step .item p {
  line-height: 1.2em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
}

.article .step .item:before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
}

.section-blue {
  background: #292830 url(../img/patterns/main.svg);
  padding: 60px;
  background-size: 310px;
  border-radius: 6px;
  margin: 30px 0;
  display: flex;
  align-items: center;
}

/********************
sidebar
********************/
.article .main .sidebar h2 {
  font-weight: 700;
  font-size: 1.125em;
  border-bottom: 2px solid #ebecf2;
  text-transform: uppercase;
  padding-bottom: 0.8em;
  line-height: 1em;
  margin: 0 0 1em;
}

.article .main .sidebar ul {
  margin: 0 0 2em;
}

.article .main .sidebar ul li {
  margin: 0.6em 0;
  padding: 0;
}

.article .main .sidebar ul li:before {
  content: "";
  display: none;
}

.article .main .sidebar .date {
  color: #E70000;
  font-size: 0.875em;
  margin: 0;
}

.article .main .sidebar a {
  border-bottom: 1px solid black;
  color: #000000;
}

.article .main .sidebar a:visited,
.article .main .sidebar a:focus,
.article .main .sidebar a:active {
  border-bottom: none;
}

.article .main .sidebar a:hover {
  color: #000000;
  border-bottom: none;
}

/*********************
newspaper-columns
*********************/
.article .main .newspaper-col-1,
.bx-editor-iframe .newspaper-col-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.article .main .newspaper-col-2,
.bx-editor-iframe .newspaper-col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.article .main .newspaper-col-3,
.bx-editor-iframe .newspaper-col-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.article .main .newspaper-col-4,
.bx-editor-iframe .newspaper-col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.article .main .newspaper-col-5,
.bx-editor-iframe .newspaper-col-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.article .main .newspaper-col-6,
.bx-editor-iframe .newspaper-col-6 {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

.article .main .newspaper-col-1,
.article .main .newspaper-col-2,
.article .main .newspaper-col-3,
.article .main .newspaper-col-4,
.article .main .newspaper-col-5,
.article .main .newspaper-col-6,
.bx-editor-iframe .newspaper-col-1,
.bx-editor-iframe .newspaper-col-2,
.bx-editor-iframe .newspaper-col-3,
.bx-editor-iframe .newspaper-col-4,
.bx-editor-iframe .newspaper-col-5,
.bx-editor-iframe .newspaper-col-6 {
  margin: 2em 0 2em;
}

.article .main .newspaper-col-1 h1,
.article .main .newspaper-col-1 h2,
.article .main .newspaper-col-1 h3,
.article .main .newspaper-col-1 h4,
.article .main .newspaper-col-2 h1,
.article .main .newspaper-col-2 h2,
.article .main .newspaper-col-2 h3,
.article .main .newspaper-col-2 h4,
.article .main .newspaper-col-3 h1,
.article .main .newspaper-col-3 h2,
.article .main .newspaper-col-3 h3,
.article .main .newspaper-col-3 h4,
.article .main .newspaper-col-4 h1,
.article .main .newspaper-col-4 h2,
.article .main .newspaper-col-4 h3,
.article .main .newspaper-col-4 h4,
.article .main .newspaper-col-5 h1,
.article .main .newspaper-col-5 h2,
.article .main .newspaper-col-5 h3,
.article .main .newspaper-col-5 h4,
.article .main .newspaper-col-6 h1,
.article .main .newspaper-col-6 h2,
.article .main .newspaper-col-6 h3,
.article .main .newspaper-col-6 h4,
.bx-editor-iframe .newspaper-col-1 h1,
.bx-editor-iframe .newspaper-col-1 h2,
.bx-editor-iframe .newspaper-col-1 h3,
.bx-editor-iframe .newspaper-col-1 h4,
.bx-editor-iframe .newspaper-col-2 h1,
.bx-editor-iframe .newspaper-col-2 h2,
.bx-editor-iframe .newspaper-col-2 h3,
.bx-editor-iframe .newspaper-col-2 h4,
.bx-editor-iframe .newspaper-col-3 h1,
.bx-editor-iframe .newspaper-col-3 h2,
.bx-editor-iframe .newspaper-col-3 h3,
.bx-editor-iframe .newspaper-col-3 h4,
.bx-editor-iframe .newspaper-col-4 h1,
.bx-editor-iframe .newspaper-col-4 h2,
.bx-editor-iframe .newspaper-col-4 h3,
.bx-editor-iframe .newspaper-col-4 h4,
.bx-editor-iframe .newspaper-col-5 h1,
.bx-editor-iframe .newspaper-col-5 h2,
.bx-editor-iframe .newspaper-col-5 h3,
.bx-editor-iframe .newspaper-col-5 h4,
.bx-editor-iframe .newspaper-col-6 h1, .bx-editor-iframe .newspaper-col-6 h2, .bx-editor-iframe .newspaper-col-6 h3, .bx-editor-iframe .newspaper-col-6 h4 {
  margin-top: 0;
}

/********************
typography
********************/
.article .main p,
.bx-editor-iframe p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
  margin: 0.6em auto;
}

.article .main h1,
.bx-editor-iframe h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.6em 0 0.2em;
}

.article .main h2,
.bx-editor-iframe h2 {
  font-size: 1.875em;
  font-weight: 300;
  margin: 0.6em 0 0.2em;
}

.article .main h3,
.bx-editor-iframe h3 {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0.8em 0 0.2em;
}

.article .main a,
.bx-editor-iframe a {
  color: #E70000;
  border-bottom: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}

/********************
typography's elements
********************/
/**IMG*/
.article .main img {
  height: auto;
}

/*BLOCQUOTE*/
.article .main blockquote,
.bx-editor-iframe blockquote {
  position: relative;
  border: none;
  padding: 4% 6%;
  margin: 2em 0;
}

.article .main blockquote p,
.bx-editor-iframe blockquote p {
  text-align: center;
}

.article .main blockquote .masked,
.bx-editor-iframe blockquote .masked {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #292830 url(../img/patterns/main.svg);
  z-index: -1;
}

.article .main blockquote .quote,
.bx-editor-iframe blockquote .quote {
  font-size: 1.125em;
  color: white;
  font-style: italic;
  margin-bottom: 2em;
}

.article .main blockquote .quote:before,
.bx-editor-iframe blockquote .quote:before {
  content: "";
  display: block;
  width: 32px;
  height: 24px;
  margin: 0px auto 28px;
  background: url(../img/icons/quotes-red.svg);
}

.article .main blockquote .name,
.bx-editor-iframe blockquote .name {
  color: #E70000;
  text-transform: uppercase;
  font-size: 0.875em;
  margin: 0;
  padding-top: 1.2em;
  border-top: 1px solid #5b5c69;
}

.article .main blockquote .pos,
.bx-editor-iframe blockquote .pos {
  font-weight: 700;
  font-size: 0.875em;
  color: #ffffff;
  margin: 0;
}

/********************
list
********************/
.article ul,
.article ol,
.bx-editor-iframe ul,
.bx-editor-iframe ol {
  margin: 0em 0 0em;
}

.article .main ul,
.bx-editor-iframe {
  padding: 0;
}

.article .main ul li,
.bx-editor-iframe ul li {
  position: relative;
  margin: 0 0 0em 2em;
  padding: 4px 8px;
  line-height: 1.6em;
}

.article .main ul li:before,
.bx-editor-iframe ul li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -2em;
  display: block;
  width: 26px;
  height: 26px;
  padding: 2px 0;
  color: red;
  background: url(../img/icons/arrow.svg) 50% 50% no-repeat;
  background-size: 60%;
  border: 3px solid #E70000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.article .main ol,
.bx-editor-iframe ol {
  counter-reset: li;
  padding: 0;
  list-style: none;
}

.article .main ol li,
.bx-editor-iframe ol li {
  position: relative;
  margin: 0 0 1em 2em;
  padding: 4px 8px;
  line-height: 1.6em;
}

.article .main ol li:before,
.bx-editor-iframe ol li:before {
  content: "";
  content: counter(li);
  counter-increment: li;
  position: absolute;
  line-height: 1.4em;
  top: 2px;
  left: -2em;
  width: 26px;
  height: 26px;
  padding: 0.05em 0;
  color: white;
  background: #E70000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

/*HR*/
.article .main hr,
.bx-editor-iframe hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

/*STRONG*/
.article .main strong,
.bx-editor-iframe strong {
  font-weight: 700;
}

/*EM*/
.article .main em,
.bx-editor-iframe em {
  font-style: italic;
}

/*RED-COLOR*/
.article .main .red-color,
.bx-editor-iframe .red-color {
  color: #E70000;
}

/*LEAD*/
.article .main .lead,
.bx-editor-iframe .lead {
  padding: 1em 1em 1.2em 0em;
  margin: 1.2em 0 1.2em;
  border-left: 0;
  font-weight: 800;
  line-height: 1.5em;
  border-top: 5px solid #E70000;
  border-bottom: 5px solid #E70000;
}

/*TABLE*/
.article .main table,
.bx-editor-iframe table {
  width: 100%;
  border: 1px solid #d0d1d6;
  margin: 2em 0;
}

.article .main table tr:nth-child(2n+1),
.bx-editor-iframe table tr:nth-child(2n+1) {
  background: #ebecf2;
}

.article .main table td,
.article .main table th,
.bx-editor-iframe table td,
.bx-editor-iframe table th {
  padding: 12px 18px;
  border-left: 1px solid #d0d1d6;
}

.article .main table th,
.bx-editor-iframe th {
  background: #292830;
  color: white;
  font-weight: 300;
  border: 1px solid #d0d1d6;
}

/*LINK*/
.article .main a.red-link,
.bx-editor-iframe a.red-link {
  border-bottom: 1px solid #E70000;
}

.article .main a:hover,
.bx-editor-iframe a:hover {
  border-bottom: none;
}

.article .main a.pseudo-link,
.bx-editor-iframe .pseudo-link {
  border-bottom: 1px dotted black;
}

.article .main a.pseudo-link:hover,
.bx-editor-iframe a.pseudo-link:hover {
  border-bottom: none;
}

/*************
zero margin
*************/
.article .main .newspaper-col-1 h1:first-child,
.article .main .newspaper-col-1 h2:first-child,
.article .main .newspaper-col-1 h3:first-child,
.article .main .newspaper-col-1 h4:first-child,
.article .main .newspaper-col-2 h1:first-child,
.article .main .newspaper-col-2 h2:first-child,
.article .main .newspaper-col-2 h3:first-child,
.article .main .newspaper-col-2 h4:first-child,
.article .main .newspaper-col-3 h1:first-child,
.article .main .newspaper-col-3 h2:first-child,
.article .main .newspaper-col-3 h3:first-child,
.article .main .newspaper-col-3 h4:first-child,
.article .main .newspaper-col-4 h1:first-child,
.article .main .newspaper-col-4 h2:first-child,
.article .main .newspaper-col-4 h3:first-child,
.article .main .newspaper-col-4 h4:first-child,
.article .main .newspaper-col-5 h1:first-child,
.article .main .newspaper-col-5 h2:first-child,
.article .main .newspaper-col-5 h3:first-child,
.article .main .newspaper-col-5 h4:first-child,
.article .main .newspaper-col-6 h1:first-child,
.article .main .newspaper-col-6 h2:first-child,
.article .main .newspaper-col-6 h3:first-child,
.article .main .newspaper-col-6 h4:first-child,
.bx-editor-iframe .newspaper-col-1 h1:first-child,
.bx-editor-iframe .newspaper-col-1 h2:first-child,
.bx-editor-iframe .newspaper-col-1 h3:first-child,
.bx-editor-iframe .newspaper-col-1 h4:first-child,
.bx-editor-iframe .newspaper-col-2 h1:first-child,
.bx-editor-iframe .newspaper-col-2 h2:first-child,
.bx-editor-iframe .newspaper-col-2 h3:first-child,
.bx-editor-iframe .newspaper-col-2 h4:first-child,
.bx-editor-iframe .newspaper-col-3 h1:first-child,
.bx-editor-iframe .newspaper-col-3 h2:first-child,
.bx-editor-iframe .newspaper-col-3 h3:first-child,
.bx-editor-iframe .newspaper-col-3 h4:first-child,
.bx-editor-iframe .newspaper-col-4 h1:first-child,
.bx-editor-iframe .newspaper-col-4 h2:first-child,
.bx-editor-iframe .newspaper-col-4 h3:first-child,
.bx-editor-iframe .newspaper-col-4 h4:first-child,
.bx-editor-iframe .newspaper-col-5 h1:first-child,
.bx-editor-iframe .newspaper-col-5 h2:first-child,
.bx-editor-iframe .newspaper-col-5 h3:first-child,
.bx-editor-iframe .newspaper-col-5 h4:first-child,
.bx-editor-iframe .newspaper-col-6 h1:first-child,
.bx-editor-iframe .newspaper-col-6 h2:first-child,
.bx-editor-iframe .newspaper-col-6 h3:first-child,
.bx-editor-iframe .newspaper-col-6 h4:first-child {
  margin-top: 0;
}

.article .col h1:first-child,
.article .col h2:first-child,
.article .col h3:first-child,
.article .col h4:first-child,
.article .col h5:first-child,
.article .col h6:first-child,
.bx-editor-iframe .col h1:first-child,
.bx-editor-iframe .col h2:first-child,
.bx-editor-iframe .col h3:first-child,
.bx-editor-iframe .col h4:first-child,
.bx-editor-iframe .col h5:first-child,
.bx-editor-iframe .col h6:first-child {
  margin-top: 0;
}

.article .col ul,
.article .col ol,
.bx-editor-iframe .col ul,
.bx-editor-iframe .col ol {
  margin-top: 0;
  margin-bottom: 0;
}

.article .col ul li:last-child,
.article .col ol li:last-child,
.bx-editor-iframe .col ul li:last-child,
.bx-editor-iframe .col ol li:last-child {
  margin-bottom: 0 !important;
}

.article .mt-0,
.bx-editor-iframe .mt-0 {
  margin-top: 0 !important;
}

.article .m-0,
.bx-editor-iframe .m-0 {
  margin: 0 !important;
}

.article .main .lead ul,
.bx-editor-iframe .lead ul {
  margin-bottom: 0;
}

.article .main .main-content ul h1,
.article .main .main-content ul h2,
.article .main .main-content ul h3,
.bx-editor-iframe ul h1,
.bx-editor-iframe ul h2,
.bx-editor-iframe ul h3 {
  margin-top: 0px;
}

/****************************
program event
****************************/
.article .main .program-event,
.bx-editor-iframe .program-event {
  border-left: 2px solid #ebecf2;
  padding-left: 26px;
}

.article .main .program-event .item,
.bx-editor-iframe .program-event .item {
  margin-top: 2em;
  background: transparent;
  padding: 0;
  text-align: left;
}

.article .program-event .item .speakers,
.bx-editor-iframe .program-event .item .speakers {
  border-top: 2px solid #ebecf2;
  margin-top: 1em;
}

.article .program-event .item .speakers .speaker-title,
.bx-editor-iframe .program-event .item .speakers .speaker-title {
  text-transform: uppercase;
  margin-top: 0.8em;
}

.article .program-event .item .speakers .speaker-photo,
.bx-editor-iframe .program-event .item .speakers .speaker-title {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.article .program-event .item .speakers .speaker-name,
.bx-editor-iframe .program-event .item .speakers .speaker-name {
  font-size: 0.875em;
  font-weight: 700;
  margin: 0px 0px 0.4em 0px;
}

.article .program-event .item .speakers .speaker-position,
.bx-editor-iframe .program-event .item .speakers .speaker-position {
  font-size: 0.75em;
}

.article .program-event .item .speakers .speaker-item,
.bx-editor-iframe.program-event .item .speakers .speaker-item {
  padding-left: 72px;
  position: relative;
  text-align: left;
  margin-bottom: 2.5%;
}

.article .program-event .item .speakers .speaker-item:nth-child(2n+2),
.bx-editor-iframe .program-event .item .speakers .speaker-item:nth-child(2n+2) {
  margin-right: 0;
}

.article .program-event .item .speakers .speaker-item:nth-child(3n+3),
.bx-editor-iframe .program-event .item .speakers .speaker-item:nth-child(2n+2) {
  margin-right: 2.5%;
}

.article .program-event time,
.bx-editor-iframe .program-event time {
  font-size: 0.875em;
  color: #E70000;
  position: relative;
  display: block;
  line-height: 0.8em;
  margin-bottom: 0.4em;
}

.article .program-event time:before,
.bx-editor-iframe .program-event time:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -33px;
  background: url(../img/icons/red-circle.svg);
}

.article .program-event .program-title,
.bx-editor-iframe .program-event .program-title {
  font-weight: 700;
  letter-spacing: 0.04em;
  margin-bottom: 0.4em;
}

/***********************
speakers
***********************/
.article .speakers .speaker-title,
.bx-editor-iframe .speakers .speaker-title {
  text-transform: uppercase;
  margin-top: 0.8em;
}

.article .speakers .speaker-photo,
.bx-editor-iframe .speakers .speaker-photo {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto 0.4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.article .speakers .speaker-name,
.bx-editor-iframe .speakers .speaker-name {
  font-size: 0.875em;
  font-weight: 700;
  margin-bottom: 0.4em;
}

.article .speakers .speaker-position,
.bx-editor-iframe .speakers .speaker-position {
  font-size: 0.75em;
}

.article .speakers .speaker-item,
.bx-editor-iframe .speakers .speaker-item {
  padding: 0px 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
}

.article .speakers .speaker-item:nth-child(3n+3),
.bx-editor-iframe .speakers .speaker-item:nth-child(3n+3) {
  margin-right: 0;
}

.article .main .proofreading #book-upload-modal .modal-header h3 {
  margin-bottom: 0.8em;
}
