.personal__icon .image.image--one {
    width: 72px;
    height: 45px;
}
.personal__icon .image.image--two {
    width: 18px;
    height: 23px;
}
.personal__icon .image.image--three {
    width: 14px;
    height: 12px;
}

.personal__icon .word img {
    height: 4px;
}
