/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}
/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
@CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
button.primary {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  height: 48px;
  border-radius: 2px;
  background-color: #7ccb25;
  font-family: 'Open Sans', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 28px;
  text-transform: uppercase;
  border: 0;
}
button.primary:not(:disabled):hover {
  background-color: #73c202;
}
button.primary:not(:disabled):active {
  padding-top: 1px;
}
button.primary:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: white;
}
button.secondary {
  height: 48px;
  border-radius: 2px;
  border: solid 1px rgba(49, 132, 238, 0.3);
  padding: 0 24px;
  background-color: transparent;
  color: #3184ee;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
button.secondary:not(:disabled):hover {
  border: solid 1px rgba(49, 132, 238, 0.4);
}
button.secondary:not(:disabled):active {
  padding-top: 1px;
}
button.secondary:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: white;
}
input.inline {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  height: 48px;
  border: 0;
  border-bottom: 1px solid #C7C8C8;
  outline: none;
  background-color: transparent;
}
.jq-selectbox__select {
  height: 40px;
  outline: none;
  font-size: 14px;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 12px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}
.jq-selectbox__select .jq-selectbox__select-text {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
  width: auto!important;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
}
.jq-selectbox__dropdown ul {
  padding: 0;
  margin: 0;
}
.jq-selectbox__dropdown ul li {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 20px 0 40px;
  position: relative;
}
.jq-selectbox__dropdown ul li:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.jq-selectbox__dropdown ul li.sel::before {
  position: absolute;
  content: "";
  width: 16px;
  left: 16px;
  top: 9px;
  height: 16px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMjIyIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0yIDcuNzY4TDYuMTI0IDEyIDE0IDQiLz4KPC9zdmc+');
}
.jq-selectbox__trigger {
  width: 16px;
  height: 16px;
  padding: 6px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjRTUyMTAwIiBkPSJNMyA2bDUgNSA0Ljc0My00Ljc0MyIvPgo8L3N2Zz4=') no-repeat center center;
}
.jq-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px rgba(0, 0, 0, 0.2);
  margin-right: 8px;
  cursor: pointer;
}
.jq-checkbox.checked {
  border: 0;
  background: #3184ee url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS45OTkiIGQ9Ik0yIDguMzY3bDMuNTA3IDMuNTA3TDEzLjM4MSA0Ii8+Cjwvc3ZnPg==') no-repeat center center;
}
label.error {
  font-size: 14px;
  color: #e74c3c;
  position: absolute;
}
input.error {
  border-color: #e74c3c;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  text-align: center;
  color: #000000;
  font-family: 'Open Sans', Arial, sans-serif;
  min-width: 1280px;
}
body * {
  box-sizing: border-box;
}
.block-inner {
  width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 32px;
  line-height: 1.31;
  text-align: center;
  margin: 0 0 24px;
  font-family: 'Noto Serif', serif;
  font-weight: normal;
}
h2 {
  font-size: 32px;
  line-height: 1.31;
  text-align: center;
  margin: 0 0 24px;
  font-family: 'Noto Serif', serif;
  font-weight: normal;
}
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.dropzone,
.dropzone * {
  box-sizing: border-box;
}
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 54px 54px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone.dz-drag-hover {
  border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
.dropzone .dz-preview:hover {
  z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: -webkit-linear-gradient(top, #eee, #ddd);
  background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
  background: white;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
.dropzone .dz-preview .dz-image img {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: -webkit-linear-gradient(top, #666, #444);
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: -webkit-linear-gradient(top, #be2626, #a92222);
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}
.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}
.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.jq-selectbox {
  z-index: 10;
}
.jq-selectbox__select {
  position: relative;
}
.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
  position: absolute;
}
.jq-selectbox__search input {
  -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
  position: relative;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  overflow: -webkit-paged-y;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}
.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.jq-number {
  display: inline-block;
}
.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}
.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 60px;
}
.promo .item {
  width: 260px;
}
.promo .item .image {
  margin-bottom: 16px;
}
.block-title {
  background-image: -webkit-radial-gradient(52% 47%, circle, #fbfbfb, #ebf2f2);
  background-image: radial-gradient(circle at 52% 47%, #fbfbfb, #ebf2f2);
}
.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 0 64px;
}
.index .breadcrumbs {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.index .image {
  margin: 0 56px;
  padding-top: 56px;
}
.index .text {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.index .text .select {
  background-color: #ffef96;
}
.index .text .desc {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.block-services {
  background-color: #f9fbfb;
  padding-top: 65px;
  border-top: 1px solid #d8d8d8;
  margin-bottom: -25px;
}
.services {
  padding-bottom: 64px;
}
.services h2 {
  margin-bottom: 36px;
}
.services .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.services .item {
  width: 260px;
}
.services .title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.services .text {
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 20px;
}
.services .image {
  margin-bottom: 2px;
}
.services .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.short-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.short-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.short-form form label.error {
  left: 0;
  bottom: -26px;
}
.short-form input[type="text"] {
  width: 175px;
  margin-right: 36px;
}
.short-form .text {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.62;
  margin-right: 36px;
}
.short-form-success {
  height: 100px;
  border-radius: 2px;
  background-color: #f9f5e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.short-form-success .msg {
  font-size: 16px;
  line-height: 1.62;
  margin: 0 12px 0 16px;
}
.short-form-success a {
  font-size: 16px;
  line-height: 1.38;
  color: #276cea;
  text-decoration: none;
  border-bottom: 1px dotted #276cea;
}
.short-form-success a:hover {
  border-bottom-color: transparent;
}
.price {
  width: 1100px;
  margin: 0 auto;
  padding: 0 46px 80px;
}
.price .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price .options .item {
  position: relative;
}
.price .options .item input.error {
  border-color: #e74c3c;
}
.price .options .item label.error {
  display: none;
  opacity: 0;
}
/*.price .options .item label.error + .text {*/
  /*color: #e74c3c;*/
/*}*/
.price .options input[type="text"] {
  height: 40px;
  outline: none;
  font-size: 14px;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0 12px;
  width: 92px;
  box-sizing: border-box;
}
.price .options input[type="text"] + .text {
  padding-top: 4px;
}
.price .options .text {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 8px;
}
.price .color-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 0 48px;
}
.price .color-choose label:first-of-type {
  border-right: 0;
}
.price .color-choose input:checked + label:first-of-type {
  background-color: rgba(0, 0, 0, 0.9);
}
.price .color-choose input:checked + label:last-of-type {
  background-image: -webkit-linear-gradient(337deg, #ff00ff, #834dff);
  background-image: linear-gradient(113deg, #ff00ff, #834dff);
  border: 0!important;
}
.price input[type=radio] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}
.price .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price .radio-group label {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  border: solid 1px #CCCCCC;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -user-select: none;
  box-sizing: border-box;
  margin-right: -1px;
  font-weight: 400;
}
.price .radio-group label:hover {
  cursor: pointer;
}
.price .radio-group input:checked + label {
  background-color: #3184ee;
  border-color: transparent;
  color: white;
  position: relative;
  z-index: 1;
}
.price .radio-group input:checked + label:hover {
  cursor: default;
}
.price .radio-group label:first-of-type {
  border-radius: 2px 0 0 2px;
}
.price .radio-group label:last-of-type {
  border-radius: 0 2px 2px 0;
}
.price .form-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}
.price .fields {
  width: 440px;
}
.price .fields .form-item {
  margin-bottom: 52px;
  position: relative;
}
.price .fields .form-item label.error {
  left: 0;
  bottom: -26px;
}
.price .fields .form-item:last-child {
  margin-bottom: 0;
}
.price .fields .form-item::before {
  content: "*";
  position: absolute;
  opacity: 0.4;
  font-size: 16px;
  left: -16px;
  top: 16px;
}
.price .fields input {
  width: 100%;
}
.price .fallback {
  width: 482px;
  height: 263px;
  padding: 32px;
  border: 1px dashed rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.price .fallback #file-error {
  top: 0;
  width: 100%;
  line-height: 32px;
  left: 0;
}
.price .fallback.dz-started .info {
  display: none;
}
.price .fallback .dz-preview {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price .fallback .dz-preview .dz-image {
  height: 48px;
  width: 48px;
  margin: 6px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price .fallback .dz-preview.dz-file-preview .dz-image {
  border-radius: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggc3Ryb2tlPSIjRTBFMEUwIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik00OCA0N0gxMlYwaDIzLjY3NUw0OCAxMi4xOHoiLz4KICAgICAgICA8cGF0aCBzdHJva2U9IiNFMEUwRTAiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTQ3IDEySDM1VjB6Ii8+CiAgICA8L2c+Cjwvc3ZnPg==') no-repeat center center;
}
.price .fallback .dz-preview .dz-size {
  display: none;
}
.price .fallback .dz-preview .dz-success-mark,
.price .fallback .dz-preview .dz-error-mark {
  display: none;
}
.price .fallback .dz-preview .dz-filename {
  opacity: 0.4;
  font-size: 14px;
  line-height: 1.86;
}
.price .fallback .dz-preview .dz-remove {
  font-size: 14px;
  line-height: 1.57;
  color: #e52100;
  text-decoration: none;
}
.price .fallback .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
.price .fallback input {
  visibility: hidden;
  height: 0;
  position: absolute;
}
.price .fallback .dz-message {
  display: none;
}
.price .fallback .text {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  text-align: left;
  padding-top: 16px;
  pointer-events: none;
}
.price .fallback .text .icon-text {
  float: left;
  margin-right: 8px;
  margin-top: -8px;
}
.price .fallback .text p {
  overflow: auto;
  margin: 0;
}
.price .fallback .dz-preview {
  height: 122px;
  display: block;
}
.price .fallback .dz-preview + .dz-preview {
  display: none;
}
.price .fallback .info {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  height: 122px;
}
.price .fallback .info button {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  height: 40px;
  border-radius: 2px;
  background-color: #3184ee;
  padding: 0 18px;
  margin-bottom: 25px;
}
.price .form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
}
.price .itog {
  border-radius: 3px;
  background-color: #f9fbfb;
  border: solid 1px rgba(0, 0, 0, 0.08);
  margin: 7px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px 36px;
}
.price .itog .jq-checkbox {
  vertical-align: middle ;
  margin-top: -4px;
}
.price .itog .item {
  text-align: left;
  margin: 0 18px;
  white-space: nowrap;
}
.price .itog .item .text,
.price .itog .item label {
  font-size: 20px;
  line-height: 1.3;
  display: block;
  margin-bottom: 7px;
}
.price .itog .item .tooltip_printbook {
  font-size: 14px;
  line-height: 1.86;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.price .itog .item .tooltip_printbook:hover {
  border-color: transparent;
}
.price .itog .item .tooltip-content {
  position: absolute;
  width: 280px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  padding: 14px 16px;
  white-space: normal;
  z-index: 10;
  cursor: default;
  margin-top: 10px;
  display: none;
}
.price .itog .item .tooltip-content p {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 1.57;
  color: #000000;
  cursor: default;
}
.price .itog .item .tooltip-content a {
  font-size: 14px;
  line-height: 1.57;
  color: #3184ee;
  border-color: #3184ee;
}
.price .itog .item .tooltip-content a:hover {
  border-color: transparent;
}
.price .label_printbook {
  font-size: 14px;
  line-height: 1.57;
}
.example-image {
  display: none;
}
.jq-selectbox select, .jq-select-multiple select {
  visibility: hidden;
}
.calc-block {
  display: none;
}
.price .options .item input.error ~ .text {
  color: #e74c3c;
}
.list-book {
  display: block;
  width: 100%;
  text-align: left;
  max-height: 350px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.price .list-book input[type=radio] {
  height: 15px;
  clip: auto;
  width: 15px;
  overflow: visible;
  position: relative;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.short-form-success {
  display: none;
}
.short-form-error {
  display: none;
}
.show {
  display: flex;
}
button {
  outline: none;
}