.block-acr {
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-top: 70px;
  }
  &__item {
    margin-top: 70px;
    padding: 0 160px;
    width: 100%;
    font-size: 0;
    display: block;
    position: relative;
  }
  &__item-part {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    &--img {
      text-align: center;
      vertical-align: top;
    }
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 8px;
    width: 70%;
    &--title {
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
      margin-top: 16px;
      text-transform: uppercase;
    }

  }
  &__step {
    width: 32px;
    height: 32px;
    background-color: #141414;
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
  }
  .container__accordion {
    margin-top: 20px;
    color: #000;
    font-size: 16px;
    position: relative;
    background-color: #fff;
    z-index: 10;
  }
  &__decor {
    position: absolute;
    top: 90%;
    z-index: 2;
    left: 45%;
    &--second {
      left: 43%;
      top: 85%;
    }
  }
  
}
.block-box {
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 172px;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 62px;
  }
  &__item {
    display: inline-block;
    position: relative;
    width: 360px;
    height: 292px;
    border-radius: 16px;
    background-color: #f3f6f8;
    padding: 32px 40px;
  }
  &__decor {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 97%;
    top: 38%;
    z-index: 10;
    text-align: center;
    border-radius: 100%;
    background-color: #bcc4cb;
    line-height: 58px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    color: #ffffff;

  }
  &__img {
    text-align: center;
    display: block;
    margin-top: -120px;
    min-height: 205px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    .box-1 {
      margin-left: 40px;
    }
    .box-2 {
      margin-left: 20px;
    }
    .box-3 {

    }
  }
  &__item-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-top: 8px;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 8px;
  }

}
.block-sales {
  margin: 39px 0 90px 0;
  position: relative;
  &__info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  &__same {
      display: block;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;
  }
  &:before {
    display: inline-block;
    content: "";
    width: 370px;
    height: 129px;
    left: 0;
    top: 30%;
    background: url(../images/content/hand-book.png) no-repeat;
    position: absolute;
  }
  &:after {
    display: inline-block;
    content: "";
    width: 370px;
    height: 172px;
    right: 0;

    background: url(../images/content/hand-money.png) no-repeat;
    top: 30%;
    position: absolute;
  }
  &__price-text {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin-top: 6px;
  }
  &__price {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    color: #000000;
    margin-top: 16px;
    vertical-align: top;
  }
  .custom-btn {
    margin-top: 24px;
  }
  .rouble {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-stretch: condensed;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.23);
    vertical-align: top;
    position: relative;
    top: 5px;
    margin-left: 5px;
  }
  .old-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.23);
    position: relative;
    vertical-align: top;
    top: 5px;
    margin-left: 18px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: -5px;
      width: 66px;
      height: 1px;
      background: rgba(0, 0, 0, 0.23);
      transform: rotate(-28deg);

    }
  }
}
