.content--annotation {
  font-size: 0;
  width: 100%;
  max-width: 1280px;
  display: block;
  padding: 78px 60px 0 60px;
  .item-part {
    width: 25%;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    &__icon {
      vertical-align: middle;
      min-height: 64px;
    }
  }

}
.annotaion-block {
  padding-top: 60px;
  display: block;
  width: 860px;
  margin: 0 auto;
  font-size: 0;
  &__img {
    display: inline-block;
    max-width: 256px;
    width: 31%;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    text-align: left;
    width: 69%;
    vertical-align: middle;
    &--title {
      height: 38px;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 32px;
      font-stretch: condensed;
      line-height: 38px;
      color: #000000;
      display: block;
    }
    &--about {
      margin-top: 16px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.5);
      display: block;
    }
  }
}
.container__callback--annotation {
  .b-block--white .block-book__block {
    vertical-align: top;
  }
  .container__callback {
    margin-top: 0;
  }
  .editing-callback {
    background-color: #fff;
    margin-top: 0;

    .custom-btn--blue-text {
      padding: 9px 18px;
      font-size: 14px;
      background-color: #fff;
    }
    .input-custom {
      color: #000;
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }
    input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 1);
    }
    input::-moz-placeholder {
      color: rgba(0, 0, 0, 1);
    }
    input:-moz-placeholder {
      color: rgba(0, 0, 0, 1);
    }
    input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 1);
    }

    .editing-callback__text {
      color: #000;
      font-size: 16px;
      font-style: italic;

    }

  }
  .editing-callback--success__text {
    color: #000;
  }
  .editing-callback--success__img {
    line-height: 45px;
    &:after {
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
    }
  }
}

.brif {
  padding-top: 60px;
  position: relative;
  //label.error {
  //  font-weight: 400;
  //  font-size: 14px;
  //  color: #e74c3c;
  //  position: absolute;
  //  width: 100%;
  //  top: 88%;
  //  left: 0;
  //}
  //.small-label {
  //  top: -15px;
  //}
  //.input-custom:focus ~ .label-custom, .textarea-custom:focus ~ .label-custom {
  //  top: -15px;
  //}
  //textarea.input-custom {
  //  outline: none;
  //  resize: none;
  //  padding: 15px 0;
  //  border: none;
  //  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  //  &:hover {
  //    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  //  }
  //
  //}
  ////.block-input:after {
  ////  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 0 rgba(0, 0, 0, 0), inset 0 -20px 20px 0px #f1f1f1, inset 0 0 0 0 rgba(0, 0, 0, 0);
  ////  content: "";
  ////  display: inline-block;
  ////  bottom: 6px;
  ////  position: absolute;
  ////  width: 100%;
  ////  height: 20px;
  ////}
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }
  &__block {
    margin-top: 32px;
    position: relative;
  }
  &__cover {
    position: relative;
    margin-left: 365px;
    height: auto;
    //height: 913px;
    min-height: 869px;
    max-width: 641px;
    overflow: hidden;
    background: url(../images/content/book-repeated-block.jpg) center right repeat-y;
    //transition: min-height 1s ease-out;
  }
  &__form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: auto;
    //height: 889px;
    min-height: 889px;
    max-width: 641px;
    padding: 63px 186px 172px 55px;
    .fallback {
      width: 400px;
      height: auto;
      margin-bottom: 10px;
      .dz-preview {
        text-align: center;
        height: auto;
      }
      .info {
        height: auto;
      }
    }
    .append-form {
       text-align: center;
     }
    .input-custom {
      width: 100%;
      background-color: #f0f0f0;
      //transition: height 0.5s ease-out;
    }
    .block-input {
      margin-top: 27px;
      &--alternate {
        display: none;
      }
    }
    //.fallback .dz-preview .dz-filename {
    //  line-height: 0.86;
    //}
    .custom-btn--green {
      padding: 9px 18px;
      margin: 0 auto;
      margin-top: 47px;
      font-size: 14px;
      display: block;
      font-weight: 600;
      line-height: 1.57;

    }
    button.custom-btn--blue-text {
      padding: 9px 18px;
      font-size: 14px;
      background-color: transparent;
      border-radius: 2px;
      border: solid 1px rgba(49, 132, 238, 0.4);
      display: inline-block;
      width: auto;
      height: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
      color: #3184ee;
      text-transform: uppercase;
      position: relative;
    }
  }
  &__cover-top {
    width: 100%;
    height: 261px;
    position: absolute;
    top: 0;
    background: url(../images/content/book-top.jpg) 3px no-repeat;
  }
  &__cover-middle {
    width: 100%;
    position: absolute;
    min-height: 700px;
    top: 261px;
    height: auto;

  }
  &__cover-bottom {
    width: 100%;
    height: 488px;
    position: absolute;
    bottom: 0;
    background: url(../images/content/book-bottom.jpg) center right no-repeat;
  }
  &__bg-photo {
    position: absolute;
    z-index: 0;
    left: 79px;
    top: 65px;
  }
  &__bg-pen {
    position: absolute;
    z-index: 3;
    right: 133px;
    top: 167px;
  }
  .editing-callback.editing-callback--success {
    color: #000;
    display: none;
    top: 30%;
    position: absolute;
    background-color: transparent;
    .editing-callback--success__img {
      display: block;
      text-align: center;
      margin: 0 auto;
      &:after {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
      }
    }
    .editing-callback--success__text {
      display: block;
      text-align: center;
      color: #000;
    }
    .editing-callback--success__link {
       color: #000;
      border-bottom: dotted 1px rgba(0, 0, 0, 0.5)
    }
  }

}

.proofread-block--annotation {
  margin-bottom: 60px;
}

//.big-height {
//  background-color: #f0f0f0;
//  transition: height 0.5s ease-out;
//}