.b-awward {
    &__block {
        padding: 63px 60px 20px;

        &--gray {
            padding: 100px 60px 50px;
            background-color: #f3f6f8;
        }

        &--lines {
            position: relative;
            overflow: hidden;
            padding-top: 115px;
            padding-bottom: 170px;
            background-color: transparent;

            &:before,
            &:after {
                display: inline-block;
                border-radius: 100%;
                content: "";
                width: 100%;
                height: 700px;
                background-color: #f3f6f8;
                position: absolute;
                top: 0;
                right: 26%;
                z-index: -1;
            }
    
            &:after {
                right: auto;
                left: 26%;
            }
        }
    }

    &__wrapper {
        font-size: 0;
        margin-bottom: 24px;

        &--top {
            margin-top: 24px;
        }

        .block-book__icon {
            height: 176px;
        }
    }

    &__screen {
        padding: 78px 66px 78px 66px;
		text-align: center;
		position: relative;
		width: 100%;
		background: url(../images/content/awward-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-position-y: 10%;
		background-attachment: fixed;
		overflow: hidden;

		&:after {
			display: none;
		}
		&:before {
			display: none;
        }

        &-content {
            position: relative;
            z-index: 1;
            width: 100%;
            display: inline-block;
            font-size: 0;
            max-width: 1280px;
        }
        
        &-icon {
            width: 136px;
            height: 91px;
            fill: #ffffff;
        }

        &-title {
            margin-bottom: 16px;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 48px;
            line-height: 56px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
        }

        &-desc {
            margin-bottom: 32px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #ffffff;
        }
    }

    &__steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 24px;

        &-item {
            position: relative;
            padding: 40px 15px;
            width: 194px;

            &:last-child {
                .b-awward__steps-img:after {
                    display: none;
                }
            }

            &.is-active {
                .b-awward__steps-icon {
                    fill: #ffffff;
                }

                .b-awward__steps-title,
                .b-awward__steps-desc {
                    color: #ffffff;
                }

                .b-awward__steps-img:after {
                    right: -65px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                    display: block;
                    width: 100%;
                    height: 125%;
                    background: url(../images/content/awward-step-bg.svg) center top no-repeat;
                }
            }
        }

        &-img {
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            z-index: 10;

            &:after {
                content: '';
                position: absolute;
                top: 25px;
                right: -40px;
                display: block;
                width: 25px;
                height: 15px;
                background: url(../images/content/arrow-next.svg) center top no-repeat;
            }
        }

        &-icon {
            width: 80px;
            height: 60px;
            fill: #c2c2c2;
        }

        &-title {
            position: relative;
            margin-bottom: 8px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            color: #1c2842;
            z-index: 10;
        }

        &-desc {
            position: relative;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #1c2842;
            z-index: 10;
        }
    }

    &__nomin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 133px;

        &-item {
            padding: 0 42px 32px;
            width: 360px;
            background-color: #f3f6f8;
        }

        &-img {
            margin-top: -105px;
            margin-bottom: 24px;
            text-align: center;
            
            img {
                vertical-align: middle;
                display: inline-block;
            }
        }

        &-title {
            margin-bottom: 8px;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            color: #000000;
        }

        &-desc {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: left;
            color: #000000;
            opacity: .6;
        }
    }

    &__desc {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 130px;

        &-item {
            padding: 14px 20px 0;
            border-right: 2px solid #efefef;

            &:last-child {
                border-right: 0;
            }
        }

        &-title {
            margin-bottom: 13px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            color: #000000;
            
            img {
                vertical-align: middle;
                display: inline-block;
            }
        }

        &-txt {
            margin-bottom: 12px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            opacity: .6;
        }

        .btn-border {
            display: block;
            margin: 0 auto;
            width: 205px;
        }
    }

    &__form {
        margin-top: 36px;

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-item {
            width: 560px;

            &--or {
                width: 30px;
                height: 30px;
                background: url(../images/content/or.svg) 0 10px no-repeat;
            }
        }

        &-title {
            margin-bottom: 32px;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            line-height: 30px;
            color: #000000;  
            text-align: center;          
        }

        &-block {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 32px;
            max-height: 104px;
            border-radius: 2px;
            background-color: #7ccb26;

            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 40px;
            line-height: 50px;
            color: #ffffff;
            text-align: center;

            &--first {
                justify-content: space-between;
            }

            input {
                display: none;
            }

            label {
                margin-right: 24px;
            }

            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                color: #ffffff;
            }
        }

        &-btn {
            padding: 9px 18px;
            width: 195px;
            height: 40px;
            border-radius: 2px;
            background-color: #ffffff;  
            font-family: 'Open Sans', sans-serif;        
            font-size: 14px;
            line-height: 22px;
            font-weight: 600;
            text-transform: uppercase;
            color: #1c2842;
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 48px;

            p {
                margin-bottom: 0;
                font-family: 'Open Sans', sans-serif;   
                font-size: 14px;
                line-height: 22px;
                color: #000000;
            }
        }

        &:before,
        &:after {
            display: inline-block;
            border-radius: 100%;
            content: "";
            width: 100%;
            height: 500px;
            background-color: #ffffff;
            position: absolute;
            z-index: 2;
            top: 430px;
            right: 26%;
        }

        &:after {
            right: auto;
            left: 26%;
        }
    }

    &__judges {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            padding: 0 20px;
            width: calc(100% / 4);
            margin-bottom: 80px;
        }

        &-img {
            margin-bottom: 32px;
            text-align: center;
            
            img {
                vertical-align: middle;
                display: inline-block;
            }
        }

        &-name {
            margin-bottom: 5px;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #000000;
        }

        &-desc {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            opacity: .6;
        }
    }

    &__partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -30px;
        height: 370px;
        background: url(../images/content/partners/bg.png) top center no-repeat;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 3);
            padding: 0 20px;
            margin-bottom: 80px;
            text-align: center;
            
            img {
                display: block;
            }

            &--m0 {
                margin-bottom: 0;
            }
        }
    }
}