.content--blog {
  .container__callback {
    padding: 0px 60px 80px 60px;
    margin-top: 0;
  }
  .editing-callback {
    background-color: #6662d7;
    margin-top: 0;
  }
  .editing-callback__text {
    font-weight: bold;
  }
  .editing-callback--success__img {
    line-height: 42px;
  }
  .proofread-tab {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
    .proofread-tab__nav {
      margin-bottom: 0;
    }
  }
}
.blog {
  font-size: 0;
  display: block;
  padding: 0px 40px 80px 40px;
  width: 100%;
  height: auto;
  position: relative;
  &__masonry {
    height: auto;
    position: relative;
  }
  &__stamp {
    position: absolute;
    left: 800px;
    top: 0px;
  }
  &__item {
    display: inline-block;
    width: 33.3%;
    height: 456px;
    box-sizing: border-box;
    padding: 60px 20px 0 20px;
    vertical-align: top;
    &--half {
      width: 50%;
    }
    &--two-third {
      width: 66.6%;
    }
    &--one-third {
      width: 33.3%;
    }
    &--subscribe {
      min-height: 425px;
    }
    &--wrapper {
      padding: 32px;
      background-color: rgba(102, 98, 215, 0.9);
      min-height: 315px;
    }
    &--shadow {
      width: 100%;
      height: 100%;
      position: relative;
      background: url(../images/content/pen-bg.png) top right no-repeat;
      background-position-y: 10%;
      background-position-x: 110%;
      z-index: 1;
    }
  }
  &__item-img {
    height: 315px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__item-header {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #ffffff;
    text-align: left;
  }
  &__item-title {
    margin-top: 25px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: left;
  }
  &__item-btn {
    text-align: left;
  }
  &__item-wrapper {
    &:hover {
      .blog__item-title {
        color: #276cea;
      }
    }
  }
}
.callback-form {
  text-align: center;
  //background-color: #3184ee;
  //padding: 36px 125px 59px 148px;
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 29px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: left;
    color: #ffffff;
  }
  &--success,
  &--error{
    display: none;
    text-align: center;
    padding: 70px 0;
    &__img {
      width: 48px;
      height: 48px;
      border: solid 2px #7ccb26;
      border-radius: 100%;
      overflow: hidden;
      display: block;
      vertical-align: middle;
      margin-right: 16px;
      text-align: center;
      line-height: 55px;
      margin: 0 auto;
      &:after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 12px;
        transform: rotate(45deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;


      }

    }
    &__text {
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      line-height: 26px;
      color: #ffffff;
      display: block;
      vertical-align: middle;
      margin-top: 24px;
      text-align: center;
    }
    &__link {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
      margin-top: 24px;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
      &:hover {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
      &:active {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
      &:focus {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
    }
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #ffffff;
    margin-top: 16px;
  }
  .block-input {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .label-custom {
    text-align: left;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;

  }
  .input-custom {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 0 0 13px 0;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    margin: 16px 0 32px 0;
    &:focus {
      color: rgba(255, 255, 255, 1);
    }
  }
  .input-custom:focus ~ .label-custom, .textarea-custom:focus ~ .label-custom {
    color: #ffffff;
    opacity: 0.8;
  }
  input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.8);}
  input::-moz-placeholder {color: rgba(255, 255, 255, 0.8);}
  input:-moz-placeholder {color: rgba(255, 255, 255, 0.8);}
  input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }
  label.error {
    width: 100%;
    left: 0;
    font-size: 12px;
    top: 70%;
  }

}