.block-top {
    padding: 70px 165px;
    font-size: 0;
    
    &__part {        
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 50px 23px 0;
        
        &--right {
            padding: 0 0px 23px 50px;
            margin-top: 140px;
            
            .block-top__bg {
                left: -12px;
                right: auto;
                
            }
            .block-top__tip-wrapper { 
                left: 0px;
                right: auto;        
            }
            
            .block-top__tip {
                &:before {
                    left: 35px;
                    right: auto;
                }
            }
            
            .block-top__img,
            .block-top__title,
            .block-top__txt {
                text-align: left;
            }
            
        }
    }
    
    &__item {
        position: relative;
        margin-bottom: 140px;   
        
        &--last-step {
            margin-top: -80px;
            margin-bottom: 0; 
        }
    }
    
    &__bg {
        display: block;
        width: 156px;
        height: 400px;
        position: absolute;
        top: -85%;
        right: 0;           
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 400px;
        font-stretch: condensed;
        text-align: center;
        color: #f4f6f9;
        z-index: -1;
        
    }
    
    &__img {
        text-align: right;
        margin-bottom: 18px;
        
        &--center {
            text-align: center;
        }
        
        img {
            display: inline;
        }
        
    }
    
    &__title {
		font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 24px;
        font-stretch: condensed;
        text-align: right;  
        margin-bottom: 12px;
        
        &--center {
            text-align: center;
        }
    }
    
    &__txt {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        text-align: right;
        color: rgba(0,0,0,0.5); 
        
        &--center {
            text-align: center;
        }       
    }
    
    &__link {
        position: relative;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: right;
        color: #3184ee;
        border-bottom: 1px dashed #3184ee;
        cursor: pointer;
        
        &:hover {
            color: @black;
            border-color: @black;
            
            .block-top__tip {
                display: block;
            }
        }        
    }
    
    &__tip-wrapper {
        position: absolute;
        padding-top: 20px;
        right: 0;
        width: 430px;
        z-index: 10;        
    }
    
    &__tip {
        display: none;
        padding: 12px 16px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        font-size: 16px;
        line-height: 26px;
        color: @black;
        text-align: left;
        
        &:before {            
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            content: "";
            top: 13px;
            right: 35px;
            background-color: #ffffff;
            transform: rotate(-45deg);
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
        }
    }
}