.block-triple {
    font-size: 0;
    &--flex {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
        width: 33.3%;
        text-align: center;
        vertical-align: top;
        margin-top: 32px;
    }
    &__wrapper {
        max-width: 100%;
        margin: 0 auto;
        display: inline-block;
    }
    &__img {
        background-color: transparent;
        border-radius: 0;
        width: auto;
        height: 205px;
        display: inline-block;
        line-height: 205px;
        margin-bottom: 16px;
        
        &--five {            
            max-width: 100px;
            max-height: 135px;
            line-height: 135px;
            position: relative;
        }
        
        img {            
            vertical-align: middle;
            display: inline-block;
            line-height: normal;
        }
    }
    &__title {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 8px;
        text-transform: uppercase;
        
    }
    &__txt {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }
}