.book-shadow {
    &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        width: 100%;
        height: 101%;
        background: url(../images/content/book-mask.png) no-repeat;
        object-fit: contain;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    }
}