.breadcrumbs {
  padding: 0 60px;
  font-size: 0;
  display: block;
  margin-top: 24px;
  &__item {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    &:last-of-type {
      &:after {
        display: none;
      }
    }
    &:after {
      display: inline-block;
      position: relative;
      content: "";
      width: 8px;
      height: 8px;
      transform: rotate(-45deg);
      opacity: 0.3;
      border: solid 1px #000000;
      border-width: 0 1px 1px 0;
      margin: 0 5px 0 3px;

    }
  }
}
.book-info {
  padding: 0 60px;
  font-size: 0;
  display: block;
  margin-top: 24px;
  &__img {
    width: 34%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    .profile-form__link--show {
      text-align: center;
      padding-right: 100px;
      padding-left: 0;
      &:before {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
  &__properties {
    text-align: left;
    width: 66%;
    display: inline-block;
    vertical-align: top;
  }
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;
  }
  &__socials {
    margin: 16px 0 24px 0;
  }
  &__properties-block {
    display: block;
    font-size: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
  .price {
    padding: 28px 0 24px 0;
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
  &__pod {
    vertical-align: top;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-left: 32px;
    color: rgba(0, 0, 0, 0.4);
  }

  .quantity {
    float: none;
    input {
      position: relative;
      width: 50%;
      margin: 0 auto;
      background: transparent;
      border: none;
      z-index: 100;
    }
  }

  .quantity-nav {
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  &__text-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
  }
  &__properties-item {
    padding: 4px 0 24px 32px;
    max-width: 29%;
    width: auto;
    vertical-align: top;
    display: inline-block;
    &--count {
      width: 18.5%;
      padding-left: 0;
    }
  }
  .radio-group {
    label {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 26px;
      color: #000000;
    }
  }
  &__radio {
    width: auto;
    display: inline-block;
    vertical-align: top;
    .radio-group {
      label {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: #276cea;
        border-bottom: dotted 1px rgba(49, 132, 238, 0.5);
        font-weight: normal;
        cursor: pointer;
        margin-top: 5px;
        &:first-of-type {
          margin-right: 10px;
          box-sizing: border-box;
        }
      }
    }
    input {
      display: none;
      &:checked + label {
        color: #000000;
        border-bottom: none;
      }
    }
  }
  &__cost {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;
    margin-top: 24px;
    span {
      padding-right: 10px;
    }
  }
  &__btn {
    margin-top: 16px;
    display: block;
    .custom-btn {
      padding: 12px 42px;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      height: auto;
      margin-right: 24px;
      &--blue-text {

      }
      &--green {
        border: solid 1px #7ccb26;
      }
    }
  }
  &__public {
    margin-top: 16px;
    display: block;
  }
  &__public-item {
    display: block;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
  }
  &__description {
    margin-top: 60px;
    border-radius: 16px;
    background-color: #f3f6f8;
    padding: 50px 0;
    font-size: 0;
  }
  &__part {
    text-align: left;
    width: 66%;
    display: inline-block;
    vertical-align: top;
    padding-right: 120px;
    &--less {
      width: 34%;
      display: inline-block;
      vertical-align: top;
      text-align: right;
      padding-right: 39px;
      box-sizing: border-box;
    }
  }
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;

  }
  &__text {
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.8);
  }
  &__author {
    padding: 60px;
  }
  &__name-author {
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
  }
  &__photo-author {
    text-align: right;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    overflow: hidden;
  }
  &__book-more {
    border-radius: 3px;
    background-color: #f3f6f8;
    padding: 60px 0px;
    text-align: center;
    .profile-book__item:before {
      height: 205px;
      width: 150px;
    }
    .profile-book {
      text-align: left;
      font-size: 0;
    }
    .profile-book__item {
      margin-right: 0px;
      padding-right: 32px;
      max-width: 193px;
      width: 16.66%;
      display: inline-block;
      &:last-of-type {
        padding-right: 0;
      }
    }
    .profile-book__item img {
      width: 150px;
      height: 205px;
    }
    .profile__tab {
      margin-bottom: 51px;
    }
    .profile__tab--item {
      font-size: 32px;
      line-height: 38px;

    }
  }
  &__reviews {
    padding: 60px 0;
    .review__rating {
      margin-top: 24px;
      &--set {
        margin: 0;
        pointer-events: none;
      }
    }
    .book-info__title {
      text-align: center;
    }
    .review__item {
      margin-top: 40px;
    }
    textarea.input-custom {
      width: 558px;
    }
    .label-custom {
      width: 558px;
    }
    .block-input {
      margin-top: 8px;
    }
    form {
      margin-top: 20px;
      .book-info__title {
        text-align: left;
      }

    }
    .custom-btn--small {
      margin-top: 35px;
    }
    form.editing-callback {
      background-color: transparent;
      .editing-callback--success__text {
        color: #000;
      }
      .editing-callback--success__img:after, .editing-callback--error__img:after {
        border-color: #000;
        top: 5px;
        position: relative;
      }
    }
    .review__text {
      max-height: 210px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .height-auto {
      height: auto;
      max-height: 100%;
    }
  }
  &__change-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    padding: 6px 18px 8px;

    border: solid 1px rgba(0, 0, 0, 0.16);
    &:first-of-type {
      border-radius: 2px 0 0 2px;
    }
    &:last-of-type {
      border-radius: 0 2px 2px 0;
    }
    &.active {
      color: #ffffff;
      background-color: #3184ee;
      border-color: #3184ee;
    }
  }
  &__tab {
    display: inline-block;
    padding: 28px 0 24px 0;
    width: 30%;
    vertical-align: top;
  }
  &__tabs {
    font-size: 0;
  }
  &__tab-content {
    display: none;
    vertical-align: top;
    &#electronic {
      color: #000000;
    }
    &.active {
      display: inline-block;
    }
  }
  &__tab-contents {
    padding: 20px 0 24px 0;
    width: 70%;
    display: inline-block;
    .link-text {
      margin: 0 5px;
    }
  }

  &__label-age {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    border-radius: 2px;
    background-color: #f3f6f8;
    position: absolute;
    display: inline-block;
    padding: 9px 6px 9px 26px;
    top: 133px;
    z-index: -1;
    left: 275px;
  }

}

