.steps {
  padding: 32px;
  &__decor {
    width: 40px;
    height: 2px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    vertical-align: middle;
    display: inline-block;
    margin-left: 17px;
  }
  &__block {
    display: inline-block;
    margin-left: 20px;
    &:first-of-type {
      margin-left: 0;
    }
    &.active {
      .steps__number {
        background-color: #141414;
      }
      .steps__name {
        color: #000000;
        border-bottom: none;

      }
    }
  }
  &__number {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #bcc4cb;
    display: inline-block;

  }
  &__name {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;

    margin-left: 12px;
    &--link {
      color: #3184ee;
      border-bottom: dotted 1px rgba(49, 132, 238, 0.5);
    }
  }
}
.cart {
  padding: 0 28px;
  font-size: 0;
  display: block;
  &__form {
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }
  &__info {
    vertical-align: top;
    width: 25%;
    display: inline-block;
    padding: 0 28px 0 42px;
  }
  &__info-line {
    position: relative;
    display: block;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 0;
      vertical-align: middle;
      border: dotted 1px rgba(0, 0, 0, 0.2);

    }
    &--total {
      .cart__info-rouble, .cart__info-text {
        font-weight: 600;
        color: #000000;
      }
    }
    &--title {
      margin-bottom: 8px;
      &:after {
        display: none;
      }

      .cart__info-rouble, .cart__info-text {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 32px;
        font-stretch: condensed;
        line-height: 38px;
        color: #000000;
      }

    }
  }
  &__info-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #f3f6f8;
    z-index: 2;
    padding-right: 3px;
  }
  &__info-rouble {
    z-index: 2;
    background-color: #f3f6f8;
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 36px;
    top: 0;
    right: 0;
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__form-part {
    display: inline-block;

    border-radius: 3px;
    background-color: #ffffff;
    padding: 48px;
    width: 100%;
    margin-top: 32px;
    &:first-of-type {
      margin-top: 0;
    }
    &--delivery {
      padding-right: 0;
    }
  }
  &__form-radio {
    display: block;
    font-size: 0;
  }
  .block-btn-radio__item {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    padding-right: 20px;
    &:hover {
      .label-radio {
        color: #3184ee;
      }
    }
    .label-radio {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
      color: #000000;
    }
    .label-radio:after {
      top: 13px !important;
    }
    .label-radio:before {
      top: 9px !important;
    }
  }
  &__form-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;
    display: inline-block;
    &--city {
      color: #3184ee;
      margin-left: 12px;
      border-bottom: dotted 1px rgba(49, 132, 238, 0.3);
    }
  }
  .block-btn-radio {
    margin-top: 15px;
  }
  &__form-add {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.44);
    margin-top: 8px;
  }
  &__form-pay {
    display: block;
    margin-top: 32px;
  }
  &__pay-item {
    width: 151px;
    height: 110px;
    vertical-align: top;
    display: inline-block;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
      svg, img {
        vertical-align: top;
        display: inline-block;
        max-height: 40px;
        width: auto;
        line-height: 0;
      }
      .cart__pay-img {
        line-height: 40px;
        margin: 10px 0;
        transition: margin 0.5s ease-out;
      }
      .cart__pay-text {
        opacity: 1;
        text-align: center;
        transition: opacity 0.5s ease-out;
      }
    }
    &.active {
      border: solid 2px #3184ee;
    }

    svg, img {
      vertical-align: middle;
      line-height: 110px;
      display: inline-block;
      width: auto;
      max-height: 40px;

    }
  }
  &__pay-img {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 35px 0;
    transition: margin 0.5s ease-out;
  }
  &__pay-text {
    opacity: 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #000000;
    transition: opacity 0.5s ease-out;
  }
  &__pay-wrapper {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  &__success {
    padding: 48px;
    .custom-btn {
      vertical-align: middle;
      display: inline-block;
    }
    &--list {
      text-align: right;
      .cart__success-text {
        margin: 0 32px 0 0;
      }
    }
  }
  &__success-text {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-right: 24px;
    a {
      color: #276cea;
      margin-left: 5px;
    }
  }
  .block-input {
    margin-top: 31px;
  }
  /*корзина-список книг*/
  &__item {
    border-radius: 3px;
    background-color: #ffffff;
    padding: 30px;
    font-size: 0;
    margin-top: 32px;
    display: block;
    .hover {
      display: none;
    }
    .state {
      display: inline-block;
    }
    &:hover {
      .hover {
        display: inline-block;
      }
      .state {
        display: none;
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
    &--electr {

    }
    &--service {

    }
    &--double {
      .cart__item-info--part {
        width: 89%;
        display: inline-block;
        vertical-align: middle;
        float: right;
      }
      .cart__item-info {
        width: 90%;
        display: inline-block;
        vertical-align: middle;
        &--border {
          padding: 24px 0 24px 36px;
          &:after {
            display: block;
            content: "";
            width: 100%;
            border-top: solid 1px rgba(0, 0, 0, 0.12);
          }
        }

      }
      .cart__item-delete--hover {
        right: -45px;
      }
    }
  }
  &__item-img {
    width: 11%;
    display: inline-block;
    vertical-align: middle;
  }
  &__item-info {
    width: 81%;
    display: inline-block;
    vertical-align: middle;
  }
  &__item-name {
    width: 38%;
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
  }
  &__item-author {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    vertical-align: top;
  }
  &__item-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #000000;
    vertical-align: top;
    margin-top: 4px;
  }
  &__item-property {
    width: 42%;
    display: inline-block;
    vertical-align: top;
  }
  &__property {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    padding-left: 73px;
    position: relative;
    &.print svg, .electr svg {
      position: absolute;
      top: 0;
      left: 40px;
    }
    &--add {
      opacity: 0.5;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.57;
      color: #000000;
      margin-top: 8px;
    }
  }
  &__link-change {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #3184ee;
    margin-top: 8px;
    padding-left: 73px;
  }
  &__item-cost {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    position: relative;
  }
  &__item-delete {
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    padding-left: 78px;
    position: relative;

    &:hover {
      .cart__item-delete--hover {
        display: block;
      }
    }
    &--hover {
      position: absolute;
      right: -35px;
      top: -58px;
      display: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #000000;
      border-radius: 2px;
      background-color: #ffffff;
      padding: 12px 16px;
      z-index: 10;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
      &:before {
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        content: "";
        top: 85%;
        left: 43%;
        z-index: 1;
        background-color: #fff;
        vertical-align: middle;
        transform: rotate(45deg);
        box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.16), 0 0 0px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }
  &__item-price {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    text-align: right;
    color: #000000;
    &--old {
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 9px;
      left: 35px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: -7px;
        width: 55px;
        height: 1px;
        background: rgba(0, 0, 0, 0.3);
        transform: rotate(-26deg);
      }
    }
   }
  &__item-count {
    text-align: right;
    width: 140px;
    height: 40px;
    margin-top: 12px;
    input {
      width: 100%;
      height: 100%;
      border-radius: 2px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-align: center;
      color: #000000;
    }
  }
  &__go-to-pay {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    float: right;
  }
}
.content-wrapper--delivery form.editing-callback {
  background-color: transparent;
  .editing-callback--success__text {
    color: #000;
  }
  .editing-callback--success__img:after, .editing-callback--error__img:after {
    border-color: #000;
  }
}