.catalog-book {
    display: none;
    padding: 0 60px;
    font-size: 0;

    &.active {
        display: block;
    }

    &__item {
        transition: all 0.5s ease-out;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 20%;

        .jq-selectbox__dropdown {
            top: 0 !important;
            z-index: 10;
        }
        .jq-selectbox__select {
            padding: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.6);
        }
        .jq-selectbox__trigger {
            border-color: rgba(0, 0, 0, 0.6);
        }
        &:nth-child(6n) {
            margin-right: 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 1px;
            left: 70px;
            display: block;
            width: 135px;
            height: 215px;
            background: url("../images/content/book-profile_1.png");
            object-fit: contain;
        }

        &:hover {
            .catalog-book__add-to-cart {
                opacity: 1;
                z-index: 1;
            }

            .catalog-book__name-book {
                color: #276ce9;
            }

            .catalog-book__author {
                border-bottom: solid 1px rgba(0, 0, 0, 0.12);
            }
        }
    }

    &__img {
        perspective: 500px;
        width: 243px;
        height: 246px;
        background: url("../images/content/book-mask-perspective.png") center no-repeat;
        background-size: contain;

        img {
            transform: perspective(500px) rotateY(-7deg) rotateX(-1deg) rotateZ(11deg) skewX(11deg) skewY(-4deg);
            width: 135px;
            height: 215px;
            position: relative;
            top: 12px;
            left: 0;
            object-fit: cover;
        }
    }

    &__info {
        width: 170px;
        position: relative;
    }

    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
    }
    &__author {
        transition: all 0.5s ease-out;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
        border-bottom: solid 1px rgba(0, 0, 0, 0);
    }
    &__name-book {
        transition: all 0.5s ease-out;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: #000000;
        text-align: left;
        height: 80px;
        margin-top: 4px;
    }
    &__version {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        text-align: left;
        margin-top: 8px;
        &--print:after {
            display: inline-block;
            position: relative;
            content: "";
            width: 7px;
            height: 7px;
            transform: rotate(-45deg);
            opacity: 0.5;
            border: solid 1px #000000;
            border-width: 0 0px 1px 1px;
            margin: 2px 5px;
        }
    }
    &__price {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 24px;
        font-stretch: condensed;
        color: #000000;
        text-align: left;
        margin-top: 8px;
    }

    &__label {
        position: absolute;
        z-index: 10;
        &--new {
            height: 105px;
            width: 100px;
            left: 110px;
            top: -36px;
            background: url('../images/content/label-new.png') no-repeat;
        }
        &--best {
            height: 146px;
            width: 147px;
            left: -2px;
            top: -4px;
            background: url('../images/content/label-best.png') no-repeat;
        }
    }
    &__add-to-cart {
        transition: all 0.2s ease-out;
        display: block;
        opacity: 0;
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 9px 20px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__bl-author {
        transition: all 0.5s ease-out;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: auto;
        min-width: 130px;
        &:hover {
            .catalog-book__author-name {
                color: #276ce9;
            }
        }
        .catalog-book__img {
            width: 80px;
            height: 81px;
            display: inline-block;
            img {
                width: 44px;
                height: 69px;
                top: 5px;
            }
        }
    }

    &__author-books {
        margin-top: 23px;
        font-size: 0;
    }

    &__author-img {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        //width: 22%;
    }

    &__author-name {
        padding-left: 12px;
        display: inline-block;
        vertical-align: middle;
        width: 78%;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.73);
    }
}