.b-catalog {
    &__category {
        background-color: #f3f6f8;
        font-size: 0;
        position: relative;
        z-index: 2;
        ul {
            margin-bottom: 0;
        }
        li {
            display: inline-block;
            width: 20%;
            padding: 0 20px;
            vertical-align: top;
            text-align: center;
            position: relative;
            padding: 24px 0;
            &:hover {
                .static {
                    display: none;
                }
                .hover {
                    display: inline-block;
                }
                .b-catalog__category-item + .submenu-ul__block {
                    display: inline-block;
                    width: 278px;
                    top: 130px;
                    padding-top: 20px;
                    left: 0;
                    position: absolute;
                    z-index: 10;

                }
            }
            .submenu-ul__item {
                padding: 8px 28px 8px 36px;
                box-sizing: border-box;
            }
            .submenu-ul__link {
                font-size: 14px;
                line-height: 36px;
                padding: 0;
                &.active:before {
                    top: 11px;
                    left: -20px;
                }
            }
            &.active {
                border-bottom: solid 2px #3184ee;;
                .b-catalog__category-item .static {
                    display: none;
                }
                .b-catalog__category-item .hover {
                    display: inline-block;
                }
                .b-catalog__category-name {
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
    &__hide-filter {
        padding: 9px 18px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;
        svg {
            line-height: 22px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
        }
        &.active {
           display: inline-block;
        }

    }

    .book-info__properties-item:last-of-type .book-info__radio .radio-group label:nth-child(4) {
        margin-right: 10px;
    }
    &__filter {
        margin-top: 30px;
        position: relative;
        height: 40px;
        .book-info__properties-item {
            padding-left: 62px;
            &:first-of-type {
                padding-left: 0;
            }
        }
        &--add {
            margin-top: 50px;
        }


        .ui-widget.ui-widget-content {
            border: none;
            border-top: solid 1px rgba(0, 0, 0, 0.2);;
            border-radius: 0;
        }
        .ui-slider .ui-slider-handle {
            width: 16px;
            height: 16px;
            background-color: #3184ee;
            border-radius: 100%;
            border: none;
            top: -8px;
            cursor: pointer;
        }
    }
    &__filter-bl {
        display: inline-block;
        vertical-align: middle;
        bottom: 0;
        &--range {
            position: absolute;
            left: 50%;
            margin-left: -80px;
        }
        &--select {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__filter-price {
        display: none;
    }
    &__price-input {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: center;
        color: #000000;
        display: block;
        margin: 4px 0 10px 0;
        display: block;
        width: 100%;
    }
    &__filter-range {
        width: 80px;
        margin-left: 30px;
        &:first-of-type {
            margin-left: 0;
        }

    }
    &__label-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
    }
    &__show-filter {
        display: none;
        background-color: #ffffff;
        svg {
            line-height: 22px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 4px;
        }
        &.active {
            display: inline-block;
        }
    }

    &__category-item {
        display: inline-block;
        vertical-align: top;
        .hover {
            display: none;
        }

    }

    &__category-img {
        text-align: center;
        display: block;
        min-height: 63px;
        line-height: 63px;
        svg {
            vertical-align: middle;
        }
    }
    &__category-name {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        display: block;
        margin-top: 9px;
    }
    &__ctr-block {
        padding-top: 60px;
    }

    &__ctr-block-title {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 32px;
        font-stretch: condensed;
        line-height: 38px;
        color: #276ce9;
        text-align: center;
        &--black {
            color: #000000;
        }
    }

    &__ctr-block-content {
        margin-top: 48px;
        &--tile {
            margin-top: 0;
            .catalog-book__item {
                margin-top: 102px;
            }
            .catalog-book__name-book {
                min-height: 80px;
            }
        }
    }
    .slick-arrow {
        width: 40px;
        height: 40px;
        top: -30%;
        border-radius: 100%;
        background-color: #3184ee;
        &:hover {
            background-color: #296ec7;
            color: #ffffff;

        }
        &:active {
            background-color: #2462b2;
            color: #ffffff;
        }
        &:focus {
            background-color: #2462b2;
            color: #ffffff;
        }
    }

    .slick-list {
        padding-top: 40px;
    }

    .slick-next {
        right: 10px;
        &:after {
            position: absolute;
            content: "";
            right: 15px;
            top: 16px;
            display: inline-block;
            width: 10px;
            height: 10px;
            z-index: 10;
            transform: rotate(45deg);
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }
    }
    .slick-prev {
        left: -25px;
        &:after {
            position: absolute;
            content: "";
            right: 16px;
            top: 15px;
            display: inline-block;
            width: 10px;
            height: 10px;
            z-index: 10;
            transform: rotate(45deg);
            border-right: 2px solid #fff;
            border-top: 2px solid #fff;
        }
    }
    .jq-selectbox__select {
        border: none;
    }
    .jq-selectbox__trigger {
        display: inline-block;
        position: relative;
        content: "";
        width: 8px;
        height: 8px;
        top: -1px;
        padding: 0;
        margin-left: 8px;
        transform: rotate(45deg);
        border-bottom: 1px solid #3184ee;
        border-right: 1px solid #3184ee;
        z-index: 2;
        background: none;
    }
    .jq-selectbox__dropdown ul {
        overflow: hidden;
    }
    .jq-selectbox__dropdown {
        width: 205px !important;
        overflow: hidden;
    }
    .jq-selectbox__select-text {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
}

