.btn-book {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 24px;
  border-radius: 2px;
  z-index: 10;
  cursor: pointer;
  &--left {
    left: 24px;
    background: url("../images/content/eye-blue.svg") rgba(255, 255, 255, 0.89) center no-repeat;
  }
  &--right {
    right: 24px;
    background: url("../images/content/pencil-blue.svg") rgba(255, 255, 255, 0.89) center no-repeat;
  }
}
.contextmenu--hover {
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  display: none;
  width: auto;
  height: auto;
  padding: 8px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  top: 46px;
  left: -50px;
  z-index: 2;
  &:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: -30%;
    left: 48%;
    vertical-align: middle;
    border-bottom: 13px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}
.link-view {
  z-index: 11;
  &:hover {
    .contextmenu--hover {
      display: block;
    }
  }
}
.item-hover {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  left: 110%;
  top: -25px;
  padding: 12px 16px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  &:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    content: "▲";
    top: 63%;
    left: -6%;
    color: #fff;
    font-size: 25px;
    vertical-align: middle;
    transform: rotate(-90deg);
    text-shadow: 0 -8px 10px rgba(0, 0, 0, 0.12);
  }
}
.show-hover {
  position: relative;
  &:hover {
    .item-hover {
      display: block;
    }
  }

}
.content-contextmenu {
  position: absolute;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: 100%;
  left: -100%;
  display: none;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 34px;
  color: #000000;
  padding: 8px 0;
  text-align: left;
  ul {
    margin: 0;
  }
  li {
    &:first-child div {
      border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    }
    padding: 0 16px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
    &.delete div{
      border-top: solid 1px rgba(0, 0, 0, 0.12);
      color: #e52100;
    }
  }
}
.visible {
  display: block;
}

#approve {
  .content-contextmenu {
    li:first-child {
      color: #58a217;
    }
  }
}
#public-book {
  .content-contextmenu {
    top: 0;
    left: 100%;
  }
}