.b-cover-list {
  width: 259px;

  &__tags {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin-bottom: 6px;

    a {
      line-height: 14px;
      font-size: 14px;
      color: rgba(28, 40, 66, 0.4);
      margin-right: 15px;
      margin-bottom: 14px;

      &:hover {
        color: #2a81f1;
        text-decoration: underline;
      }
    }

    &-all {
      color: #1c2842 !important;
      border-bottom: 1px dotted #1c2842;

      &:hover {
        color: #1c2842 !important;
        text-decoration: none;
        border-color: transparent;
      }
    }
  }

  &__group {
    position: relative;
  }

  &__input {
    height: 32px;
    opacity: 0.2;
    border-radius: 2px;
    border: solid 1px #000000;
    width: 100%;
    padding-left: 11px;
    padding-right: 26px;
    font-size: 14px;
    opacity: 0.4;
    color: #000;
    box-shadow: none;
    text-overflow: ellipsis;
    -webkit-appearance: none;
  }

  &__label {
    position: absolute;
    right: 11px;
    top: 6px;
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    border-radius: 100%;

    &:after {
      content:"";
      display: block;
      width: 5px;
      height: 2px;
      background-color: #000;
      position: absolute;
      right: -4px;
      top: 11px;
      transform: rotate(45deg);
    }
  }

  &__text {
    display: none;
    position: absolute;
    width: 100%;
    padding: 0 12px 12px;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #fff;

    p {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  &__panel {
    margin-bottom: 24px;
  }

  &__item {
    margin-top: 24px;
    position: relative;
    min-height: 70px;

    &:before {
      content:"";
      display: none;
      position: absolute;
      right: -12px;
      top: -12px;
      width: 24px;
      height: 24px;
      background-color: #7ccb26;
      border-radius: 100%;
    }

    &:after {
      content:"";
      display: none;
      width: 10px;
      height: 5px;
      position: absolute;
      top: -3px;
      right: -5px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
    }

    &.active {
      &:after,
      &:before {
        display: block;
      }
    }

    &:hover {
      .b-cover-list__text {
        display: block;
      }
    }
  }
}