.b-cover-pagination {

  &__group {
    font-size: 0;
    text-align: center;
    margin-bottom: 25px;

    span,
    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 24px;
    }

    span {
      padding: 0 12px;
    }
  }

  &__input {
    box-shadow: none;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    width: 50px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    text-align: center;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    font-size: 14px;
  }

  &__button {
    font-size: 0;
    text-align: center;
  }

  &__next {
    width: 148px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 17px;
    padding: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;

    span {
      position: relative;
      padding-right: 22px;

      &:before {
        content:"→";
        position: absolute;
        right: 0;
        line-height: 0;
        top: 9px;
      }
    }
  }

  &__prev {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
    position: relative;

    &:after {
      content:"";
      position: absolute;
      top: 0;
      left: 2px;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 10px;
      height: 10px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }
}