.b-create-assistant {
    padding: 20px 21px 28px 40px;
    position: relative;
    border-radius: 3px;
    background-color: #f9f5e3;

    h3 {
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &:before {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 6px;
        height: 100%;
        background-color: #f1c40f;
        opacity: 0.4;
        border-radius: 3px 0 0 3px;
    }

    p {
        padding-left: 19px;
        position: relative;
        font-size: 14px;
        line-height: 26px;
        font-weight: normal;
        margin-bottom: 16px;

        &:before {
            content:"";
            position: absolute;
            display: block;
            width: 7px;
            height: 7px;
            background-color: #fa535e;
            border-radius: 100%;
            top: 9px;
            left: 0;
        }
    }

    &__link {
        font-size: 16px;
        line-height: 26px;
        color: #3184ee;
        border-bottom: 1px dashed #3184ee;
    }

    &__label {
       font-size: 12px;
       color: #7f7f7f;
       line-height: 12px;
       position: absolute;
       top: 8px;
       left: 11px; 
    }

    &__select {
        width: 240px;
        margin-bottom: 16px;
        background-color: #fff;
        position: relative;

        .select-custom {
            width: 100%;
            margin-top: 0;
        }

        .jq-selectbox__select {
            width: 100%;
            height: 50px;
        }

        .jq-selectbox__dropdown {
            width: 100% !important;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 20px;
        }

        .jq-selectbox__select-text {
            position: absolute;
            left: 11px;
            bottom: 7px;
            line-height: 14px;
        }
    }
}