.b-create-step {
    background-image: radial-gradient(circle at 52% 47%, #fbfbfb, #ebf2f2);

    .content {
        padding: 30px 60px 32px;
    }

    &__title {
        position: relative;

        h1 {
            text-align: left;
            font-size: 40px;
            line-height: 50px;
            font-family: 'Fira Sans Condensed', sans-serif;
            margin-bottom: 24px;
        }
    }

    &__navigation {
        position: absolute;
        top: 13px;
        right: 21px;

        a {
            position: relative;
            color: #3184ee;
            border-bottom: 1px dotted rgba(49, 132, 238, 0.5);
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            line-height: 26px;

            &:after {
                content:"";
                display: block;
                width: 7px;
                height: 7px;
                transform: rotate(45deg);
                position: absolute;
                top: 10px;
            }

            &:first-child {
                margin-right: 20px;

                &:after {
                    border-left: 2px solid #000;
                    border-bottom: 2px solid #000;
                    left: -13px;
                }
            }

            &:last-child {

                &:after {
                    border-right: 2px solid #000;
                    border-top: 2px solid #000;
                    right: -13px;
                    top: 11px;
                }
            }
        }
    }

    &__list {
        font-size: 0;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        padding-right: 16.6%;
        position: relative;

        &:after {
            content:"";
            position: absolute;
            left: 48px;
            top: 16px;
            height: 2px;
            width: calc(100% - 32px);
            background-color: #000;
            opacity: 0.1;
        }

        &:first-child {
            .b-create-step__text {
                left: 0;
                transform: translateX(0);
            }
        }

        &:last-child {
            padding-right: 0;

            .b-create-step__text {
                right: 0;
                left: auto;
                transform: translateX(0);
            }

            &:after {
                display: none;
            }
        }

        &.active {
            &:after {
                background-color: #3184ee;
                opacity: 1;
            }

            .b-create-step__number {
                background-color: #3184ee;
            }

            .b-create-step__text {
                color: #a4a7a8;
            }
        }

        &.complete {
            &:after {
                opacity: 1;
            }

            .b-create-step__number {
                background-color: transparent;
                border: 2px solid #7ccb26;
                font-size: 0;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    transform: rotate(-45deg);
                    background: transparent;
                    right: -3px;
                    top: 4px;
                    position: absolute;
                    z-index: 0;
                    background-image: radial-gradient(circle at 52% 47%, #fbfbfb, #ebf2f2);
                }

                &:after {
                    content:"";
                    display: block;
                    height: 12px;
                    width: 35px;
                    right: -12px;
                    top: -1px;
                    transform: rotate(-45deg);
                    border-left: 2px solid #000;
                    border-bottom: 2px solid #000;
                    position: absolute;
                    z-index: 1;
                }
            }

            .b-create-step__text {
                color: #3184ee;
                border-bottom: 1px dotted rgba(49, 132, 238, 0.5);
            }
        }
    }

    .b-create-step__link {
        font-size: 14px;
        line-height: 22px;
        display: block;
        padding-bottom: 32px;
        position: relative;
    }

    .b-create-step__number {
        display: block;
        width: 32px;
        height: 32px;
        background-color: #bcc4cb;
        border-radius: 100%;
        line-height: 32px;
        color: #fff;
        font-weight: 600;
        text-align: center;
    }

    .b-create-step__text {
        position: absolute;
        top: 42px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}