@width: 100%;

.b-create-cover {

    .content {
        padding: 25px 60px;
    }

    &__item {
        position: relative;
    }

    &__tooltip {
        background-color: #f39c12;
        padding: 16px 24px 17px;
        color: #fff;
        display: block;
        width: 550px;
        font-size: 14px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -64px;

        &:after {
            content:"";
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            display: block;
            margin: auto;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid #f39c12;
        }

        a {
            color: #fff;
            text-transform: uppercase;
            margin-left: 15px;

            &:first-child {
                margin-left: 24px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation {

        a {
            position: relative;
            color: #3184ee;
            border-bottom: 1px dotted rgba(49, 132, 238, 0.5);
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            line-height: 26px;
            margin-left: 13px;
            margin-right: 20px;

            &:after {
                content:"";
                display: block;
                width: 7px;
                height: 7px;
                transform: rotate(45deg);
                position: absolute;
                top: 10px;
                left: -13px;
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
            }
        }

        h2 {            
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            padding-right: 60px;
            margin-bottom: 0;
            letter-spacing: normal;
        }

    }

    &__menu {
        min-width: 620px;
        display: flex;
        justify-content: flex-start;
        padding: 17px 30px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);

        a {
            color: rgba(0, 0, 0, 0.4);;
            font-size: 12px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            text-transform: uppercase;
            margin-right: 24px;
        }

    }

    &__menu-btns {
        border-right: 2px solid rgba(0, 0, 0, 0.2);
    }

    &__menu-fav {
        position: relative;
        padding-left: 18px;

        svg {
            position: absolute;
            stroke: rgba(0, 0, 0, 0.2);
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__menu-tabs {
        padding-left: 24px;

        a {
            &.active {
                color: #3184ee;
                border-bottom: 1px solid #3184ee;
            }

            &.tip {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -8px;
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: #3184ee;
                    border-radius: 100%;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__cover {
        width: 861px;
        height: 588px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 30px;
    }

    &__cover-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px 43px;
    }

    &__cover-btns {
        width: 50%;
    }
    
    &__btn {
        margin-bottom: 28px;
    }

    &__btn-title {
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #3184ee;
        text-align: left;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {            
            color: #000000;
        }
    }

    &__btn-txt {
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        color: #1c2842;
        opacity: 0.4;
    }

    &__cover-controls {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: ~'calc(100% + 36px)';
        top: 50%;
        left: -18px;
        transform: translate(0, -50%);
    }

    &__control {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        border: none;
        background-color: #3184ee;

        &:after {
            content: '';
            position: absolute;
            top: 13px;
            right: 12px;
            display: inline-block;
            width: 10px;
            height: 10px;
            z-index: 10;
            transform: rotate(-135deg);
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }

        &--next {
            &:after {
                right: 15px;
                transform: rotate(45deg);
            }
        }
    }

    &__list-title {
        text-align: center;
        margin-bottom: 12px;
    }

    &__list-item {
        &--unic {
            padding: 8px 0 12px;
            margin-top: 11px;
            border-top: 2px solid rgba(0, 0, 0, 0.12);
            border-bottom: 2px solid rgba(0, 0, 0, 0.12);
        }
    }

    &__list-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-book {
        width: 104px;
        height: 147px;
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            position: relative;
            
            .b-create-cover__list-border {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: -9px;
                    width: 110%;
                    height: 102%;
                    border: solid 5px rgba(124, 203, 38, 0.9);
                    border-radius: 16px;
                }
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 14px;
                height: 7px;
                top: -5px;
                right: -6px;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(-45deg);
                z-index: 2;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 36px;
                height: 36px;
                top: -18px;
                right: -18px;
                background-color: #7ccb26;
                border-radius: 100%;
                z-index: 1;
            }
        }

        img {
            object-fit: contain;
        }
    }

    &__list-link {
        text-align: center;

        a {
            color: #3184ee;
        }
    }

    &__decoration {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__decoration-item {
        .custom-btn {
            width: 243px;
            border: none;
        }
    }

    &__decoration-row {        
        display: flex;
    }

    &__decoration-fav {
        display: inline-block;
        position: relative;
        width: 36px;
        height: 36px;
        border: solid 2px #d6e6fc;
        border-radius: 100%;

        svg {
            position: absolute;
            stroke: rgba(0, 0, 0, 0.2);
            left: 50%;
            top: 50%;            
            transform: translate(-50%, -50%);
            stroke: #3184ee;
        }
    }

    &__decoration-color {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-right: 8px;
        margin-bottom: 8px;

        &.active {
            border: 2px solid #ffffff;
        }

        &.red {
            background-color: #fa5a64;

            &.active {
                box-shadow: 0 0 0 2px #fa5a64;
            }
        }

        &.peach {
            background-color: #f78d82; 

            &.active {
                box-shadow: 0 0 0 2px #f78d82; 
            }           
        }

        &.lilac {
            background-color: #e1a7b4; 

            &.active {
                box-shadow: 0 0 0 2px #e1a7b4;
            }            
        }

        &.brown {
            background-color: #db6e44;

            &.active {
                box-shadow: 0 0 0 2px #db6e44; 
            }          
        }

        &.orange {
            background-color: #fa8618;

            &.active {
                box-shadow: 0 0 0 2px #fa8618;
            }           
        }

        &.light-brown {
            background-color: #dfb593;

            &.active {
                box-shadow: 0 0 0 2px #dfb593;
            } 
        }

        &.yellow {
            background-color: #ffe791;

            &.active {
                box-shadow: 0 0 0 2px #ffe791;
            }            
        }

        &.light-orange {
            background-color: #f7cc77;

            &.active {
                box-shadow: 0 0 0 2px #f7cc77;
            }           
        }

        &.aqua {
            background-color: #52b997;

            &.active {
                box-shadow: 0 0 0 2px #52b997;
            }            
        }

        &.green {
            background-color: #76c65e;

            &.active {
                box-shadow: 0 0 0 2px #76c65e;
            }             
        }

        &.aqua-green {
            background-color: #9ad7d1;

            &.active {
                box-shadow: 0 0 0 2px #9ad7d1;
            }            
        }

        &.purple {
            background-color: #b7b3d2;

            &.active {
                box-shadow: 0 0 0 2px #b7b3d2;
            }             
        }

        &.light-blue {
            background-color: #b3dcea;  

            &.active {
                box-shadow: 0 0 0 2px #b3dcea;
            }           
        }

        &.dark-blue {
            background-color: #8cbddd;   

            &.active {
                box-shadow: 0 0 0 2px #8cbddd;
            }          
        }

        &.blue {
            background-color: #75c6f2;   

            &.active {
                box-shadow: 0 0 0 2px #75c6f2; 
            }         
        }
    }

    &__decoration-font {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 100%;
        background-color: #332c2d;
        font-size: 16px;
        line-height: 23px;
        font-weight: bold;
        text-align: center;

        &.active {
            line-height: 19px;
            border: 2px solid #ffffff;
            box-shadow: 0 0 0 2px #000000; 
        }
        
        &.black {
            color: #ffffff;
        }

        &.yellow {
            color: #f6cb7d;
        }

        &.lilac {
            color: #b7b3d2;
        }

        &.aqua-green {
            color: #52b997;
        }

        &.green {
            color: #76c65e;
        }
    }
}