.b-create {
    font-size: 0;
    padding: 0 20px 0 60px;

    &__title {
        margin-bottom: 32px;

        h2 {
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            padding-right: 50px;
            margin-bottom: 0;
            letter-spacing: normal;
        }

        a {
            font-size: 16px;
            line-height: 26px;
            padding-left: 64px;
            display: inline-block;
            vertical-align: middle;
            width: 261px;
            position: relative;

            &:before,
            &:after {
                content:"";
                display:  block;
                position: absolute;
            }

            &:after {
                width: 48px;
                height: 48px;
                top: 1px;
                left: 0;
                background-color: #7ccb26;
                z-index: 1;
                border-radius: 100%;
            }

            &:before {
                z-index: 2;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-left: 17px solid #fff;
                border-bottom: 10px solid transparent;
                opacity: 0.9;
                top: 15px;
                left: 19px;
            }
        }
    }

    &__main,
    &__aside {
        display: inline-block;
        vertical-align: top;
    }

    &__main {
        width: calc(~"100% - 340px");
        padding-right: 40px;
        padding-top: 28px;
    }

    &__aside {
        width: 340px;
        padding-top: 40px;
    }

    &__list {
        margin: 0 -10px;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        width: calc(100% / 3);
        position: relative;
    }

    &__event {
        background-image: linear-gradient(2deg, #d971d0, #ff6b6b);
        width: 90px;
        height: 90px;
        border-radius: 100%;
        position: absolute;
        top: -11px;
        right: -1px;
        z-index: 1;
        color: #fff;
        font-size: 17px;
        line-height: 22px;
        text-align: center;

        span {
            transform: rotate(10deg);
            display: block;
            padding: 19px 13px 0 21px
        }
    }

    &__download {
        margin-bottom: 20px;
        padding: 30px 20px 50px 38px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        position: relative;

        &:before {
            content:"";
            width: 14px;
            height: 14px;
            position: absolute;
            left: -7px;
            top: 26px;
            transform: rotate(45deg);
            background-color: #fff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        }

        &:after {
            content:"";
            display: block;
            width: 14px;
            height: 35px;
            position: absolute;
            left: 0px;
            top: 14px;
            z-index: 2;
            background-color: #fff;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 30px;
        }

        h3 {
            font-size: 32px;
            line-height: 38px;
            font-family: 'Fira Sans Condensed', sans-serif;
            margin-bottom: 14px;
        }

        .custom-btn  {
            width: 260px;
            font-weight: 600;
            border: none;

            span {
                position: relative;
                padding-right: 22px;

                &:before {
                    content:"→";
                    position: absolute;
                    right: 0;
                    top: -1px;
                }
            }

            &.disabled {
                pointer-events: none;
                opacity: 0.12;
                background-color: #000000;
            }
        }
    }

    &__slider {
        margin-bottom: 18px;
    }

    &__link {
        text-align: center;

        a {
            color: #3184ee;
            border-bottom: 1px dotted rgba(49, 132, 238, 0.5);
            font-size: 16px;
            line-height: 26px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -29px;
                display: block;
                width: 24px;
                height: 24px;
                background: url("../images/content/pencil-blue.svg") center top no-repeat;
                -o-object-fit: contain;
                object-fit: contain;
            }
        }
    }
}