.b-create-style {
    position: absolute;
    right: 40px;
    bottom: 0;
    width: 300px;
    height: 804px;
    padding: 20px 30px;
    background-color: #f9fbfb;
    box-shadow: 14px 1px 25px 0 rgba(0, 0, 0, 0.1), 10px -8px 24px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px rgba(0, 0, 0, 0.08);

    &__close {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 16px;
        height: 16px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 7px;
            display: block;
            width: 15px;
            height: 2px;
            background-color: #bbbdbd;
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__title {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-align: left;
        color: #000000;
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        justify-content: flex-start;      
        margin-bottom: 20px;  

        .custom-btn {
            width: 210px;
            border-radius: 2px;
            border: none;
            margin: 0;
        }
    }

    &__input {
        width: 240px;
        height: 50px;
        padding: 8px 11px 10px; 
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #c5cacb;

        label {
            color: #c5cacb;
            font-size: 12px;
            line-height: 12px;
            font-weight: normal;
            margin-bottom: 2px;
        }

        input {            
            font-size: 14px;
        }
    }

    &__select {
        position: relative;
        width: 190px;
        height: 40px;
        padding: 3px 10px;
        margin-right: 10px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #c5cacb;

        &--size {
            width: 40px;
            height: 40px;
            margin-right: 0;
            padding-left: 5px;
            padding-right: 15px;

            input {
                text-align: center !important;
            }

            .b-create-style__select-control {
                right: 5px;
            }
        }

        &--space {
            width: 160px;
            height: 40px;

            .b-create-style__icon {
                left: 10px;
                transform: translate(0, -50%);
            }

            input {                
                text-align: right !important;
                padding-right: 20px;
            }
        }

        input {
            width: 100%;
            margin-top: -1px;
            font-size: 14px;
            line-height: 15px;
            font-weight: normal;
            width: 100%;
            height: 95%;
            background-color: white;
            text-align: left;
        }

        .dropdown-menu {
            margin-top: 0px;         
            border-radius: 0;
            right: -1px;

            &:after {
                display: none;
            }
        }
    }

    &__select-control {
        position: absolute;
        width: 10px;
        height: 40px;
        top: 0;
        right: 7px;
    }

    &__select-btn {
        position: absolute;
        bottom: 11px;
        width: 0;
        height: 0;
        border-right: 4px solid #000000;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        transform: rotate(-90deg);


        &--top {
            bottom: auto;
            top: 9px;
            transform: rotate(90deg);
        }
    }

    &__btn {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #c5cacb;
        margin-right: 10px;

        &--m0 {
            margin-right: 0px;
            margin-left: -1px;

            &:first-child {
                margin-left: 0;
            }
        }

        &.active {
            border: solid 2px #3184ee;
            z-index: 10;

            .b-create-style__icon {
                fill: #3184ee;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
    }

    &__img {
        width: 240px;
        height: 150px;
        border: solid 1px #c5cacb;
    }
}