.b-create-form {

    &__panel {
        margin: 0 -10px 30px;

        &--full-width {
            margin: 0 0 30px;
            .b-create-form__group {
                width: 100%;
                padding: 0;
            }
        }
    }

    &__group {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;

        .custom-btn {
            width: 142px;
            padding: 0;
            height: 40px;
            line-height: 40px;
            display: block;
            margin-top: 10px;
        }
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: solid 1px rgba(49, 132, 238, 0.3);
        border-radius: 16px;
        padding: 20px 30px 0;

        &--isbn {
            padding-right: 25px;
            padding-left: 25px;

            .b-crate-form__title {
                padding-left: 5px;
            }

            .b-create-form__input {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                padding: 0 5px;
                margin-bottom: 16px;
            }
        }

        &--phone {
            padding-top: 13px;

            .b-create-form__input {
                width: 260px;
            }
        }

        &:hover {
            background-color: #e9f5f9;
            border-color: #e9f5f9;
        }

        &.select {
            border: solid 5px rgba(124, 203, 38, 0.9);
            position: relative;

            &:after,
            &:before {
                content:"";
                display: block;
                position: absolute;
            }

            &:after {
                width: 36px;
                height: 36px;
                background-color: #7ccb26;
                top: -18px;
                right: -18px;
                border-radius: 100%;
                z-index: 1
            }

            &:before {
                width: 12px;
                height: 7px;
                transform: rotate(-45deg);
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                top: -3px;
                right: -6px;
                z-index: 2;
            }

            &:hover {
                background-color: transparent;
                border-color: rgba(124, 203, 38, 0.9);
            }
        }

        &.disabled {
            pointer-events: none;

            .custom-btn {
                background-color: #e0e0e0;
            }

            &:hover {
                background-color: transparent;
                border-color: rgba(49, 132, 238, 0.3);
            }
        } 
    }

    input[type="radio"] + &__label:hover {
       
    }

    &__input {
        position: relative;
        width: 110px;
        display: inline-block;
        vertical-align: top;

        label {
            top: 0;
            left: 0;
            font-size: 12px;
            line-height: 12px;
            color: rgba(0, 0, 0, 0.5);
            position: absolute;
            font-weight: normal;
            top: 8px;
            left: 11px;
        }

        input {
            height: 50px;
            border: 1px solid #c5cacb;
            font-size: 14px;
            width: 100%;
            padding: 24px 11px 7px 11px;
            border-radius: 0;
            box-shadow: none;
            text-overflow: ellipsis;
            -webkit-appearance: none;
        }

        span {
            position: absolute;
            bottom: 9px;
            right: 9px;
            font-size: 14px;
            line-height: 14px;
            font-weight: normal;
        }
    }

    h3 {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
        letter-spacing: normal;
        display: block;

        span {
            font-weight: bold;
        }
    }

    &__title {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 14px;
        font-weight: normal;
        text-align: center;

        &.left {
            text-align: left;
        }

        .b-create-form__reset {
            left: 23px;
            margin-top: 0;
            top: -4px;
        }
    }

    &__description {
        width: calc(~"100% - 110px");
        display: inline-block;
        vertical-align: top;
        padding-left: 16px;

        p {
            font-size: 12px;
            line-height: 20px;
            opacity: 0.5;
            margin-bottom: 0;
        }
    }

    &__link {
        display: inline-block;
        margin-left: 20px;
        margin-top: 11px;
        color: #3184ee;
        border-bottom: 1px dotted rgba(49, 132, 238, 0.5);
        font-size: 16px;
        line-height: 26px;
    }

    &__reset {
        margin-top: 8px;
        font-size: 12px;
        line-height: 12px;
        display: inline-block;
        position: relative;
        color: #fa535e;
        border-bottom: 1px dotted #fa535e;
        margin-left: 18px;

        &:after,
        &:before {
            content:"";
            position: absolute;
            top: 0;
            left: -18px;
            bottom: 0;
            display: block;
            margin: auto;
            width: 12px;
            height: 2px;
            background-color: #000;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }
    }

    &__text {
        font-size: 20px;
        line-height: 32px;
        display: inline-block;
        margin-right: 22px;
        color: #7ccb26;
        margin-left: 23px;
        margin-top: 7px;

    }
}