.b-create-preloader {
    padding-top: 132px;
    text-align: center;

    img {
        width: 32px;
        height: 32px;
        margin-bottom: 12px;
    }

    p {
        opacity: 0.4;
        font-size: 14px;
    }
}