.b-create-download {
    border-radius: 16px;
    border: solid 1px rgba(49, 132, 238, 0.3);
    height: 232px;

    &.disabled {
        pointer-events: none;

        .custom-btn {
            background-color: #e0e0e0;
        }
    }

    &--cover {
        height: 330px;
        position: relative;

        .b-create-download__label {
            padding-top: 50px;
        }

        .custom-btn {
            margin-top: 30px;
        }
    }

    &.complete {
        border: solid 5px rgba(124, 203, 38, 0.9);
        position: relative;

        &:after,
        &:before {
            content:"";
            display: block;
            position: absolute;
        }

        &:after {
            width: 36px;
            height: 36px;
            background-color: #7ccb26;
            top: -18px;
            right: -18px;
            border-radius: 100%;
            z-index: 1
        }

        &:before {
            width: 12px;
            height: 7px;
            transform: rotate(-45deg);
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            top: -3px;
            right: -6px;
            z-index: 2;
        }

        &:hover {
            background-color: transparent;
            border: solid 5px rgba(124, 203, 38, 0.9);
        }
    }

    &:hover {
        background-color: #e9f5f9;
        border-color: #e9f5f9;
    }

    &--cover-image {
        background-color: #f5f7f7;
        border: none;
    }

    &--cover-image:hover {
        background-color: #f5f7f7;
        border: none;
    }

    &__image-cover {
        height: 100%;
        opacity: 0.3;

        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 21px;
            bottom: 0;
            left: 35px;
            right: 0;
            display: block;
            margin: auto;
        }
    }

    &__caption {
        font-size: 20px;
        line-height: 30px;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 116px;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
        text-align: center;
    }

    &__input[type="file"] {
        display: none;
    }

    &__label {
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        display: block;
    }

    &__description {
        height: 118px;
        position: relative;
        display: block;

        

        &--grey {
            .b-create__download {
                opacity: 0.3;
            }
        }

        &--cover {
            height: 158px;

            .b-create-download__text {
                position: static;
                transform: translateY(0);
                margin-bottom: 8px;

                span {
                    line-height: 28px;
                }
            }
        }
    }

    &__text {
        font-size: 20px;
        line-height: 25px;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: normal;
        position: absolute;
        width: 207px;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        span {
            display: block;
            font-size: 14px;
            line-height: 22px;
            opacity: 0.5;
            margin-top: 8px;
        }
    }

    .custom-btn {
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
    }

    &__file {
        text-align: center;
        width: 173px;
        margin: 0 auto;
        display: block;

        &--cover {
            margin-top: 12px;
            .b-create-download__image,
            .b-create-download__panel {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 8px;
            }

            .b-create-download__image {
                width: 61px;
                padding-right: 24px;
            }

            .b-create-download__panel {
                width: calc(~"100% - 61px");
                &:before {
                    display: none;
                }

                span:first-child {
                    margin-bottom: 4px;
                }
            }

            .b-create-download__delete {
                top: 1px;
                right: -12px;
            }
        }
    }

    &__image,
    &__panel{
        display: inline-block;
        vertical-align: top;
    }

    &__image {
        width: 68px;
        padding-right: 16px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__panel {
        width: calc(~"100% - 68px");
        position: relative;
        text-align: left;

        &:before {
            content: "";
            position: absolute;
            top: 30px;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #5787ff;
        }

        span:first-child {
            margin-bottom: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            font-weight: normal;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 22px;
            display: block;
        }

        span:last-of-type {
            opacity: 0.5;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            display: block;
        }
    }

    &__delete {
        position: absolute;
        top: 22px;
        right: -30px;
        display: block;
        width: 20px;
        height: 20px;

        &:after,
        &:before {
            content:"";
            display: block;
            width: 13px;
            height: 2px;
            background-color: #000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            margin: auto;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }
    }

    &__group {
        display: block;
    }

    &__item {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
        display: block;
        font-weight: normal;

        span {
            display: inline;
            color: #f8505a;
            opacity: 1;
        }
    }

    &__edit {
        color: #3184ee;
        border-bottom: 1px dotted rgba(49, 132, 238, 0.5);
        font-size: 16px;
        line-height: 26px;
        position: relative;
        display: inline-block;
        margin-left: 28px;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 19px;
            height: 19px;
            background: url("../images/content/pencil-blue.svg") center top no-repeat;
            background-size: contain;
            left: -28px;
            top: 5px;
        }
    }
}