.custom-datapicker {
    width: 309px;
    border: none !important;
    padding: 0 !important;
    margin-top: 8px;
    background-color: #ffffff !important;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16) !important;
    
    .ui-datepicker-header {        
        background-color: #f3f6f8 !important;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none !important;
        padding: 13px 0 !important;
        color: @black;
    }
    .ui-datepicker-prev, 
    .ui-datepicker-next {
        top: 13px;
        font-size: 0;
        width: 30px;
        height: 30px;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 35%;
            left: 25%;
            width: 7px;
            height: 7px;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            transform: rotate(135deg);
        }
        
    }
    .ui-datepicker-next {
       right: 15px;
        &:before {
            right: 25%;
            left: auto;
            transform: rotate(-45deg);
        }
    }
    .ui-datepicker-prev {
        left: 15px;
    }
    .ui-state-hover {
        border: none;
        background: transparent;
    }
    
    th {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: @black;
    }
    td {        
        width: 39px;
        height: 26px;
        padding-right: 10px;
    }
    .ui-state-default {
        border: none;
        background: transparent;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        opacity: 0.5;
        color: @black;
        
        &.ui-state-hover {
            border-radius: 2px;
            background-color: #f3f6f8;
            opacity: 1;
            color: @black;
        }
        
    }  
    .ui-state-active {
        opacity: 1;
        border-radius: 2px;
        background-color: #3184ee;
        color: @white;
        
    }
}