.custom-popup {
    display: none;
    padding: 48px;
    
    &--avatar { 
        width: 560px;
    }

    &--confirm {
        width: 560px;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.32), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        border-radius: 3px;
        .custom-popup__title {
            text-align: left;
            color: #000000;
        }
        .custom-popup__text {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            margin-top: 16px;
        }
        .btn--cancel {
            float: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #3184ee;
            text-transform: uppercase;
            padding: 9px 0
        }
        .custom-btn {
            float: right;
            line-height: 22px;
            &--cancel {
                float: left;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: #3184ee;
                text-transform: uppercase;
                padding: 9px 0;
            }
        }
    }
    
    &--report {
        background: @white;
        max-height: 380px;
        .input-custom {
            background: transparent;
            
        }
        .block-input--inline,
        .label-custom {
            max-width: 203px;
            margin-right: 24px;
        }        
    }
    
    &--img {
        background: @white;
        width: 483px;
        
        .custom-popup__text {
            text-align: center;
        }  
        
        .custom-popup__btn {
            margin-top: 32px;
            margin-bottom: 0;            
        }
        
        .custom-popup__title {
            text-align: center;
        }
        
        .custom-btn {
            float: none;
        }
    }
    
    &--banks {
        width: 640px;
        height: 1097px !important;
        height: auto;
        background: @white;
        padding: 60px 92px;
        border-radius: 3px;
        .input-custom {
            background: transparent;
        }
        .label-custom {
            width: 100%;
        } 
        
    }
    
    &__img {
        margin-bottom: 16px !important;
        position: relative;
        width: 48px;
        height: 48px;
        margin: 0 auto;
        border: 2px solid  #7ccb26;
        border-radius: 50%;
        
        &--success {            
            &:before {
                background: url("../images/content/check-black.svg") center no-repeat;   
            }            
        }        
                
        &--error {  
            border-color: #f39c12;
            &:before {
                background: url("../images/content/cancelled-black.svg") center no-repeat;   
            }            
        }
            
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 16px; 
            top: 13px;
            left: 0;
            right: 0;
            margin: 0 auto; 
            box-sizing: content-box;             
        }
    }

    &--kraud {
        width: 736px;
    }
    
    &__btns {
        display: block;
        margin-top: 32px;
    }
    &__title {
	    font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 32px;
        font-stretch: condensed;
        line-height: 38px;
        text-align: center;
    }
    
    &__btn {   
        position: relative;     
        text-align: center;
        margin-top: 28px;
        margin-bottom: 23px;
        
        .custom-btn {
            min-width: 147px;
            min-height: 40px;
            padding: 9px 18px;
            font-weight: 400;
            
            .preloader {
                top: 9px;
            }
        }
    }
    
    &__txt {
        font-family: 'Open Sans', sans-serif;
        opacity: 0.5;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        
    }    
        
    .preload {
        font-size: 0;
    }
    
    .dz-preview {
        display: none;
    }

    &--success-kraud {
        width: 560px;
        height: 377px;
        box-sizing: border-box;
        padding: 64px 82px;
        text-align: center;
        .custom-popup__title {
            font-family: "PT Serif", serif;
            font-size: 30px;
            line-height: 44px;
            text-align: center;
            color: #000000;
        }
        .custom-popup__text {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #000000;
            margin-top: 16px;
            margin-bottom: 24px;
        }
        .custom-btn--green {
            padding: 9px 28px;
        }
    }
    &__bl-border {
        border-radius: 3px;
        background-color: #f4f3ee;
        padding: 24px;
        margin-top: 24px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: #000000;
        .block-form__total-old {
            font-size: 16px;
            line-height: 26px;
            top: 0;
            margin-left: 7px;
        }
        .block-form__total-old .rouble {
            font-size: 17px;
            line-height: 26px;
            top: 1px;
        }
        .block-form__total-old:after {
            top: 13px;
            left: -5px;
            width: 49px;
        }
    }
    &__fields {
        display: block;
        margin: 23px 0 40px 0;
        font-size: 0;
        .block-input {
            margin-top: 0px;
            display: inline-block;
            width: 48%;

        }
        .input-custom {
            width: 221px;
            background: transparent;
        }
        .label-custom {
            width: 221px;


        }
    }
    &__success {
        display: none;
        text-align: center;
        .custom-popup__title {
            text-align: center;
        }
        .custom-popup__btns {
            text-align: center;
        }
        .custom-btn {
            float: none;
        }
    }
}

.fancybox-height__inn {
    min-height: 1097px !important;
    overflow: hidden !important;
}

.fancybox-height__passport {
    min-height: 1197px !important;
    background: @white;
}