.design-block {
  padding: 68px 60px 0;
  text-align: center;
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-stretch: condensed;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 32px;

    &--pay {
      font-size: 40px;
      padding-bottom: 0;
      line-height: 50px;
      text-align: center;
    }
  }
  &__for-btn {
    text-align: center;
    padding-top: 60px;
  }

  .block-book__state {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    color: #000000;
  }
  &--result {
    padding: 60px 30px;
    font-size: 0;
    .block-book__block {
      width: 50%;
      display: inline-block;
      padding: 0 25px;
      box-sizing: border-box;
    }
    .block-book__icon {
      border-radius: 0;
      width: 100%;
      height: auto;
    }
  }
  &--skills {
    border-radius: 16px;
    background-color: #f3f6f8;
    font-size: 0;
    padding: 30px 0;
    max-width: 1160px;
    margin: 0 auto;
    .block-book__block {
      margin-top: 0;
      width: 25%;
      display: inline-block;
    }
    .block-book__icon {
      border-radius: 0;
      width: auto;
      height: 140px;
      min-height: 140px;
      line-height: 140px;
      img {
        height: 100%;
      }
      &--number {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 100px;
        font-stretch: condensed;
        text-align: center;
        color: #000000;
        line-height: 140px;
      }
      &--color {
        text-align: center;
        line-height: 140px;
        display: inline-block;
        .img-color {
          width: 98px;
          height: 98px;
          vertical-align: middle;
          display: inline-block;
          border-radius: 100%;
          background-image: linear-gradient(135deg, #ff00ff, #834dff);
        }

      }
    }
    .block-book__text {
      margin-top: 17px;
    }
  }
  &--variant {
    padding: 60px 0 0 0;
    font-size: 0;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__part {
      width: 33.33%;
      max-width: 360px;
      &--item-two {
        width: 66.66%;
        max-width: 760px;
      }
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    .block-book__block {
      margin-top: 0;
      width: 360px;
      max-width: 360px;
      height: auto;
      min-height: 389px;
      border-radius: 16px;
      background-color: #f3f6f8;
      padding: 32px;
      &--beige {
        background-color: #f4f3ee;
      }
    }
    .block-book__text {
      margin-top: 16px;
    }
    .block-book__icon {
      border-radius: 0;
      width: auto;
      height: 205px;

      img {
        height: 100%;
      }
    }
  }
}

.tab-design {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 0 52px;
  position: relative;
  pointer-events: none;
  &:last-child:after {
     display: none;
  }
  .tab-number {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #bcc4cb;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 32px;
    display: inline-block;

  }
  &.active {
    pointer-events: auto;
    .tab-number {
      background-color: #141414;
    }
  }

  &.visited {
    .tab-number {
      background-color: #bcc4cb;
    }
    .tab-text {
      color: #3184ee;
    }
  }
  &:not(:last-of-type):after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 0;
    width: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    top: 16px;
    right: -24px;
    vertical-align: top;
  }
  &:hover {
    .tab-number {
      background-color: #141414;
    }
  }
  .tab-text {
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    display: inline-block;
    padding-left: 16px;
  }
}
.design-tab {

  &__content {
    border-radius: 16px;
    background-color: #f3f6f8;
    width: 1224px;
    min-width: 1224px;
    max-width: 1224px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 42px;
  }
  &__item {
    display: none;
    padding: 32px;
    font-size: 0;
    position: relative;

    &--padding {
      //padding: 0px 80px;
    }
    &--harding-book {
      padding: 60px 32px;
      .design-tab__wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
    &.active {
      display: block;

    }
    .fallback {
      width: 100%;
      border: none;
      height: auto;
      padding: 0;
      &__steps {
        display: none;
        border: 1px dashed rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        max-height: 122px;
        line-height: 122px;
        &.active {
          display: inline-block;
        }
      }
      .info {
        border: 1px dashed rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        max-height: 122px;
        line-height: 122px;

        button, .custom-btn--green {
          display: inline-block;
          margin: 0 auto;
          width: auto;
          text-align: center;
          cursor: pointer;
          border-radius: 2px;
          background-color: #7ccb26;
          padding: 9px 18px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            background-color: #6fb622;
            color: #ffffff;
          }
          &:active {
            background-color: #63a31e;
            color: #ffffff;
          }
          &:focus {
            background-color: #63a31e;
            color: #ffffff;
          }
        }

      }
      &__btn {
        display: inline-block;
        line-height: 40px;

      }
      &__text {
        display: inline-block;
        margin-left: 32px;
      }
      .text {
        vertical-align: top;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        border-top: none;
        color: #000000;
        display: inline-block;
        width: 30%;
        &--with-svg {
          width: 40%;
        }
        .number {
          display: inline-block;
          font-family: 'Fira Sans Condensed', sans-serif;
          font-size: 48px;
          font-weight: 500;
          font-stretch: condensed;
          line-height: 46px;
          text-align: center;
          color: #000000;
          vertical-align: top;
        }
        .name {
          display: inline-block;
          vertical-align: top;
          padding-left: 22px;
          text-align: left;
        }

      }
      &__text-block {
        padding-top: 37px;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        font-size: 0;
      }
    }
   .dz-preview.dz-file-preview .dz-image:after {
      display: none;
    }
    .dz-preview.dz-file-preview .dz-image {
      background: url(../images/content/doc.png) no-repeat;
      margin-bottom: 0;
    }
    .dz-preview {
      border: 1px dashed rgba(0, 0, 0, 0.24);
      border-radius: 2px;
      max-height: 122px;
      line-height: 122px;
      .dz-image {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
      .dz-filename {
        opacity: 1;
        display: inline-block;
      }
      .dz-details {
        margin-left: 18px;
        display: inline-block;
        vertical-align: middle;
        span {
          line-height: 48px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          text-align: center;
          color: #000000;
        }
      }
    }
    .custom-btn--green {
      display: inline-block;
      margin: 0 auto;
      width: auto;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      background-color: #7ccb26;
      padding: 9px 18px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      border: 0;
      &:hover {
        background-color: #6fb622;
        color: #ffffff;
      }
      &:active {
        background-color: #63a31e;
        color: #ffffff;
      }
      &:focus {
        background-color: #63a31e;
        color: #ffffff;
      }
    }
    .preloader {
      width: 100%;
      height: 122px;
      line-height: 122px;
      top: 32px;
      img {
        height: 32px;
        width: 32px;
      }
    }
    .options {
      display: block;
      text-align: center;
      font-size: 14px;
    }
    .item {
      display: inline-block;
      vertical-align: top;
      padding: 0 19px;
    }
    .append-form {
      display: inline-block;
      margin-left: 18px;
      .change-dropzone {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #3184ee;
        margin-right: 36px;
        border-bottom: dotted 1px rgba(49, 132, 238, 0.5);
        &:hover {
          border-bottom: dotted 1px rgba(49, 132, 238, 1);
        }
      }
    }
    .color-choose {
      margin: 0;
    }

    .quantity {
      position: relative;
      pointer-events: none;
      opacity: 0.5;
      &.not-disabled {
        pointer-events: auto;
        opacity: 1;
      }

    }

    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number]
    {
      -moz-appearance: textfield;
      background: transparent;
    }

    .quantity input {
      width: 140px;
      height: 40px;
      line-height: 1.65;
      float: left;
      display: block;
      padding: 0;
      margin: 0;
      text-align: center;
      padding-left: 50px;
      padding-right: 50px;
      border: 1px solid #CCCCCC;
    }

    .quantity input:focus {
      outline: 0;
    }

    .quantity-nav {
      position: relative;
      height: 40px;
    }

    .quantity-button {
      position: relative;
      cursor: pointer;
      border-left: 1px solid #CCCCCC;
      width: 20px;
      line-height: 40px;
      text-align: center;
      color: #333;
      font-size: 13px;
      font-family: "Trebuchet MS", Helvetica, sans-serif !important;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .quantity-button.quantity-up {
      position: absolute;
      height: 100%;
      top: 0;
      left: 40px;
      border-right: 1px solid #CCCCCC;
      width: 40px;

    }

    .quantity-button.quantity-down {
      position: absolute;
      top: 0;
      right: -40px;
      height: 100%;
      width: 40px;
    }
  }
  &__control-btn {
    margin-top: 34px;
    .next-tab {
      display: inline-block;
    }
    .prev-tab {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #3184ee;
      margin-right: 36px;
    }
    .message {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;
      color: #000000;
      display: inline-block;
    }
  }
  .price {
    margin: 0;
    .color-choose input:checked + label:last-of-type {
      border: 1px solid;
    }

  }
  &__list {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 492px;
    ul {
      list-style: disc outside;
      list-style-image: none;
      position: relative;
      .main-screen--design__tip {
        background-color: #bcc4cb;
        position: absolute;
        margin-left: 5px;
        z-index: 1;
        top: 11px;
        &:hover main-screen--design__padding {
            display: block;
          }
      }
      li {
        position: relative;
        &:before {
          display: inline-block;
          content: "";
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: #000;
          z-index: 1;
          left: 13px;
          top: 25px;
        }
      }
    }
  }
  &__list-content {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 553px;
  }
  &__form {
    font-size: 0;
    display: block;
    .custom-btn {
      padding: 13px 24px;
      font-size: 16px;
      font-weight: 600;
    }

    .block-input {
      display: inline-block;
      max-width: 270px;
      width: 270px;
      margin-right: 31px;
      input {
        width: 100%;
        background-color: transparent;
    }
      .label-custom {
        width: 270px;
        text-align: left;
      }
  }
}


}
.tab-block-hard {
  display: none;
  &.active {
    display: block;
  }
}
.tab-hard {
  display: block;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 20px;
  font-stretch: condensed;
  line-height: 30px;
  color: #276cea;
  text-align: left;
  text-decoration: underline dotted rgba(49, 132, 238, 0.5) !important;
  padding: 13px 13px 13px 30px;
  margin-bottom: 12px;
  position: relative;

  &:hover {
    color: #276cea;
    border-radius: 2px;
    background-color: rgba(49, 132, 238, 0.08);
  }
  &.active {
    display: block;
    padding: 13px 13px 13px 30px;
    border-radius: 2px;
    background-color: rgb(212, 227, 246);
    text-decoration: none !important;
    color: #000;
    position: relative;
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 43%;
      width: 12px;
      height: 12px;
      right: -6px;
      background-color: rgb(212, 227, 246);
      transform: rotate(45deg);
      z-index: 0;
    }
  }

  &.disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
  }
}