.content--design-cover {
  .b-block--white .block-book__block {
    vertical-align: top;
  }
  .editing-callback {
    background-color: #fff;
    padding-bottom: 83px;
    .custom-btn--blue-text {
      padding: 9px 18px;
      font-size: 14px;
    }
    .input-custom {
      color: #000;
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }
    input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 1);
    }
    input::-moz-placeholder {
      color: rgba(0, 0, 0, 1);
    }
    input:-moz-placeholder {
      color: rgba(0, 0, 0, 1);
    }
    input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 1);
    }

    .editing-callback__text {
      color: #000;
      font-size: 16px;
      font-style: italic;

    }

  }
  .editing-callback--success__text {
    color: #000;
  }
  .editing-callback--success__img {
    line-height: 45px;
    &:after {
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
    }
  }
}
.cover-services {
  width: 1224px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #f3f6f8;
  padding: 60px;
  font-size: 0;
  text-align: center;
  &__block {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 32px;
    padding: 0 43px;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 16px;
    position: relative;
  }
  &__price {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    color: #000000;
    margin-top: 8px;
    .old-price {
      display: inline-block;
      vertical-align: top;
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      line-height: 34px;
      color: rgba(0, 0, 0, 0.5);
      position: relative;
      margin-left: 18px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 19px;
        left: 0;
        width: 70px;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
        transform: rotate(-25deg);
      }

    }
    span.rouble {
      display: inline-block;
      margin-left: 5px;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-stretch: condensed;
    }
  }
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }
}
.cover-steps {
  padding: 70px 60px;
  margin-top: 70px;
  font-size: 0;
  &__block {
    width: 25%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0 16px;
    position: relative;
    &--write-task {
      background-color: #7ccb26;
      padding: 39px 32px;
      max-width: 260px;
      margin-right: 30px;
    }
  }
  &__title-block {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    text-align: center;
    color: #ffffff;
  }
  &__img {
    min-height: 205px;
    line-height: 205px;
    img {
      line-height: 205px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__btn {
    margin-top: 24px;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 16px;
  }
  &__decor-arrow {
    position: absolute;
    display: inline-block;
    width: 295px;
    top: -25%;
    height: 55px;
    background: url(../images/content/arrow-top.jpg) no-repeat;
    &--bottom {
      top: 110%;
      left: 51%;
      background: url(../images/content/arrow-bottom.jpg) no-repeat;

    }
  }

}