.editing-block {
  padding: 68px 60px 0;
  text-align: center;
  &#form {
    border-radius: 16px;
    background-color: #f4f3ee;
    padding: 68px 0px 0;
    overflow: hidden;
    max-width: 1160px;
    margin: 0 auto;

  }

  &--blue {
    border-radius: 16px;
    background: url(../images/content/editing-gray-bg.png) #f3f6f8 center center no-repeat;
    background-size: cover;
    padding: 80px 100px;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 70px;
  }

  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-stretch: condensed;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 32px;

    &--pay {
      font-size: 40px;
      padding-bottom: 0;
      line-height: 50px;
      text-align: center;
    }
  }
  &__for-btn {
    text-align: center;
    padding-top: 48px;
  }

  &__sub-title {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 22px;
    line-height: 26px;
    vertical-align: top;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: -5px;
      width: 66px;
      height: 1px;
      background: #7ccb26;
      transform: rotate(-28deg);
    }

  }

  &__img {
    height: 226px;
    line-height: 226px;
    img {
      display: inline;
      vertical-align: middle;
      line-height: normal;
    }
  }

  &__txt {
    line-height: 36px;

    &--pay {
      margin-bottom: 6px;
    }

    a {
      color: #276cea;
      text-decoration: dotted;

      &:hover {
        color: @black;
      }
    }

    .custom-btn {
      color: @white;
      &:hover {
        color: @white;
      }
    }

  }

  &__links {
    a {
      color: #3184ee;
      margin-right: 16px;
      line-height: 36px;

      &.cancel {
        color: #fa535e;
      }
      &:hover {
        color: @black;
      }
    }
  }

  &__btn {
    &--pay {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }

  &__block-count {
    display: flex;
    justify-content: space-between;
  }

  &__item-count {
    display: none;
    vertical-align: top;
    width: 360px;
    height: 340px;
    text-align: center;
    margin-top: 24px;

    .fallback {
      width: 100%;
      height: 284px;

      .info {
        height: 110px;

        button {
          background-color: #7ccb26;
        }
      }
      .text p {
        font-size: 14px;
      }
    }

    &.active {
      display: inline-block;
    }

  }

  &__block-number {
    padding: 0 164px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

  }

  &__arc {
    width: 331px;
    height: 17px;
    background: url(../images/content/arc.svg) center top no-repeat;
  }

  &__number {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #bcc4cb;
    border-radius: 50%;
    vertical-align: middle;
    color: @white;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;

    &.active {
      background-color: #141414;
    }
  }

  &__btn-order {
    margin-top: 32px;
  }

  &__tip {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;

    &:hover .proofread-block__padding {
      display: block;
    }
  }

  &__padding {
    display: none;
    position: absolute;
    top: -10px;
    left: 15px;
    padding-left: 25px;

  }

  &__hover {
    padding: 12px 16px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;

    &:before {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      content: "";
      top: 13px;
      left: 17px;
      background-color: #ffffff;
      transform: rotate(-45deg);
      box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
    }
  }

  .b-block--white {
    padding-top: 0;
    padding-bottom: 0px;

    .block-book__icon {
      background-color: transparent;
      border-radius: 0;
      width: auto;
      height: 205px;
      display: inline-block;
      line-height: 205px;
      img {
        vertical-align: middle;
        display: inline-block;
        line-height: 205px;
      }
    }

    .block-book__wrapper {
      padding: 0;
    }
    .block-book__block {
      margin-bottom: 0;
      vertical-align: bottom;
    }
    &:after {
      display: none;
    }

  }
  .block-book__text {
    color: rgba(0, 0, 0, 0.5);
  }
  &--reasons {
    padding: 60px 68px;
    .b-block--white {
      .block-book__icon {
        height: auto;
        line-height: 0;
      }
      .block-book__text {
        color: rgba(0, 0, 0, 0.5);
      }
    }

  }
}
.editing-tab {
  .proofread-tab__title {
    margin-right: 23px;
  }
}
.editing-tab__item {
  display: none;
  &--padding {
    padding: 0px 80px;
  }
  &.active {
    display: block;

  }
}
.tab-download {
  color: #276cea;
  border-bottom: 1px dotted #276cea;
  &:hover {
    color: #000;
    border-bottom: 1px dotted #000;
  }
  &.active {
    border-radius: 2px;
    background-color: rgba(28, 40, 66, 0.08);
    padding: 0 5px;
    color: #000;
    border-bottom: none;
  }
}
.editing-callback {
  text-align: left;
  background-color: #3184ee;
  padding: 36px 125px 59px 148px;
  &--success,
  &--error {
    display: none;
    text-align: center;
    &__img {
      width: 48px;
      height: 48px;
      border: solid 2px #7ccb26;
      border-radius: 100%;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      line-height: 44px;
      &:after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 12px;
        transform: rotate(45deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;


      }

    }
    &__text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
    &__link {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
      &:hover {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
      &:active {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
      &:focus {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
    }
  }
  &__text {
    display: inline-block;
    font-family: "PT Serif", sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    text-align: right;
    color: #ffffff;
    margin-right: 36px;
  }
  .block-input {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
  }
  .input-custom {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    width: 173px;
    padding: 0 0 13px 0;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    margin-right: 36px;
    &:focus {
      color: rgba(255, 255, 255, 1);
    }
  }
  input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.8);}
  input::-moz-placeholder {color: rgba(255, 255, 255, 0.8);}
  input:-moz-placeholder {color: rgba(255, 255, 255, 0.8);}
  input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }
  label.error {
    width: 100%;
    left: 0;
    top: 100%;
  }

}
.editing-why {

  &__block {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    vertical-align: top;
  }

  &__block-wrapper {
    //padding: 10px 0 32px 0;
    margin: 0 auto;
    vertical-align: top;

  }

  &__img {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 16px;
    border-radius: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #7ccb26;
  }

  &__txt {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    text-align: center;
    color: #000000;
  }

  .next-img-1 {
    width: 251px;
  }

  .next-img-2 {
    width: 197px;
  }

  .next-img-3 {
    width: 223px;
  }
}

.proofread-blog {
  &__item {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 36px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__img {
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 315px;
      object-fit: cover;
    }
  }

  &__txt {
    font-size: 20px;
    text-align: left;
  }
}

.dropzone-steps-upload {
  border: none;
  padding: 0;

  .text {
    display: none;
  }

  .dz-preview.dz-file-preview .dz-image {
    background: url(../images/content/uploaded-book.png) no-repeat;
    margin-bottom: 22px;
  }

  .dz-preview {
    height: 205px;
    overflow: inherit;
  }

  .dz-preview .dz-image {
    position: relative;
    width: 156px;
    height: 205px;

    &:after {
      content: '';
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      width: 48px;
      height: 32px;
      border-bottom: 2px solid #222222;
      border-left: 2px solid #222222;
      transform: rotate(-45deg);
    }
  }

  .dz-preview .dz-filename {
    font-size: 16px;
    color: @black;
    opacity: 1;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}