.b-editor {
    height: 845px;
    position: relative;

    &__main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
        padding-bottom: 80px;
        overflow: hidden;
    }

    &__menu {
        position: relative;
        width: 270px;
        height: 100%;
        background: url(../images/content/editor-menu.png) center top no-repeat;
        background-size: contain;
        color: #ffffff;
    }

    &__menu-shadow {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        background: rgba(35, 40, 71, 0.9);
    }

    &__menu-title {
        position: relative;
        padding: 20px 26px 30px 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;

        h2 {
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 16px;
        }
    }

    &__menu-search {
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 10px;
            top: 50%;
            background-image: url('../images/content/search-icon.png');
            background-repeat: no-repeat;
            background-size: contain;
            opacity: .5;
            transform: translate(0, -50%);
        }

        input {
            width: 100%;
            padding: 10px 70px 10px 38px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 2px;
            font-size: 14px;
        }
        
    }

    &__menu-arrows {
        display: flex;
        justify-content: space-between;
        width: 42;
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translate(0, -50%);
    }

    &__menu-arrow {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;

        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            top: 0;
            left: 50%;
            border-right: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            transform: translate(-50%, 0) rotate(45deg);
        }

        &--top {
            &:after {
                top: auto;
                bottom: -4px;
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }
    }

    &__menu-list {
        position: relative;
        padding: 10px 0 20px;
        max-height: 645px;
        overflow-y: scroll;
        z-index: 1;
    }

    &__menu-item {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 30px;
        font-size: 14px;
        font-weight: 300;
        line-height: 38px;

        &.is-active {
            background-color: #eef4f447;
        }
    }

    &__page {
        width: 740px;
        height: 100%;
        padding: 28px 30px 0;
    }

    &__page-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    &__page-btn {
        position: relative;
        margin-right: 10px;

        &:hover {
            .b-editor__tooltip {
                display: block;
            }
        }

        &.is-active {
            .b-editor__page-icon {
                fill: #3184ee;
            }
        }
    }

    &__page-icon {
        width: 30px;
        height: 30px;
        fill: #000000;
    }

    &__page-main {
        position: relative;
        width: 680px;
        height: 756px;
        padding: 40px 50px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);

        h2 {
            font-family: 'Open Sans';
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            letter-spacing: 0;
            font-weight: 800;
        }

        p {
            font-size: 16px;
            line-height: 32px;
        }
    }

    &__page-hint {
        padding: 0 5px;
        background-color: #e5fec4;
    }
    
    &__template {
        width: 270px;
        height: 100%;
        background-color: #f9fbfb;
        border: solid 1px rgba(0, 0, 0, 0.08);
    }

    &__template-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 30px;
        border-bottom: 1px solid #e5e7e7;
    }

    &__template-tab {
        position: relative;
        display: block;
        width: 105px;
        height: 40px;
        padding: 9px 12px 9px 40px;
        border-radius: 2px;
        background-color: #ffffff;
        border: 1px solid #c4caca;
        font-size: 14px;

        &:last-child {
            margin-left: -1px;
        }

        &.active {
            color: #ffffff;
            border-color: #3184ee;
            background-color: #3184ee;

            .b-editor__tab-icon {
                fill: #ffffff;
            }
        }
    }

    &__tab-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        fill: #3184ee;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
    }

    &__template-list {
        padding: 20px 30px;
        height: 100%;
        max-height: 700px;
        overflow-y: scroll;
    }

    &__template-item {
        width: 210px;
        height: 100px;
        background-color: #ffffff;
        border: solid 1px #979797;
        margin-bottom: 20px;
    }

    &__template-style {
        position: relative;
        display: block;
        padding-left: 28px;
        font-size: 14px;
        margin-bottom: 20px;

        span {
            color: #3184ee;
            padding-bottom: 3px;
            border-bottom: 1px dashed #3184ee;
        }

        .b-editor__page-icon {
            position: absolute;
            left: 0;
            top: 50%;
            width: 18px;
            height: 18px;
            transform: translate(0, -50%);
        }
    }

    &__template-btn {
        margin: 30px 0;
        
        .custom-btn {
            width: 210px;
        }
    }

    &__tooltip {
        display: none;
        position: absolute;
        bottom: -55px;
        left: -63px;
        width: 150px;
        padding: 10px 15px;
        border-radius: 2px;
        background-color: #1c2842;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        z-index: 10;

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-right: 13px solid #1c2842;
            border-top: 13px solid transparent;
            border-bottom: 13px solid transparent;
            border-left: 13px solid transparent;
            border-radius: 2px;
            position: absolute;
            top: -12px;
            left: 44%;
            transform: rotate(90deg) translate(-50% , 0);
        }

        &--menu {
            display: block;
            width: 290px;
            top: 20px;
            right: 10;
            left: auto;
            bottom: auto;
            background-color: rgba(29, 40, 62, 0.9);

            .b-editor__page-icon {
                fill: #ffffff;
            }

            &:before {
                top: -13px;
                border-right: 13px solid rgba(29, 40, 62, 0.9);
            }
        }

        &.top {
            &:before {
                top: auto;
                bottom: -13px;
                transform: rotate(-90deg) translate(-50%, 0);
            }
        }
    }

    &__tooltip-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        padding: 16px 30px;
        background-color: #ffffff;
        text-align: right;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        z-index: 10;

        .btn-border {
            width: 220px;
            height: 48px;
            background-color: #ffffff;
            vertical-align: top;
            margin-right: 30px;
        }

        .custom-btn {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            width: 220px;
            height: 48px;
            border: none;
        }

    }

    &__controls-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: 96px;
        height: 100%;
    }

    &__controls-prev,
    &__controls-next {
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        background-image: url('../images/content/back.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    &__controls-prev {
        margin-right: 44px;
        background-image: url('../images/content/back1.svg');
    }
}