.fee-common {
    background-color: #f3f6f8;
    font-size: 0;
    padding: 34px 44px;
    
    &__item {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        
        &--border {
            border-right: 2px solid rgba(0, 0, 0, 0.12);
        }
        
        &--form {
            padding-right: 5%;
        }
    }
    
    &__title {
	    font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 40px;
        font-stretch: condensed;
        line-height: 50px;
        text-align: center;
        
    }
    
    &__sub-title {
        font-family: 'Open Sans', sans-serif;
        color: #969899;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        position: relative;
    }
    
    &__input {  
        min-width: 247px;  
        position: relative;
        .error {
            border-color: #fa535e;
            border-bottom: none;
        }   
        
        &:after {
            content: '₽';
            display: block;
            position: absolute;
            width: 14px;
            height: 26px;
            top: 9px;
            right: 10px;
            font-size: 16px;
            opacity: .3;
        }
    }
    
    &__btn {
        min-width: 247px;
        .custom-btn {
            width: 100%;
            max-height: 40px;
            padding: 9px 18px;
        }
        .custom-btn:focus {
            color: @white;
        }
    }
    
    &__tip {
        z-index: 10;
        position: absolute;
        top: 4px;
        right: 13%;
        width: 18px;
        
        &:before {
            content: '?';
            display: block;
            width: 18px;
            height: 18px;
            background-color: #c2c4c6;
            border-radius: 50%;
            color: white;
            text-align: center;
            line-height: 1.4;
            font-size: 13px;
            font-weight: 600;
            cursor: pointer;            
        }
        
        &--banks {
            top: auto;
            bottom: 8px;
            right: 0;
        }
                
            
        &--waiting {
            min-width: 310px !important;
            left: -248px !important;
            
            .fee-common__tip--hover:before {               
                left: auto !important;
                right: 45px; 
            }
            
            a {                
                display: block;
                color: #276cea;
                
                &:hover {
                    color: inherit;
                }
            }
        } 
        
        &--padding {
            padding: 20px;
            position: absolute;
            left: -116px;
            top: 15px;
            
        }
        
        &--padding-popup {
            top: 10px;
            right: -75px;
            left: auto;
            padding-top: 25px;
                
            .fee-common__tip--hover:before {
                right: 75px;
                left: auto;
                top: 20px;
            }
            
        }
        
        &--hover {
            display: none; 
            min-width: 232px;
            padding: 12px 16px;
            border-radius: 2px;
            background-color: @white;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
            font-size: 14px;
            color: @black;
            text-align: left;
            font-weight: 400;
            line-height: 1.4;
            
            &:before {
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                content: "";
                top: 13px;
                left: 116px;
                background-color: #ffffff;
                transform: rotate(-45deg);
                box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
            }
        }        
        
        &:hover  &--hover{
            display: block; 

        }
        
    }
    
    &__error {
        font-size: 14px;
        line-height: 26px;
        color: #e52100;   
        position: absolute;     
        
        &--link {
            display: none;
            a {
                color: #276cea;
            }
            &.active {
                display: block;
            }
        }
    }
}

.fee-info {
    
    .content {
        z-index: inherit;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
        padding: 42px 10px 70px 20px;
        font-size: 0;
        
        &--table {    
            width: 69%;
            
        }
        
        &--banks {
            width: 30%;
            
        }
    }
    
    &__title {
	    font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 32px;
        font-stretch: condensed;
        line-height: 38px;
    }
    
    &__txt {
        margin-top: 16px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
    }
    
    &__link {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #3184ee;
        margin: 16px 0;
        display: inline-block;
        
        &--mail {
            margin: 24px 0;
            padding-left: 25px;
            position: relative;
            
            &:before {
                content: '';
                display: block;
                left: 0;
                top: 3px;
                position: absolute;
                width: 16px;
                height: 16px;
	            background: url("../images/content/email.svg") center no-repeat;
                
            }
        }
        
    }
}

.fee-table {
    max-width: 770px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    
    thead {
        
        th {
            opacity: 0.4;
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            padding: 16px 0 18px 0;
            
            &:last-child {
                text-align: right;
            }
        }
        
    }
    
    tbody {
        
        td {
            padding: 16px 0 18px 0;
            
            &.num {
                font-size: 20px;
                font-weight: 600;
                width: 160px;
                
                span {   
                    font-family: 'Fira Sans Condensed', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                }
                
            }
            
            &.date {
                width: 240px;
            }
            
            &.in-process {
                width: 275px;
                position: relative;
                padding-left: 25px;
                
                &:before {
                    content: '';
                    display: block;
                    left: 0;
                    top: 23px;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: url("../images/content/in-process.svg") center no-repeat;                    
                }                
            }
            
            &.done {
                width: 275px;
                position: relative;
                padding-left: 25px;
                
                &:before {
                    content: '';
                    display: block;
                    left: 0;
                    top: 23px;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: url("../images/content/check-green.svg") center no-repeat;                    
                } 
            }
            &.cancel {
                width: 275px;
                position: relative;
                padding-left: 25px;

                &:before {
                    content: '';
                    display: block;
                    left: 0;
                    top: 23px;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: url("../images/content/cancelled.svg") center no-repeat;
                }
            }
            
            &:last-child {
                text-align: right;
                width: 220px;
            }
        }
    }
    
    tr {
        border-bottom: 1px solid #e0e0e0;
    }
}

.fee-banks {    
    &__item {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 32px;
        
        &:first-child {
            margin-top: 16px;
        }
    }
    
    &__title {
        display: inline-block;
        color: rgba(0, 0, 0, 0.4);
        
    }
    
    &__value {
        display: inline-block;
        
    }
    
    &__txt { 
        margin-top: 16px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
    }
    
}

.fee-report-form {
    margin-top: -45px;
    
    label.error {
        display: block;
        bottom: -27px;
        left: 0;
    }
}

.fee-banks-form {
    
    .block-btn-radio__item {
        display: inline-block;
        margin-right: 32px;
        margin-top: 87px;
    }
    
    .label-radio {
        cursor: pointer;
    }
    
    .label.error {
        display: block;
    }
    
    &__tip {
        position: relative;
    }
    
    &__item {
        display: none;
        
        &.active {
            display: block;
        }        
    } 
    
    &__part {
        max-width: 60px;
        margin-right: 37px;
    }
    
    &__num {
        max-width: 160px;
        margin-right: 30px;       
    }
    
    &__date {
        max-width: 160px;
        margin-right: 0;
    }
    
    &__link {
        display: inline-block;
        margin-top: 47px;
        font-size: 14px;
        line-height: 22px;
        color: #3184ee;
    }
}