.container {
  &__inner-page {
    width: 760px;
    margin: 0 auto;
    display: block;
    &--margin {
      margin-top: 60px;
    }
    &--bg-number {
      margin-top: 178px;
      position: relative;
      display: block;

    }
    &--bottom {
      background-color: #f3f6f8;
      width: 100%;
      margin-top: 60px;
      display: block;
      font-size: 0;
      .content {
        padding: 60px;
        box-sizing: border-box;
      }
    }
  }
  &__column {
    width: 33.3%;
    display: inline-block;
    text-align: left;
  }
  &__column-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;
    display: block;
  }
  &__column-item {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2.25;
    color: #000000;
    &:hover {
      color: #f6394c;
      text-decoration: underline !important;
    }
  }
  &__callback {
    margin-top: 70px;
    display: block;
    .editing-callback {
      padding: 36px 133px;
      margin-top: 24px;
      text-align: center;
    }
    .editing-callback--success__img {
      line-height: 52px;
    }
  }
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    color: #000000;
    text-align: left;
    margin-top: 60px;
  }
  &__text {
    p {
      margin-top: 32px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;
      color: #000000;
    }
  }
  &__list {
    margin-top: 32px;
  }
  &__list-item {
    margin-top: 28px;
    font-size: 0;
    &:first-of-type {
      margin-top: 0;
    }

  }
  &__item-numder {
    width: 32px;
    height: 32px;
    background-color: #3184ee;
    display: inline-block;
    border-radius: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    margin-right: 16px;
  }
  &__item-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    display: inline-block;
    width: 93%;
    vertical-align: top;
  }
  &__quote {
    width: 957px;
    margin: 0 auto;
    display: block;
    border: solid rgba(0, 0, 0, 0.12);
    border-width: 2px 0px 2px 0px;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-style: italic;
    line-height: 42px;
    color: #000000;
    padding: 32px 0;
    margin-top: 60px;
  }
  &__img {
    width: 1040px;
    margin: 0 auto;
    margin-top: 60px;
  }
  &__image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__image-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
  }

  &__bg-number {
    position: absolute;
    display: block;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 400px;
    font-stretch: condensed;
    text-align: center;
    color: #f4f6f9;
    top: -178px;
    line-height: 475px;
    width: 100%;
  }
  &__bg-number-content {
    position: relative;
  }
  &__subtitle {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    color: #000000;
    margin-top: 32px;
    &--margin {
      margin-top: 60px;
    }
  }
  &__accordion {
    display: block;
    margin-top: 32px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0;
  }
  &__accordion-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    &:hover {
        .container__decor {
          background-color: rgba(28, 40, 66, 0.08);
        }
    }
  }
  &__accordion-content {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
  }
  &__decor {
    position: absolute;
    right: 0;
    top: 20px;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    text-align: center;
    line-height: 29px;
    transition: transform 0.5s;
    //padding: 20px 0;
    svg {
      vertical-align: middle;
      line-height: 32px;
      text-align: center;
      display: inline-block;
    }
  }
  &__share {
    display: inline-block;
    width: 58%;
    height: 25px;
    vertical-align: top;
    background: url("../images/content/social-emty.jpg") no-repeat;
  }
  &__footer-inside {
    margin-top: 60px;
    font-size: 0;
    width: 100%;
    display: inline-block;
  }
  &__date {
    display: inline-block;
    font-size: 0;
    width: 42%;
    vertical-align: top;
    &--view {
      display: inline-block;
      padding: 0 0px 0 60px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 24px;
        display: block;
        width: 24px;
        height: 24px;
        background: url(../images/content/eye-grey.svg) center top no-repeat;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
    &--public {
      padding: 0 24px;
      display: inline-block;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.5);
    }

  }

}
.ui-accordion-header-active .container__decor {
  transform: rotate(45deg);
}
.ui-accordion .ui-accordion-header {
  padding: 20px 60px 18px 0;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-width: 1px 0 0 0;
  background-color: transparent;

}
.ui-accordion .ui-accordion-header:last-of-type {
  border-width: 1px 0 1px 0;
}
.ui-widget-content {
  border: none;

}
.ui-accordion .ui-accordion-content {
  padding: 0 60px 20px 0;
}
.ui-icon, .ui-button .ui-icon {
  display: none;
}
