.custom-library {
    margin: 70px 60px;
}

.library-book {
    &__item {       
        position: relative;
        display: inline-block;
        margin-right: 40px;
        max-width: 160px;
        
        &:nth-child(6n) {
            margin-right: 0;
        }
            
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: -2px;
            display: block;
            width: 178px;
            height: 244px;
            background: url("../images/content/book-mask.png");
            object-fit: contain;

        }
        
        &:hover {
            .library-book__name {
                color: #3184ee;
            }
            .library-book__close {
                display: block;
            }
        }
        
        img {            
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);

        }
    }
    
    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.57;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
    }
    
    &__close {
        display: none; 
        position: absolute;
        top: 24px;
        right: 18px;
        width: 34px;
        height: 34px;
        border-radius: 2px;
        opacity: .89;
        background-color: #fff;
        z-index: 10;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 24px;
            height: 24px;
            background: url(../images/content/cancelled-red.svg) no-repeat;
            background-size: 100%;
        }
        
        &:hover {
            .library-book__close-txt {
                display: block;
            }
        }
    }
    
    &__close-txt {
        display: none; 
        position: absolute;
        top: 48px;
        right: -105px;
        width: 235px;
        padding: 12px 16px;
        border-radius: 2px;
        background-color: @white;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -6px;
            left: 46%;
            transform: rotate(45deg);
            width: 13px;
            height: 13px;
            background-color: @white;
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);  
        }
    }
}

.library-empty {
    width: 271px;
    margin: 0 auto;
    margin-top: 121px;
    
    &__img {
        width: 52px;
        height: 72px;
        margin: 0 auto;
        background: url(../images/content/fill-1.svg) no-repeat;
        
    }
    
    &__txt {        
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 26px;
        text-align: center;   
        margin-top: 16px;
        margin-bottom: 24px;     
    }
    
    &__btn {        
        text-align: center;
        
        .custom-btn {
            padding: 13px 18px;
        }
    }
    
    &.hidden {
        display: none;
    }
}