html, body {
	height: 100%;
	font-size: 16px;
	text-align: left;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
input {
	border: none;
	outline: none;
}
a {
	text-decoration: none !important;
	cursor: pointer;
	outline: none;    
}
label {
    &.error {
        font-weight: 400;
        font-size: 14px;
        color: #e74c3c;
        position: absolute;   
    }
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.compat-object-fit {
    background-size: cover;
    background-position: center center;
    img {
        opacity: 0;
    }
}

.pagewrap {
	min-width: 1280px;
	position: relative;
	min-height: 100%;
	padding-bottom: 206px;
	&--big-footer {
		padding-bottom: 302px;
	}
	&--grey {
		background-color: #f3f6f8;
	}
}
.content {
	position: relative;
	z-index: 1;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
    
    &--profile-settings {        
        background-color: #f3f6f8;
    }
	&--order {
		.container-big__content {
			margin-top: 0;
		}
	}

}

.header {
	//height: 70px;
	position: relative;
	box-sizing: border-box;
	.container-header {
		display: inline-block;
		padding: 30px 0px;
		width: 100%
	}
	&__menu {
		display: inline-block;
		vertical-align: middle;
		&--submenu {
			position: relative;
			z-index: 2;
		}
		ul {
			margin: 0;
			line-height: 30px;
		}
		li {
			display: inline-block;
		}
		&--left {
			float: left;
		}
		&--right {
			float: right;

		}
	}
	.btn-reg {
		border-radius: 2px;
		border: solid 1px rgba(255, 255, 255, 0.2);
		padding: 6px 10px;
		&:hover {
			color: #fff;
			border: solid 1px rgba(255, 255, 255, 0.5);
		}
		&:active {
			color: #fff;
			border: solid 1px rgba(255, 255, 255, 0.7);
		}
		&:focus {
			color: #fff;
			border: solid 1px rgba(255, 255, 255, 0.7);
		}

	}
	&__menu-item {
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		font-weight: 600;
		//line-height: 36px;
		line-height: 23px;
		color: #ffffff;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0 10px;
		letter-spacing: 0.3px;
		&--lk {
			position: relative;
			&:hover  {
				.submenu-ul__block {
					right: 0;
					display: block;
					top: 30px;
					padding-top: 15px;
					//right: 0;
					.submenu-ul__item {
						padding: 8px 16px;
						width: 180px;
						box-sizing: border-box;
						border-radius: 2px;
						background-color: #ffffff;
						box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
					}
					.submenu-ul__link {
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						line-height: 36px;
						color: #000000;
						padding: 0;
						&--logout {
							border-top: solid 1px rgba(0, 0, 0, 0.12);
							padding-top: 8px;
							margin-top: 8px;
						}
						&:hover {
							color: #fa535e;
						}
					}
				}

			}
		}
		&.active {
			span {
				border-bottom: solid 1px rgba(250, 83, 94, 0.5);
			}
		}
		&:hover {
			color: #FA535E;
		}
		.cart {
			display: inline-block;
			vertical-align: middle;
			padding: 0 8px;
			&--no-sales {
				opacity: 0.3;
			}
			&--active {

			}
		}
		.cart-content {
			color: #FA535E;
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
		.user {
			width: 36px;
			height: 36px;
			border-radius: 100%;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			margin-left: 16px;
		}
		&--green {
			font-size: 16px;
			font-weight: 600;
			line-height: 26px;
			color: #ecf0f1;
			text-transform: none;
			&.active {
				color: rgba(124, 203, 38, 1);
				span {
					border-bottom: solid 1px rgba(124, 203, 38, 0.5);
				}
			}
			&:hover {
				color: rgba(124, 203, 38, 1);
			}
		}

	}
	.separate {
		height: 29px;
		object-fit: contain;
		opacity: 0.2;
		border: solid 1px #f3f6f8;
		display: inline-block;
		vertical-align: middle;
	}
	&__logo {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		left: 50%;
		margin-left: -75px;
		img.fixed {
			display: none;
		}
		img.relative {
			display: inline-block;
		}
	}
	&--planeta {
		height: 70px;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #ffffff;
		//box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
		.container-header {
			padding: 16px 32px;
		}

		.separate {
			border: solid 1px #000000;
		}
		.header__menu--right {
			.header__menu-item {
				line-height: 23px;
				span {
					border-bottom: solid 1px transparent;
				}
				&:hover {
					//span {
					//	color: #fa535e;
					//	border-bottom: solid 1px rgba(250, 83, 94, 0.5);
					//}
				}
			}
		}
		.header__menu-item {
			color: #000;
			font-weight: 600;

			span {
				border-bottom: solid 1px transparent;
			}
			&:hover {
				color: #FA535E;
				span {
					border-bottom: solid 1px #e52100;
				}
			}
			.cart-content {
				color: #276cea;
			}
			&.active {
				span {
					color: #fa535e;
					border-bottom: solid 1px rgba(250, 83, 94, 0.5);
				}
			}
		}
		.btn-reg {
			color: #3184ee;
			border-radius: 2px;
			border: solid 1px rgba(49, 132, 238, 0.3);
			&:hover {
				span {
					border-bottom: 1px solid transparent;
				}
				color: #3184ee;
				text-decoration: none;
				border-radius: 2px;
				border: solid 1px rgba(49, 132, 238, 0.5);
			}
			&:active {
				border: solid 1px rgba(49, 132, 238, 0.7);
			}
			&:focus {
				color: #3184ee;
				border: solid 1px rgba(49, 132, 238, 0.7);
			}
		}
		img.fixed {
			display: inline-block;
		}
		img.relative {
			display: none;
		}
	}
    
    &--blue {
        background-color: #f3f6f8;
        box-shadow: none;
    }
    
    &--profile {        
		.container-header {
			padding: 16px 0px;
		}
        .header__menu-item {
			span {
                line-height: 2;
			}
		}
		.header__menu--right {
			.header__menu-item {
				line-height: 23px;
				span {
					border-bottom: solid 1px transparent;
				}
				&:hover {
					span {
						color: #fa535e;
						border-bottom: solid 1px rgba(250, 83, 94, 0.5);
					}
				}
			}
		}
    }
}

.advantage {
	 padding-top: 85px;
	 font-size: 0;
	 &__block {
		 display: inline-block;
		 width: 25%;
		 vertical-align: top;
	 }
	 &__icon {
		 display: inline-block;
		 vertical-align: top;
	 }
	 &__text {
		 text-align: left;
		 display: inline-block;
		 vertical-align: top;
		 width: 60%;
		 margin-left: 16px;
	 }
	 &__title {
		 font-family: 'Fira Sans Condensed', sans-serif;
		 font-size: 20px;
		 font-weight: 500;
		 font-stretch: condensed;
		 line-height: 1.3;
		 color: #000000;

	 }
	 &__desc {
		 font-family: 'Open Sans', sans-serif;
		 font-size: 16px;
		 color: rgba(0, 0, 0, 0.5);
		 margin-top: 8px;

	 }
 }
.capabilities {
	padding-top: 85px;
	padding-bottom: 200px;
	font-size: 0;
	overflow: hidden;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	&__block {
		display: inline-block;
		width: 33.3%;
		text-align: center;
		vertical-align: top;
	}
	&__icon {
		display: inline-block;
		//min-height: 324px;
		width: 309px;
		height: 309px;
		img {
			width: 100%;
			height: 100%;
		}
		&--big {
			width: 351px;
			height: 324px;
		}
	}
	&__text {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-top: 14px;

	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 24px;
		font-stretch: condensed;
		color: #000000;

	}
	&__desc {
		opacity: 0.5;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		color: #000000;
		margin-top: 12px;
	}
	&:after {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #f4f3ee;
		position: absolute;
		z-index: 1;
		top: 88%;
		left: 36%;
	}
	&:before {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #f4f3ee;
		position: absolute;
		z-index: 1;
		top: 88%;
		right: 36%;
	}
	&__wrapper {
		width: 80%;
		padding: 10px 0 32px 0;
		margin: 0 auto;
		vertical-align: top;
		min-height: 475px;
		&:hover {
			border-radius: 6px;
			background-color: #f4f3ee;
			.capabilities__title {
				color: #3184ee;
			}
		}
	}
	&__icon-wrapper {
		min-height: 324px;
	}
}

.order {
	padding-top: 40px;
	padding-bottom: 170px;
	font-size: 0;
	position: relative;
	background-color: #f4f3ee;
	overflow: hidden;
	max-width: 1280px;
	margin: 0 auto;
	&__wrapper {
		padding: 0 60px;
	}
	&:after {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		top: 88%;
		left: 36%;
	}
	&:before {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		top: 88%;
		right: 36%;
	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 40px;
		font-stretch: condensed;
		line-height: 1.25;
		text-align: center;
		color: #000000;
	}
	&__block {
		display: inline-block;
		width: 25%;
		text-align: center;
		vertical-align: top;
		margin-top: 32px;
	}
	&__block-wrapper {
		max-width: 260px;
		margin: 0 auto;
		display: inline-block;
	}
	&__icon {
		display: block;
		vertical-align: top;
		width: auto;
		height: 205px;
		margin: 0 auto;
		&.icon1 {
			width: 217px;
		}
		&.icon2 {
			width: 200px;
		}
		&.icon3 {
			width: 275px;
		}
		&.icon4 {
			width: 206px;
		}
		img {
			//height: 100%;
			width: 100%;
		}
	}
	&__text {
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		color: #000000;
		//width: 80%;
		//margin: 0 auto;
	}
	&__button {
		display: block;
		height: 48px;
		border-radius: 2px;
		background-color: #7ccb26;
		width: 175px;
		margin: 0 auto;
		padding: 13px 28px;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		text-align: center;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		margin-top: 38px;
		&:hover {
			color: #ffffff;
			background-color: #6fb622;
		}
		&:active {
			color: #ffffff;
			background-color: #63a31e;
		}
		&:focus {
			color: #ffffff;
			background-color: #63a31e;
		}

		span {
			line-height: 7px;
			display: inline-block;
			margin: 5px 0 0 2px;
			vertical-align: top;
		}

	}
}

.personal {
	padding: 85px 0 60px 0;
	font-size: 0;
	&__content {
		padding: 44px 0 37px 0;
	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 40px;
		font-stretch: condensed;
		line-height: 1.25;
		text-align: center;
		color: #000000;
	}

	&__items {
		display: inline-block;
		width: 75%;
		font-size: 0;
		text-align: center;
		vertical-align: top;
		&--all {
			display: inline-block;
			width: 25%;
			text-align: center;
			vertical-align: top;
			padding-top: 40px;
		}
	}
	&__block {
		display: inline-block;
		width: 33.3%;
		text-align: center;
		vertical-align: top;
		min-height: 324px;
		&:hover {
			.personal__button {
				display: inline-block;
				text-align: center;
			}
		}
	}
	&__text {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #000000;
		width: 100%;
		margin: 0 auto;
		display: block;
		margin-top: 2px;
		&--title {
			font-size: 14px;
			font-weight: bolder;
			line-height: 20px;
			letter-spacing: normal;
			text-align: center;
			text-transform: uppercase;
			width: 60%;
			margin-bottom: 8px;
		}
	}
	&__icon {
		height: 150px;
		width: auto;
		position: relative;
		display: inline-block;
		.word {
			position: absolute;
			top: 36px;
			left: 40px;
			width: 0;
			overflow: hidden;
			img {
				width: 45px;
				display: block;
				margin-top: 3px;
				max-width: 45px;
			}
			&--two {
				top: 56px;
				left: 65px;
			}
			&--three {
				top: 86px;
			}
		}
		.image {
			position: absolute;
			top: 19px;
			left: 46px;
			visibility: hidden;
			img {
				display: block;
			}
			&--two {
				top: 50px;
				left: 112px;
			}
			&--three {
				top: 63px;
				left: 119px;
			}
		}
		.line {
			position: absolute;
			width: auto;
			height: 2px;
			display: block;
			background-color: #e5391d;
			&--content {
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				overflow: hidden;
				&-one {
					left: auto;
					right: 0;
				}
				&-four {
					left: auto;
					right: 0;
				}
			}
			&--one {
				width: 214px;
				top: 65px;
				left: auto;
				right: -6px;
				transform: rotate(148deg);
			}
			&--two {
				width: 148px;
				top: 63px;
				left: -18px;
				transform: rotate(129deg);
			}
			&--three {
				width: 148px;
				top: 63px;
				left: 74px;
				transform: rotate(51deg);
			}
			&--four {
				width: 214px;
				top: 66px;
				left: auto;
				right: -8px;
				transform: rotate(30deg);
			}
		}
		&--all {
			width: 150px;
			height: 167px;
			margin: 0 auto;
			background: url('../images/content/bg_img.png') no-repeat;
			background-size: contain;
			&:hover {
				background: url('../images/content/bg_img_hover.png') no-repeat;
				background-size: contain;
				.personal__icon-text {
					color: #fff;
				}
			}
		}
		img {
			height: 100%;
		}
	}
	&__icon-text {
		position: absolute;
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-stretch: condensed;
		text-align: center;
		color: #3184ee;
		top: 30%;
		left: 47%;
		margin-left: -28px;
	}
	&__button {
		border-radius: 2px;
		background-color: #3184ee;
		padding: 13px 28px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.57;
		color: #ffffff;
		text-transform: uppercase;
		cursor: pointer;
		display: none;
		margin-top: 30px;
		&:hover {
			background-color: #296ec7;
			color: #ffffff;

		}
		&:active {
			background-color: #2462b2;
			color: #ffffff;
		}
		&:focus {
			background-color: #2462b2;
			color: #ffffff;
		}
	}
}
.grey-block {
	padding: 0 28px;
	margin-bottom: 20px;
	&__authors {
		padding: 60px 0 94px 0;
		font-size: 0;
	}
	&__authors-item {
		display: inline-block;
		width: 20%;
		text-align: center;
		vertical-align: top;
		color: #000000;
		&:hover {
			color: #3184ee;
		}
	}
	&__img {
		width: 160px;
		height: 160px;
		margin: 0 auto;
		text-align: center;
		border-radius: 100%;
		overflow: hidden;
		margin-bottom: 16px;
		position: relative;
		&--no-radius {
			border-radius: 0;
		}
		&--all {
			width: 150px;
			height: 167px;
			margin: 0 auto;
			background: url('../images/content/bg_img.png') no-repeat;
			background-size: contain;
			&:hover {
				background: url('../images/content/bg_img_hover.png') no-repeat;
				background-size: contain;
				.grey-block__img-text {
					color: #fff;
				}
				.grey-block__img-count {
					color: #fff;
				}
			}
		}
		img {
			height: 100%;
			width: 100%;
		}
	}
	&__name {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 24px;
		font-stretch: condensed;
		text-align: center;

	}
	&__wrap {
		border-radius: 16px;
		display: block;
		width: auto;
		background-color: #f4f3ee;
		max-width: 1224px;
		margin: 0 auto;
	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 40px;
		font-stretch: condensed;
		line-height: 1.25;
		text-align: center;
		color: #000000;
		margin-bottom: 41px;
	}
	&__img-text {
		position: absolute;
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 24px;
		font-weight: 500;
		font-stretch: condensed;
		text-align: center;
		color: #3184ee;
		top: 33%;
		left: 50%;
		margin-left: -18px;
	}
	&__img-count {
		position: absolute;
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 14px;
		text-align: center;
		color: #3184ee;
		top: 53%;
		left: 50%;
		margin-left: -8px;
	}
	&__reviews {
		padding-bottom: 57px;
	}
}
.review {
	&__item {
		display: block;
		max-width: 853px;
		width: 100%;
		max-width: 853px;
		margin: 0 auto;
		font-size: 0;
		margin-top: 72px;
	}
	&__author {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 25%;
	}
	&__content {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 75%;
		padding-left: 68px;
	}
	&__foto {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		border-radius: 100%;
		overflow: hidden;
		text-align: center;
		img {
			height: 100%;
			width: 100%;
		}
	}
	&__name {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		text-align: center;
		color: #000000;
		margin-top: 8px;
	}
	&__role {
		opacity: 0.65;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		color: #000000;
	}
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: #000000;
		line-height: 26px;
	}
	&__date {
		opacity: 0.3;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		margin-top: 12px;
	}
	&__text {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.65);
		line-height: 26px;
		margin-top: 12px;
	}
	&__load-button {
		width: 100%;
		display: block;
		text-align: center;
		position: relative;
	}
	&__load-more {
		border-radius: 2px;
		border: solid 1px rgba(49, 132, 238, 0.4);
		display: inline-block;
		width: auto;
		height: 40px;
		padding: 9px 18px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		color: #3184ee;
		text-transform: uppercase;
		margin-top: 75px;
		position: relative;
		&:hover {
			border: solid 1px rgba(49, 132, 238, 0.5);
			color: #3184ee;
		}
		&:focus {
			color: #3184ee;
		}
		&.preload {
			color: transparent;;
		}
		&:active {
			border: solid 1px rgba(49, 132, 238, 0.7);
		}
	}
	&__link-more {
		display: inline-block;
		margin-left: 5px;
		opacity: 1;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 26px;
		color: #3184ee;
	}
	&__rating {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 26px;
		color: #000000;
		margin-top: 0;
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
}

.footer {
	background-color: @white;
	position: absolute;
	left: 0;
	bottom: 0;
    padding: 32px 60px;
	margin: 48px 0;
	margin-bottom: 0;
	width: 100%;
	height: auto;
    &--blue {
	    background-color: @bg-footer;
        margin-bottom: 0;
    }
	.content {
		font-size: 0;
		padding: 0px 60px;

	}
	&__block {
		width: 25%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	&__link {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 32px;
		color: #000000;
		display: block;
		&:hover {
			color: #276cea;
		}
	}
	&__block-phone {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 24px;
		font-stretch: condensed;
		line-height: 32px;
		color: #000000;
		display: block;
	}
	&__block-ours {
		opacity: 0.3;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		display: block;
		margin-top: 12px;
	}
	&__block-email {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 24px;
		font-stretch: condensed;
		line-height: 32px;
		color: #000000;

	}
	&__block-social {
		display: block;
		margin-top: 12px;

	}
	&__block-address {
		opacity: 0.3;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		display: block;
		margin-top: 12px;
	}
	&__block-copyright {
		opacity: 0.3;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 22px;
		color: #000000;
		display: block;
	}
}
.social-icon {
    width: 42px;
    height: 42px;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    border-radius: 100%;
    &--ok {
        padding: 10px 9px;
    }
    &--vk {
        padding: 15px 10px;
    }
    &--fb {
        padding: 12px 17px;
    }
	&--insta {
		padding: 12px;
	}
	&--youtube {
		padding: 14px 11px;
	}
	&--twitter {
		padding: 14px 12px;
	}
    &:hover {
        background-color: #3184ee;
        svg {
            fill: #fff;
        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        display: inline-block;
        opacity:  0.4;
        border-radius: 100%;
        border: 1px solid rgb(49, 132, 238);
        box-sizing: content-box;
    }
    svg {
        position: absolute;
        text-align: center;
        fill: #3184ee;
    }

}
.content-wrapper {
	&--delivery {
		border-bottom: solid 1px rgba(0, 0, 0, 0.12);
		min-height: calc(100vh - 206px);
	}
	//padding-bottom: 192px;
}
.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
	text-align: center;
	vertical-align: middle;
	img {
		vertical-align: middle;
		display: inline-block;
		text-align: center;
		width: auto;
		height: auto;
		margin: 7px;
	}
    &__txt {
        display: none;
    }
}
.reviews {
	position: relative;
}
.fancybox-skin {
	padding: 0 !important;
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
	background: aliceblue;
	border-radius: 100%;
	overflow: hidden;
	width: 36px;
	height: 36px;
	background-image: linear-gradient(1deg, #d971d0, #ff6b6b) !important;
	&:after {
		display: inline-block;
		position: absolute;
		content: "×";
		font-size: 25px;
		width: 36px;
		height: 36px;
		left: 50%;
		margin-left: -7px;
		line-height: 35px;
		font-weight: 700;
		color: #fff;
	}
}
.fixed-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #ffffff;

	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
	transition: all 0.1s linear;
	.add-panel {
		display: none;
	}
	.container-header {
		padding: 16px 0px;
	}
	.header__menu-item {
		color: #000;
		font-weight: 600;
		span {
			border-bottom: solid 1px transparent;
		}
		&:hover {
			color: #FA535E;
			span {
				border-bottom: solid 1px #e52100;
			}
		}
		.cart-content {
			color: #276cea;
		}
	}
	.separate {
		border: solid 1px #000000;
	}
	.header__menu--right {
		.header__menu-item {
			line-height: 23px;
			span {
				//border-bottom: 0;
			}
			&:hover {
				span {
					//border-bottom: 0;
				}
			}
			&.active {
				span {
					color: #fa535e;
					border-bottom: solid 1px rgba(250, 83, 94, 0.5);
				}
			}
		}
	}
	.btn-reg {
		color: #3184ee;
		border-radius: 2px;
		border: solid 1px rgba(49, 132, 238, 0.3);
		&:hover {
			span {
				border-bottom: 1px solid transparent;
			}
			color: #3184ee;
			text-decoration: none;
			border-radius: 2px;
			border: solid 1px rgba(49, 132, 238, 0.5);
		}
		&:active {
			border: solid 1px rgba(49, 132, 238, 0.7);
		}
		&:focus {
			color: #3184ee;
			border: solid 1px rgba(49, 132, 238, 0.7);
		}
	}
	img.fixed {
		display: inline-block;
	}
	img.relative {
		display: none;
	}
	&.header--planeta {
		.container-header {
			padding: 16px 32px;
		}
	}
	&.header--profile {
		.container-header {
			padding: 16px 0px;
		}
		.header__menu-item {
			span {
				line-height: 2;
			}
		}
	}

}
.header-alternate {
	height: 70px;
	width: 100%;
	position: relative;
	display: none;
}

.bg-block {
	position: relative;
	text-align: center;
	padding: 117px 227px;
	&:before {
		display: inline-block;
		content: "";
		left: 0;
		top: 0;
		height: 100%;
		width: 680px;
		position: absolute;
		background: url("../images/content/bitmap1.jpg") no-repeat;
		z-index: 1;
	}
	&:after {
		right: 0;
		position: absolute;
		display: inline-block;
		content: "";
		background: url("../images/content/bitmap2.jpg") no-repeat;
		height: 100%;
		width: 251px;
		top: 0;
		z-index: 1;
	}
	&__container {
		font-size: 0;
		display: block;
		padding: 50px 0 48px 0;

	}
}
.block-title {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 40px;
	font-stretch: condensed;
	line-height: 50px;
	color: #000000;
	text-align: center;
	background-image: none;

}
.block-subtitle {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 32px;
	font-stretch: condensed;
	color: #000000;
	.name {
		color: #276cea;
	}
	.order-status {
		color: rgba(0, 0, 0, 0.4);
	}
}
.block-input {
	position: relative;
	margin-top: 40px;
	&--required {
		&:before {
			content: "*";
			position: absolute;
			opacity: 0.4;
			font-size: 16px;
			left: -16px;
			top: 16px;
		}
	}
    &--right {
		float: right;
	}
    &--inline {
        display: inline-block;
        max-width: 135px;
        margin-right: 27px;        
        
        .input-custom {
            width: 100%;
        }
    }

}
.input-custom {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000000;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	width: 461px;
	height: 63px;
	padding: 23px 0 13px 0;
	position: relative;
	&:hover {
		border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	}
	&:focus {
		border-bottom: solid 1px #3184ee;
	}
	&:disabled {
		border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
	}
}
.label-custom {
	opacity: 0.4;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000000;
	padding: 23px 0 13px 0;
	width: 461px;
	height: 63px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: .2s ease all;
	pointer-events: auto;
    font-weight: 400;
}
.textarea-custom {
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    width: 461px;
    min-height: 265px;
    padding: 0 0 13px 0;
    margin-top: 23px;
    position: relative;
	&:hover {
		border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	}
	&:focus {
		border-bottom: solid 1px #3184ee;
	}
	&:disabled {
		border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
	}
}

.small-label {
	font-size: 14px;
	top: 0;
	height: auto;
	width: auto;
	line-height: 24px;
	padding: 0;
	pointer-events: none;
}
.input-custom.error ~ .label-custom {
	font-size: 14px;
	top: 0;
	height: auto;
	width: auto;
	line-height: 24px;
	padding: 0;
	opacity: 1;
	pointer-events: none;
	color: #e74c3c;
}
.input-custom:focus ~ .small-label {
	color: #3184ee;
}
.input-custom:focus ~ .label-custom,
.textarea-custom:focus ~ .label-custom{
	font-size: 14px;
	top: 0;
	height: auto;
	width: auto;
	line-height: 24px;
	padding: 0;
	opacity: 1;
	pointer-events: none;
	color: #3184ee;
}
.input-normal {
	width: 100%;
    min-height: 40px;
    padding: 6px 30px 8px 12px;
    border-radius: 2px;
    border: solid 1px #cdcfd1;
    background: transparent;
    font-size: 16px;
    line-height: 26px;
    
}
.block-btn-radio {
	position: relative;
	margin-top: 48px;
	&--required {
		&:before {
			content: "*";
			position: absolute;
			opacity: 0.4;
			font-size: 16px;
			left: -16px;
			top: -8px;
		}
	}
	&__item {
		margin-top: 20px;
	}
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: #000000;
	}


}

.label-radio {
	position:relative;
	padding-left: 30px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
    font-weight: 400;
	&:hover {
		&:after {
			border: 2px solid rgba(0, 0, 0, 0.3);
		}
	}
}
.label-radio:after {
	position:absolute;
	content:"";
	top:50%;
	margin-top: -10px;
	left:0;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: #fff;
	background-image: none;
	border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}

.label-radio:before {
	display:none;
	position:absolute;
	content:"";
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	background-color: #3184ee;
	border-radius: 100%;
	z-index: 2;
}
.radio-custom {
	display:none;
}
.radio-custom:checked + label.label-radio:before {
	display:block;
}
.radio-custom:checked + label.label-radio:after {
	border: 2px solid #3885ef;
}
.block-btn-checkbox {
	margin-top: 48px;
	&__item {
		margin-top: 20px;
		width: auto;
		position: relative;
		//display: inline-block;
		vertical-align: top;
		&--required {
			&:before {
				content: "*";
				position: absolute;
				opacity: 0.4;
				font-size: 16px;
				left: 47px;
				top: -13px;
			}
		}
	}
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: #000000;
	}
}
.false-label {
	position: relative;
	padding-left: 30px;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	cursor: pointer;
	background-color: transparent;
}
.label-checkbox {
	position: relative;
	padding-left: 30px;
	display: inline-block;
	margin-left: -13px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	cursor: pointer;
	max-height: 20px;
    font-weight: 400;
	span {
		border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
	}
	&:hover {
		&:after {
			border: inset 2px rgba(0, 0, 0, 0.3);
		}
		span {
			border-bottom: 1px dotted rgba(0, 0, 0, 1);
		}
	}
}

.label-checkbox:after {
	position: absolute;
	content: "";
	top: 50%;
	margin-top: -10px;
	left: 0;
	width: 16px;
	height: 16px;
	background-color: transparent;
	border-radius: 3px;
	border: solid 2px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}

.label-checkbox:before {
	display: none;
	position: absolute;
	content: "";
	top: 70%;
	margin-top: -13px;
	left: 7px;
	width: 5px;
	height: 12px;
	transform: rotate(45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 2;
    box-sizing: content-box;
}
#confirm-error {
	margin-left: 105px;
	line-height: 14px;
	font-size: 12px;
}
#confirmRules-error {
	margin-left: 105px;
	line-height: 14px;
	font-size: 12px;
}
.checkbox-custom {
	visibility: hidden;
}
.checkbox-custom:checked ~ label.label-checkbox:before {
	display: block;
}
.checkbox-custom:checked ~ label.label-checkbox:after {
	background-color: #3184ee;
	border: solid 2px #3184ee;
	&:hover {
		border: solid 2px #3184ee;
	}
}
.custom-btn {
	display: inline-block;
	margin: 0 auto;
	width: auto;
	text-align: center;
	cursor: pointer;

	&--green {
		border-radius: 2px;
		background-color: #7ccb26;
		padding: 13px 28px;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		text-align: center;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			background-color: #6fb622;
			color: #ffffff;
		}
		&:active {
			background-color: #63a31e;
			color: #ffffff;
		}
		&:focus {
			background-color: #63a31e;
			color: #ffffff;
		}
	}
    &--blue {
        border-radius: 2px;
        background-color: #3184ee;
		padding: 13px 28px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
        line-height: 1.57;
        color: #ffffff;
        text-transform: uppercase;
		cursor: pointer;
        &:hover {
          background-color: #296ec7;
          color: #ffffff;
            
        }
        &:active {
          background-color: #2462b2;
          color: #ffffff;
        }   
		&:focus {
            background-color: #2462b2;
            color: #ffffff;
		}     
    }
	&--blue-text {
		border-radius: 2px;
		border: solid 1px rgba(49, 132, 238, 0.4);
		display: inline-block;
		width: auto;
		height: 40px;
		padding: 9px 18px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		color: #3184ee;
		text-transform: uppercase;
		position: relative;
		&:hover {
			border: solid 1px rgba(49, 132, 238, 0.5);
			color: #3184ee;
		}
		&:focus {
			color: #3184ee;
		}
		&.preload {
			color: transparent;;
		}
		&:active {
			border: solid 1px rgba(49, 132, 238, 0.7);
		}
	}
	&--white {
		border-radius: 2px;
		background-color: #fff;
		padding: 9px 18px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 22px;
		color: #000000;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			background-color: #fff;
			color: #296ec7;

		}
		&:active {
			background-color: #fff;
			color: #2462b2;
		}
		&:focus {
			background-color: #fff;
			color: #2462b2;
		}
	}
	&--small {
		padding: 9px 18px;
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
	}
	&--disabled {
		background-color: rgba(0, 0, 0, 0.12);
		pointer-events: none;
	}
}

.item-part {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 50px 23px 0 ;
	width: 50%;
	box-sizing: border-box;
	&--border {
		border-left: 1px solid rgba(0, 0, 0, 0.12);
		padding: 0 0 23px 50px;
	}
	&__icon {
		text-align: center;

		img {
			display: inline-block;
			vertical-align: bottom;
		}

	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 20px;
		font-weight: 500;
		font-stretch: condensed;
		line-height: 26px;
		text-align: center;
		color: #000000;
		margin-top: 12px;
	}
	&__text {
		opacity: 0.5;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		color: #000000;
		margin-top: 12px;
		font-family: 'Open Sans', sans-serif;
	}
	&--quater {
		width: 25%;
		text-align: left;
		padding: 0 10px;
		vertical-align: top;
		position: relative;

		.item-part__icon {
			position: relative;
			text-align: left;
			&--number {
				color: #fff;
				background-color: #000;
				border-radius: 100%;
				overflow: hidden;
				width: 32px;
				height: 32px;
				font-size: 14px;
				font-weight: 600;
				line-height: 32px;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
				position: relative;

			}

		}
		.item-part__icon--line {
			position: relative;
			width: 230px;
			height: 21px;
			top: -26px;
			left: 50px;
			overflow: hidden;
			background: url("../images/content/dotted.svg") no-repeat;
			//&:after {
			//	position: absolute;
			//	top: 0px;
			//	content: "";
			//	display: inline-block;
			//	object-fit: contain;
			//
			//}
		}
		.item-part__title {
			text-align: left;
			font-size: 20px;
			font-weight: 500;
			font-stretch: condensed;
		}
		.item-part__text {
			text-align: left;
			&--no-title {
				padding-top: 25px;
			}
		}
	}
}

.b-block {
	position: relative;
	overflow: hidden;
	font-size: 0;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 60px;
	&--white {
		position: relative;
		font-size: 0;
		max-width: 1280px;
		margin: 0 auto;
		padding-top: 60px;
		text-align: center;
		padding-bottom: 90px;
		.block-book__block {
			margin-bottom: 26px;
		}
		.block-book__icon {
			width: 120px;
			height: 120px;
			background-color: #ecf0f1;
			border-radius: 100%;
			overflow: hidden;
			line-height: 120px;
			margin-bottom: 16px;
			text-align: center;
		}
		&:after {
			position: absolute;
			display: block;
			width: 100%;
			content: "";
			height: 42px;
			bottom: 0;
			left: 0;
			background: url("../images/content/funnel.svg") center no-repeat;
		}
	}
	&:before {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #f4f3ee;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 36%;
	}
	&:after {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #f4f3ee;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 36%;
	}
	&--no-decor {
		.block-book__wrapper {
			padding-top: 48px;
			padding-bottom: 134px;
		}
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
}
.block-book {
	padding-top: 40px;
	padding-bottom: 170px;
	font-size: 0;
	position: relative;
	background-color: #f4f3ee;
	overflow: hidden;
	max-width: 1280px;
	margin: 0 auto;
	z-index: 3;
	&__wrapper {
		padding: 0 60px;
	}
	&:after {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		top: 88%;
		left: 36%;
	}
	&:before {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		top: 88%;
		right: 36%;
	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 40px;
		font-stretch: condensed;
		line-height: 1.25;
		text-align: center;
		color: #000000;
	}
	&__block {
		display: inline-block;
		width: 33.3%;
		text-align: center;
		vertical-align: top;
		margin-top: 32px;
	}
	&__block-wrapper {
		max-width: 100%;
		margin: 0 auto;
		display: inline-block;
	}
	&__icon {
		display: block;
		vertical-align: top;
		width: auto;
		height: 155px;
		margin: 0 auto;
		&--number {
			font-family: 'Fira Sans Condensed', sans-serif;
			text-align: center;
			color: #000;
			font-size: 65px;
			line-height: 155px;
			height: 155px;
			font-weight: 500;
		}
		&--big {
			line-height: 192px;
			height: 192px;
		}
		img {
			vertical-align: middle;
  			display: inline-block;
			//height: 100%;
			//width: auto;
		}
	}
	&__text {
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		color: #000000;
		//width: 80%;
		//margin: 0 auto;
	}
	&__button {
		display: block;
		height: 48px;
		border-radius: 2px;
		background-color: #7ccb26;
		width: 175px;
		margin: 0 auto;
		padding: 13px 28px;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		text-align: center;
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		margin-top: 38px;
		&:hover {
			background-color: #6fb622;
		}
		&:active {
			background-color: #63a31e;
		}

		span {
			line-height: 7px;
			display: inline-block;
			margin: 5px 0 0 2px;
			vertical-align: top;
		}

	}
}
.bl-inner {
	padding-top: 52px;
	position: relative;
	.custom-btn {
		position: absolute;
		top: 72px;
		right: 60px;
		text-transform: none;
	}
	.label-checkbox {
		margin-left: 63px;
	}
}
.color-block {
	width: 100%;
	margin: 0 auto;
	max-width: 1224px;
	border-radius: 6px;
	background-color: #f4f3ee;
	padding: 63px 32px;
	font-size: 0;
	position: relative;
	&__white {
		background-color: #fff;
		padding: 63px 58px;
		margin-top: 29px;
	}
	&__arrow {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 48%;
		width: 48px;
		height: 48px;
		margin-top: -24px;
		background-color: #3184ee;
		border-radius: 100%;
		&:before {
			display: inline-block;
			position: absolute;
			content: "";
			top: 49%;
			margin-top: -8px;
			left: 39%;
			width: 9px;
			height: 9px;
			transform: rotate(45deg);
			border-bottom: 2px solid #fff;
			border-right: 2px solid #fff;
			z-index: 2;
		}
	}

	label.error {
		left: 0;
		bottom: -20px;
	}
}
.block-part {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	&--text {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		color: #000000;
		padding-bottom: 14px;
	}
}
.select-custom {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height:40px;
	width: 461px;
	color: #000000;
	margin-top: 20px;
}

.container-big {
	padding: 28px 40px;
	display: inline-block;
	width: 100%;
	font-size: 0;
	&--color {
		background-color: #f3f6f8;
	}
	&--padding {
		padding-top: 92px;
		padding-left: 21px;
	}
	&__content {
		margin-top: 70px;
		font-size: 0;
	}
	&__text {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 26px;
		color: rgba(0, 0, 0, 0.5);
		margin-top: 12px;
	}
}

.lk-items {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	width: 75%;
	&--header {
		display: inline-block;
		vertical-align: top;
		width: 25%;
	}
	.lk-item {
		display: inline-block;
		width: 25%;
		vertical-align: bottom;
		&--number {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 40px;
			font-stretch: condensed;
			line-height: 50px;
			color: #000000;
			display: block;
			text-align: center;
		}

		&--text {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			color: #000000;
			display: block;
			text-align: center;
		}
		&--blue {
			color: #3184ee;
			&:hover {
				text-decoration: underline rgba(49, 132, 238, 0.5);
			}
		}
	}
}
.book-items {
	font-size: 0;
	.book-item {
		text-align: center;
		display: inline-block;
		width: 18%;
		vertical-align: top;
		margin-top: 35px;
		&__wrapper {
			max-width: 160px;
			position: relative;
			&:hover {
				.book-item--name {
					color: #3184ee;
				}
				.book-item__wrapper--hover {
					display: block;
				}
			}
			&--moderate {
				position: relative;
				text-align: center;
				&:before {
					display: inline-block;
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					content: "На модерации";
					color: #ffffff;
					border-radius: 2px;
					background-color: rgba(0, 0, 0, 0.3);
					padding: 2px 7px;
					position: absolute;
					top: -28px;
					margin: 0 auto;
					width: 131px;
					text-align: center;
					left: 50%;
					margin-left: -65.5px;
					box-sizing: border-box;
				}
			}
			&--approve {
				position: relative;
				text-align: center;
				.approve-label:before {
					display: inline-block;
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					content: "Одобрена";
					color: #ffffff;
					border-radius: 2px;
					background-color: #7ccb26;
					padding: 2px 7px;
					position: absolute;
					top: -28px;
					margin: 0 auto;
					width: 131px;
					text-align: center;
					left: 50%;
					margin-left: -65.5px;
					box-sizing: border-box;
				}
			}
			&--rejected {
				position: relative;
				text-align: center;
				.rejected-label:before {
					display: inline-block;
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					content: "Отклонена";
					color: #ffffff;
					border-radius: 2px;
					background-color: #f39c12;
					padding: 2px 7px;
					position: absolute;
					top: -28px;
					margin: 0 auto;
					width: 131px;
					text-align: center;
					left: 50%;
					margin-left: -65.5px;
					box-sizing: border-box;
				}
			}
			&--hover {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				padding: 24px;
				display: none;
			}
		}
		.custom-btn-blue {
			margin-top: 21px;
		}
		&--img {
			display: inline-block;
			text-align: center;
			max-height: 244px;
			width: 160px;
			height: 221px;
			position: relative;
			display: inline-block;
			margin-right: 13px;
			max-width: 180px;
			&:before {
				content: '';
				position: absolute;
				top: 0px;
				left: -2px;
				display: block;
				width: 178px;
				height: 244px;
				background: url("../images/content/book-mask.png");
				object-fit: contain;

			}

			img {
				//max-width: 178px;
				//max-height: 244px;
				object-fit: cover;
				box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);

			}

		}
		&--cross {
			display: inline-block;
			line-height: 221px;
			font-size: 88px;
			color: #3184ee;
		}
		&--new {
			border-radius: 4px;
			border: dashed 1px rgba(49, 132, 238, 0.3);
			&:before {
				display: none;
			}
			img {
				box-shadow: none;
			}
		}

		&--name {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			color: #000000;
			margin-top: 19px;
		}
		&--big {
			width: 28%;
			.custom-btn-blue {
				margin-top: 24px;
				display: inline-block;
			}
			.book-item--img {
				width: auto;
				max-width: 100%;
				&:before {
					display: none;
				}
				img {
					box-shadow: none;
				}
			}

		}
	}
}

.custom-btn-blue {
	display: inline-block;
	border-radius: 2px;
	background-color: #3184ee;
	margin: 0 auto;
	padding: 9px 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		color: #ffffff;
		background-color: #296ec7;
	}
	&:active {
		color: #ffffff;
		background-color: #2462b2;
	}
	&:focus {
		color: #ffffff;
		background-color: #2462b2;
	}
}
.block-icon {
	display: inline-block;
	text-align: center;
	width: 16.6%;
	vertical-align: top;
	cursor: pointer;
	&:hover {
		.block-icon__text {
			color: #3184ee;
		}
	}
	.block-subtitle {
		text-align: left;
	}
	&__img {

	}
	&__text {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		color: #000000;
		margin-top: 16px;
	}
}


.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.4;
    font-size: 14px;
    line-height: 1.57; 
    padding: 0;
    padding-top: 50px;
    padding-left: 260px;  
    &__item,
    &__next {
        display: inline-block;
        &:before {
            content: '' !important;
            padding: 0 !important;
        }
    }    
    &__next {
        width: 8px;
        height: 8px;
        margin: 0 10px 1px 5px;
        transform: rotate(-45deg);
        opacity: 0.7;
        border-right: solid 1px @black;
        border-bottom: solid 1px @black;
    }
}

.btn-border {
	&--blue {
		border-radius: 2px;
		border: solid 1px rgba(49, 132, 238, 0.4);
		display: inline-block;
		width: auto;
		height: 40px;
		padding: 9px 18px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		color: #3184ee;
		text-transform: uppercase;
		position: relative;
		&:hover {
			border: solid 1px rgba(49, 132, 238, 0.5);
			color: #3184ee;
		}
		&:focus {
			color: #3184ee;
		}
		&.preload {
			color: transparent;;
		}
		&:active {
			border: solid 1px rgba(49, 132, 238, 0.7);
		}
		span:before {
			content: "←";
			display: inline-block;
			position: relative;
			font-size: 14px;
			width: 12px;
			margin-right: 5px;
		}
	}
}

.block-tip {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 50%;
	vertical-align: middle;
	color: @white;
	text-align: center;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	margin-left: 7px;

	&:hover .block-padding {
		display: block;
	}
}

.block-padding {
	display: none;
	position: absolute;
	top: -10px;
	left: 15px;
	padding-left: 25px;
	z-index: 2;
	width: 250px;
	text-align: left;
	font-weight: 400;

}

.block-hover {
	padding: 12px 16px;
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: @black;

	&:before {
		display: block;
		position: absolute;
		width: 15px;
		height: 15px;
		content: "";
		top: 13px;
		left: 17px;
		background-color: #ffffff;
		transform: rotate(-45deg);
		box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
	}
}

textarea.input-custom {
	outline: none;
	resize: none;
	border: none;
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	padding: 23px 0 13px 0;
	&:hover {
		border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	}

}
label.error {
	top: 100%;
	left: 0;
}
.input-custom.error ~ .label-custom, textarea.input-custom.error ~ .label-custom{
	color: rgba(0, 0, 0, 0.4);
}
textarea.input-custom.error {
	border-color: #e74c3c;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}

.quantity {
	position: relative;
	float: right;
}

.quantity input {
	//width: 45px;
	//height: 42px;
	//line-height: 1.65;

	display: block;
	padding: 0;
	margin: 0;
	//padding-left: 20px;
	//border: 1px solid #eee;
}

.quantity input:focus {
	outline: 0;
}

.quantity-nav {
	position: absolute;
	height: 40px;
	top: 0;
	width: 100%;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	//border-left: 1px solid #eee;
	width: 40px;
	text-align: center;
	color: #333;
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	line-height: 40px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 100%;
	top: 0;
	right: -40px;
	border-left: solid 1px rgba(0, 0, 0, 0.2);
}

.quantity-button.quantity-down {
	position: absolute;
	left: 40px;
	top: 0;
	//bottom: -1px;
	border-right: solid 1px rgba(0, 0, 0, 0.2);
	height: 100%;
}

.link-text {
	color: #276cea;
	border-bottom: dotted 1px rgba(49, 132, 238, 0.5);

	&:hover {
		color: #276cea;
		border-bottom: dotted 1px rgba(49, 132, 238, 1);
	}
	&:focus {
		color: #276cea;
		border-bottom: dotted 1px rgba(49, 132, 238, 1);
	}
	&:active {
		color: #276cea;
		border-bottom: dotted 1px rgba(49, 132, 238, 1);
	}
}