.main-screen {
	position: relative;
	width: 100%;
	background: url("../images/content/bookscriptor-main-bg.jpg") center top no-repeat;
	background-size: 100%;
	//background-position-y: 60%;
	background-attachment: fixed;
	overflow: hidden;
	&:after {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		top: 85%;
		left: 36%;
	}
	&:before {
		display: inline-block;
		border-radius: 100%;
		content: "";
		width: 78%;
		height: 500px;
		background-color: #fff;
		position: absolute;
		z-index: 1;
		top: 85%;
		right: 36%;
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
		background: rgba(35, 40, 71, 0.87);
	}
	&__title-block {
		margin-top: 62px;
		display: block;
		text-align: center;
	}
	&__title {
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 48px;
		font-weight: 500;
		font-stretch: condensed;
		line-height: 1.17;
		text-align: center;
		width: auto;
		display: inline-block;
		color: #ecf0f1;
		z-index: 1;
		position: relative;

	}
	&__desc {
		font-family: 'Open Sans', sans-serif;
		font-size: 22px;
		text-align: center;
		color: #ecf0f1;
		z-index: 1;
		width: 42%;
		position: relative;
		margin: 0 auto;
	}
	&__label {
		z-index: -1;
		position: absolute;
		right: -170px;
		top: -25px;
		height: 159px;
		width: 159px;
		border-radius: 100%;
		background-image: linear-gradient(15deg, #f76c81, #e370b5) !important;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		padding: 30px 20px;
		transform: rotate(-13deg);
		color: #fff;
		span {
			font-family: 'Open Sans', sans-serif;
			font-size: 28px;
			font-weight: 700;
			display: block;
			text-align: center;
		}
	}
	&__buttons {
		display: block;
		padding-top: 50px;
		padding-bottom: 126px;
		text-align: center;
	}
	&__button-video {
		display: inline-block;
		width: 223px;
		vertical-align: middle;
		position: relative;
		margin-right: 32px;
		text-align: left;
		&:hover {
			&:before {
				background-color: #6fb622;
			}
		}
		&:active {
			&:before {
				background-color: #63a31e;
			}
		}

		span {
			opacity: 0.5;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 24px;
			color: #ffffff;
			left: 61px;
			display: inline-block;
			position: relative;

		}
		&:before {
			content: "";
			display: inline-block;
			width: 48px;
			height: 48px;
			background-color: #7ccb26;
			border-radius: 100%;
			position: absolute;
			left: 0;


		}
		&:after {
			display: inline-block;
			content: '';
			border: 9px solid transparent;
			border-left: 15px solid #fff;
			position: absolute;
			top: 15px;
			left: 20px;
		}
	}
	&__button-download {
		width: auto;
		height: 48px;
		border-radius: 2px;
		background-color: #7ccb26;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		color: #ffffff;
		text-transform: uppercase;
		padding: 13px 23px;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			background-color: #6fb622;
			color: #fff;
		}
		&:focus {
			color: #fff;
		}
		&:active {
			background-color: #63a31e;
			color: #fff;
		}
	}
	&--submenu {
		padding: 22px 32px;
		background: url(../images/content/submenu-bg.jpg) center top no-repeat;
		background-size: cover;
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}

	&--planeta {
		padding: 70px 66px 75px 66px;
		text-align: center;
		position: relative;
		width: 100%;
		//background: url(../images/content/top-background-planeta.jpg) center top no-repeat;
		background: url(../images/content/1920-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-position-y: 10%;
		background-attachment: fixed;
		overflow: hidden;
		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
		}

		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
		&__img {
			width: 601px;
			height: 68px;
			margin: 0 auto;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&__desc {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 40px;
			font-stretch: condensed;
			line-height: 50px;
			color: #f4f6f9;
			margin-top: 16px;
		}
	}
    
    &--planeta__advantages {
        margin: 41px 0 63px 0;
        .advantage__desc {
            margin-top: 0;
            font-size: 14px;
            line-height: 22px;
            color: rgba(255, 255, 255, 1);
            a {
                color: #6cc51d;
                border-bottom: 1px dotted;

            }
        }
        .advantage__text {
            width: 70%;
        }
        .advantage__icon {
            display: inline-block;
            vertical-align: middle;
            line-height: 28px;
            padding: 5px;
        }
    }
    
    &--proofreading {
        padding: 77px 66px 81px 66px;
		background: url(../images/content/editing-bg.jpg) center top no-repeat;
		background-size: 100%;
        background-attachment: fixed;
        max-height: 400px;
        text-align: center;

		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
        
		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
            text-align: center;
		}
        
        &__title {
			font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 48px;
            font-weight: 500;
            font-stretch: condensed;
            line-height: 56px;
            text-align: center;
            color: #ecf0f1;
            
        }
        
        &__sub-title {
		    font-family: 'Open Sans', sans-serif;
            margin-top: 8px;
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            color: #ecf0f1;
            
        }
        
        .custom-btn {
            margin: 0 auto;
            padding: 9px 18px;
            font-size: 14px;
            
        }
        
        &__line {
            display: inline-block;
            margin-right: 15px;
			font-family: 'Fira Sans Condensed', sans-serif;
            font-stretch: condensed;
            font-size: 40px;
            line-height: 50px;
            color: #7ccb26;
            
        }
        
        &__sub-line {
            display: inline-block;
            margin-right: 15px;
		    font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 34px;
            color: #f4f6f9;
            vertical-align: top;
            
        }
        
        &__old-price {
            position: relative;
            padding-top: 3px;
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 21px;
                left: 0;
                width: 76px;
                height: 1px;
                background: #7ccb26;
                transform: rotate(-20deg);
                
            }
            
        }
        
        &__tip {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            background-color: rgba(255,255,255,0.2);
            border-radius: 50%;
            vertical-align: middle;
            color: @white;
            text-align: center;
            line-height: 1.4;
            font-size: 14px;
            font-weight: 600;
            
            &:hover .main-screen--proofreading__padding {
                display: block;
            }
        }
        
        &__padding {
            display: none;
            position: absolute;
            top: -10px;
            left: 15px;
            padding-left: 25px;
			z-index: 2;
			width: 300px;
			text-align: left;
			font-weight: 400;
            
        }
        
        &__hover {
            padding: 12px 16px;
            border-radius: 2px;
            background-color: #ffffff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
		    font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: @black;
            
            &:before {
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                content: "";
                top: 13px;
                left: 17px;
                background-color: #ffffff;
                transform: rotate(-45deg);
                box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
            }
        }
        
        &__advantages {
            margin-top: 24px;
            margin-bottom: 41px;
        }
    }
    
	&--pod {
		padding: 75px 66px 75px 66px;
		text-align: center;
		position: relative;
		width: 100%;
		background: url(../images/content/pod-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-position-y: 14%;
		background-attachment: fixed;
		overflow: hidden;
		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
		}
		&__title {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 500;
			font-stretch: condensed;
			line-height: 56px;
			color: #f4f6f9;
		}
		&__desc {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			color: #ecf0f1;
			margin-top: 16px;
			margin-bottom: 36px;
		}
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}

	}
    
	&--editing {
		padding: 60px 66px 60px 66px;
		background: url(../images/content/lit-editing-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		max-height: 400px;
		text-align: center;

		&:after {
			display: none;
		}
		&:before {
			display: none;
		}

		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
			text-align: center;
		}

		&__title {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 500;
			font-stretch: condensed;
			line-height: 56px;
			text-align: center;
			color: #ecf0f1;

		}

		&__sub-title {
			font-family: 'Open Sans', sans-serif;
			margin-top: 8px;
			font-size: 22px;
			line-height: 32px;
			text-align: center;
			color: #ecf0f1;

		}

		.custom-btn {
			margin: 0 auto;
			padding: 9px 18px;
			font-size: 14px;

		}

		&__line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Fira Sans Condensed', sans-serif;
			font-stretch: condensed;
			font-size: 40px;
			line-height: 50px;
			color: #7ccb26;

		}

		&__sub-line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 22px;
			line-height: 34px;
			color: #f4f6f9;
			vertical-align: top;

		}

		&__old-price {
			position: relative;
			padding-top: 3px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 21px;
				left: 0;
				width: 76px;
				height: 1px;
				background: #7ccb26;
				transform: rotate(-20deg);

			}

		}

		&__tip {
			position: relative;
			display: inline-block;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			background-color: rgba(255,255,255,0.2);
			border-radius: 50%;
			vertical-align: middle;
			color: @white;
			text-align: center;
			line-height: 1.4;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;

			&:hover .main-screen--editing__padding {
				display: block;
			}
			&.for-big {
				vertical-align: top;
				top: 10px;
			}
		}

		&__padding {
			display: none;
			position: absolute;
			top: -10px;
			left: 15px;
			padding-left: 25px;
			z-index: 2;
			width: 300px;
			text-align: left;
			font-weight: 400;

		}

		&__hover {
			padding: 12px 16px;
			border-radius: 2px;
			background-color: #ffffff;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: @black;

			&:before {
				display: block;
				position: absolute;
				width: 15px;
				height: 15px;
				content: "";
				top: 13px;
				left: 17px;
				background-color: #ffffff;
				transform: rotate(-45deg);
				box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
			}
		}

		&__advantages {
			margin-top: 24px;
			margin-bottom: 32px;
		}
	}
    
	&--pod {
		padding: 75px 66px 75px 66px;
		text-align: center;
		position: relative;
		width: 100%;
		background: url(../images/content/pod-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-position-y: 14%;
		background-attachment: fixed;
		overflow: hidden;
		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
		}
		&__title {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 500;
			font-stretch: condensed;
			line-height: 56px;
			color: #f4f6f9;
		}
		&__desc {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			color: #ecf0f1;
			margin-top: 16px;
			margin-bottom: 36px;
		}
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}

	}
    
    &--service-book {
        padding: 97px 66px 81px;
        background-color: #1c2842;
		background-image: url(../images/content/wooden-bg.png);
        background-repeat: no-repeat;
		background-size: 100%;
        background-position-y: 35%;
        background-attachment: fixed;
        min-height: 400px;
        text-align: center;
        overflow: visible;

		&:before {
			display: none;
		}
		&:after {
            width: 695px;
            height: 540px;
            top: 64px;
            left: 18%;
            border-radius: 0;
            background-color: transparent;
		    background-image: url(../images/content/service-book.png);
            background-repeat: no-repeat; 
            
		}
        
		&__content {
			position: relative;
            z-index: 5;
			width: 100%;
            max-width: 1160px;
			display: inline-block;
			font-size: 0;
		}
        
        &__right {
            max-width: 471px;
            float: right;
            
        }
        
        &__title {
			font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 48px;
            font-weight: 500;
            font-stretch: condensed;
            line-height: 56px;
            text-align: left;
            color: #ecf0f1;
            
        }
        
        &__sub-title {
		    font-family: 'Open Sans', sans-serif;
            margin-top: 8px;
            font-size: 22px;
            line-height: 32px;
            text-align: left;
            color: #ecf0f1;
            
        }
        
    }
	&--design {
		padding: 60px 66px 60px 66px;
		background: url(../images/content/designers-desk-570.jpg) center top no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		max-height: 400px;
		text-align: center;

		&:after {
			display: none;
		}
		&:before {
			display: none;
		}

		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
			text-align: center;
		}

		&__title {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 500;
			font-stretch: condensed;
			line-height: 56px;
			text-align: center;
			color: #ecf0f1;

		}

		&__sub-title {
			font-family: 'Open Sans', sans-serif;
			margin-top: 8px;
			font-size: 22px;
			line-height: 32px;
			text-align: center;
			color: #ecf0f1;

		}

		.custom-btn {
			margin: 0 auto;
			padding: 9px 18px;
			font-size: 14px;

		}

		&__line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Fira Sans Condensed', sans-serif;
			font-stretch: condensed;
			font-size: 40px;
			line-height: 50px;
			color: #7ccb26;

		}

		&__sub-line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 22px;
			line-height: 34px;
			color: #f4f6f9;
			vertical-align: top;

		}

		&__old-price {
			position: relative;
			padding-top: 3px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 21px;
				left: 0;
				width: 76px;
				height: 1px;
				background: #7ccb26;
				transform: rotate(-20deg);

			}

		}

		&__tip {
			position: relative;
			display: inline-block;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			background-color: rgba(255,255,255,0.2);
			border-radius: 50%;
			vertical-align: top;
			margin-top: 8px;
			color: @white;
			text-align: center;
			line-height: 1.4;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;

			&:hover .main-screen--design__padding {
				display: block;
			}
			&.for-big {
				vertical-align: top;
				top: 10px;
			}
		}

		&__padding {
			display: none;
			position: absolute;
			top: -10px;
			left: 15px;
			padding-left: 25px;
			z-index: 2;
			width: 300px;
			text-align: left;
			font-weight: 400;

		}

		&__hover {
			padding: 12px 16px;
			border-radius: 2px;
			background-color: #ffffff;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: @black;

			&:before {
				display: block;
				position: absolute;
				width: 15px;
				height: 15px;
				content: "";
				top: 13px;
				left: 17px;
				background-color: #ffffff;
				transform: rotate(-45deg);
				box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
			}
		}

		&__advantages {
			margin-top: 24px;
			margin-bottom: 32px;
		}
	}
	&--section {
		padding: 75px 66px 75px 66px;
		background: url(../images/content/inside-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		max-height: 400px;
		text-align: center;
		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 0;
			background: rgba(102, 98, 215, 0.9);
		}
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}

		&__content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
			text-align: center;
		}

		&__title {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 500;
			font-stretch: condensed;
			line-height: 56px;
			text-align: center;
			color: #ffffff;
			margin-top: 16px;
		}

		&__sub-title {
			font-family: 'Open Sans', sans-serif;
			margin-top: 16px;
			font-size: 22px;
			line-height: 32px;
			text-align: center;
			color: #fff;
			width: 690px;
			margin: 0 auto;

		}

		.custom-btn {
			margin: 0 auto;
			padding: 9px 18px;
			font-size: 14px;

		}

		&__line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Fira Sans Condensed', sans-serif;
			font-stretch: condensed;
			font-size: 40px;
			line-height: 50px;
			color: #7ccb26;

		}

		&__sub-line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 22px;
			line-height: 34px;
			color: #f4f6f9;
			vertical-align: top;

		}

	}
	&--design-cover {
		&:after {
			width: 602px;
			height: 496px;
			top: 40px;
			left: 20%;
			border-radius: 0;
			background-color: transparent;
			background-image: url(../images/content/design-cover.png);
			background-repeat: no-repeat;
		}
		.custom-btn--green {
			padding: 9px 18px;
			font-size: 14px;
			text-align: left;
			margin-top: 32px;
		}
		.main-screen--service-book__sub-title {
			margin-top: 16px;
		}
		.main-screen--service-book__right {
			text-align: left;
		}
	}
	&--annotation {
		background: url(../images/content/annotation-bg.jpg) center top no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		.custom-btn--green {
			vertical-align: top;
		}
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
		.main-screen--design__sub-title {
			margin-top: 16px;
		}
		.main-screen--design__advantages {
			margin-top: 32px;
			margin-bottom: 0;
		}
	}
	&--annotation-cover {
		padding: 100px 66px;
		position: relative;
		width: 100%;
		background: url(../images/content/girl-is-buying-book.jpg) center top no-repeat;
		background-attachment: fixed;
		overflow: hidden;
		text-align: center;
		min-height: 400px;
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
	&--image {
		background: url(../images/content/hero-bg-compressed.png) #1c2842 left bottom no-repeat;
		background-size: cover;
		padding: 96px 0 110px 60px;
		text-align: left;
		position: relative;
		overflow: visible;
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
		&__book {
			position: absolute;
			top: 0;
			right: 0;
			width: 711px;
			height: 508px;
			z-index: 2;
			background:  url(../images/content/hero-book.png) no-repeat;
			display: inline-block;
		}
		&__container {
			max-width: 1280px;
			margin: 0 auto;
			display: block;
		}
		&__content {
			position: relative;
			z-index: 1;
			width: 50%;
			display: inline-block;
			font-size: 0;
			max-width: 1280px;
			text-align: left;
		}

		&__title {
			font-family: 'Fira Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 500;
			font-stretch: condensed;
			line-height: 56px;
			text-align: left;
			color: #ffffff;

		}

		&__sub-title {
			font-family: 'Open Sans', sans-serif;
			margin-top: 20px;
			font-size: 22px;
			line-height: 32px;
			text-align: left;
			color: #ecf0f1;

		}

		.custom-btn {
			margin: 0 auto;
			padding: 9px 18px;
			font-size: 14px;
			vertical-align: top;

		}

		&__line {
			display: inline-block;
			margin-right: 15px;
			font-family: 'Fira Sans Condensed', sans-serif;
			font-stretch: condensed;
			font-size: 40px;
			line-height: 50px;
			color: #7ccb26;

		}

		&__sub-line {
			display: inline-block;
			margin-right: 26px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 22px;
			line-height: 34px;
			color: #f4f6f9;
			vertical-align: top;

		}

		&__old-price {
			position: relative;
			padding-top: 3px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 21px;
				left: 0;
				width: 76px;
				height: 1px;
				background: #7ccb26;
				transform: rotate(-20deg);

			}

		}

		&__tip {
			position: relative;
			display: inline-block;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			background-color: rgba(255,255,255,0.2);
			border-radius: 50%;
			vertical-align: top;
			margin-top: 8px;
			color: @white;
			text-align: center;
			line-height: 1.4;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;

			&:hover .main-screen--design__padding {
				display: block;
			}
			&.for-big {
				vertical-align: top;
				top: 10px;
			}
		}

		&__padding {
			display: none;
			position: absolute;
			top: -10px;
			left: 15px;
			padding-left: 25px;
			z-index: 2;
			width: 300px;
			text-align: left;
			font-weight: 400;

		}

		&__hover {
			padding: 12px 16px;
			border-radius: 2px;
			background-color: #ffffff;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			color: @black;

			&:before {
				display: block;
				position: absolute;
				width: 15px;
				height: 15px;
				content: "";
				top: 13px;
				left: 17px;
				background-color: #ffffff;
				transform: rotate(-45deg);
				box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
			}
		}

		&__advantages {
			margin-top: 24px;
			margin-bottom: 32px;
		}
	}
}