@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 .proofread-tab__title {
    font-weight: 500;
    margin-right: 20px;
  }
  .services-callback .input-custom {
    width: 190px;
  }
}

_:-ms-lang(x),  .services-callback .input-custom {
  width: 190px;
}
_:-ms-lang(x), .proofread-tab__title {
  font-weight: 500;
  margin-right: 20px;
}
_:-ms-lang(x),
.proofread-tab .proofread-tab__title {
  font-weight: 500;
  margin-right: 20px;
}

.select-custom-size .jq-selectbox__dropdown {
  width: auto !important;
}

@-moz-document url-prefix() {
  .editing-tab .proofread-tab__title {
    margin-right: 17px;
  }
}

@media (max-width: 1279px) {
    .b-catalog .slick-prev {
        left: 10px;
    }
    .b-catalog .slick-next {
        right: 10px;
    }
}