.b-modal {

    .modal-dialog {
        width: auto;

        .modal-content {
            padding: 0;

            &--video {
                line-height: 0;
            }
        }
    }

    &__close {
        position: absolute;
        top: -18px;
        right: -18px;
        width: 36px;
        height: 36px;
        background-image: linear-gradient(1deg, #d971d0, #ff6b6b);
        display: block;
        border: none;
        border-radius: 100%;

        &:after,
        &:before {
            content:"";
            position: absolute;
            display: block;
            height: 2px;
            width: 15px;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            background-color: #fff;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }

        &--annotation {
            background-image: none;
            background-color: #3184ee;
        }
    }
}