form.change-date {
  vertical-align: middle;
  display: inline-block;
  padding-left: 24px;
  .block-input {
    margin-top: 0;
  }
}
.block-subtitle {
  &--order {
    vertical-align: middle;
    display: inline-block;
  }
}
.container-big__content:last-child {
  margin-bottom: 86px;
}
.order-table {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  margin-top: 31px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  line-height: 59px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  tr.order-string {
    border-bottom: none;
    border-top: 1px solid #e0e0e0;

    &:hover {
      border-radius: 2px;
      background-color: #f3f6f8;
      border-color: #f3f6f8;
      + tr.order-string {
        border-color: #f3f6f8;
      }
      .num-order {
        a {
          color: #3184ee !important;
        }
      }

    }
  }
  tbody {
    td {
      padding: 2px 0;
      .number {
        font-size: 16px;
          span {

          }
      }
    }
  }
  .cost {
    span {
      padding-left: 5px;
    }
  }
}

.orders-info {
  margin-top: 42px;
  &--part {
    width: 400px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  &__item {
    display: block;
  }
  &__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: top;
  }
  &__data {
    color: rgba(0, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    vertical-align: top;
    padding-left: 5px;
  }

}
form.change-date {
  .block-input--inline {
    max-width: 203px;
  }
}