.order-header {
  background-color: #f3f6f8;
  padding: 34px 44px;
  &__container {
    font-size: 0;
    display: block;
  }
  &__item {
    width: 25%;
    display: inline-block;
    text-align: center;
    border-left: solid 1px rgba(0, 0, 0, 0.12);
    &:first-child {
      border-left: none;
    }
  }
  &__info {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    color: #000000;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
  }
  &--detail {
    .order-header__item {
      width: 20%;
    }
  }
}