.b-pagination {
    padding: 60px 0 80px 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    max-width: 722px;
    margin: 0 auto;
    &__item {
        width: 36px;
        height: 36px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        line-height: 36px;
        border-radius: 100%;
        &--active {
            background-color: rgba(0, 0, 0, 0.12);
            font-weight: 600;
        }
        &--nav {
            border-radius: 2px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            width: auto;
            height: auto;
            text-transform: uppercase;
            padding: 9px 18px;
            a {
                color: #ffffff;
            }
        }
        &--prev {
            position: relative;
            margin-right: 35px;
            &:before {
                display: inline-block;
                position: relative;
                content: "";
                width: 8px;
                height: 8px;
                top: -1px;
                margin-right: 8px;
                transform: rotate(135deg);
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                z-index: 2;
            }
        }
        &--next {
            position: relative;
            margin-left: 35px;
            &:after {
                display: inline-block;
                position: relative;
                content: "";
                width: 8px;
                height: 8px;
                top: -1px;
                margin-left: 8px;
                transform: rotate(-45deg);
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                z-index: 2;
            }
        }
    }
}

.b-pagination__arrow {
    width: 7px;
    height: 11px;
    margin-top: 4px;
    align-self: center;
    transform: rotate(-90deg);
    fill: #2337FF;
}

.b-pagination__pages {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 40px;
}


