.b-popup-annotation {
    
    &__form {
        position: relative;

        textarea {
            border: none;
            height: 425px;
            border-bottom: solid 1px rgba(0, 0, 0, 0.2);
            padding: 23px 0 13px 0;
            font-size: 16px;
            line-height: 26px;
        }

        .block-input {
            margin-top: 0;
            margin-bottom: 12px;
        }

        .custom-btn {
            width: 121px;
        }
    }

    &__symbol {
        opacity: 0.4;
        font-size: 14px;
        color: #000;
        margin-bottom: 32px;
        text-align: left;
    }

    &__group {
        position: absolute;
        bottom: -32px;
        left: 0;
        font-size: 0;
    }

    &__link-close {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;
        margin-top: 5px;

        &:after,
        &:before {
            content:"";
            display: block;
            width: 16px;
            height: 2px;
            background-color: #d0d0d0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }
    }

    &__link {
        display: inline-block;
        vertical-align: top;

        img {
            width: 84px;
            height: auto;
            display: inline-block;
            vertical-align: top;
        }

        span {
            position: relative;
            color: #3184ee;
            font-size: 16px;
            font-style: italic;
            display: inline-block;
            vertical-align: top;
            width: 170px;
            text-align: left;
            margin-left: 34px;

            &:before {
                content:"";
                opacity: 0.2;
                background-image: url(../images/content/line.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                width: 47px;
                height: 50px;
                left: -51px;
                top: 15px;
                display: block;
                position: absolute;
            }
        }
    }

    &__button {
        text-align: right;
    }

    &__delete {
        margin-right: 24px;
        color: #fa535e;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            color: #fa535e;
        }
    }
}