.b-popup-assistant {
    width: 700px;
    padding: 37px 67px 63px 61px;

    &__title {
        margin-bottom: 34px;

        h2 {
            font-family: 'Fira Sans Condensed', sans-serif;
            letter-spacing: normal;
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 22px;
            font-weight: bold;
        }
    }

    &__panel {
        font-size: 0;
        margin: 0 -15px 42px;
    }

    &__group {
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 3);
        padding: 0 15px;
        text-align: left;

        label {
            opacity: 0.4;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 8px;
            font-weight: normal;
        }

        input {
            border-radius: 2px;
            border: solid 1px rgba(0, 0, 0, 0.2);
            height: 40px;
            width: 100%;
            padding: 0 10px;
            font-size: 14px;
        }
    }

    .custom-btn {
        font-weight: 600;
        width: 260px;
        margin: 0 auto;
        border: none;

        span {
            position: relative;
            padding-right: 22px;

            &:before {
                content:"→";
                position: absolute;
                right: 0;
                top: -1px;
            }
        }
    }
}