.b-popup {
    width: 550px;
    padding: 37px 67px 63px 61px;

    &--annotation {
        width: 650px;
        padding: 25px 30px 32px;
    }

    &__title {
        margin-bottom: 34px;

        h2 {
            font-family: 'Fira Sans Condensed', sans-serif;
            letter-spacing: normal;
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 22px;
            font-weight: bold;
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin-bottom: 30px;

        .b-popup__group {
            margin-bottom: 0;
        }
    }
    
    &__item {
        width: calc(100% / 2);
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__group {
        display: block;
        text-align: left;
        margin-bottom: 30px;
    }

    &__select {
        position: relative;

        input {
            position: relative;
            padding: 3px 10px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px rgba(0, 0, 0, 0.2);
            text-align: left;
        }
    }

    &__select-control {
        position: absolute;
        width: 10px;
        height: 40px;
        top: 0;
        right: 7px;
    }

    &__select-btn {
        position: absolute;
        bottom: 11px;
        width: 0;
        height: 0;
        border-right: 4px solid #000000;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        transform: rotate(-90deg);
    }

    &__btns {
        display: flex;
        justify-content: space-around;
    }
    
    label {
        opacity: 0.4;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 8px;
        font-weight: normal;
        text-align: left;
    }

    input {
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.2);
        height: 40px;
        width: 100%;
        padding: 0 10px;
        font-size: 14px;
        margin-bottom: 0 !important;

        .dropdown-toggle {            
            position: relative;
            width: 190px;
            height: 40px;
            padding: 3px 10px;
            margin-right: 10px;
            border-radius: 2px;
            background-color: #ffffff;
            border: solid 1px rgba(0, 0, 0, 0.2);
        }
    }

    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        resize: none;
    }

    .block-btn-radio {
        margin-top: 0;
        text-align: left;

        .label-radio {
            line-height: 19px;
            opacity: 1;
        }

        .block-btn-radio__item {
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .custom-btn {
        font-weight: 600;
        width: 200px;
        margin: 0 auto;
        border: none;
        height: 45px;

        span {
            position: relative;
        }
    }

    .btn-border {
        width: 200px;
        background-color: #ffffff;
        margin-right: 30px;
        height: 45px;

        span:before {
            display: none;
        }
    }

    .dropdown-menu {
        top: 40px;
        margin-top: -1px;
        right: 0;
        border-radius: 0;

        &:after {
            display: none;
        }
    }

}