.b-popup-back {
    width: 600px;
    text-align: center;
    padding: 40px 56px;

    h2 {
        font-family: 'Fira Sans Condensed', sans-serif;
        letter-spacing: normal;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    &__caption {
        margin-bottom: 42px;
        opacity: 0.5;
        font-size: 16px;
        line-height: 26px;
    }

    .custom-btn  {
        width: 260px;
        font-weight: 600;
        border: none;

        span {
            position: relative;
            padding-right: 22px;

            &:before {
                content:"→";
                position: absolute;
                right: 0;
                top: -1px;
            }
        }
    }
}