.profile-settings {
    &__footer {
        footer {
            margin-top: 0;
        }
    }
}
.profile-form {    
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    border-radius: 6px;
    background-color: @white;
    padding: 63px 35px;
    margin-bottom: 28px;
    
    &--no-margin {
        margin-bottom: 0;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
        
        &--photo {
            min-width: 160px;
            max-width: 160px;
            max-height: 160px;
            
            img {
                margin-bottom: 12px;
                border-radius: 50%;
                object-fit: contain;
            }
        }
        &--fields {
            padding: 0px 38px 0 40px;
            
        }
        &--info {
            padding-top: 10px;
        }
    }
    
    &__link {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.63;
        color: #3184ee;
        text-align: center;
        
        &--show {
            position: relative;
            padding-left: 35px;
            margin-bottom: 63px;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                display: block;
                width: 24px;
                height: 24px;
	            background: url("../images/content/eye-grey.svg") center top no-repeat;
                object-fit: contain;
            }
        }
        
        &--socials {
            display: inline-block;
            text-align: left;
            margin-top: 35px;
            border-bottom: 1px dotted #3184ee;
            
            &:hover {
                border-color: @black;
            }
        }
        
        &--remove {
            display: none;
            color: #fa535e;
            
            &.show {
                display: block;
            }
        }
    }
    
    &__txt {
        font-family: 'Open Sans', sans-serif;
        opacity: 0.5;
        font-size: 14px;
        line-height: 1.57;
        text-align: left;
        
        &--center { 
            display: block;
            text-align: center;
            margin-top: 8px;
        }
    }
    
    &__title {        
	    font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 32px;
        font-stretch: condensed;
        line-height: 1.19;
        margin-bottom: 36px;
        
        &--sub {
            margin-top: 60px;
        }
    }
    
    &__btn {
        margin-top: 50px;
    }
    
    &__radio {
        margin-bottom: 75px;
        
        .label-radio {
            font-size: 14px;
            line-height: 1.57;
            cursor: pointer;
        }
            
        .label-radio:before {
            top: 7px;
        }
    }
    
    &__input {
        position: relative;
        width: 494px;
    }
    
    &__tip {
        position: absolute;
        width: 460px;
        top: 0;
        right: -102%;
        font-size: 14px;
        line-height: 1.57;
        color: rgba(0, 0, 0, 0.4);
        
        span {
            margin-top: 30px;
            display: block;
        }
        
        a {
            display: inline-block;
            font-size: 14px;
        }
    }
    
    &__socials {
        display: none;
        
        .active {
            display: block;
        }
    }
    
    .error {
        display: block;
    }
}