.profile-breadcrumb {
    display: table;
    .breadcrumb {
        display: table-cell;
        width: 789px;
    }
}

.profile {
    padding: 33px 60px;
    
    &--empty {
        margin-bottom: 200px;
    }
    
    &__item {
        display: inline-block;
        vertical-align: top;
        width: calc(100% / 3);
        
        &--photo {
            max-width: 160px;
            max-height: 160px;
            
            img {
                object-fit: contain;
                border-radius: 50%;
            }
        
        }
        
        &--name {
            margin-left: 38px;
            margin-right: 105px;
        
        }
        
        &--socials {
        
        }
        
    }
    &__title {        
        font-family: 'Open Sans', sans-serif;
        opacity: 0.4;
        font-size: 14px;
        line-height: 1.57; 
        
    }
    
    &__val {
	    font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 40px;
        font-stretch: condensed;
        line-height: 1.25;
        margin-bottom: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &__link {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.63;
        color: #3184ee;
        
        &--edit {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: -29px;
                display: block;
                width: 24px;
                height: 24px;
	            background: url("../images/content/pencil-grey.svg") center top no-repeat;
                object-fit: contain;
                
            }
        }
        
    }
    
    &__desc {
        padding: 0 260px;  
        margin-bottom: 38px; 
        font-size: 16px;
        line-height: 1.63;     
    }
    
    &__socials {
        margin-bottom: 38px;
    }
    
    &__tab {
        padding: 0 260px;
        margin-bottom: 31px;
        
        &--item {
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 40px;
            font-stretch: condensed;
            line-height: 1.25;
            color: #276cea;
            margin-right: 55px;
            border-bottom: 1px dotted #3184ee;
        
            &.active {
                color: @black;
                border: none;
            }
            
            &:hover {
                border-color: @black;
            }
        }
    }
}

.profile-book {
    display: none;
    padding: 0 60px;
    
    &.active {
        display: block;
    }
    
    &__item {       
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        max-width: 160px;
        
        &:nth-child(6n) {
            margin-right: 0;
        }
            
        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: -2px;
            display: block;
            width: 178px;
            height: 244px;
            background: url("../images/content/book-mask.png");
            object-fit: contain;

        }
        
        img {            
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);

        }
    }
    
    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 50px;
    }
    &__author {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
    }
    &__name-book {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: #000000;
        text-align: left;
        margin-top: 4px;
    }
    &__version {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        text-align: left;
        margin-top: 8px;
        &--print:after {
            display: inline-block;
            position: relative;
            content: "";
            width: 7px;
            height: 7px;
            transform: rotate(-45deg);
            opacity: 0.5;
            border: solid 1px #000000;
            border-width: 0 0px 1px 1px;
            margin: 2px 5px;
        }
    }
    &__price {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 24px;
        font-stretch: condensed;
        color: #000000;
        text-align: left;
        margin-top: 8px;
    }

}