.proofread-block {
    //padding: 68px 0;
    padding-top: 68px;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;

    &--blue {
        border-radius: 16px;
        background-color: #f3f6f8;
        margin: 0 auto;
        margin-top: 70px;
    }
    
    &__title {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-stretch: condensed;
        font-size: 32px;
        line-height: 38px;
        padding-bottom: 24px;
        
        &--pay {
            font-size: 40px;
            padding-bottom: 0;
            line-height: 50px;
            text-align: center;
        }
    }
    
    &__sub-title {
        position: relative;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        font-size: 22px;
        line-height: 26px;
        vertical-align: top;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 15px;
            left: -5px;
            width: 66px;
            height: 1px;
            background: #7ccb26;
            transform: rotate(-28deg);
        }
        
    }
    
    &__img {   
        height: 226px;
        line-height: 226px;        
        img {
            display: inline;
            vertical-align: middle;
            line-height: normal;
        }
    }
    
    &__txt {
        line-height: 36px;
        
        &--pay {
            margin-bottom: 6px;
        }
        
        a {
            color: #276cea;
            text-decoration: dotted;
            
            &:hover {
                color: @black;
            }
        }
        
        .custom-btn {
            color: @white;
            &:hover {
                color: @white;
            }
        }
        
    }
    
    &__links {
        a {
            color: #3184ee;
            margin-right: 16px;
            line-height: 36px;
            
            &.cancel {
                color: #fa535e;
            }
            &:hover {
                color: @black;
            }
        }
    }
    
    &__btn {        
        &--pay {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
    
    &__block-count {
        display: flex;
        justify-content: space-between;
    }
    
    &__item-count {
        display: none;
        vertical-align: top;
        width: 360px;
        min-height: 340px;
        height: auto;
        text-align: center;
        margin-top: 24px;
        
        .fallback {
            width: 100%;
            height: 284px;
            
            .info {
                height: 110px;
                
                button {
                    background-color: #7ccb26;
                }
            }
            .text p {
                font-size: 14px;
            }
        }
        
        &.active {
            display: inline-block;
        }
        
    }
    
    &__block-number {
        padding: 0 164px;    
        margin-top: 30px;    
        display: flex;
        justify-content: space-between;
        
    }
    
    &__arc {        
        width: 331px;
        height: 17px;
        background: url(../images/content/arc.svg) center top no-repeat;  
    }
    
    &__number {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: #bcc4cb;
        border-radius: 50%;
        vertical-align: middle;
        color: @white;  
        font-size: 14px;
        font-weight: 600;  
        line-height: 30px;   
        
        &.active {
            background-color: #141414;
        }
    }   
    
    &__btn-order {
        margin-top: 32px;        
    }
    
    &__tip {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        vertical-align: middle;
        color: #fff;
        text-align: center;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 600;
            
        &:hover .proofread-block__padding {
            display: block;
        }        
    }
    
    &__padding {    
        display: none;
        position: absolute;
        top: -10px;
        left: 15px;
        padding-left: 25px;
        z-index: 10;
        
    }
    
    &__hover {
        padding: 12px 16px;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #000;    
            
        &:before {
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            content: "";
            top: 13px;
            left: 17px;
            background-color: #ffffff;
            transform: rotate(-45deg);
            box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.04), 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
        }    
    }
    
    .b-block--white {
        padding-top: 0;   

        .block-book__icon {
            background-color: transparent;
        }

        .block-book__wrapper {
            padding: 0;
        }
        .block-book__block {
            margin-bottom: 0;
        }
    }
}

.proofread-tab {
    margin-bottom: 30px;
    
    &__nav {
        margin-bottom: 24px;
        
    }
    
    &__title {
        font-size: 12px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        margin-right: 48px;
        cursor: pointer;
        
        &:hover {
            color: #3184ee;
        }        
        
        &.active {
            color: #3184ee;
            border-bottom: 1px solid #3184ee;
            
        }
    }
    
    &__content {
        position: relative;
        background: url(../images/content/books-bg.png) center top repeat;      
        background-size: 100%;
        min-height: 300px;
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -125px;
            left: 5%;
            width: 1121px;
            height: 267px;
            background: url(../images/content/book-ex-shadow.png) center top no-repeat;  
            z-index: -1;  
        }
    }
    
    &__item {
        display: none;
        
        &.active {
            display: block;            
        }
    }
    
    &__part {
        position: relative;
        display: inline-block;
        width: 49%;
        padding: 70px 60px;
        text-align: left;
        font-size: 16px;
        line-height: 32px;
        vertical-align: top;
        
        &:before {
            position: absolute;
            top: 35px;
            left: 0;
            right: 0;
            margin: 0 auto;
            content: '';
            display: block;
            width: 24px;
            height: 24px;
        }
        
        &--bad {
            &:before {
                background: url(../images/content/cancelled-red.svg) no-repeat;
                background-size: 100%;
            }            
            .error {
                position: relative;
                display: inline-block;
                //margin-right: 5px;
                //border-color: transparent;
                //border-width: 0 0 5px 0;
                //border-image: url(data:image/jpeg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMCA1LjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDUuNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGQTUzNUU7fQo8L3N0eWxlPgo8dGl0bGU+UGF0aCAxNTwvdGl0bGU+CjxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgo8ZyBpZD0iaXRlcmF0aW9uNy1feDIwMTRfLVNlcnZpY2VzIj4KCTxnIGlkPSJTZXJ2aWNlLXByb29mcmVhZGluZy1Db3B5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTY2LjAwMDAwMCwgLTEzODYuMDAwMDAwKSI+CgkJPHBvbHlsaW5lIGlkPSJQYXRoLTE1IiBjbGFzcz0ic3QwIiBwb2ludHM9IjU2NiwxMzg2IDU3MSwxMzkwLjcgNTc2LDEzODYuMSAJCSIvPgoJPC9nPgo8L2c+Cjwvc3ZnPgo=) 5 repeat;

                &:after {
                    content: '';
                    position: absolute;
                    top: 90%;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    display: inline-block;
                    background: url(../images/content/wavy-underline.png) repeat-x;

                }
                
            }
        }
        
        &--good {
            &:before {
                background: url(../images/content/check-green.svg) no-repeat;
                background-size: 100%;
            }
        }
    }
}

.proofread-next {
    
    &__block {
        display: inline-block;
		width: 33.3%;
        text-align: center;
        vertical-align: top;
    }
    
    &__block-wrapper {
        padding: 10px 0 32px 0;
        margin: 0 auto;
        vertical-align: top;
        min-height: 260px;
    }
    
    &__img {
        min-height: 215px;
        margin: 0 auto;
        margin-bottom: 10px;        
    }
    
    &__txt {
        line-height: 24px;        
    }
    
    .next-img-1 {
        width: 251px;
    }
    
    .next-img-2 {
        width: 197px;
    }
    
    .next-img-3 {
        width: 223px;
    }
}

.proofread-blog {  
    display: inline-block;
    font-size: 0;
    width: 100%;
    &__item {
        display: inline-block;
        width: 31%;
        vertical-align: top;
        margin-top: 8px;
        margin-left: 36px;
        text-align: left;
        &:hover {
            .proofread-blog__txt {
                color: #276cea;
            }
        }

        &:first-child {
           margin-left: 0;
        }
    }
    
    &__img {
        margin-bottom: 24px;
        
        img {
            width: 100%;
            height: 315px;
            object-fit: cover;
        }
    }
    
    &__txt {
        font-size: 20px;
        text-align: left;
        display: inline-block;
        &:hover {
           color: #276cea;
        }
    }
}

.dropzone-steps {  
    &.preload {
    line-height: 246px;
        .info {
            display: none;
        }
        .text {
            display: none;
        }
        .preloader img {            
            display: inline;
            vertical-align: middle;
            line-height: normal;
        }
    }
}

.dropzone-steps-upload {
    border: none;
    padding: 0;
    
    .text {
        display: none;
    }
    
    .dz-preview.dz-file-preview .dz-image {
        background: url(../images/content/uploaded-book.png) no-repeat;  
        margin-bottom: 22px;   
    }
    
    .dz-preview {
        height: 205px; 
        overflow: inherit;
    }
    
    .dz-preview .dz-image {
        position: relative;
        width: 156px;
        height: 205px;
        
        &:after {
            content: '';
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            width: 48px;
            height: 32px;
            border-bottom: 2px solid #222222;
            border-left: 2px solid #222222;
            transform: rotate(-45deg);
        }
    }
    
    .dz-preview .dz-filename {
        font-size: 16px;
        color: @black;
        opacity: 1;
        line-height: 26px;
    }
}