.b-rating {
  display: inline-block;
  vertical-align: top;
    &__list {
    padding-left: 0;
    font-size: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    //margin-left: 11px;
  }


  &__input {
    display: none;
  }

  &__label {
    background: url('../images/svgsprites/star-another.svg') no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
    height: 17px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    z-index: 1;
    float: right;
    clear: none;
    margin-right: 10px;
  }
  &__label:hover {
    background-position: 0 -18px;
  }
  &__input:checked ~ .b-rating__label {
     background-position: 0 -18px;
   }


  &__label:hover,
  &__label:hover ~ .b-rating__label {
    background-position: 0 -18px;
  }

  .label:empty {
    display: inline-block;
  }
  &__label:hover:before,
  &__label:hover ~ .b-rating__label:before,
  &__input:checked ~ .b-rating__label:before
  {
    background-position: 0 -18px;
  }
}