.block-search-form {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  padding: 17px 60px 11px;

  &__input {
    vertical-align: middle;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.16);
    width: 735px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
  }
  &__btn {
    vertical-align: middle;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #ffffff;
    padding: 9px 38px 9px 18px;
    text-transform: uppercase;
    border-radius: 2px;
    height: 40px;
    margin-left: 12px;
    background: url('../images/content/search-icon.png') 80px 13px no-repeat #3184ee
  }
  &__info {
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
  }

  &__info-img {
    vertical-align: top;
    display: inline-block;
  }

  &__info-text {
    vertical-align: top;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px;
  }
}