.service-book-callback {    
    max-width: 1160px;
    margin: 0 auto;
    &--top {
        form {
            margin-top: -65px !important;            
        }        
    }
    
    &--no-margin {
        form {
            max-width: none !important;
        }        
    }
    
    form {
        margin: 0 auto;
        padding: 36px 115px;
        background-color: #7ccb26;
        max-height: 112px;
    }
    
    .editing-callback--success__img {
        border-color: rgba(255,255,255,0.7);
    }
}

.service-block {
    max-width: 1160px;
    //padding: 68px 0;
    padding-top: 68px;
    margin: 0 auto;
    text-align: center;
    
    &--top {
        padding-top: 141px;
    }
    
    &--blue {
        padding: 68px 60px;
        border-radius: 16px;
        background-color: #f3f6f8;        
    }
    
    &--no-border {
        max-width: none;
        border-radius: 0;
        min-height: 565px;
        margin-bottom: 0;
    }
    
    &__title {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-stretch: condensed;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 32px;
        
        &--big {
            font-size: 40px;
            font-weight: 500;
            
        }
        
    }
    
    &__subtitle {
        font-family: 'Fira Sans Condensed', sans-serif;        
        font-size: 24px;
        font-stretch: condensed;
    }
    
    &__wrapper {
        font-size: 0;
        margin-top: 20px;
    }
    
    &__item {
        display: inline-block;
        width: 50%;
        max-width: 500px;
        
        &--border {            
            border-left: 1px solid rgba(0,0,0,0.1);
        }
    }
    
    &__img {
        text-align: center;
        margin-bottom: 32px;
        
        img {
            max-width: 300px;
            display: inline;
        }
    }
    
    &__old-price {
        position: relative;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        opacity: 0.5;
        font-size: 22px;
        line-height: 26px; 
        margin-bottom: 5px;
        
        &:after {
            content: '';
            position: absolute;
            top: 13px;
            left: 4px;
            display: block;
            width: 70px;
            height: 1px;
            background:  @black;
            transform: rotate(-24deg);
        }
    }
    
    &__new-price {
        font-family: 'Fira Sans Condensed', sans-serif;  
        font-size: 40px;
        font-weight: 500;
        font-stretch: condensed;
        line-height: 50px;           
    }
}