.services-block {
  padding-top: 32px;
  &__part {
    width: 50%;
    display: inline-block;
    &:first-child {
      padding-right: 20px;
    }
    &:last-child {
      padding-left: 20px;
    }
  }
  &__label {
    position: relative;
    &:after {
      position: absolute;
      display: inline-block;
      line-height: 27px;
      padding: 35px;
      content: "Скоро у нас";
      background-image: linear-gradient(2deg, #d971d0, #ff6b6b);
      width: 126px;
      height: 126px;
      border-radius: 100%;
      right: -15px;
      top: -15px;
      transform: rotate(10deg);
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 24px;
      font-stretch: condensed;
      text-align: center;
      color: #ffffff;
    }
  }
  &__block-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    color: #000000;
    text-align: center;
  }
  &__subtitle {
    opacity: 0.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 0 32px 0;
  }
  &__item {
    //width: 25%;
    padding: 0 20px;
    //min-width: 294px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    &--blue {
      width: 50%;
      padding: 0;
      max-width: 260px;
      min-width: 260px;
      //min-width: 294px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      &:first-child {
        padding-left: 0;
      }
      .services-block__item-wrapper {
        background-color: #e8f4f8;
      }

    }
    &--beige {
      max-width: 260px;
      min-width: 260px;
      width: 50%;
      padding: 0;
      //min-width: 294px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      &:last-child {
        padding-right: 0;
      }
      .services-block__item-wrapper {
        background-color: #f4f3ee;
      }
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &--small-img {
      .services-block__img {
        width: 158px;
        //height: 191px;
        margin: 0 auto;
        img {
          width: 100%;
          height: 191px;
        }
        .hover {
          display: none;
        }
        .static {
          display: block;
        }
      }
    }
    &--img-right {
      .services-block__img {
        text-align: right;
      }
    }
    &--first {
      padding-left: 0px;
    }
  }
  &__item-wrapper {
    max-width: 260px;
    min-width: 260px;
    border-radius: 16px;
    background-color: #f3f6f8;
    text-align: center;
    min-height: 420px;
    padding: 30px 0;
    display: inline-block;

    &--shadow {
      width: 100%;
      height: 100%;
      position: relative;
      background: url(../images/content/support-girl.jpg) no-repeat;
      z-index: 1;
      border-radius: 16px;

    }
    #proof-mistake text {
      fill: #000;
    }
    &:hover {
      background-color: #3184ee;
      .services-block__caption {
        color: #fff;
      }
      .services-block__text {
        color: rgba(255, 255, 255, 0.5);
      }
      #proof-mistake text {
        fill: #fff;
      }
      .hover {
        display: block;
      }
      .static {
        display: none;
      }
    }
    &--form {
      padding: 36px 21px;
      background-color: rgba(49, 132, 238, 0.8);
      &:hover {
        background-color: rgba(49, 132, 238, 0.8);
      }
    }
  }
  &__wrapper {
    font-size: 0;
    width: 100%;
    display: inline-block;
    padding: 0 60px;
    &--captions {
      padding-top: 60px ;
    }
  }
  &__img {
    height: 205px;
    text-align: center;
    img {
      height: 100%;
      width: auto;
    }
  }
  &__caption {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    font-stretch: condensed;
    color: #000000;
    text-align: left;
    padding: 23px 20px 0 20px;
  }
  &__text {
    padding: 8px 20px 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
  }
}
.services-callback {
  text-align: center;
  //background-color: #3184ee;
  //padding: 36px 125px 59px 148px;
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 29px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
  }
  &--success {
    display: none;
    text-align: center;
    padding: 80px 0;
    &__img {
      width: 48px;
      height: 48px;
      border: solid 2px #7ccb26;
      border-radius: 100%;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      line-height: 55px;
      &:after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 12px;
        transform: rotate(45deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;


      }

    }
    &__text {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      line-height: 26px;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      margin-top: 24px;
    }
    &__link {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
      margin-top: 24px;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
      &:hover {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
      &:active {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
      &:focus {
        color: #ffffff;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.8);
      }
    }
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
  }
  .block-input {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
  }
  .input-custom {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
    width: 173px;
    padding: 0 0 13px 0;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    margin: 40px 0;
    &:focus {
      color: rgba(255, 255, 255, 1);
    }
  }
  input::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.8);}
  input::-moz-placeholder {color: rgba(255, 255, 255, 0.8);}
  input:-moz-placeholder {color: rgba(255, 255, 255, 0.8);}
  input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.8); }
  label.error {
    width: 100%;
    left: 0;
    font-size: 12px;
    top: 70%;
  }

}