.submenu-ul {    
    background-color: #ecf0f1;
    
    ul {
        margin: 0;
        padding: 22px;
        text-align: center;
    }
    
    li {
        position: relative;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        margin-right: 56px;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        
        &:hover {
            color: #fa535e;
            border-color: #fa535e;
        }        
        &.active {
            color: #fa535e;
            border-color: #fa535e;
        }
        &:hover .submenu-ul__block {
            display: block;
        }
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            right: -16px;
            width: 8px;
            height: 8px;
            border-right: 1px solid #fa535e;
            border-bottom: 1px solid #fa535e;
            transform: rotate(45deg);
        }
        
    }
    
    &__block {
        position: absolute;    
        top: 25px;
        padding-top: 9px;
        display: none;  
        z-index: 10;
        
    }
    
    &__item {        
        //min-width: 610px;
        width: auto;
        padding: 24px 0;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);  
        
    }
    
    &__col {
        display: inline-block;
        width: 49%;
        font-size: 0; 
    }
    
    &__link {
        display: inline-block;
        position: relative;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 42px;
        padding: 0 44px;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;
        
        &:hover {
            color: #276cea;
        }
        
        &.active {
            &:before {
                content: '';
                display: block;
                position: absolute;
	            background: url("../images/content/check-black.svg") center top no-repeat;
                width: 16px;
                height: 16px;
                top: 13px;
                left: 22px;
                
            } 
            &:hover {
                color: @black;
            }
        }
    }
}