table.public-books {
  width: 100%;
  margin-top: 24px;
  tr {
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 0px 16px;
    box-sizing: border-box;
  }
  thead tr {
    border-top: 0;
  }

  th {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    border-top: none;
    vertical-align: bottom;
    font-weight: 400;
    padding: 12px 0;
  }
  td {
    vertical-align: top;
    .small-icon {
      margin-top: 10px;
    }
  }

  .book {
    text-align: left;
    padding: 6px 0;
    vertical-align: middle;
    position: relative;
  }
  .name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
  }
  .icons {
    img {
      margin-right: 16px;
    }
  }
  .info {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.4);
    .date, .age {
      color: rgba(0, 0, 0, 1);
    }
  }
  .result {
    text-align: right;
  }
  .comment {
    text-align: right;
  }
  .cash {
    text-align: right;
  }
  .big-number {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    color: #000000;
    position: relative;
    vertical-align: top;
  }
  .small-icon {
    height: 16px;
    width: 16px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-left: 9px;
    img {
      vertical-align: top;
    }
  }
  .book-string {
    position: relative;
    &:hover {
      border-radius: 2px;
      background-color: #f3f6f8;
      border-color: #f3f6f8;
      + .book-string {
        border-color: #f3f6f8;
      }
      .book-item__wrapper--hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 24px;
      }
    }
    .book-item__wrapper--hover {
      display: none;
    }
    .btn-book--right {
      right: auto;
      bottom: 24px;
      top: auto;
    }
  }
  &--order {
    th {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.4);
      padding: 12px 16px;
    }
    td {
      padding: 0px 16px;
    }
    .th-cash, .th-count {
      text-align: right;
    }
    .icons {
      line-height: 24px;
      img {
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 21px;
      }
      span {
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .type {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      vertical-align: middle;
    }
    .book-string {
      &:hover {
        .name {
          color: #3184ee;
        }
      }
    }
    .count, .cash {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 32px;
      font-weight: 500;
      font-stretch: condensed;
      line-height: 38px;
      color: #000000;
      vertical-align: middle;
      text-align: right;
    }
  }
}
