//- background colors

@bg: #282f36;
@bg-footer: #f3f6f8;

//- sizes
@header-height: 80px;
@footer-height: 70px;
@header-min-height: 50px;

//- font colors

@white: #fff;
@black: #000;

.icon-one {
  &.animate {
    .word--one {
      animation: animateServiceOne 0.3s ease-in-out 0.3s;
      width: 45px;
      transition: width 0s ease-out 0.6s;
    }
    .word--two {
      animation: animateServiceOne 0.3s ease-in-out 0.6s;
      width: 45px;
      transition: width 0s ease-out 0.9s;
    }
    .word--three {
      animation: animateServiceOne 0.3s ease-in-out 0.9s;
      width: 45px;
      transition: width 0s ease-out 1.2s;
    }
  }
}

.icon-two {
  &.animate {
    .image--one {
      //animation: animateServiceTwo 0.5s ease-in-out 0.4s;
      visibility: visible;
      transition: visibility 0.2s linear 0.9s;
    }
    .image--two {
      //animation: animateServiceTwo 0.5s ease-in-out  0.9s;
      visibility: visible;
      transition: visibility 0.2s linear 1.4s;
    }
    .image--three {
      //animation: animateServiceTwo 0.5s ease-in-out 1.4s;
      visibility: visible;
      transition: visibility 0.2s linear 1.9s;
    }
  }
}

.icon-three {
  &.animate {
    .line--content-one {
      animation: animateServiceThree 0.5s ease-in-out 1.6s;
      width: 100%;
      transition: width 0s linear 1.6s;
    }
    .line--content-two {
      animation: animateServiceThree 0.5s ease-in-out 2.1s;
      width: 100%;
      transition: width 0s linear 2.1s;
    }
    .line--content-three {
      animation: animateServiceThree 0.5s ease-in-out 2.2s;
      width: 100%;
      transition: width 0s linear 2.7s;
    }
    .line--content-four {
      animation: animateServiceThree 0.5s ease-in-out 2.7s;
      width: 100%;
      transition: width 0s linear 3.2s;
    }
  }
}

@keyframes animateServiceOne {
  from {width: 0px;}
  25% {width: 10px;}
  50% {width: 20px;}
  75% {width: 30px;}
  to {width: 45px;}
}

@keyframes animateServiceThree {
  from {width: 0;}
  25% {width: 25%;}
  50% {width: 50%;}
  75% {width: 75%;}
  to {width: 100%;}
}