
<div class="clear"></div><!-- BEGIN footer -->
<footer class="footer">
  <div class="content">
    <div class="footer__block"><a href="mailto:Support@bookscriptor.ru" title="" class="footer__block-email">Support@bookscriptor.ru</a>
      <div class="footer__block-social"><a href="#" target="_blank" title="" class="social-icon social-icon--ok">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12,12A5,5,0,1,0,7,7,5,5,0,0,0,12,12Zm0-7a2,2,0,1,1-2,2A2.00225,2.00225,0,0,1,12,5Z"></path>
            <path d="M13.8288,16.049a9.33918,9.33918,0,0,0,3.14972-1.2243,1.39994,1.39994,0,1,0-1.48437-2.374,6.71562,6.71562,0,0,1-6.88281.064A1.40038,1.40038,0,0,0,7.16992,14.916a9.34977,9.34977,0,0,0,3.00079,1.13348L7.00977,19.21045a1.40006,1.40006,0,1,0,1.98047,1.97949L12,18.18018l3.00977,3.00977a1.40006,1.40006,0,1,0,1.98047-1.97949Z"></path>
          </svg></a><a href="#" target="_blank" title="" class="social-icon social-icon--vk">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13">
            <path fill-rule="evenodd" d="M21.059 10.91a1.416 1.416 0 0 0-.072-.139c-.367-.66-1.069-1.473-2.105-2.436l-.022-.022-.011-.01-.011-.012h-.011c-.47-.448-.768-.75-.893-.904-.228-.294-.28-.592-.155-.893.089-.228.419-.709.992-1.444.302-.389.541-.702.716-.937 1.272-1.69 1.823-2.77 1.654-3.24l-.065-.11c-.045-.067-.158-.127-.342-.182-.183-.056-.419-.065-.705-.028l-3.175.022a.404.404 0 0 0-.22.006l-.144.033-.055.028-.044.033a.465.465 0 0 0-.121.115.753.753 0 0 0-.11.193 18.044 18.044 0 0 1-1.18 2.48c-.272.456-.522.851-.75 1.185a5.713 5.713 0 0 1-.573.74 3.901 3.901 0 0 1-.418.38c-.126.095-.221.135-.287.12-.066-.015-.129-.029-.188-.044a.724.724 0 0 1-.247-.27 1.2 1.2 0 0 1-.127-.43 4.828 4.828 0 0 1-.033-.975c.007-.228.011-.383.011-.463 0-.28.005-.583.016-.91.011-.327.02-.586.028-.777.007-.19.011-.393.011-.606 0-.213-.013-.38-.039-.502a1.677 1.677 0 0 0-.116-.353.591.591 0 0 0-.226-.264 1.262 1.262 0 0 0-.368-.149c-.39-.088-.886-.136-1.489-.144C8.818-.013 7.94.075 7.551.266a1.476 1.476 0 0 0-.419.331C7 .76 6.981.847 7.076.861c.442.067.753.225.938.474l.066.133c.051.095.103.264.154.507.051.242.084.51.099.804a8.52 8.52 0 0 1 0 1.38c-.036.38-.072.678-.105.891a1.803 1.803 0 0 1-.281.761.185.185 0 0 1-.055.055.82.82 0 0 1-.298.055c-.102 0-.227-.05-.374-.154a2.653 2.653 0 0 1-.458-.425 5.759 5.759 0 0 1-.535-.755 13.445 13.445 0 0 1-.617-1.146l-.176-.32c-.11-.205-.261-.505-.452-.899-.191-.393-.36-.772-.507-1.14A.73.73 0 0 0 4.21.73L4.156.696a1.137 1.137 0 0 0-.431-.165L.705.552c-.308 0-.518.07-.628.21L.033.828A.358.358 0 0 0 0 1.004a.85.85 0 0 0 .066.298A36.35 36.35 0 0 0 1.504 4.3c.518.963.968 1.738 1.35 2.326.383.588.772 1.143 1.169 1.664.397.522.66.857.788 1.004.129.147.23.257.303.33l.276.265c.176.176.435.388.777.634s.72.49 1.135.728c.416.238.899.433 1.45.584.551.15 1.088.211 1.61.181h1.267c.257-.022.452-.103.584-.242l.044-.055a.73.73 0 0 0 .083-.204c.025-.092.038-.193.038-.303a3.654 3.654 0 0 1 .072-.854c.055-.253.117-.444.188-.573.069-.129.148-.237.237-.325a.884.884 0 0 1 .187-.16.761.761 0 0 1 .088-.039c.177-.059.384 0 .623.171.239.173.462.386.673.64.209.253.461.538.754.854.295.315.552.551.772.705l.22.132a2.7 2.7 0 0 0 .574.243c.235.074.44.092.617.055l2.822-.044c.279 0 .496-.046.65-.138.155-.092.246-.193.275-.303a.838.838 0 0 0 .006-.375 1.43 1.43 0 0 0-.077-.292"></path>
          </svg></a><a href="#" target="_blank" title="" class="social-icon social-icon--fb">
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18">
            <path fill-rule="evenodd" d="M0 5.624h1.758V3.915c0-.753.019-1.915.567-2.635C2.901.518 3.693 0 5.054 0c2.218 0 3.152.316 3.152.316l-.439 2.605s-.733-.212-1.417-.212-1.296.245-1.296.929v1.986h2.804l-.196 2.544H5.054v8.84H1.758v-8.84H0V5.624z"></path>
          </svg></a></div>
      <div class="footer__block-address">119019, Москва, ул. Воздвиженка, 9</div>
      <div class="footer__block-copyright">© 2006–2017 Bookscriptor</div>
    </div>
    <div class="footer__block">
      <div class="footer__block-phone">+7 (945) 150-54-27</div>
      <div style="padding-left: 7px;" class="footer__block-phone">8 (800) 707-54-27</div>
      <div class="footer__block-ours">Клиентский сервис работает<br/>Пн–Пт с 10:00 до19:00</div>
    </div>
    <div class="footer__block"><a href="" title="" class="footer__link">Как работает Bookscriptor?</a><a href="" title="" class="footer__link">Как приобрести книгу?</a><a href="" title="" class="footer__link">Правила сайта</a><a href="" title="" class="footer__link">Пользовательские соглашения</a></div>
    <div class="footer__block"><a href="" title="" class="footer__link">Как оплатить покупки и услуги?</a><a href="" title="" class="footer__link">Обмен и возврат товара</a><a href="" title="" class="footer__link">Как подготовить файл к загрузке?</a></div>
  </div>
</footer><!-- popup -->
<div class="c-popup popup clearfix">
  <div class="popup__close c-popup-close"></div>
  <div class="popup__content"></div>
</div>
<div id="create-video" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content modal-content--video">
      <button data-dismiss="modal" class="b-modal__close"></button>
      <iframe width="720" height="480" src="https://www.youtube.com/embed/iuUBYx3Ds9s?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
</div>
<div id="create-annotation" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="b-modal__close b-modal__close--annotation"></button>
      <div class="b-popup b-popup--annotation">
        <form action="/" class="b-popup-annotation__form">
          <div class="block-input">
            <textarea id="annotation-text" name="annotation-text" placeholder="" class="input-custom c-input-custom"></textarea>
            <label for="annotation-text" class="label-custom c-label-custom">Ваш текст</label>
          </div>
          <div class="b-popup-annotation__symbol">1 500 / 1 500</div>
          <div class="b-popup-annotation__group"><a href="javascript:void(0)" class="b-popup-annotation__link"><img src="images/content/bitmap.png" alt=""/><span>Специалист к вашим услугам</span></a><a href="javascript:void(0)" class="b-popup-annotation__link-close"></a></div>
          <div class="b-popup-annotation__button"><a href="javascript:void(0)" class="b-popup-annotation__delete">Удалить</a>
            <input name="annotation-save" id="annotation-save" value="Сохранить" type="submit" class="custom-btn custom-btn--blue"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="create-assistant" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="b-modal__close"></button>
      <div class="b-popup-assistant">
        <div class="b-popup-assistant__title"> 
          <h2>Личный помощник</h2>
          <p>Оставьте заявку, и мы свяжемся с вами для обсуждения деталей.</p>
        </div>
        <form action="/" class="b-popup-assistant__form">
          <div class="b-popup-assistant__panel">
            <div class="b-popup-assistant__group">
              <label for="assistant-name">Имя</label>
              <input type="text" id="assistant-name"/>
            </div>
            <div class="b-popup-assistant__group">
              <label for="assistant-phone">Номер телефона</label>
              <input type="text" id="assistant-phone"/>
            </div>
            <div class="b-popup-assistant__group">
              <label for="assistant-mail">E-mail</label>
              <input type="text" id="assistant-mail"/>
            </div>
          </div>
          <button class="custom-btn custom-btn--green"> <span>Оставить заявку</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="popup-back" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="b-modal__close">
        <div class="b-popup-back">
          <h2>Ваша книга отправлена на модерацию</h2>
          <div class="b-popup-back__caption">В ближайшее время вы получите уведомление о результатах по электронной почте.</div>
          <button class="custom-btn custom-btn--green"> <span>На главную</span></button>
        </div>
      </button>
    </div>
  </div>
</div>
<div id="editor-note" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="b-modal__close"></button>
      <div class="b-popup">
        <div class="b-popup__title"> 
          <h2>Сноска</h2>
        </div>
        <form action="/" class="b-popup__form">
          <div class="b-popup__group">
            <label for="note-text">Текст сноски</label>
            <textarea name="" cols="30" rows="5" type="text" id="note-text"></textarea>
          </div>
          <button class="custom-btn custom-btn--green"> <span>Сохранить</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="editor-img" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="b-modal__close"></button>
      <div class="b-popup">
        <div class="b-popup__title"> 
          <h2>Изображение</h2>
        </div>
        <form action="/" class="b-popup__form">
          <div class="b-popup__wrapper">
            <div class="b-popup__item">
              <div class="block-btn-radio">
                <label>Позиция</label>
                <div class="block-btn-radio__item">
                  <input id="item1" type="radio" name="img-position" value="В тексте" checked="" class="radio-custom"/>
                  <label for="item1" class="label-radio">В тексте</label>
                </div>
                <div class="block-btn-radio__item">
                  <input id="item2" type="radio" name="img-position" value="Обтекание текстом справа" class="radio-custom"/>
                  <label for="item2" class="label-radio">Обтекание текстом справа</label>
                </div>
                <div class="block-btn-radio__item">
                  <input id="item3" type="radio" name="img-position" value="Обтекание текстом слева" class="radio-custom"/>
                  <label for="item3" class="label-radio">Обтекание текстом слева</label>
                </div>
                <div class="block-btn-radio__item">
                  <input id="item4" type="radio" name="img-position" value="Разбить текст" class="radio-custom"/>
                  <label for="item4" class="label-radio">Разбить текст</label>
                </div>
                <div class="block-btn-radio__item">
                  <input id="item5" type="radio" name="img-position" value="Разместить во всю страницу книги" class="radio-custom"/>
                  <label for="item5" class="label-radio">Разместить во всю страницу книги</label>
                </div>
              </div>
            </div>
            <div class="b-popup__item">
              <div class="b-popup__group">
                <label for="img-field">Поля</label>
                <div class="b-popup__select dropdown">
                  <input id="img-field" type="button" value="5 мм" data-toggle="dropdown" class="dropdown-toggle"/>
                  <div class="b-popup__select-control"><a href="javascript:void(0)" class="b-popup__select-btn"></a></div>
                  <ul class="dropdown-menu">
                    <li><a href="#">5 мм</a></li>
                    <li><a href="#">10 мм</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="b-popup__group">
            <label for="img-note">Подпись к изображению</label>
            <textarea name="" cols="30" rows="5" type="text" id="img-note"></textarea>
          </div>
          <div class="b-popup__group">
            <label for="img-author">Автор изображения</label>
            <input type="text" id="img-author"/>
          </div>
          <button class="custom-btn custom-btn--green"> <span>Сохранить</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="editor-footer" tabindex="-1" role="dialog" class="modal fade b-modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button data-dismiss="modal" class="b-modal__close"></button>
      <div class="b-popup">
        <div class="b-popup__title"> 
          <h2>Колонтитул</h2>
        </div>
        <form action="/" class="b-popup__form">
          <div class="b-popup__wrapper">
            <div class="b-popup__item">
              <div class="b-popup__group">
                <label for="img-field">Поля</label>
                <div class="b-popup__select dropdown">
                  <input id="img-field" type="button" value="Начало" data-toggle="dropdown" class="dropdown-toggle"/>
                  <div class="b-popup__select-control"><a href="javascript:void(0)" class="b-popup__select-btn"></a></div>
                  <ul class="dropdown-menu">
                    <li><a href="#">1 вариант</a></li>
                    <li><a href="#">2 вариант</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="b-popup__item">
              <div class="b-popup__group">
                <label for="img-field">Поля</label>
                <div class="b-popup__select dropdown">
                  <input id="img-field" type="button" value="Конец" data-toggle="dropdown" class="dropdown-toggle"/>
                  <div class="b-popup__select-control"><a href="javascript:void(0)" class="b-popup__select-btn"></a></div>
                  <ul class="dropdown-menu">
                    <li><a href="#">1 вариант</a></li>
                    <li><a href="#">2 вариант</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="b-popup__group">
            <label for="img-author">Автор изображения</label>
            <input type="text" id="img-author"/>
          </div>
          <div class="b-popup__btns">
            <button class="btn-border btn-border--blue"><span>Отмена</span></button>
            <button class="custom-btn custom-btn--green"> <span>Сохранить</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-success" viewBox="0 0 50 43" width="100%" height="100%" fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
      <path stroke="#222" d="M12 21.163L21.14 31 49 1"></path>
      <path stroke="#E52100" d="M32.205 6.903A19.414 19.414 0 0 0 20.5 3C9.73 3 1 11.73 1 22.5S9.73 42 20.5 42 40 33.27 40 22.5c0-.693-.037-1.376-.107-2.05"></path>
    </symbol>
    <symbol id="icon-price" xmlns="http://www.w3.org/2000/svg" width="62" height="60" viewBox="0 0 62 60" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path stroke="#E52100" d="M12.462 1v27.116H1L30.935 59l29.934-30.884H49.408V1"></path>
      <path stroke="#000" d="M21.54 26.565h11.647c3.944 0 7.143-3.219 7.143-7.188 0-3.968-3.199-7.187-7.143-7.187h-7.593v26.667M21.54 32.269h13.784"></path>
    </symbol>
    <symbol id="icon-style" xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path stroke="#E52100" d="M40.977 7.859c-9.145-9.145-23.973-9.145-33.118 0-9.145 9.145-9.145 23.973 0 33.118 9.145 9.145 23.973 9.145 33.118 0 9.145-9.145 9.145-23.973 0-33.118zM61 53.548l-7.452 7.453-11.734-11.735 7.452-7.451zM43.047 38.907l2.07 2.07 2.07 2.07M43.047 47.186l-4.14-4.14M14.338 12.496h18M14.338 18.496h6M23.338 18.496h14M14.338 24.418h12"></path>
      <path stroke="#000" d="M18.338 32.82l4.389 4.39 8.61-8.723"></path>
    </symbol>
    <symbol id="icon-age-spec" xmlns="http://www.w3.org/2000/svg" width="61" height="55" viewBox="0 0 61 55" fill="none" fill-rule="evenodd" stroke="#E52100" stroke-linecap="round" stroke-width="2">
      <path d="M47 14v25.02M34.49 26h25.02"></path>
      <path stroke-linejoin="round" d="M1 7.492C3.228 3.612 7.406 1 12.193 1c7.127 0 12.906 5.792 12.906 12.938 0 7.146-5.779 12.94-12.906 12.94H8.971M1 46.617c2.228 3.88 6.406 6.492 11.193 6.492 7.127 0 12.906-5.792 12.906-12.938 0-7.146-5.779-12.94-12.906-12.94H8.971"></path>
    </symbol>
    <symbol id="proof-mistake" xmlns="http://www.w3.org/2000/svg" width="159" height="157" viewBox="0 0 159 157" fill="none" fill-rule="evenodd">
      <text font-family="SignPainter-HouseScript, SignPainter" font-size="120" font-style="italic" transform="translate(4 -35)">
        <tspan x="0" y="84">жы</tspan>
        <tspan x="13.2" y="174">шы</tspan>
      </text>
      <path stroke="#FA535E" stroke-width="2" d="M4 58c6.86 0 6.86 7 13.72 7 6.857 0 6.857-7 13.714-7 6.86 0 6.86 7 13.72 7s6.86-7 13.724-7 6.864 7 13.727 7c6.86 0 6.86-7 13.724-7 6.86 0 6.86 7 13.72 7 6.864 0 6.864-7 13.725-7 6.863 0 6.863 7 13.727 7 6.874 0 6.874-7 13.751-7 6.874 0 6.874 7 13.748 7M17 149c6.888 0 6.888 7 13.776 7 6.884 0 6.884-7 13.769-7 6.888 0 6.888 7 13.776 7s6.888-7 13.779-7 6.891 7 13.783 7c6.888 0 6.888-7 13.78-7 6.887 0 6.887 7 13.775 7 6.891 0 6.891-7 13.78-7 6.89 0 6.89 7 13.782 7"></path>
    </symbol>
    <symbol id="icon-choice" xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62" fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
      <path stroke="#E52100" d="M12.306 45.473h22.273M5.732 45.473h-3.09a1.605 1.605 0 0 1-1.606-1.606v-4.681c0-.887.719-1.606 1.606-1.606h31.937V1.682l-32.472.03c-.599 0-1.086.482-1.09 1.081-.047 5.991.02 36.393.02 36.393M3.695 1.711v35.87M32.75 37.58v7.893"></path>
      <path stroke="#E52100" d="M12.744 50.542l-3.287-3.506-3.287 3.506v-9.86h6.574zM35.285 21.51h23.88v36.087h-20.47c-10.597 0-12.257 3.31-12.257 3.31"></path>
      <path stroke="#E52100" d="M59.043 57.598v3.31H26.438V45.689"></path>
      <path stroke="#000" d="M10.8 12.622h15.638M37.028 32.248h15.638M10.8 16.918h8.82M36.967 36.56h8.82"></path>
    </symbol>
    <symbol id="icon-normalize" xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64">
      <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M6.804 21.898h26.467M6.804 28.7h14.922M26.623 28.7h6.605M24.96 35.502h8.268M6.804 35.502h5.773M16.735 35.502h4.11"></path>
        <g stroke="#E52100">
          <path d="M1 63h25.965l11.797-12.026V13.101H1z"></path>
          <path d="M37.642 51.508H27.431v10.818z"></path>
        </g>
        <path stroke="#000" d="M7.38 50.923l3.535 3.41 6.628-7.07"></path>
        <g stroke="#000">
          <path d="M1 8.314V1M38.474 8.314V1M42.949 13.1h7.314M42.949 62.326h7.314M1 4.657h36.642M46.606 13.775v48.55"></path>
        </g>
      </g>
    </symbol>
    <symbol id="icon-date" xmlns="http://www.w3.org/2000/svg" width="56" height="63" viewBox="0 0 56 63">
      <defs>
        <path id="a" d="M0 62.562h56V0H0z"></path>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.676 21.316a8.908 8.908 0 0 1 7.733-4.485c4.924 0 8.916 4.002 8.916 8.938 0 4.937-3.992 8.939-8.916 8.939h-2.226M19.676 48.346a8.908 8.908 0 0 0 7.733 4.485c4.924 0 8.916-4.003 8.916-8.939 0-4.937-3.992-8.939-8.916-8.939h-2.226"></path>
        <mask id="b" fill="#fff">
          <use>xlink:href="#a")</use>
        </mask>
        <path stroke="#E52100" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 61.562h54v-54H1zM11.514 1v13.187M44.18 1v13.187" mask="url(#b)"></path>
      </g>
    </symbol>
    <symbol id="icon-settings" xmlns="http://www.w3.org/2000/svg" width="64" height="62" viewBox="0 0 64 62">
      <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linejoin="round">
        <path stroke-linecap="round" stroke-width="2" d="M25.552 36.262c-6.082 0-11.011-4.887-11.011-10.918 0-6.03 4.93-10.918 11.011-10.918 6.082 0 11.011 4.888 11.011 10.918 0 6.03-4.93 10.918-11.011 10.918zm24.552-7.64v-6.556l-3.573-1.26a5.105 5.105 0 0 1-3.012-2.837l-.001-.002a5.039 5.039 0 0 1 .106-4.124l1.627-3.395-4.676-4.636-3.423 1.613a5.168 5.168 0 0 1-4.16.106l-.002-.001a5.094 5.094 0 0 1-2.86-2.988L28.857 1h-6.612l-1.271 3.542a5.097 5.097 0 0 1-2.86 2.988h-.002a5.159 5.159 0 0 1-4.16-.106l-3.424-1.612-4.676 4.636 1.627 3.394c.622 1.297.66 2.8.105 4.125v.003a5.101 5.101 0 0 1-3.011 2.836L1 22.066v6.556l3.573 1.26a5.103 5.103 0 0 1 3.012 2.837v.001a5.037 5.037 0 0 1-.105 4.125L5.853 40.24l4.676 4.637 3.423-1.614a5.164 5.164 0 0 1 4.16-.105l.002.001a5.092 5.092 0 0 1 2.86 2.986l1.272 3.544h6.612l1.263-3.52a5.15 5.15 0 0 1 2.887-3.018 5.106 5.106 0 0 1 4.122.102l3.445 1.624 4.676-4.637-1.628-3.396a5.042 5.042 0 0 1-.105-4.122 5.105 5.105 0 0 1 3.016-2.84l3.57-1.26z"></path>
        <path stroke-width="2" d="M38.696 51.596a12.246 12.246 0 0 0 3.956 6.427 3.888 3.888 0 1 1 7.092 2.941 12.287 12.287 0 0 0 7.347-1.765 3.884 3.884 0 0 1-.001-5.044 3.893 3.893 0 0 1 4.978-.799c.949-2.304 1.219-4.912.597-7.52a3.885 3.885 0 1 1-4.024-6.534 12.345 12.345 0 0 0-6.973-2.892"></path>
        <path stroke-linecap="round" stroke-width="1.999" d="M53.576 48.213c0-1.63-1.333-2.95-2.976-2.95s-2.976 1.32-2.976 2.95c0 1.63 1.333 2.95 2.976 2.95s2.976-1.32 2.976-2.95z"></path>
      </g>
    </symbol>
    <symbol id="icon-plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <g fill="none" fill-rule="evenodd" stroke="#3184EE" stroke-width="2">
        <path d="M8 0v16M16 8H0"></path>
      </g>
    </symbol>
    <symbol id="icon-pen" xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62">
      <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M14.904 54.609l41.024-41.024-7.683-7.683L7.221 46.926 1.608 60.222zM54.155 11.812l-4.136-4.136 5.91-5.91 4.135 4.136z"></path>
        <path d="M50.215 19.297l5.122 5.122s-9.678 2.19-22.743 15.256M7.222 46.926l7.682 7.683M35.245 18.903l7.683 7.683"></path>
      </g>
    </symbol>
    <symbol id="icon-sketch" xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60">
      <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M38.518 53.458H11.84V7.55h13.191"></path>
        <g stroke="#E52100">
          <path d="M54.599 52.971l-36.744-6.84 8.4-45.13L63 7.838z"></path>
          <path d="M22.915 56.326L7.87 58.603 1 13.213l10.838-1.64"></path>
        </g>
        <path stroke="#000" d="M22.732 34.87L35 26.811l4.547 6.331 11.955-8.032 4.214 5.97M40.427 14.868a5.185 5.185 0 1 0-10.37 0 5.185 5.185 0 0 0 10.37 0z"></path>
      </g>
    </symbol>
    <symbol id="icon-diff-tab" xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62">
      <g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M12.306 45.473h22.273M5.732 45.473h-3.09a1.605 1.605 0 0 1-1.606-1.606v-4.681c0-.887.719-1.606 1.606-1.606h31.937V1.682l-32.472.03c-.599 0-1.086.482-1.09 1.081-.047 5.991.02 36.393.02 36.393M3.695 1.711v35.87M32.75 37.58v7.893"></path>
        <path stroke="#E52100" d="M12.744 50.542l-3.287-3.506-3.287 3.506v-9.86h6.574zM35.285 21.51h23.88v36.087h-20.47c-10.597 0-12.257 3.31-12.257 3.31"></path>
        <path stroke="#E52100" d="M59.043 57.598v3.31H26.438V45.689"></path>
        <path stroke="#000" stroke-linecap="round" d="M7 31l7-9 6 4.5 7-9.5 4 4M18 13a4 4 0 1 0-8 0 4 4 0 0 0 8 0z"></path>
        <path stroke="#E52100" stroke-linecap="round" d="M38 42l6 4.5 7-9.5 4 4M39.234 34.24a3.292 3.292 0 0 0 0-6.585"></path>
      </g>
    </symbol>
    <symbol id="icon-cover" xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64">
      <g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M30.509 58.313h19.877M28.628 19.254l21.759-.022V51.27H21.905a3.522 3.522 0 1 0 0 7.044h2.737M18.384 54.791V41.88M22.824 41.993v9.276M48.753 51.27v7.043"></path>
        <path stroke="#E52100" d="M30.9 62.837l-2.933-3.13-2.934 3.13v-8.8h5.868zM24.758 41.88H4.869A3.87 3.87 0 0 1 1 38.01V4.87A3.87 3.87 0 0 1 4.87 1h19.889a3.87 3.87 0 0 1 3.869 3.87v33.14a3.87 3.87 0 0 1-3.87 3.87z"></path>
        <path stroke="#E52100" d="M24.035 33.51H5.592a1.685 1.685 0 0 1-1.685-1.686V6.192c0-.931.754-1.685 1.685-1.685h18.443c.93 0 1.685.754 1.685 1.685v25.632c0 .93-.755 1.686-1.685 1.686zM16.136 37.517a1.46 1.46 0 1 0-2.92 0 1.46 1.46 0 0 0 2.92 0z"></path>
        <path stroke="#000" stroke-linecap="round" d="M7 27l4.375-5.786 3.75 2.893L19.5 18l2.5 2.571M14.09 13.545a2.545 2.545 0 1 0-5.09 0 2.545 2.545 0 0 0 5.09 0z"></path>
        <path stroke="#E74C3C" stroke-linecap="round" d="M32.234 31.24a3.292 3.292 0 0 0 0-6.585M30.225 42.419L33 44.5l7-9.5 4 4"></path>
      </g>
    </symbol>
    <symbol id="an-icon-book" xmlns="http://www.w3.org/2000/svg" width="79" height="63" viewBox="0 0 79 63">
      <g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M45.114 55.475H19.59V43.072"></path>
        <path stroke="#E52100" d="M60.684 50.982V10.143c0-2.481-2.025-4.493-4.523-4.493l-36.57-.035v40.873h36.57c2.498 0 4.523 2.012 4.523 4.494 0 2.482-2.025 4.494-4.523 4.494h-3.513M54.982 5.649v40.84"></path>
        <path stroke="#E52100" d="M44.612 61.247l3.766-3.992 3.768 3.992V50.021h-7.534z"></path>
        <path stroke="#000" stroke-linecap="round" d="M38.33 16.403l2.096 6.408h6.781l-5.486 3.96 2.095 6.407-5.485-3.96-5.485 3.96 2.095-6.407-5.486-3.96h6.78z"></path>
        <path stroke="#222" stroke-linecap="round" d="M73.538 52.034l-4.747-2.791M77.456 24.007l-10.156.84M71.59 1.897l-3.712 2.79M4.917 1.897L9.665 4.69M1 29.925l10.155-.84M6.866 52.034l3.712-2.79"></path>
      </g>
    </symbol>
    <symbol id="an-icon-megafon" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
      <g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M7.414 20.913C4.468 20.913 1 24.798 1 29.59c0 4.793 3.468 8.678 6.414 8.678M7.414 38.242h14.482c10.467 0 20.87 10.913 20.87 10.913V10s-11.139 10.913-20.87 10.913H7.414"></path>
        <path stroke="#E52100" d="M42.766 37.956c2.86-1.192 4.91-4.405 4.91-8.183 0-3.852-2.13-7.117-5.08-8.251M12.225 43.101l4.727 11.558h8.462l.26-1.43a3.618 3.618 0 0 0-1.044-3.247l-.963-.934a2.72 2.72 0 0 1-.778-2.468 3.62 3.62 0 0 0-.638-2.83l-.477-.649h-9.549z"></path>
        <path stroke="#000" stroke-linecap="round" d="M51.975 38.788a12.984 12.984 0 0 0 3.816-9.21 12.98 12.98 0 0 0-3.59-8.98M56.456 44.478a20.319 20.319 0 0 0 1.793-1.872A20.154 20.154 0 0 0 63 29.578a20.168 20.168 0 0 0-5.772-14.152"></path>
        <path stroke="#E52100" stroke-linecap="round" d="M12.225 21.522v16.434"></path>
      </g>
    </symbol>
    <symbol id="an-icon-cover" xmlns="http://www.w3.org/2000/svg" width="48" height="64" viewBox="0 0 48 64">
      <g fill="none" fill-rule="evenodd" stroke-linejoin="round" stroke-width="2">
        <path stroke="#E52100" d="M29.263 56.567H1V42.744"></path>
        <path stroke="#E52100" d="M46.504 51.56V6.047a5.008 5.008 0 0 0-5.008-5.008L1 .999v45.553h40.496a5.008 5.008 0 1 1 0 10.016h-3.89M40.19 1.037v45.515"></path>
        <path stroke="#E52100" d="M28.707 63l4.17-4.449L37.05 63V50.489h-8.343z"></path>
        <path stroke="#E52100" stroke-linecap="round" d="M6.995 8.578h26.467M6.995 15.38h14.922M26.814 15.38h6.605M25.15 22.182h8.269M6.995 22.182h5.773M16.926 22.182h4.11"></path>
        <path stroke="#000" stroke-linecap="round" d="M7.57 34.603l3.536 3.409 6.628-7.07"></path>
      </g>
    </symbol>
    <symbol id="an-icon-text" xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62">
      <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <g stroke="#E52100">
          <path d="M17.104 36.777V1.14h27.121L56.548 13.7v39.56H40.883"></path>
          <path d="M55.378 13.142H44.712v-11.3z"></path>
        </g>
        <path stroke="#E52100" d="M23.2 8.74h12.878"></path>
        <path stroke="#000" d="M35.167 36.515h4.04c1.8 0 3.258 1.367 3.258 3.054 0 1.686-1.458 3.054-3.257 3.054"></path>
        <path stroke="#000" d="M39.57 48.73c.418 0 2.172-1.367 2.172-3.054 0-2.338-1.947-3.053-2.172-3.053M10.825 58.232s5.456 2.715 10.911 2.715h12.631c1.8 0 3.258-1.367 3.258-3.054 0-1.054-.57-1.984-1.436-2.533 0 0 4.693.397 4.693-3.575 0-2.271-2.171-3.054-2.171-3.054M10.825 37.6s7.275.362 9.901-3.439c2.627-3.8 2.02-11.958 2.02-11.958s6.892-1.218 7.476 6.529c.373 4.938-1.002 5.493-1.469 7.783M1.053 60.947h9.772v-25.88H1.053z"></path>
        <path stroke="#E52100" d="M23.2 15.103h15.439"></path>
        <path stroke="#000" d="M34.186 36.515h-5.432"></path>
      </g>
    </symbol>
    <symbol id="icon-line-1" xmlns="http://www.w3.org/2000/svg" width="89" height="115" viewBox="0 0 89 115">
      <path fill="none" fill-rule="evenodd" stroke="#000" stroke-dasharray="1,2" d="M1 115s2.559-35.79 40.95-57.793C67.544 42.538 82.894 23.469 88 0" opacity=".4"></path>
    </symbol>
    <symbol id="icon-line-2" xmlns="http://www.w3.org/2000/svg" width="89" height="115" viewBox="0 0 89 115">
      <path fill="none" fill-rule="evenodd" stroke="#000" stroke-dasharray="1,2" d="M88 115s-2.559-35.79-40.95-57.793C21.456 42.538 6.106 23.469 1 0" opacity=".4"></path>
    </symbol>
    <symbol id="icon-cash" xmlns="http://www.w3.org/2000/svg" width="18" height="23" viewBox="0 0 18 23">
      <g fill="none" fill-rule="evenodd">
        <path d="M-3-9h23v40H-3z"></path>
        <text fill="#E52100" font-family=".HelveticaNeueDeskInterface-MediumP4, .Helvetica Neue DeskInterface" font-size="32" font-weight="400" transform="translate(-3 -9)">
          <tspan x="3" y="32">₽</tspan>
        </text>
      </g>
    </symbol>
    <symbol id="icon-printed-book" xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
      <g fill="none" fill-rule="evenodd" stroke="#FA535E" stroke-linejoin="round" stroke-width="2">
        <path d="M9.603 20.596h7.444M1 18.83V2.78c0-.976.79-1.766 1.766-1.766L17.048 1v16.064H2.766a1.766 1.766 0 1 0 0 3.532H4.98M4.068 1.013v16.051M16.228 17.064v3.532"></path>
        <path d="M9.755 17.137V23L7.52 20.616 5.285 23v-5.863"></path>
      </g>
    </symbol>
    <symbol id="icon-ebook" xmlns="http://www.w3.org/2000/svg" width="17" height="24" viewBox="0 0 17 24">
      <g fill="none" fill-rule="evenodd" stroke="#FA535E" stroke-linejoin="round" stroke-width="2">
        <path d="M14.284 23h-11.7C1.709 23 1 22.29 1 21.416V2.584C1 1.709 1.709 1 2.584 1h11.7c.875 0 1.584.71 1.584 1.584v18.832c0 .875-.71 1.584-1.584 1.584z"></path>
        <path d="M12.663 16.628H4.205a.354.354 0 0 1-.354-.354V4.149c0-.196.158-.355.354-.355h8.458c.196 0 .354.159.354.355v12.125a.354.354 0 0 1-.354.354zM9.146 19.736a.785.785 0 1 0-1.571 0 .785.785 0 0 0 1.57 0z"></path>
      </g>
    </symbol>
    <symbol id="icon-red-cross" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path d="M2.857 3L13.18 13.321M13.143 3L2.82 13.321" fill="none" stroke="#E52100" stroke-width="2"></path>
    </symbol>
    <symbol id="icon-grey-cross" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path d="M2.857 3L13.18 13.321M13.143 3L2.82 13.321" fill="none" stroke="#c6c6c6" stroke-width="2"></path>
    </symbol>
    <symbol id="icon-doc-proof" xmlns="http://www.w3.org/2000/svg" width="19" height="24" viewBox="0 0 19 24">
      <g fill="none" fill-rule="evenodd" stroke="#FA535E" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5.026 13h9M5.026 9h2M5.026 17h9M1 1h10.447l6.202 6.302V23H1z"></path>
        <path d="M12 1v6h6"></path>
      </g>
    </symbol>
    <symbol id="icon-instagram" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M5.716.059C4.681.106 3.974.27 3.355.511a4.757 4.757 0 0 0-1.723 1.122A4.759 4.759 0 0 0 .511 3.355C.27 3.974.105 4.681.059 5.716.011 6.754 0 7.085 0 9.727c0 2.641.011 2.972.059 4.01.046 1.035.211 1.742.452 2.36.248.64.58 1.183 1.121 1.723a4.757 4.757 0 0 0 1.723 1.122c.619.241 1.326.405 2.361.452 1.038.048 1.368.059 4.01.059 2.642 0 2.973-.011 4.01-.059 1.036-.047 1.743-.211 2.362-.452a4.762 4.762 0 0 0 1.722-1.122 4.762 4.762 0 0 0 1.122-1.723c.24-.618.405-1.325.452-2.36.047-1.038.058-1.369.058-4.01 0-2.642-.011-2.973-.058-4.011-.047-1.035-.212-1.742-.452-2.361a4.775 4.775 0 0 0-1.122-1.722A4.762 4.762 0 0 0 16.098.511C15.479.27 14.772.106 13.736.059 12.699.012 12.368 0 9.726 0c-2.642 0-2.972.012-4.01.059m.08 17.585c-.948-.044-1.463-.202-1.806-.335a3.01 3.01 0 0 1-1.118-.728 2.997 2.997 0 0 1-.728-1.118c-.133-.343-.292-.858-.335-1.806-.047-1.026-.057-1.333-.057-3.93 0-2.598.01-2.905.057-3.931.043-.948.202-1.463.335-1.806.176-.454.387-.778.728-1.118.34-.34.664-.551 1.118-.728.343-.133.858-.291 1.806-.335 1.025-.046 1.333-.056 3.93-.056 2.597 0 2.905.01 3.931.056.948.044 1.463.202 1.806.335a3.03 3.03 0 0 1 1.118.728c.34.34.551.664.727 1.118.134.343.292.858.335 1.806.047 1.026.057 1.333.057 3.931 0 2.597-.01 2.904-.057 3.93-.043.948-.201 1.463-.335 1.806a3.007 3.007 0 0 1-.727 1.118 3.017 3.017 0 0 1-1.118.728c-.343.133-.858.291-1.806.335-1.026.047-1.334.056-3.931.056s-2.905-.009-3.93-.056m7.955-13.109a1.167 1.167 0 1 0 2.334 0 1.167 1.167 0 0 0-2.334 0m-9.02 5.192a4.995 4.995 0 1 0 9.99-.002 4.995 4.995 0 0 0-9.99.002m1.753 0a3.241 3.241 0 1 1 6.483-.001 3.241 3.241 0 0 1-6.483.001"></path>
    </symbol>
    <symbol id="icon-youtube" xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15">
      <path fill-rule="evenodd" d="M8.122 10.213l.057-5.797 5.549 3.008-5.606 2.789zm12.535-6.658C20.357.708 19.267.369 17.08.238 13.91-.012 6.91-.081 3.847.108 1.657.196.56.622.205 3.353c-.24 2.076-.274 5.576-.076 7.656.3 2.847 1.39 3.186 3.577 3.317 3.17.25 10.169.319 13.234.13 2.188-.087 3.286-.514 3.642-3.245.239-2.076.273-5.576.075-7.656z"></path>
    </symbol>
    <symbol id="icon-twitter" xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
      <path fill-rule="evenodd" d="M17.719 4.156c.219 5.687-4.047 12.031-11.484 12.031-2.297 0-4.375-.656-6.235-1.859 2.188.219 4.266-.328 6.016-1.641-1.75 0-3.281-1.203-3.828-2.844.656.11 1.312.11 1.859-.109C2.078 9.297.766 7.547.766 5.687c.547.328 1.203.438 1.859.547C.766 5.031.328 2.625 1.422.765c1.969 2.407 5.031 4.047 8.313 4.266C9.188 2.515 11.047 0 13.672 0c1.203 0 2.188.547 2.953 1.312.875-.219 1.75-.547 2.625-.984-.328.984-.984 1.75-1.75 2.297.875-.11 1.641-.328 2.297-.657-.547.985-1.312 1.641-2.078 2.188"></path>
    </symbol>
    <symbol id="icon-arrow-image" xmlns="http://www.w3.org/2000/svg" width="101" height="18" viewBox="0 0 101 18">
      <g fill="none" fill-rule="evenodd" stroke="#000" opacity=".2">
        <path d="M0 17C13.121 6.12 29.788.79 50 1.006c20.212.217 36.879 4.557 50 13.018"></path>
        <path d="M86.078 14h13.726L95.229 0"></path>
      </g>
    </symbol>
    <symbol id="icon-arrow-image2" xmlns="http://www.w3.org/2000/svg" width="101" height="18" viewBox="0 0 101 18">
      <g fill="none" fill-rule="evenodd" stroke="#000" opacity=".2">
        <path d="M0 1c13.121 10.88 29.788 16.21 50 15.994 20.212-.217 36.879-4.557 50-13.018"></path>
        <path d="M86.078 4h13.726l-4.575 14"></path>
      </g>
    </symbol>
    <symbol id="icon-category-1" xmlns="http://www.w3.org/2000/svg" width="56" height="64" viewBox="0 0 56 64">
      <g fill="none" fill-rule="evenodd" stroke="#000" stroke-linejoin="round" stroke-width="2">
        <path d="M1 57.516S6.125 45.13 17.231 31.033C28.337 16.938 39.015 9.676 33.249 12.025c-5.766 2.35-9.397 7.05-17.085 15.591C8.475 36.16 5.058 42.352 5.058 42.352s-.641-9.396 4.058-20.715C13.814 10.318 21.502 7.968 21.502 7.968l1.069 6.621S29.618-.575 47.131 1.134c17.513 1.708-6.621 18.367-6.621 18.367h8.33s-3.418 6.487-11.107 9.757c-7.688 3.271-10.481 3.484-10.481 3.484l11.977.214s-5.339 9.396-15.377 13.881c-10.038 4.485-13.669 2.777-13.669 2.777S6.552 56.448 1 57.516zM55.617 63c-4.445 0-4.445-4-8.89-4-4.447 0-4.447 4-8.893 4-4.445 0-4.445-4-8.89-4-4.45 0-4.45 4-8.897 4-4.448 0-4.448-4-8.896-4"></path>
      </g>
    </symbol>
    <symbol id="icon-category-2" xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58">
      <g fill="none" fill-rule="evenodd" stroke="#1C2842">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M49.796 10.995L30.465 1 1 20.938l19.332 9.995z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 26.883l19.331 9.995 30.09-20.56"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 32.01l19.331 9.995L44.49 25.192"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 37.238l19.331 9.995 19.607-13.267"></path>
        <path stroke-width="2" d="M63.453 29.66v3.783c-.077 3.134-3.874 5.675-8.482 5.675-4.608 0-8.282-2.54-8.206-5.675V29.66"></path>
        <path stroke-width="2" d="M63.453 33.698v3.783c-.077 3.134-3.874 5.675-8.482 5.675-4.608 0-8.282-2.54-8.206-5.675v-3.783"></path>
        <path stroke-width="2" d="M63.453 37.793v3.783c-.076 3.134-3.874 5.675-8.482 5.675-4.608 0-8.281-2.541-8.205-5.675v-3.783M63.453 29.065c0-3.136-3.598-5.675-8.206-5.675s-8.405 2.54-8.482 5.675c-.076 3.134 3.598 5.675 8.206 5.675 4.543 0 8.482-2.25 8.482-5.675zM47.558 47.542v3.783C47.482 54.459 43.685 57 39.077 57s-8.282-2.541-8.206-5.675v-3.783"></path>
        <path stroke-width="2" d="M47.558 46.947c.077-3.135-3.597-5.675-8.205-5.675-4.608 0-8.406 2.54-8.482 5.675-.076 3.133 3.598 5.674 8.206 5.674s8.405-2.54 8.481-5.675z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M23.017 17.945l4.176-2.848c1.415-.965 1.263-2.48-.337-3.383-1.602-.904-4.046-.854-5.46.11l-1.214.83-1.509 1.028 10.754 6.069M25.317 19.243l4.942-3.371"></path>
      </g>
    </symbol>
    <symbol id="icon-category-3" xmlns="http://www.w3.org/2000/svg" width="57" height="65" viewBox="0 0 57 65">
      <g fill="none" fill-rule="evenodd">
        <path fill="#1C2842" d="M33.052 46.102c2.048 0 3.443-1.922 3.443-6.544 0-3.785-1.085-6.516-4.187-6.516-2.265 0-3.66 1.893-3.66 6.515 0 3.753 1.086 6.545 4.404 6.545m-.496-14.672c5.46 0 7.725 3.319 7.725 8.127 0 5.15-2.948 8.127-7.725 8.127-5.242 0-7.724-3.287-7.724-8.127 0-5.119 3.01-8.128 7.724-8.128M33.86 22.258v-3.195c-4.405.03-5.367.96-5.367 3.04 0 1.706.9 2.668 2.326 2.668 1.924 0 2.792-1.707 3.04-2.513m3.506 2.295l2.14.31v.838c-1.024.528-2.916.993-4.157 1.179h-.899c-.403-.962-.435-1.955-.466-3.32h-.154c-.373 1.676-1.955 3.382-4.56 3.382-2.606 0-4.499-1.675-4.499-4.22 0-3.783 2.885-4.621 9.09-4.962.341-3.537-.187-5.523-2.45-5.523-.59 0-1.304.032-1.925.31l-1.458 3.724h-1.055c-.496-1.117-.992-2.637-1.116-3.971 1.551-.993 3.816-1.613 6.328-1.613 4.436 0 5.242 2.45 5.242 4.932 0 2.45-.154 4.59-.154 6.7 0 .9.03 1.49.093 2.234"></path>
        <path stroke="#1C2842" stroke-linejoin="round" stroke-width="2" d="M1.148 60.907V4.194c0-1.123 1.791-2.034 4-2.034 2.21 0 4 .911 4 2.034v56.713"></path>
        <path stroke="#1C2842" stroke-linejoin="round" stroke-width="2" d="M9.148 60.907c0-.966-1.79-1.75-4-1.75-2.209 0-4 .784-4 1.75 0 0-1.333 2.25 4 2.25h50.75"></path>
        <path stroke="#1C2842" stroke-linejoin="round" stroke-width="2" d="M9.148 4.194s6.25-5.534 22-2.034 24.75.437 24.75.437v56.56s-9 3.063-24.75-.437-22 2.034-22 2.034l-.539-.722"></path>
        <path stroke="#1C2842" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M44.18 26.57L20.327 50.422"></path>
      </g>
    </symbol>
    <symbol id="icon-category-4" xmlns="http://www.w3.org/2000/svg" width="64" height="47" viewBox="0 0 64 47">
      <g fill="none" fill-rule="evenodd" stroke="#1C2842" stroke-linejoin="round" stroke-width="2">
        <path d="M7.414 11.913C4.468 11.913 1 15.798 1 20.59c0 4.793 3.468 8.678 6.414 8.678M7.414 29.242h14.482c10.467 0 20.87 10.913 20.87 10.913V1s-11.139 10.913-20.87 10.913H7.414"></path>
        <path d="M42.766 28.956c2.86-1.192 4.91-4.405 4.91-8.183 0-3.852-2.13-7.117-5.08-8.251M12.225 34.101l4.727 11.558h8.462l.26-1.43a3.618 3.618 0 0 0-1.044-3.247l-.963-.934a2.72 2.72 0 0 1-.778-2.468 3.62 3.62 0 0 0-.638-2.83l-.477-.649h-9.549z"></path>
        <path stroke-linecap="round" d="M51.975 29.788a12.984 12.984 0 0 0 3.816-9.21 12.98 12.98 0 0 0-3.59-8.98M56.456 35.478a20.319 20.319 0 0 0 1.793-1.872A20.154 20.154 0 0 0 63 20.578a20.168 20.168 0 0 0-5.772-14.152M12.225 12.522v16.434"></path>
      </g>
    </symbol>
    <symbol id="icon-category-5" xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewBox="0 0 57 64">
      <g fill="none" fill-rule="evenodd" stroke="#1C2842" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M1 5.268h54.92M1 47.438h54.92M4.678 5.268c.245 0 0 42.17 0 42.17M52.636 5.268c.245 0 0 42.17 0 42.17M28.828 36.099a4.23 4.23 0 1 0-8.459 0 4.23 4.23 0 0 0 8.459 0z"></path>
        <path d="M28.829 35.136c4.85-1.964 8.274-6.72 8.274-12.277 0-3.077-1.05-5.91-2.812-8.158"></path>
        <path d="M32.138 21.02l1.916-6.318 6.175 1.538M24.032 47.438L8.47 63.002M33.379 47.438l15.562 15.563M28.341 47.614V63M28.828 5.268V1M17.979 25.618l-5.976 5.976M12.002 25.618l5.976 5.976M26.553 15.849l-5.976 5.976M20.577 15.849l5.976 5.976M46.205 29.895l-5.976 5.976M40.228 29.895l5.977 5.976"></path>
      </g>
    </symbol>
    <symbol id="icon-category-6" xmlns="http://www.w3.org/2000/svg" width="48" height="64" viewBox="0 0 48 64">
      <g fill="none" fill-rule="evenodd">
        <path fill="#1C2842" d="M23.095 14.244v9.346h1.562c2.765 0 4.75-1.322 4.75-4.807 0-3.186-1.654-4.689-4.599-4.689-.842 0-1.233.03-1.713.15zm-6.16 9.346h2.553v-9.196c-.9-.15-1.712-.45-2.464-.811v-.992h3.186c1.592 0 3.515-.24 5.229-.24 4.087 0 7.933 1.413 7.933 6.37 0 4.719-3.846 6.582-8.505 6.582h-1.772v1.983h5.47v1.744h-5.47v2.825c1.082.12 2.133.42 2.975.78v.993h-9.046v-.992c.811-.42 1.652-.63 2.464-.78V29.03h-2.554v-1.744h2.554v-1.983h-2.554V23.59z"></path>
        <path stroke="#1C2842" stroke-linejoin="round" stroke-width="2" d="M18.24 56.567h28.264M1 51.56V6.047a5.008 5.008 0 0 1 5.007-5.009L46.504 1v45.552H6.007a5.007 5.007 0 1 0 0 10.015H9.9M44.182 46.552v10.015"></path>
        <path stroke="#1C2842" stroke-linejoin="round" stroke-width="2" d="M18.797 63l-4.171-4.45L10.455 63V50.489h8.342z"></path>
      </g>
    </symbol>
    <symbol id="icon-category-1-hover" xmlns="http://www.w3.org/2000/svg" width="56" height="64" viewBox="0 0 56 64">
      <g fill="none" fill-rule="evenodd" stroke="#3184ee" stroke-linejoin="round" stroke-width="2">
        <path d="M1 57.516S6.125 45.13 17.231 31.033C28.337 16.938 39.015 9.676 33.249 12.025c-5.766 2.35-9.397 7.05-17.085 15.591C8.475 36.16 5.058 42.352 5.058 42.352s-.641-9.396 4.058-20.715C13.814 10.318 21.502 7.968 21.502 7.968l1.069 6.621S29.618-.575 47.131 1.134c17.513 1.708-6.621 18.367-6.621 18.367h8.33s-3.418 6.487-11.107 9.757c-7.688 3.271-10.481 3.484-10.481 3.484l11.977.214s-5.339 9.396-15.377 13.881c-10.038 4.485-13.669 2.777-13.669 2.777S6.552 56.448 1 57.516zM55.617 63c-4.445 0-4.445-4-8.89-4-4.447 0-4.447 4-8.893 4-4.445 0-4.445-4-8.89-4-4.45 0-4.45 4-8.897 4-4.448 0-4.448-4-8.896-4"></path>
      </g>
    </symbol>
    <symbol id="icon-category-2-hover" xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58">
      <g fill="none" fill-rule="evenodd" stroke="#3184ee">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M49.796 10.995L30.465 1 1 20.938l19.332 9.995z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 26.883l19.331 9.995 30.09-20.56"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 32.01l19.331 9.995L44.49 25.192"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 37.238l19.331 9.995 19.607-13.267"></path>
        <path stroke-width="2" d="M63.453 29.66v3.783c-.077 3.134-3.874 5.675-8.482 5.675-4.608 0-8.282-2.54-8.206-5.675V29.66"></path>
        <path stroke-width="2" d="M63.453 33.698v3.783c-.077 3.134-3.874 5.675-8.482 5.675-4.608 0-8.282-2.54-8.206-5.675v-3.783"></path>
        <path stroke-width="2" d="M63.453 37.793v3.783c-.076 3.134-3.874 5.675-8.482 5.675-4.608 0-8.281-2.541-8.205-5.675v-3.783M63.453 29.065c0-3.136-3.598-5.675-8.206-5.675s-8.405 2.54-8.482 5.675c-.076 3.134 3.598 5.675 8.206 5.675 4.543 0 8.482-2.25 8.482-5.675zM47.558 47.542v3.783C47.482 54.459 43.685 57 39.077 57s-8.282-2.541-8.206-5.675v-3.783"></path>
        <path stroke-width="2" d="M47.558 46.947c.077-3.135-3.597-5.675-8.205-5.675-4.608 0-8.406 2.54-8.482 5.675-.076 3.133 3.598 5.674 8.206 5.674s8.405-2.54 8.481-5.675z"></path>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M23.017 17.945l4.176-2.848c1.415-.965 1.263-2.48-.337-3.383-1.602-.904-4.046-.854-5.46.11l-1.214.83-1.509 1.028 10.754 6.069M25.317 19.243l4.942-3.371"></path>
      </g>
    </symbol>
    <symbol id="icon-category-3-hover" xmlns="http://www.w3.org/2000/svg" width="57" height="65" viewBox="0 0 57 65">
      <g fill="none" fill-rule="evenodd">
        <path fill="#3184ee" d="M33.052 46.102c2.048 0 3.443-1.922 3.443-6.544 0-3.785-1.085-6.516-4.187-6.516-2.265 0-3.66 1.893-3.66 6.515 0 3.753 1.086 6.545 4.404 6.545m-.496-14.672c5.46 0 7.725 3.319 7.725 8.127 0 5.15-2.948 8.127-7.725 8.127-5.242 0-7.724-3.287-7.724-8.127 0-5.119 3.01-8.128 7.724-8.128M33.86 22.258v-3.195c-4.405.03-5.367.96-5.367 3.04 0 1.706.9 2.668 2.326 2.668 1.924 0 2.792-1.707 3.04-2.513m3.506 2.295l2.14.31v.838c-1.024.528-2.916.993-4.157 1.179h-.899c-.403-.962-.435-1.955-.466-3.32h-.154c-.373 1.676-1.955 3.382-4.56 3.382-2.606 0-4.499-1.675-4.499-4.22 0-3.783 2.885-4.621 9.09-4.962.341-3.537-.187-5.523-2.45-5.523-.59 0-1.304.032-1.925.31l-1.458 3.724h-1.055c-.496-1.117-.992-2.637-1.116-3.971 1.551-.993 3.816-1.613 6.328-1.613 4.436 0 5.242 2.45 5.242 4.932 0 2.45-.154 4.59-.154 6.7 0 .9.03 1.49.093 2.234"></path>
        <path stroke="#3184ee" stroke-linejoin="round" stroke-width="2" d="M1.148 60.907V4.194c0-1.123 1.791-2.034 4-2.034 2.21 0 4 .911 4 2.034v56.713"></path>
        <path stroke="#3184ee" stroke-linejoin="round" stroke-width="2" d="M9.148 60.907c0-.966-1.79-1.75-4-1.75-2.209 0-4 .784-4 1.75 0 0-1.333 2.25 4 2.25h50.75"></path>
        <path stroke="#3184ee" stroke-linejoin="round" stroke-width="2" d="M9.148 4.194s6.25-5.534 22-2.034 24.75.437 24.75.437v56.56s-9 3.063-24.75-.437-22 2.034-22 2.034l-.539-.722"></path>
        <path stroke="#3184ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M44.18 26.57L20.327 50.422"></path>
      </g>
    </symbol>
    <symbol id="icon-category-4-hover" xmlns="http://www.w3.org/2000/svg" width="64" height="47" viewBox="0 0 64 47">
      <g fill="none" fill-rule="evenodd" stroke="#3184ee" stroke-linejoin="round" stroke-width="2">
        <path d="M7.414 11.913C4.468 11.913 1 15.798 1 20.59c0 4.793 3.468 8.678 6.414 8.678M7.414 29.242h14.482c10.467 0 20.87 10.913 20.87 10.913V1s-11.139 10.913-20.87 10.913H7.414"></path>
        <path d="M42.766 28.956c2.86-1.192 4.91-4.405 4.91-8.183 0-3.852-2.13-7.117-5.08-8.251M12.225 34.101l4.727 11.558h8.462l.26-1.43a3.618 3.618 0 0 0-1.044-3.247l-.963-.934a2.72 2.72 0 0 1-.778-2.468 3.62 3.62 0 0 0-.638-2.83l-.477-.649h-9.549z"></path>
        <path stroke-linecap="round" d="M51.975 29.788a12.984 12.984 0 0 0 3.816-9.21 12.98 12.98 0 0 0-3.59-8.98M56.456 35.478a20.319 20.319 0 0 0 1.793-1.872A20.154 20.154 0 0 0 63 20.578a20.168 20.168 0 0 0-5.772-14.152M12.225 12.522v16.434"></path>
      </g>
    </symbol>
    <symbol id="icon-category-5-hover" xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewBox="0 0 57 64">
      <g fill="none" fill-rule="evenodd" stroke="#3184ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M1 5.268h54.92M1 47.438h54.92M4.678 5.268c.245 0 0 42.17 0 42.17M52.636 5.268c.245 0 0 42.17 0 42.17M28.828 36.099a4.23 4.23 0 1 0-8.459 0 4.23 4.23 0 0 0 8.459 0z"></path>
        <path d="M28.829 35.136c4.85-1.964 8.274-6.72 8.274-12.277 0-3.077-1.05-5.91-2.812-8.158"></path>
        <path d="M32.138 21.02l1.916-6.318 6.175 1.538M24.032 47.438L8.47 63.002M33.379 47.438l15.562 15.563M28.341 47.614V63M28.828 5.268V1M17.979 25.618l-5.976 5.976M12.002 25.618l5.976 5.976M26.553 15.849l-5.976 5.976M20.577 15.849l5.976 5.976M46.205 29.895l-5.976 5.976M40.228 29.895l5.977 5.976"></path>
      </g>
    </symbol>
    <symbol id="icon-category-6-hover" xmlns="http://www.w3.org/2000/svg" width="48" height="64" viewBox="0 0 48 64">
      <g fill="none" fill-rule="evenodd">
        <path fill="#3184ee" d="M23.095 14.244v9.346h1.562c2.765 0 4.75-1.322 4.75-4.807 0-3.186-1.654-4.689-4.599-4.689-.842 0-1.233.03-1.713.15zm-6.16 9.346h2.553v-9.196c-.9-.15-1.712-.45-2.464-.811v-.992h3.186c1.592 0 3.515-.24 5.229-.24 4.087 0 7.933 1.413 7.933 6.37 0 4.719-3.846 6.582-8.505 6.582h-1.772v1.983h5.47v1.744h-5.47v2.825c1.082.12 2.133.42 2.975.78v.993h-9.046v-.992c.811-.42 1.652-.63 2.464-.78V29.03h-2.554v-1.744h2.554v-1.983h-2.554V23.59z"></path>
        <path stroke="#3184ee" stroke-linejoin="round" stroke-width="2" d="M18.24 56.567h28.264M1 51.56V6.047a5.008 5.008 0 0 1 5.007-5.009L46.504 1v45.552H6.007a5.007 5.007 0 1 0 0 10.015H9.9M44.182 46.552v10.015"></path>
        <path stroke="#3184ee" stroke-linejoin="round" stroke-width="2" d="M18.797 63l-4.171-4.45L10.455 63V50.489h8.342z"></path>
      </g>
    </symbol>
    <symbol id="icon-filter" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <g fill="none" fill-rule="evenodd" transform="translate(0 1)">
        <path fill="#3184EE" d="M0 2h16v1H0zM0 11h16v1H0z"></path>
        <circle cx="5.5" cy="2.5" r="2.5" fill="#FFF" stroke="#3184EE"></circle>
        <circle cx="10.5" cy="11.5" r="2.5" fill="#FFF" stroke="#3184EE"></circle>
      </g>
    </symbol>
    <symbol id="icon-search" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
      <path fill="#FFF" fill-rule="evenodd" d="M-1-1h16v16H-1z"></path>
    </symbol>
    <symbol id="icon-white-cross" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
      <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="2">
        <path d="M.857 1L11.18 11.321M11.143 1L.82 11.321"></path>
      </g>
    </symbol>
  </defs>
</svg>
<script src="./js/plugins.js"></script>
<script src="./js/script.js"></script>