<!-- BEGIN header -->
<div class="header-alternate c-header-alternate"></div>
<header class="header clearfix c-header header--planeta">
  <div class="container-header clearfix">
    <div class="header__menu">
      <ul>
        <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
        <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item active"><span>Услуги</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
        <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
      </ul>
    </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"/><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"/></a>
    <div class="header__menu header__menu--right">
      <ul>
        <li><a href="#" title="" class="header__menu-item"><img src="images/content/cart-white-fix.svg" alt="" class="cart cart--no-sales"/><span>Нет покупок</span></a></li>
        <li class="separate"></li>
        <li><a href="#" title="" class="header__menu-item"><span>Мой кабинет</span><img src="images/content/babizky.jpg" alt="" class="user"/></a></li>
      </ul>
    </div>
  </div>
</header><!-- END header -->