<!-- BEGIN header -->
<div class="header-alternate c-header-alternate"></div>
<header class="header clearfix c-header">
  <div class="content">
    <div class="container-header clearfix">
      <div class="header__menu">
        <ul>
          <li><a href="#" title="Каталог" class="header__menu-item"><span>Каталог</span></a></li>
          <li><a href="#" title="Мастерская" class="header__menu-item"><span>Мастерская</span></a></li>
          <li><a href="#" title="Услуги" class="header__menu-item"><span>Услуги</span></a></li>
          <li><a href="#" title="Услуги" class="header__menu-item"><span>Статьи</span></a></li>
          <li><a href="#" title="Услуги" class="header__menu-item"><span>О нас</span></a></li>
        </ul>
      </div><a href="https://bookscriptor.ru" title="Bookscriptor" class="header__logo"><img src="images/content/logo.svg" alt="Bookscriptor" class="relative"/><img src="images/content/logo-fixed.svg" alt="Bookscriptor" class="fixed"/></a>
      <div class="header__menu header__menu--right">
        <ul>
          <li><a href="#" title="Войти" class="header__menu-item"><span>Войти</span></a></li>
          <li><a href="#" title="Зарегистрироваться" class="header__menu-item btn-reg"><span>Зарегистрироваться</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header><<!-- END header -->