.block-form {
  padding: 0 28px;
  margin-top: 70px;
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }
  &__bl-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    font-stretch: condensed;
    color: #000000;
    display: block;
  }
  &__container {
    margin-top: 30px;
    border-radius: 6px;
    background-color: #f3f6f8;
    padding: 32px;
    transition: visibility 0.5s ease-out;

  }
  &__wrapper {
    border-radius: 3px;
    background-color: #ffffff;
    padding: 50px 46px 75px 46px;
    font-size: 0;
    margin-top: 32px;
    &--flex {
      display: flex;
      justify-content: space-between;
    }
    &:first-of-type {
      margin-top: 0;
    }
    &--form {
      padding: 48px 60px;
    }
  }
  &__item {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: auto;
    .link-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 26px;
      color: #3184ee;
      display: block;
      margin-top: 16px;
    }
    .custom-btn {
      margin-top: 46px;
    }
  }
  &__total {
    margin-top: 48px;
    padding: 0 57px;
  }
  &__total-info {
    margin-top: 32px;
    &:first-of-type {
      margin-top: 0;
    }

  }
  &__total-item {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    color: #000000;
    display: inline-block;
  }
  &__total-old {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.23);
    position: relative;
    vertical-align: top;
    top: 5px;
    margin-left: 18px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: -5px;
      width: 66px;
      height: 1px;
      background: rgba(0, 0, 0, 0.23);
      -webkit-transform: rotate(-28deg);
      -ms-transform: rotate(-28deg);
      transform: rotate(-28deg);
    }
    .rouble {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-stretch: condensed;
      font-size: 22px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.23);
      vertical-align: top;
      position: relative;
      top: 2px;
      margin-left: 5px;
    }
  }
  .custom-btn {
    padding: 13px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    height: auto;
  }

  &__bl-wrapper {
    font-size: 0;
    display: block;
    width: 100%;
    margin-top: 32px;
  }
  &__bl-part {
    display: inline-block;
    width: 50%;
    &--img {
      width: 51%;
      vertical-align: top;
    }
    &--text {
      vertical-align: top;
      width: 49%;
      padding-left: 60px;
      display: inline-block;
      position: relative;
      height: 100%;
      min-height: 358px;
    }
  }
  &__author {
    display: block;
    font-size: 0;
  }
  &__author-photo {
    max-width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    width: 11%;
    vertical-align: middle;
    img {
     line-height: 48px;
    }
  }
  &__author-info {
    width: 89%;
    vertical-align: top;
    display: inline-block;
    padding-left: 20px;
    position: relative;
  }
  &__author-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #000000;
    width: 79%;
    text-align: left;
  }
  &__author-exp {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
  }
  &__author-label {
    position: absolute;
    border-radius: 2px;
    background-color: #3184ee;
    padding: 2px 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    top: 2px;
    right: 0;
  }
  &__price {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    font-stretch: condensed;
    line-height: 50px;
    text-align: left;
    color: #000000;
    margin-top: 16px;
  }
  &__info {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 16px;
    width: 90%;
    padding-bottom: 50px;
  }
  &__info-text {
    height: 66px;
    overflow: hidden;
    display: inline-block;
    position: relative;
  }
  &__change {
    position: absolute;
    left: 60px;
    bottom: 0;
    &.custom-btn {
      padding: 9px 18px;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
    }
  }
  .quantity {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  &__radio {
    display: inline-block;
    vertical-align: top;
  }
  &__bl-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 48px;
    &:first-of-type {
      margin-left: 0;
    }
    .radio-group label {
      border-radius: 2px;
      border: solid 1px rgba(0, 0, 0, 0.16);
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
      padding: 8px 18px 8px;
      margin-top: 12px;
    }
    .book-info__radio input:checked + label {
      border-bottom: solid 1px rgba(0, 0, 0, 0.16);
    }
    .book-info__radio input[data-check="B_W_PRINT"]:checked + label {
      border: none;
      padding: 9px 18px;
      color: #fff;
      background-color: #000;
    }
    .book-info__radio input[data-check="COLOR_PRINT"]:checked + label {
      border: none;
      padding: 9px 18px;
      color: #fff;
      background-image: linear-gradient(114deg, #ff00ff, #834dff);
    }
  }
  .book-info__radio .radio-group label:first-of-type {
    margin-right: -1px;
  }
  &__bl-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    display: block;
  }
  .block-input {
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
  &__comment {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding-left: 38px;
    text-align: left;
    max-width: 360px;
    margin-top: 4px;
  }
  &__add-descr.custom-btn {
    padding: 9px 18px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
  .input-custom {
    width: 502px;
    font-size: 16px;
    height: 61px;
    padding: 26px 0 12px 0;
  }
  .label-custom {
    font-size: 16px;
    padding: 23px 0 12px 0;
    width: 502px;
    height: 56px;
  }
  .small-label {
    font-size: 12px;
    padding: 0;
    top: 0;
  }
  .input-custom:focus ~ .label-custom, .textarea-custom:focus ~ .label-custom {
    font-size: 12px;
  }
  &__input {
    margin-top: 16px;
    &:first-of-type {
      margin-top: 0;
    }

  }
  &__callback {
    float: right;
    display: inline-block;
  }
  .cart__success-text {
    margin-left: 24px;
  }
  &__tab {
    display: inline-block;
    border-radius: 2px ;
    padding: 6px 0px;
    border: solid 1px rgba(0, 0, 0, 0.16);
    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.6);
      padding: 8px 16px;
      &.active {
        color: #000000;
        background-color: #f3f6f8;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }
  &__tab-contents {
    display: block;
    width: 100%;
  }
  &__tab-content {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-top: 32px;
    &.active {
      display: block;
    }
    .block-form__comment {
      margin-top: 0;
    }
    .dz-preview.dz-file-preview .dz-image:after {
      display: none;
    }
    .dz-preview.dz-file-preview .dz-image {
      background: url(../images/content/doc.png) no-repeat;
      margin-bottom: 0;
    }
    .dz-preview {
      border: 1px dashed rgba(0, 0, 0, 0.24);
      border-radius: 2px;
      max-height: 122px;
      line-height: 22px;
      display: inline-block;
      //font-size: 0;
      padding: 10px;
      .dz-image {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        width: 19%;
      }
      .dz-filename {
        opacity: 1;
        display: inline-block;
        text-align: left;
      }
      .dz-details {
        //margin-left: 18px;
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        span {
          line-height: 14px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          text-align: left;
          color: #000000;
        }
      }
    }
    .append-form {
      display: inline-block;
      .change-dropzone {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        color: #3184ee;
        margin-right: 36px;
        border-bottom: dotted 1px rgba(49, 132, 238, 0.5);
        &:hover {
          border-bottom: dotted 1px rgba(49, 132, 238, 1);
        }
      }
    }
    .fallback {
      width: 100%;
      max-width: 502px;
      border: none;
      height: auto;
      padding: 0;
      &__steps {
        display: none;
        border: 1px dashed rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        max-height: 122px;
        line-height: 122px;
        &.active {
          display: inline-block;
        }
      }
      .info {
        border: 1px dashed rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        max-height: 122px;
        line-height: 122px;

        button, .custom-btn--green {
          display: inline-block;
          margin: 0 auto;
          width: auto;
          text-align: center;
          cursor: pointer;
          border-radius: 2px;
          background-color: #7ccb26;
          padding: 9px 18px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            background-color: #6fb622;
            color: #ffffff;
          }
          &:active {
            background-color: #63a31e;
            color: #ffffff;
          }
          &:focus {
            background-color: #63a31e;
            color: #ffffff;
          }
        }

      }
      &__btn {
        display: inline-block;
        line-height: 40px;

      }
      &__text {
        display: inline-block;
        margin-left: 32px;
      }
      .text {
        vertical-align: top;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        border-top: none;
        color: #000000;
        display: inline-block;
        width: 30%;
        &--with-svg {
          width: 40%;
        }
        .number {
          display: inline-block;
          font-family: 'Fira Sans Condensed', sans-serif;
          font-size: 48px;
          font-weight: 500;
          font-stretch: condensed;
          line-height: 46px;
          text-align: center;
          color: #000000;
          vertical-align: top;
        }
        .name {
          display: inline-block;
          vertical-align: top;
          padding-left: 22px;
          text-align: left;
        }

      }
      .icon-text {
        display: block;
        width: 100%;
      }
      &__text-block {
        padding-top: 37px;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        font-size: 0;
      }
    }
  }
  &__fallback-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }
  .jq-selectbox__select {
    width: 502px;
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  .jq-selectbox__select .jq-selectbox__select-text {
    width: 100%;
  }
  .jq-selectbox__trigger {
    display: inline-block;
    position: relative;
    width: 3px;
    height: 3px;
    padding: 3px;
    transform: rotate(45deg);
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    background: none;
  }
  .jq-selectbox__dropdown {
    width: 502px !important;
    top: 40px;
    overflow: hidden;
    ul {
      overflow-y: hidden;
    }
  }
  .block-input--cross {
    svg {
      top: 0;
      margin: 23px 0;
      right: -13px;
      vertical-align: middle;
      position: absolute;
      display: inline-block;
    }
  }
  &__delete {
    display: inline-block;

    &:hover {
      .block-form__delete--hover {
        display: block;
      }
    }
    &--hover {
      position: absolute;
      bottom: 90%;
      right: -68px;
      display: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-align: center;
      color: #000000;
      padding: 12px 16px;
      border-radius: 2px;
      z-index: 2;
      background-color: #ffffff;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(0, 0, 0, 0.16);
      &:before {
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        content: "";
        top: 82%;
        left: 43%;
        z-index: 0;
        background-color: #fff;
        vertical-align: middle;
        transform: rotate(45deg);
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16), 0 0 0px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }
  &__link-more {
    font-size: 14px;
    line-height: 22px;
    color: #276ce9;
    margin-left: 10px;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    background-color: #fff;

  }
  &__image-tab {
    //padding: 60px 48px;
  }
  &__tab-header {
    text-align: center;
    position: relative;
    .custom-btn {
      padding: 9px 18px;
      font-size: 14px;
      vertical-align: middle;
    }
  }
  &--author {
    .block-form__wrapper {
      padding: 0;
    }
    .block-form__bl-wrapper {
      margin: 0;
    }
  }
  &__tab-block {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    border-radius: 2px;
    padding: 8px 0;
    border: solid 1px rgba(0, 0, 0, 0.12);
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
      a {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        padding:10px 18px;
        color: rgba(0, 0, 0, 0.6);
        &.active {
          color: #ffffff;
          background-color: #3184ee;
          padding:11px 18px;
        }
    }
  }
  &__tab-confirm {
    vertical-align: middle;
    display: inline-block;
    float: right;
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 22px;
      margin-right: 16px;
      color: rgba(0, 0, 0, 0.4);
      vertical-align: middle;
    }
  }
  &__go-back {
    vertical-align: middle;
    display: inline-block;
    float: left;
  }
  &__sort {
    display: block;
  }
  &__hashtags {
    display: inline-block;
    width: 80%;
  }
  &__hashtags-item {
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #2268ee;
    margin-left: 15px;
    &.active {
      color: #000;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
  &__filter {
    vertical-align: middle;
    display: inline-block;
    .select-custom {
      margin-top: 0px;
      width: 205px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 36px;
      color: #000000;
    }
    .jq-selectbox__select {
      width: 205px;

      border-bottom: 0;
    }
    .jq-selectbox__select-text {
      text-align: right;
      padding-right: 7px;
    }
    .jq-selectbox__dropdown {
      width: 205px !important;
    }
  }
  &__image-content {
    display: block;
    margin: 40px 0;
    font-size: 0;
    .block-form__author {
      margin-top: 24px;
      margin-left: 12px;
    }
  }
  &__shadow-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
    display: none;
  }
  &__image-item {
    width: 50%;
    max-width: 532px;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-top: 90px;
    cursor: pointer;

    .block-form__img {
      position: relative;
    }
    &__img--shadow {
      display: none;
    }

    .custom-btn {
      display: none;
    }
    &:hover {
      .block-form__shadow-wrapper {
        display: block;
        padding: 12px;
      }
      .block-form__img--shadow {
        position: relative;
        width: 100%;
        height:  100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
      }
      .custom-btn {
        display: inline-block;
        position: absolute;
        bottom: 36px;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: #ffffff;
        padding: 9px 18px;
        margin-left: -51px;
        left: 50%;
      }

    }
    &.change {
      pointer-events: none;
      &:hover {
        .block-form__shadow-wrapper {
          padding: 0;
        }
      }

      .block-form__img {
        border-radius: 3px;
        border: 12px solid #7ccb26;
        position: relative;
        padding: 0;
        &:after {
          position: absolute;
          content: "";
          width: 36px;
          height: 36px;
          right: -25px;
          top: -27px;
          background-color: #7ccb26;
          border-radius: 100%;
          display: inline-block;
        }
        &:before {
          position: absolute;
          content: "";
          right: -11px;
          top: -16px;
          display: inline-block;
          width: 7px;
          height: 12px;
          z-index: 1;
          transform: rotate(45deg);
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }
    }
    &:nth-child(1), &:nth-child(2) {
      margin-top: 0;
    }
    .block-form__img {
      vertical-align: middle;
      width: 536px;
      height: 408px;
      padding: 12px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
    .block-form__author-info {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      padding-left: 12px;
    }
    .block-form__price {
      display: inline-block;
      text-align: right;
      width: 29%;
      vertical-align: top;
      margin-top: 0;
      line-height: 36px;
    }
    &:nth-child(2n) {
      padding-left: 12px;
    }
    &:nth-child(2n + 1) {
      padding-right: 12px;
    }
    .block-form__author-label {
      position: absolute;
      border-radius: 2px;
      background-color: #3184ee;
      padding: 2px 8px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #ffffff;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      line-height: 17px;
    }
  }
  &__slider {
    .block-form__image-item {
      padding: 0;
      margin-top: 20px;
      width: 495px;

      //margin: 20px 10px 0 10px;
    }
    .block-form__img {
      width: 519px;
      margin: 0 auto;
    }
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #3184ee;
    &:hover {
      background-color: #296ec7;
      color: #ffffff;

    }
    &:active {
      background-color: #2462b2;
      color: #ffffff;
    }
    &:focus {
      background-color: #2462b2;
      color: #ffffff;
    }
  }
  .slick-next {
    right: -25px;
    &:after {
      position: absolute;
      content: "";
      right: 15px;
      top: 16px;
      display: inline-block;
      width: 10px;
      height: 10px;
      z-index: 10;
      transform: rotate(45deg);
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
  .slick-prev {
    left: -25px;
    &:after {
      position: absolute;
      content: "";
      right: 16px;
      top: 15px;
      display: inline-block;
      width: 10px;
      height: 10px;
      z-index: 10;
      transform: rotate(45deg);
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
    }
  }
  &__image-content--slider {
    .block-form__price {
      width: 26%;
      text-align: right;
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
      line-height: 36px;

    }
    .block-form__author-label {
      top: 0;
      line-height: 17px;
      position: relative;
      display: inline-block;
    }
    .block-form__author-info {
      vertical-align: top;
      width: 69%;
    }
  }
  &__text-about {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    padding-left: 12px;
  }
}

.height-auto {
 height: auto;
}

.hidden {
  visibility: hidden;
}