.block-image {
  padding: 60px 0;
  position: relative;
  &--bg {
    background: url("../images/content/bl-image-bg.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-color: #1c2842;
    margin: 0 60px;
    padding: 0;
    overflow: hidden;
    .block-image__wrapper {
      margin-top: 0;
      padding: 60px 70px;
      background: rgba(35, 40, 71, 0.87);
    }
  }
  &__title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 32px;
    font-stretch: condensed;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }
  &__wrapper {
    font-size: 0;
    display: block;
    padding: 0 60px;
    margin-top: 32px;
  }
  &__item {
    display: inline-block;
    width: 33.3%;
    padding: 0 20px;
    vertical-align: top;
    position: relative;
  }
  &__img {
    width: auto;
    display: block;
    text-align: center;
    min-height: 230px;
    line-height: 230px;
    &--left {
      text-align: left;
    }
    img {
      vertical-align: middle;
    }

  }
  &__block-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 17px;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    &--white {
      color: #fff;
    }
  }
  &__number {
    font-family: 'Caveat Brush', cursive;
    font-size: 90px;
    text-align: center;
    color: #ffffff;
    line-height: 85px;
  }
  &__decor {
    position: absolute;
    left: 80%;
    top: 30%;
    z-index: 2;
  }
}