- var title= 'Аннотация+Обложка'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade

                .submenu-ul(data-role="submenu")
                    ul
                        li.active Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование

                .main-screen.main-screen--annotation-cover
                    .main-screen__shadow
                    .main-screen--design__content
                        .main-screen--design__title Пакет 1: Обложка+ аннотация+ ISBN+ УДК,ББК
                        .main-screen--design__sub-title
                            | Увеличьте привлекательность вашей книги
                        .main-screen--design__advantages
                            .main-screen--design__line 1 200 ₽
                            .main-screen--design__sub-line.main-screen--design__old-price 1 400 ₽
                            a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Заказать услугу
                .content
                    .block-acr
                        .block-acr__title Все что нужно для успешной продажи
                            br
                            |вашей книги в одной услуге
                        .block-acr__item
                            .block-acr__item-part.block-acr__item-part--img
                                img(src="images/content/cover-book.png" alt="")

                            .block-acr__item-part
                                .block-acr__step 1
                                .block-acr__text--title Обложка
                                .block-acr__text Внешний вид - первое, что видит читатель, когда берет в руки книгу и принимает решение о ее покупке или загрузке
                                .block-acr__accordion
                                    .container__accordion(data-type="accordion")
                                        .container__accordion-item Как быстро нужно утвердить эскиз?
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                                        .container__accordion-item Могу ли я внести доработки?
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                                        .container__accordion-item Причины отмены и приостановки заказа
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .block-acr__decor
                                svg(xmlns="http://www.w3.org/2000/svg" width="89" height="115" viewBox="0 0 89 115")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-line-1")
                        .block-acr__item
                            .block-acr__item-part
                                .block-acr__step 2
                                .block-acr__text--title Аннотация
                                .block-acr__text После того, как вашу книгу открыли или взяли в руки, нужно захватить покупателя красивым описанием, чтобы человек захотел ее прочитать
                                .block-acr__accordion
                                    .container__accordion(data-type="accordion")
                                        .container__accordion-item Как быстро нужно утвердить эскиз?
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                                        .container__accordion-item Могу ли я внести доработки?
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                                        .container__accordion-item Причины отмены и приостановки заказа
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .block-acr__item-part.block-acr__item-part--img
                                img(src="images/content/cover-annotation.png" alt="")
                            .block-acr__decor.block-acr__decor--second
                                svg(xmlns="http://www.w3.org/2000/svg" width="89" height="115" viewBox="0 0 89 115")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-line-2")
                        .block-acr__item
                            .block-acr__item-part.block-acr__item-part--img
                                img(src="images/content/cover-index.png" alt="")
                            .block-acr__item-part
                                .block-acr__step 3
                                .block-acr__text--title издательские индексы в подарок
                                .block-acr__text Мы присвоим ISBN, УДК ББК и авторский знак в подарок
                                .block-acr__accordion
                                    .container__accordion(data-type="accordion")
                                        .container__accordion-item Как быстро нужно утвердить эскиз?
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                                        .container__accordion-item Могу ли я внести доработки?
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                                        .container__accordion-item Причины отмены и приостановки заказа
                                            .container__decor
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                                        .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                    .block-box
                        .block-box__title Всего один комплект
                        .block-box__wrapper
                            .block-box__item
                                .block-box__img
                                    img.box-1(src="images/content/box1.png" alt="")
                                .block-box__item-title Индивидуальная обложка
                                .block-box__text Наш иллюстратор создаст привлекательную обложку
                                .block-box__decor +
                            .block-box__item
                                .block-box__img
                                    img.box-2(src="images/content/box2.png" alt="")
                                .block-box__item-title Аннотация
                                .block-box__text Мы подготовим правильные слова, чтобы книгу зотелось купить сразу же, как только взяли в руки
                                .block-box__decor +
                            .block-box__item
                                .block-box__img
                                    img.box-3(src="images/content/box3.png" alt="")
                                .block-box__item-title ISBN + УДК ББК + Авторский знак
                                .block-box__text Сделайте вашу книгу частью литературного наследия
                a.c-anchor(href="" name="form")
                .block-sales
                    .block-sales__info
                        .block-sales__same =
                        .block-sales__price-text Сотни успешных продаж
                        .block-sales__price 6 400 ₽
                            span.old-price 7200
                            span.rouble ₽
                        a.custom-btn.custom-btn--green Перейти к оплате →
                .content
                    .proofread-block.proofread-block--annotation
                        .proofread-block__title Больше информации в нашем блоге
                        .proofread-blog
                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Где учиться бренд-дизайну

                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов

                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов своими руками
            include /blocks/footer-blue.jade
            script(src="./js/annotation-cover.js")