- var title= 'Аннотация книги'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade

                .submenu-ul(data-role="submenu")
                    ul
                        li.active Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование

                .main-screen.main-screen--design.main-screen--annotation
                    .main-screen__shadow
                    .main-screen--design__content
                        .main-screen--design__title Аннотация книги
                        .main-screen--design__sub-title
                            | Аннотация — это краткое содержание книги. Основная задача, подобрать
                            br
                            |правильные слова чтобы подтолкнуть читателя купить или прочитать книгу
                        .main-screen--design__advantages
                            .main-screen--design__line 1 200 ₽
                            .main-screen--design__sub-line.main-screen--design__old-price 1 400 ₽
                            a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Оставить заявку
                .content
                    .annotaion-block
                        .annotaion-block__img
                            img(src="/images/content/annotation-social.png" alt="")
                        .annotaion-block__text
                            .annotaion-block__text--title Мы позаботимся о качественном описании
                            .annotaion-block__text--about Хорошо написанная аннотация будет сама продавать вашу
                                br
                                | книгу, просто дайте на нее ссылку из соцсетей или других
                                br
                                | источников и дело сделано.
                    .content--annotation
                        .item-part
                            .item-part__icon
                                svg(xmlns="http://www.w3.org/2000/svg" width="79" height="63" viewBox="0 0 79 63")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#an-icon-book")
                            .item-part__title
                                | Зацепим с первой строки
                            .item-part__text
                                | Опишем максимально
                                br
                                |интересно и информативно,
                                br
                                | но без спойлеров
                        .item-part
                            .item-part__icon
                                svg(xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#an-icon-megafon")
                            .item-part__title
                                | Привлечем вашу аудиторию
                            .item-part__text
                                |Напишем текст именно под
                                br
                                |вашу аудиторию, это половина
                                br
                                |успеха
                        .item-part
                            .item-part__icon
                                svg(xmlns="http://www.w3.org/2000/svg" width="48" height="64" viewBox="0 0 48 64")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#an-icon-cover")
                            .item-part__title
                                | Правильно структурируем
                            .item-part__text
                                | Подберем стиль аннотации
                                br
                                | под ваш жанр
                        .item-part
                            .item-part__icon
                                svg(xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#an-icon-text")
                            .item-part__title
                                |Напишем текст для людей
                            .item-part__text
                                | Без канцеляризмов и штампов,
                                br
                                |который захочется читать
                    a.c-anchor(href="" name="form")
                    .brif
                        .brif__title Заполните бриф
                        .brif__block
                            .brif__bg-photo
                                img(src="/images/content/annotation-photo.png" alt="")
                            .brif__bg-pen
                                img(src="/images/content/annotation-pen.png" alt="")
                            .brif__cover(data-type="cover")
                                .brif__cover-top
                                .brif__cover-middle
                                .brif__cover-bottom
                                form.brif__form(data-type="form" name="annotation")
                                    .fallback.dropzone-photo#upload(action="" method="POST" data-name="dropzone-photo")
                                        .preloader.c-preloader
                                            img(src="images/content/preloader-24.gif" alt="")
                                        input(name="file" type="file")
                                        .info
                                            button.custom-btn.custom-btn--blue-text Загрузите фото
                                            br
                                            | Jpeg, jpg или png, не менее 600px в ширину
                                    .block-input.block-input--alternate(data-type="alternate")
                                        textarea.input-custom.c-input-custom
                                    .block-input
                                        textarea.input-custom.c-input-custom#bio(name="bio"  data-type="textarea" cols="30" rows="5" placeholder="")
                                        label.label-custom.c-label-custom(for="bio")
                                            | Ваша краткая биография
                                    .block-input
                                        textarea.input-custom.c-input-custom#shortbook(name="shortbook" data-type="textarea"  cols="30" rows="5" placeholder="")
                                        label.label-custom.c-label-custom(for="shortbook")
                                            | Краткое описание содержания книги
                                    .block-input
                                        textarea.input-custom.c-input-custom#links(name="links" data-type="textarea"  cols="30" rows="5" placeholder="")
                                        label.label-custom.c-label-custom(for="links")
                                            |Ссылки на статьи об авторе
                                    .block-input
                                        textarea.input-custom.c-input-custom#wishes(name="wishes" data-type="textarea"  cols="30" rows="5" placeholder="")
                                        label.label-custom.c-label-custom(for="wishes")
                                            | Пожелания в свободной форме
                                    input.custom-btn.custom-btn--green(type="submit" value="Отправить заявку")

                                form.brif__form.editing-callback.editing-callback--success(data-type="success")
                                    .editing-callback--success__img
                                    .editing-callback--success__text Заявка успешно отправлена!
                                    a.editing-callback--success__link.c-send-yet Отправить еще
                    .container__callback--annotation
                        .container__callback
                            form.editing-callback.c-callback-form(name="callback_form")
                                .editing-callback__text Или просто оставьте телефон, наш менеджер вам перезвонит
                                .block-input
                                    input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                                input.custom-btn.custom-btn--blue-text(type="submit" value="Перезвоните мне")
                            form.editing-callback.editing-callback--success.c-callback-success
                                .editing-callback--success__img
                                .editing-callback--success__text Заявка на звонок успешно отправлена!
                                //a.editing-callback--success__link.c-send-yet Отправить еще
                    .proofread-block.proofread-block--annotation
                        .proofread-block__title Больше информации в нашем блоге
                        .proofread-blog
                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Где учиться бренд-дизайну

                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов

                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов своими руками


                    //.editing-block.editing-block--reasons
                    //    .b-block--white
                    //        .block-book__wrapper
                    //            .block-book__block
                    //                .block-book__block-wrapper
                    //                    .block-book__icon
                    //                        svg(xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60")
                    //                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sketch")
                    //                    .block-book__text
                    //                        | 3 эскиза обложки на выбор
                    //                        br
                    //                        | по вашим параметрам
                    //            .block-book__block
                    //                .block-book__block-wrapper
                    //                    .block-book__icon
                    //                        svg(xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62")
                    //                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-diff-tab")
                    //                    .block-book__text
                    //                        |Любой формат книги
                    //            .block-book__block
                    //                .block-book__block-wrapper
                    //                    .block-book__icon
                    //                        svg(xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64")
                    //                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cover")
                    //                    .block-book__text
                    //                        | Создание обложки для печатной
                    //                        br
                    //                        | и электронной книги
                    //.cover-services
                    //    .cover-services__title Наши услуги
                    //    .cover-services__block
                    //        .cover-services__img
                    //            img(src="images/content/sketch-wish.png" alt="")
                    //        .cover-services__text Cоздание обложки по вашей картинке
                    //            .block-tip ?
                    //                .block-padding
                    //                    .block-hover Подсказка
                    //        .cover-services__price 1 000
                    //            span.rouble ₽
                    //            .old-price 1 400
                    //                span.rouble ₽
                    //    .cover-services__block
                    //        .cover-services__img
                    //            img(src="images/content/sketch-yours.png" alt="")
                    //        .cover-services__text Cоздание обложки по вашей хотелке
                    //            .block-tip ?
                    //                .block-padding
                    //                    .block-hover Подсказка
                    //        .cover-services__price 100
                    //            span.rouble ₽
                    //.cover-steps
                    //    .cover-steps__block.cover-steps__block--write-task
                    //        .cover-steps__title-block Опишите ваше пожелание в свободной форме
                    //        .cover-steps__btn
                    //            a(href="javascript:void(0);").custom-btn.custom-btn--white Описать задачу
                    //        .cover-steps__decor-arrow.cover-steps__decor-arrow--bottom
                    //    .cover-steps__block
                    //        .cover-steps__img
                    //            img(src="images/content/steps1.png" alt="")
                    //        .cover-steps__text Мы подберем дизайнера
                    //            br
                    //            |под вашу задачу
                    //        .cover-steps__decor-arrow
                    //
                    //    .cover-steps__block
                    //        .cover-steps__img
                    //            img(src="images/content/steps2.png" alt="")
                    //        .cover-steps__text Вы выберите подходящий
                    //            br
                    //            | из предложенных вариантов
                    //        .cover-steps__decor-arrow.cover-steps__decor-arrow--bottom
                    //    .cover-steps__block
                    //        .cover-steps__img
                    //            img(src="images/content/steps3.png" alt="")
                    //        .cover-steps__text Мы подготовим вам обложку
                    //            br
                    //            | и отдадим исходник

            include /blocks/footer-blue.jade
            script(src="./js/annotation.js")