include ./mixin/icon.jade
include ./images/svg/sprite.svg

- var title= 'Премия Booksсriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            .content-wrapper
                include /blocks/header-white-lk.jade

                .main-screen.b-awward__screen
                    .main-screen__shadow
                    .b-awward__screen-content
                        .b-awward__screen-img
                            +icon('awward', 'b-awward__screen-icon')
                            .b-awward__screen-title Премия Booksсriptor
                            .b-awward__screen-desc Премия Bookscriptor’а — это возможность для новых авторов живой<br/>и интеллектуальной прозы привлечь внимание литературного сообщества и попасть нa<br/>полки книжных магазинов.
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#load")
                            | Загрузить рукопись

                .b-awward__block
                    .content
                        .block-title Этапы премии
                        .b-awward__steps
                            .b-awward__steps-item.is-active
                                .b-awward__steps-img
                                    +icon('awward-step1', 'b-awward__steps-icon')
                                .b-awward__steps-title 1 апреля
                                .b-awward__steps-desc Открытие приема<br/>текстов
                            .b-awward__steps-item
                                .b-awward__steps-img
                                    +icon('awward-step2', 'b-awward__steps-icon')
                                .b-awward__steps-title 1 июня
                                .b-awward__steps-desc Закрыт прием
                            .b-awward__steps-item
                                .b-awward__steps-img
                                    +icon('awward-step3', 'b-awward__steps-icon')
                                .b-awward__steps-title 1 июня
                                .b-awward__steps-desc Лонг лист
                            .b-awward__steps-item
                                .b-awward__steps-img
                                    +icon('awward-step4', 'b-awward__steps-icon')
                                .b-awward__steps-title 15 августа
                                .b-awward__steps-desc Шорт лист
                            .b-awward__steps-item
                                .b-awward__steps-img
                                    +icon('awward-step5', 'b-awward__steps-icon')
                                .b-awward__steps-title 10 сентября
                                .b-awward__steps-desc Вручение премии<br/>и результаты<br/>конкурса

                .b-awward__block.b-awward__block--gray
                    .content
                        .block-title Лауреат премии digital-издательства<br/>Bookscriptor получает
                        .b-awward__wrapper.b-awward__wrapper--top.block-book__wrapper
                            .block-book__block
                                .block-book__block-wrapper
                                    .block-book__icon
                                        img(src="images/content/awwards/1.png" alt="")
                                    .block-book__text Корректура, редактура<br/>и издание книги 
                            .block-book__block
                                .block-book__block-wrapper
                                    .block-book__icon
                                        img(src="images/content/awwards/2.png" alt="")
                                    .block-book__text Распространение книги и попадание<br/>на выкладку в крупных книжных Москвы
                            .block-book__block
                                .block-book__block-wrapper
                                    .block-book__icon
                                        img(src="images/content/awwards/3.png" alt="")
                                    .block-book__text Презентация книги в книжных магазинах<br/>и получение авторских экземпляров 
                        .b-awward__wrapper.block-book__wrapper
                            .block-book__block
                                .block-book__block-wrapper
                                    .block-book__icon.block-book__icon--big
                                        img(src="images/content/awwards/4.png" alt="")
                                    .block-book__text Освещение в СМИ книг лауреатов,<br/>интервью с авторами
                            .block-book__block
                                .block-book__block-wrapper
                                    .block-book__icon.block-book__icon--big
                                        img(src="images/content/awwards/5.png" alt="")
                                    .block-book__text Возможность номинации книги лауреата на<br/>крупные литературные премии России от<br/>лица издательства Bookscriptor («Ясная<br/>поляна», «НОС» и другие)
                            .block-book__block
                                .block-book__block-wrapper
                                    .block-book__icon.block-book__icon--big
                                        img(src="images/content/awwards/6.png" alt="")
                                    .block-book__text Курирование в дальнейшем продвижении<br/>(помощь в публикации рассказов в толстых<br/>журналах, издании новых книг

                .b-awward__block
                    .content
                        .block-title Номинации
                        .b-awward__nomin
                            .b-awward__nomin-item
                                .b-awward__nomin-img
                                    img(src="images/content/awwards/7.png" alt="")
                                .b-awward__nomin-title Young Adult
                                .b-awward__nomin-desc Один из самых востребованных на западе жанров, в России только набирает популярность. Мы ищем талантливых пионеров, пишущих Young Adult на русском языке.
                            .b-awward__nomin-item
                                .b-awward__nomin-img
                                    img(src="images/content/awwards/8.png" alt="")
                                .b-awward__nomin-title Фантастика и Фэнтези
                                .b-awward__nomin-desc Несмотря на переполненный рынок и высокую конкуренцию, мы верим, что отечественная фантастика еще прячет от публики талантливых авторов и великие романы.
                            .b-awward__nomin-item
                                .b-awward__nomin-img
                                    img(src="images/content/awwards/9.png" alt="")
                                .b-awward__nomin-title «Новая реальность»
                                .b-awward__nomin-desc Современная русская проза переживает не лучшие времена. Новые имена появляются редко и обычно забываются. Однако мы уверены, что в России существуют неизвестные авторы, которые пишут увлекательную интеллектуальную прозу.

                .b-awward__block
                    .content
                        .block-title Краткое положение
                        .b-awward__desc
                            .b-awward__desc-item
                                .b-awward__desc-title 12 000
                                .b-awward__desc-txt На соискание премии принимаются прозаические произведения объёмом от 120000 до 480000 печатных знаков.
                            .b-awward__desc-item
                                .b-awward__desc-title 3 номинации
                                .b-awward__desc-txt Работы принимаются по трем номинациям: «Young Adult», «Фантастика и Фэнтези» и «Новая реальность».
                            .b-awward__desc-item
                                .b-awward__desc-title Кто?
                                .b-awward__desc-txt Номинировать и выдвигать рукописи и книги на премию могут как авторы, так и издатели, издательства и редакторы журналов.
                            .b-awward__desc-item
                                .b-awward__desc-title                                    
                                    img(src="images/content/pdf-icon.png" alt="")
                                .b-awward__desc-txt Номинировать и выдвигать рукописи и книги на премию могут как авторы, так и издатели, издательства и редакторы журналов.
                                a(href="#" target="_blank").btn-border.btn-border--blue Ознакомьтесь с .pdf

                .content
                    a(href="" name="load").c-anchor
                    .b-awward__block.b-awward__block--gray.b-awward__block--lines
                        .content
                            .block-title Отправьте свою работу
                            .b-awward__form
                                .b-awward__form-wrapper
                                    .b-awward__form-item
                                        .b-awward__form-title Загрузите текст
                                        .b-awward__form-block.b-awward__form-block--first
                                            input(name="file" type="file" accept="application/doc,application/docx,application/pdf" id="upload").js-upload-file
                                            label(for="upload").b-awward__form-btn Загрузите рукопись
                                            span.js-upload-name Выберите файл .doc/.docx или .pdf 
                                    .b-awward__form-item.b-awward__form-item--or
                                    .b-awward__form-item
                                        .b-awward__form-title Отправьте на почту
                                        a(href="mailto:award@bookscriptor.ru").b-awward__form-block award@bookscriptor.ru
                                .b-awward__form-info
                                        svg.icon-text(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48")
                                            defs
                                                linearGradient(id="a" x1="-6.557%" x2="85.12%" y1="42.211%" y2="42.211%")
                                                    stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                    stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                    stop(offset="100%")
                                                linearGradient(id="b" x1="85.12%" x2="-6.557%" y1="42.211%" y2="42.211%")
                                                    stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                    stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                    stop(offset="100%")
                                            g(fill="none" fill-rule="evenodd")
                                                path(fill="#000" d="M23 7.601c-4.435 4.418-10.796 5.757-16 5.757C7 26.017 14.216 37.243 23 43c8.783-5.757 16-16.983 16-29.642-5.204 0-11.565-1.339-16-5.757z")
                                                path(fill="url(#a)" d="M16 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".5" transform="translate(7 5)")
                                                path(fill="url(#b)" d="M0 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".4" transform="matrix(-1 0 0 1 23 5)")
                                                path(fill="#7CCB26" d="M31.141 18.083c-4.615 2.806-7.963 6.215-9.5 7.958l-3.914-2.92L16 24.446 22.761 31c1.139-2.78 4.693-8.157 9.063-12.082a.51.51 0 0 0 .13-.595.573.573 0 0 0-.813-.24")
                                        p Ваша рукопись в безопасности. Bookscriptor гарантирует<br/> конфиденциальность по отношению ко всем вашим материалам.

                .b-awward__block
                    .content
                        .block-title Список жюри
                        .b-awward__judges
                            .b-awward__judges-item 
                                .b-awward__judges-img
                                    img(src="images/content/judges/1.png" alt="")
                                .b-awward__judges-name Татьяна Замировская
                                .b-awward__judges-desc Лауреат нобелевской премии по литературе
                            .b-awward__judges-item
                                .b-awward__judges-img
                                    img(src="images/content/judges/2.png" alt="")
                                .b-awward__judges-name Илья Данишевский
                                .b-awward__judges-desc Лауреат пулитцеровской премии 2017
                            .b-awward__judges-item
                                .b-awward__judges-img
                                    img(src="images/content/judges/3.png" alt="")
                                .b-awward__judges-name Евгений Бабушкин
                                .b-awward__judges-desc Лауреат нобелевской премии по литературе
                            .b-awward__judges-item
                                .b-awward__judges-img
                                    img(src="images/content/judges/4.png" alt="")
                                .b-awward__judges-name Дмитрий Малкин
                                .b-awward__judges-desc Лауреат нобелевской премии по литературе
                            .b-awward__judges-item
                                .b-awward__judges-img
                                    img(src="images/content/judges/5.png" alt="")
                                .b-awward__judges-name Дмитрий Малкин
                                .b-awward__judges-desc Лауреат нобелевской премии по литературе
                            .b-awward__judges-item
                                .b-awward__judges-img
                                    img(src="images/content/judges/6.png" alt="")
                                .b-awward__judges-name Алексей Белый
                                .b-awward__judges-desc Лауреат пулитцеровской премии 2017
                            .b-awward__judges-item
                                .b-awward__judges-img
                                    img(src="images/content/judges/7.png" alt="")
                                .b-awward__judges-name Марина Кудимова
                                .b-awward__judges-desc Лауреат нобелевской премии по литературе

                .b-awward__block
                    .content
                        .b-awward__partners
                            a(href="#" target="_blank").b-awward__partners-item
                                img(src="images/content/partners/1.png" alt="")
                            a(href="#" target="_blank").b-awward__partners-item
                                .block-title Наши<br/>партнеры
                            a(href="#" target="_blank").b-awward__partners-item
                                img(src="images/content/partners/2.png" alt="")
                            a(href="#" target="_blank").b-awward__partners-item.b-awward__partners-item--m0
                                img(src="images/content/partners/3.png" alt="")
                            a(href="#" target="_blank").b-awward__partners-item.b-awward__partners-item--m0
                                img(src="images/content/partners/4.png" alt="")


            include /blocks/footer.jade
            script(src="./js/awward.js")