- var title= 'Блог'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white.jade
                .main-screen.main-screen--section
                    .main-screen--section__shadow
                    .main-screen--section__content
                        .main-screen--section__img
                            svg(xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pen")
                        .main-screen--section__title Блог Bookscriptor
                        .main-screen--section__sub-title Пишем о новых функциях платформы, веб-дизайне, онлайн журналистике и цифровом сторителлинге. Подпишитесь на дайджест, чтобы не пропустить публикации.

                .content.content--blog
                    .proofread-tab.editing-tab
                        .proofread-tab__nav
                            a(href="#1t" data-link="#1t" data-theme="all").proofread-tab__title.c-tab.active Все статьи
                            a(href="#2t" data-link="#2t" data-theme="tav").proofread-tab__title.c-tab Тавтология
                            a(href="#3t" data-link="#3t" data-theme="extra").proofread-tab__title.c-tab Лишнее слово
                            a(href="#4t" data-link="#4t" data-theme="imprecise").proofread-tab__title.c-tab Неточное слово
                            a(href="#5t" data-link="#5t" data-theme="semantic").proofread-tab__title.c-tab Смысловая неточность

                    .blog
                        .blog__masonry(data-type="masonry")
                            .blog__item(data-theme-item="tav,imprecise")
                                a(href="javascript:void(0);").blog__item-wrapper
                                    .blog__item-img
                                        img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                    .blog__item-title Продвигаем книгу в интернете 2
                            .blog__item(data-theme-item="imprecise")
                                a(href="javascript:void(0);").blog__item-wrapper
                                    .blog__item-img
                                        img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                    .blog__item-title Идеальная обложка вашей книги
                            .blog__stamp.blog__item.blog__item--subscribe(data-theme-item="tav,extra,imprecise,semantic")
                                .blog__item--shadow
                                    .blog__item--wrapper
                                        form.callback-form.c-callback-form(name="subscribe_form_two")
                                            .blog__item-header Все о создании
                                                br
                                                |и продвижении
                                                br
                                                |ваших книг
                                            .blog__item-email
                                                .block-input
                                                    input.input-custom.c-input-custom#email(type="text" name="email")
                                                    label.label-custom.c-label-custom(for="email")
                                                        | Ваша почта
                                            .blog__item-btn
                                                input.custom-btn.custom-btn--white(type="submit" value="Подписаться на статьи")
                                        form.callback-form.callback-form--success.c-callback-success
                                            .callback-form--success__img
                                            .callback-form--success__text Вы подписаны на Bookscriptor!
                            .blog__item.blog__item(data-theme-item="tav,extra")
                                a(href="javascript:void(0);").blog__item-wrapper
                                    .blog__item-img
                                        img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                    .blog__item-title Продвигаем книгу в интернете
                            .blog__item.blog__item(data-theme-item="tav,semantic")
                                a(href="javascript:void(0);").blog__item-wrapper
                                    .blog__item-img
                                        img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                    .blog__item-title Продвигаем книгу в интернете
                            .blog__item.blog__item(data-theme-item="extra")
                                a(href="javascript:void(0);").blog__item-wrapper
                                    .blog__item-img
                                        img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                    .blog__item-title Продвигаем книгу в интернете
                            .blog__item.blog__item(data-theme-item="tav")
                                a(href="javascript:void(0);").blog__item-wrapper
                                    .blog__item-img
                                        img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                    .blog__item-title Продвигаем книгу в интернете
                    .container__callback
                        form.editing-callback.c-callback-form(name="subscribe_form")
                            .editing-callback__text Только самые интресные статьи на тему самиздата
                            .block-input
                                input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                            input.custom-btn.custom-btn--white(type="submit" value="Подписаться")
                        form.editing-callback.editing-callback--success.c-callback-success
                            .editing-callback--success__img
                            .editing-callback--success__text Вы подписаны на Bookscriptor!


            include /blocks/footer-blue.jade
            script(src="./js/masonry.pkgd.min.js")
            script(src="./js/blog.js")
