include /blocks/books.jade
- var title= 'Детальная страница книги'
doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade
                .content
                   .breadcrumbs
                       a.breadcrumbs__item(href="#") Главная
                       a.breadcrumbs__item(href="#") Каталог книг
                       a.breadcrumbs__item(href="#") Культура
                       a.breadcrumbs__item(href="#") Языкознание и литературоведение
                   .book-info
                       .book-info__main
                           .book-info__img
                               img(src="images/content/big-book.png")
                               a(href="#" title='Предпросмотр').profile-form__link.profile-form__link--show Предпросмотр
                               .book-info__label-age 12+
                           .book-info__properties
                                .book-info__properties-block
                                    .book-info__title Приключения Петрова и Васечкина, обыкновенные и невероятные
                                    .book-info__socials
                                        img(src="images/content/social-emty.jpg")
                                .book-info__properties-block
                                    .book-info__tabs
                                        .book-info__tab
                                            a(href="#print" title='www.yoneg.ru' data-link="#print").book-info__change-type.c-profile-tab Печатная
                                            a(href="#electronic" title='www.yoneg.ru' data-link="#electronic").book-info__change-type.c-profile-tab.active Электронная
                                        .book-info__tab-contents
                                            #print.book-info__tab-content.c-profile-block.book-info__pod
                                                    |Печать доступна по технологии “
                                                    a.link-text(href="https://bookscriptor.ru/services/print-on-demand/") печать по требованию
                                                    | " , с
                                                    br
                                                    | возможностью печати от 1 экземпляра
                                            #electronic.book-info__tab-content.c-profile-block.book-info__pod.active
                                                    | При покупке книга будет доступна для чтения в
                                                    a.link-text(href="https://bookscriptor.ru/") личном кабинете
                                                    | и через
                                                    a.link-text(href="https://bookscriptor.ru/") мобильное приложение
                                .book-info__cost
                                    span.cost Бесплатно
                                .book-info__btn
                                    a.custom-btn.custom-btn--green(href="#" data-action="biblio") В библиотеку
                                .book-info__public
                                    .book-info__public-item ISBN: 978-5-4483-4665-1
                                    .book-info__public-item Информация: А5 (14,8 х 21см), 236 страниц
                                    .book-info__public-item Издательство: Издательский дом «Литературная учеба»
            include /blocks/footer-blue.jade
            script(src="./js/book.js")