include /blocks/books.jade
- var title= 'Детальная страница книги'
doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade
                .content
                   .breadcrumbs
                       a.breadcrumbs__item(href="#") Главная
                       a.breadcrumbs__item(href="#") Каталог книг
                       a.breadcrumbs__item(href="#") Культура
                       a.breadcrumbs__item(href="#") Языкознание и литературоведение
                   .book-info
                       form.book-info__main(method="" action="" name="book")
                           .book-info__img
                               img(src="images/content/big-book.png")
                               a(href="#" title='Предпросмотр').profile-form__link.profile-form__link--show Предпросмотр
                               .book-info__label-age 12+
                           .book-info__properties
                                .book-info__properties-block
                                    .book-info__title Трудности обучения в начальной школе
                                    .book-info__socials
                                        img(src="images/content/social-emty.jpg")
                                .book-info__properties-block
                                    .book-info__tabs
                                        .book-info__tab
                                            a(href="#print" title='www.yoneg.ru' data-link="#print").book-info__change-type.c-profile-tab.active Печатная
                                            a(href="#electronic" title='www.yoneg.ru' data-link="#electronic").book-info__change-type.c-profile-tab Электронная
                                        .book-info__tab-contents
                                            #print.book-info__tab-content.c-profile-block.book-info__pod.active
                                                    |Печать доступна по технологии “
                                                    a.link-text(href="https://bookscriptor.ru/services/print-on-demand/") печать по требованию
                                                    | " , с
                                                    br
                                                    | возможностью печати от 1 экземпляра
                                            #electronic.book-info__tab-content.c-profile-block.book-info__pod
                                                    | При покупке книга будет доступна для чтения в
                                                    a.link-text(href="https://bookscriptor.ru/") личном кабинете
                                                    | и через
                                                    a.link-text(href="https://bookscriptor.ru/") мобильное приложение
                                    .book-info__properties-item.book-info__properties-item--count
                                        .book-info__text-name Количество книг
                                        .cart__item-count.quantity
                                            input(type="number" min="1" max="9" step="1" value="1" name="count")
                                    .book-info__properties-item
                                        .book-info__text-name Печать иллюстраций
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="B_W_PRINT" class="c-check-color" data-check="B_W_PRINT" name="color" value="B_W_PRINT" checked="")
                                                label.link-text(for="B_W_PRINT") Черно-белые
                                                input(type="radio" id="COLOR_PRINT" class="c-check-color" data-check="COLOR_PRINT" name="color" value="COLOR_PRINT")
                                                label.link-text(for="COLOR_PRINT") Цветныe
                                    .book-info__properties-item
                                        .book-info__text-name Переплёт
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="Мягкий" class="c-check-type" data-check="Мягкий" name="type-cover" value="Мягкий" checked="")
                                                label.link-text(for="Мягкий") Мягкий
                                                input(type="radio" id="Твёрдый" class="c-check-type" data-check="Твёрдый" name="type-cover" value="Твёрдый")
                                                label.link-text(for="Твёрдый") Твёрдый
                                    .book-info__properties-item
                                        .book-info__text-name Ламинация
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="Мятовая" class="c-check-type" data-check="Матовая" name="lamination" value="Матовая" checked="")
                                                label.link-text(for="Мятовая") Матовая
                                                input(type="radio" id="Глянцевая" class="c-check-type" data-check="Глянцевая" value="Глянцевая" name="lamination")
                                                label.link-text(for="Глянцевая") Глянцевая
                                .book-info__cost
                                    span.price-book 250 руб
                                    span.count х3 =
                                    span.cost 250 руб
                                .book-info__btn
                                    a.custom-btn.custom-btn--green(href="cart.html") Оформить
                                    a.custom-btn.custom-btn--blue-text(href="#" data-action="cart") В корзину
                                .book-info__public
                                    .book-info__public-item ISBN: 978-5-4483-4665-1
                                    .book-info__public-item Информация: А5 (14,8 х 21см), 236 страниц
                                    .book-info__public-item Издательство: Издательский дом «Литературная учеба»
                       .book-info__description
                            .book-info__part.book-info__part--less
                            .book-info__part
                               .book-info__title Описание книги
                               .book-info__text В наше время много красивых и успешных девушек остаются одинокими. Кто-то пеняет на статистику, а кто-то бежит снимать венок безбрачия. Не спешите этого делать! Для начала прочтите книгу, которая изменит Вашу судьбу. В книге Вы найдёте основные ошибки, которые допускают большинство девушек. А возможно в историях наглядно узнаете себя. Прочитайте её уже сегодня, и завтра изменится ваша жизнь.

                       .book-info__author
                           .book-info__part.book-info__part--less
                               .book-info__photo-author
                                    img(src="images/content/big-book.png")
                           .book-info__part
                               .book-info__title Об авторе
                               .book-info__name-author Валерий Шанин
                               .book-info__text Валерий Шанин — профессиональный путешественник, писатель и журналист. Член Союза журналистов России и Союза кругосветчиков России. Совершил три кругосветных путешествия, побывал в 100 странах мира. Автор книг «Вокруг света за 280$», «Вокруг света без виз», «Центральная Америка без виз», «Как путешествовать», «Европа для всех», «Хитч-хайкинг», «Школа автостопа» и других; написал два десятка путеводителей по различным странам мира.
                   .book-info__book-more
                       .profile__tab
                           a(href="#mybooks" title='www.yoneg.ru' data-link="#mybooks").profile__tab--item.c-profile-tab.active Рекомендации
                           a(href="#favorite" title='www.yoneg.ru' data-link="#favorite").profile__tab--item.c-profile-tab Другие книги автора
                       #mybooks.profile-book.c-profile-block.active
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Эл. версия', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Печатная версия', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').profile-book__version--print
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Эл. версия', '120 ₽', 'Уроки анализа футбольных матчей', 'javascript:void(0);')
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Эл. версия', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Печатная версия', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').profile-book__version--print
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Эл. версия', '120 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                       #favorite.profile-book.c-profile-block
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Эл. версия', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                           +books('images/content/book-profile_1.png', 'Иван Иванов', 'Печатная версия', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').profile-book__version--print
                   .book-info__reviews
                       .book-info__title Отзывы наших читателей
                       .reviews.c-review
                           .review__item
                               .review__author
                                   .review__foto
                                       img(src="images/content/person.jpg" alt="")
                                   .review__name
                                       | Станислав Кулиш
                                   .review__role
                                       | Автор
                               .review__content
                                   .review__title
                                       | Мне очень понравилось
                                   .review__text(data-type="review")
                                       | Валерий Шанин — профессиональный путешественник, писатель и журналист. Член Союза журналистов России и Союза кругосветчиков России.
                                   .review__date
                                       | 30 июня, 2016, 11:24
                           .review__item
                               .review__author
                                   .review__foto
                                       img(src="images/content/kudimova.jpg" alt="")
                                   .review__name
                                       | Константин
                                       | Константинопольский
                               .review__content
                                   .review__rating.review__rating--set.b-rating
                                       .b-rating__list.clearfix
                                           input.b-rating__input(id="comment-star-4" type="radio" name="commentstars" checked="").input
                                           label.b-rating__label(title="gorgeous" for="comment-star-4").label
                                           input.b-rating__input(id="comment-star-3" type="radio" name="commentstars").input
                                           label.b-rating__label(title="good" for="comment-star-3").label
                                           input.b-rating__input(id="comment-star-2" type="radio" name="commentstars").input
                                           label.b-rating__label(title="regular" for="comment-star-2").label
                                           input.b-rating__input(id="comment-star-1" type="radio" name="commentstars").input
                                           label.b-rating__label(title="poor" for="comment-star-1").label
                                           input.b-rating__input(id="comment-star-0" type="radio" name="commentstars").input
                                           label.b-rating__label(title="bad" for="comment-star-0").label
                                   .review__title Рекомендую книгу тем, кто ценит высокое искусство
                                   .review__text(data-type="review")
                                       | Прочла на днях эту книгу, и пока свежи впечатления хочу поделиться своим мнением.
                                       | Дружили с детства Тома и Стас, но девочка совершила ошибку- предательство, проявила малодушие, и лучший друг не смог ей этого простить...
                                       | С этого момента повествование становится весьма жестким, видимо чтобы читатель вконец не погряз в этих актах насилия, автор разбавляет главы описанием повседневных будней.
                                       | Мне было непонятно одно, куда делись все взрослые?? Мама, отчим, бабушка, дед, учителя?? Почему все
                                       | Прочла на днях эту книгу, и пока свежи впечатления хочу поделиться своим мнением.
                                       | Дружили с детства Тома и Стас, но девочка совершила ошибку- предательство, проявила малодушие, и лучший друг не смог ей этого простить...
                                       | С этого момента повествование становится весьма жестким, видимо чтобы читатель вконец не погряз в этих актах насилия, автор разбавляет главы описанием повседневных будней.
                                       | Мне было непонятно одно, куда делись все взрослые?? Мама, отчим, бабушка, дед, учителя?? Почему все...
                                   a.review__link-more.link-text(href="" data-type="all") Читать полностью
                                   .review__date
                                       | 30 июня, 2016, 11:24
                                   a.custom-btn.custom-btn--green.custom-btn--small.c-link-anchor(href="#form") Оставить отзыв
                           .review__item.c-review__item
                               .review__author
                               .review__content
                                   a.c-anchor(href="" name="form")
                                   form.book-info__review-new(data-type="sendReview" action="" method="" name="sendReview")
                                       .book-info__title Ваш отзыв
                                       .review__rating.b-rating Оценка книги
                                           .b-rating__list.clearfix
                                               input.b-rating__input(id="your-comment-star-4" value="gorgeous" type="radio" name="your-commentstars").input
                                               label.b-rating__label(title="gorgeous" for="your-comment-star-4").label
                                               input.b-rating__input(id="your-comment-star-3" value="good" type="radio" name="your-commentstars").input
                                               label.b-rating__label(title="good" for="your-comment-star-3").label
                                               input.b-rating__input(id="your-comment-star-2" value="regular" type="radio" name="your-commentstars").input
                                               label.b-rating__label(title="regular" for="your-comment-star-2").label
                                               input.b-rating__input(id="your-comment-star-1" value="poor" type="radio" name="your-commentstars").input
                                               label.b-rating__label(title="poor" for="your-comment-star-1").label
                                               input.b-rating__input(id="your-comment-star-0" value="bad" type="radio" name="your-commentstars").input
                                               label.b-rating__label(title="bad" for="your-comment-star-0").label
                                       .block-input
                                           textarea.input-custom.c-input-custom#review(name="review" data-type="textarea" cols="30" rows="5" placeholder="")
                                           label.label-custom.c-label-custom(for="review") Напишите развернутый отзыв, это интереснее :)
                                       input.custom-btn.custom-btn--green.custom-btn--small(type="submit" name="send" value="Отправить")
                                   form.editing-callback.editing-callback--success(data-type="success")
                                       .editing-callback--success__img
                                       .editing-callback--success__text Форма успешно отправлена!
            include /blocks/footer-blue.jade
            script(src="./js/book.js")