- var title= 'Корзина-Доставка'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
        include /blocks/popups.jade
    body
        .pagewrap.pagewrap--grey
            .content-wrapper.content-wrapper--delivery
                include /blocks/header-white-lk.jade
                .content
                    .steps
                        .steps__block.active
                            .steps__number 1
                            .steps__name Список покупок
                            .steps__decor
                        .steps__block
                            .steps__number 2
                            .steps__name Доставка и оплата
                    .cart
                        .cart__item
                            .cart__item-img
                                img(src="images/content/book_cart.png" alt="")
                            .cart__item-info
                                .cart__item-name
                                    .cart__item-author Коллектив авторов
                                    .cart__item-title «Литературная учеба» №1, книга первая, январь-февраль 2015. Литературно-просветительский журнал
                                .cart__item-property
                                    .cart__property.print Печатная версия
                                        svg(xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24")
                                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-printed-book")
                                    .cart__property A5 (14,8 x 21 см)
                                    .cart__property Мягкий преплет
                                    .cart__property Черно-белая печать иллюстраций
                                    a.cart__link-change(href="") Изменить

                                .cart__item-cost
                                    .cart__item-price 332,64 ₽
                                    .cart__item-count.quantity
                                        input(type="number" min="1" max="9" step="1" value="1" name="count")

                            a.cart__item-delete(href="#delete-book" class="c-popup-confirm")
                                svg.hover(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-red-cross")
                                svg.state(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-grey-cross")
                                .cart__item-delete--hover Удалить
                        .cart__item.cart__item--double.clearfix
                            .cart__item-img
                                img(src="images/content/book_cart.png" alt="")
                            .cart__item-info--part
                                .cart__item-info
                                    .cart__item-name
                                        .cart__item-author Коллектив авторов
                                        .cart__item-title «Литературная учеба» №1, книга первая, январь-февраль 2015. Литературно-просветительский журнал
                                    .cart__item-property
                                        .cart__property.print Печатная версия
                                            svg(xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-printed-book")
                                        .cart__property A5 (14,8 x 21 см)
                                        .cart__property Мягкий преплет
                                        .cart__property Черно-белая печать иллюстраций
                                        a.cart__link-change(href="") Изменить
                                    .cart__item-cost
                                        .cart__item-price 332,64 ₽
                                        .cart__item-count.quantity
                                            input(type="number" min="1" max="9" step="1" value="1" name="count")
                                a.cart__item-delete(href="#delete-book" class="c-popup-confirm")
                                    svg.hover(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-red-cross")
                                    svg.state(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-grey-cross")
                                    .cart__item-delete--hover Удалить
                                .cart__item-info--border
                            .cart__item-info--part
                                .cart__item-info
                                    .cart__item-name

                                    .cart__item-property
                                        .cart__property.print Электронная версия
                                            svg(xmlns="http://www.w3.org/2000/svg" width="17" height="24" viewBox="0 0 17 24")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ebook")
                                        .cart__property.cart__property--add Доступна для чтения на сайте и через мобильное приложение
                                    .cart__item-cost
                                        .cart__item-price 150 ₽
                                a.cart__item-delete(href="#delete-book" class="c-popup-confirm")
                                    svg.hover(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-red-cross")
                                    svg.state(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-grey-cross")
                                    .cart__item-delete--hover Удалить
                        .cart__item.cart__item--service
                            .cart__item-img
                                img(src="images/content/proofreading.png" alt="")
                            .cart__item-info
                                .cart__item-name
                                    .cart__item-title Услуга «Корректура»
                                .cart__item-property
                                    .cart__property.print site_redramka_form.doc
                                        br
                                        |3856 символов
                                        svg(xmlns="http://www.w3.org/2000/svg" width="19" height="24" viewBox="0 0 19 24")
                                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-doc-proof")

                                .cart__item-cost
                                    .cart__item-price--old 800
                                    .cart__item-price 600 ₽


                            a.cart__item-delete(href="#delete-book" class="c-popup-confirm")
                                svg.hover(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-red-cross")
                                svg.state(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-grey-cross")
                                .cart__item-delete--hover Удалить
                        .cart__item.cart__item--electr
                            .cart__item-img
                                img(src="images/content/book_cart.png" alt="")
                            .cart__item-info
                                .cart__item-name
                                    .cart__item-author Марина Жильцова
                                    .cart__item-title «Литературная учеба» №1, книга первая, январь-февраль 2015. Литературно-просветительский журнал
                                .cart__item-property
                                    .cart__property.print Электронная версия
                                        svg(xmlns="http://www.w3.org/2000/svg" width="17" height="24" viewBox="0 0 17 24")
                                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ebook")
                                    .cart__property.cart__property--add Доступна для чтения на сайте и через мобильное приложение
                                .cart__item-cost
                                    .cart__item-price 150 ₽

                            a.cart__item-delete(href="#delete-book" class="c-popup-confirm")
                                svg.hover(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-red-cross")
                                svg.state(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-grey-cross")
                                .cart__item-delete--hover Удалить
                        .cart__success.cart__success--list
                            .cart__success-text Итого: 3 позиции на сумму 482,64 ₽
                            a.custom-btn.custom-btn--green(href="cart.html") К оформлению →



            +create-popup("delete-book", "Удалить книгу", "Книга, все настройки и параметры в редакторе будут безвозвратно удалены, вы уверены?", "Да, удалить книгу")
            include /blocks/footer-blue.jade
            script(src="./js/cart.js")
            script(src="./js/script.js")