- var title= 'Корзина-Доставка'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--grey
            .content-wrapper.content-wrapper--delivery
                include /blocks/header-white-lk.jade
                .content
                    .steps
                        .steps__block
                            .steps__number 1
                            a.steps__name.steps__name--link(href="cart-list.html") Список покупок
                            .steps__decor
                        .steps__block.active
                            .steps__number 2
                            .steps__name Доставка и оплата
                    .cart(data-type="orderForm")
                        form.cart__form(action="" method="POST" name="delivery")
                            .cart__form-part.cart__form-part--delivery
                                .cart__form-title Куда доставить:
                                a.cart__form-title.cart__form-title--city(href="#") Москва
                                .cart__form-radio
                                    .cart__form-radio.block-btn-radio
                                        .block-btn-radio__item
                                            input.radio-custom#item1(type="radio" name="typeDelivery" value="Курьерская доставка по Москве" checked)
                                            label.label-radio(for="item1")
                                                | Курьерская доставка
                                                | по Москве
                                                .cart__form-add от 180 руб, послезавтра
                                        .block-btn-radio__item
                                            input.radio-custom#item2(type="radio" name="typeDelivery" value="Почта России")
                                            label.label-radio(for="item2")
                                                |Почта России
                                                .cart__form-add Наземный транспорт, 199 руб
                                                .cart__form-add Доставка осуществляется ФГУП  “Почта россии”
                                        .block-btn-radio__item
                                            input.radio-custom#item3(type="radio" name="typeDelivery" value="Самывывоз")
                                            label.label-radio(for="item3")
                                                | Самывывоз
                                                .cart__form-add 119019, Москва, ул. Воздвиженка, 9
                                                    br
                                                    |В понедельник, 19 июня

                            .cart__form-part
                                .cart__form-title Кому доставить
                                .block-input.block-input--required
                                    input.input-custom.c-input-custom#name(type="text" name="name" placeholder="")
                                    label.label-custom.c-label-custom(for="name")
                                        | Имя, Фамилия
                                .block-input.block-input--required
                                    input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="")
                                    label.label-custom.c-label-custom(for="phone")
                                        | Телефон
                                .block-input.block-input--required
                                    input.input-custom.c-input-custom#email(type="text" name="email" placeholder="")
                                    label.label-custom.c-label-custom(for="email")
                                        | Эл. почта
                                .block-input
                                    textarea.input-custom.c-input-custom#comment(name="comment"  data-type="textarea" cols="30" rows="5" placeholder="")
                                    label.label-custom.c-label-custom(for="comment")
                                        | Комментарий к заказу

                            .cart__form-part
                                .cart__form-title Оплата
                                .cart__form-pay
                                    .cart__pay-wrapper
                                        .cart__pay-item.active(data-click="pay" data-state="on" data-pay-type="cash")
                                            .cart__pay-img
                                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="23" viewBox="0 0 18 23")
                                                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cash")
                                            .cart__pay-text Наличные
                                        .cart__pay-item(data-click="pay" data-pay-type="visa")
                                            .cart__pay-img
                                                img(src="images/content/visa.png" alt="")
                                            .cart__pay-text Visa
                                                br
                                                |Оплата на сайте
                                        .cart__pay-item(data-click="pay" data-pay-type="mastercard")
                                            .cart__pay-img
                                                img(src="images/content/Mastercard.png" alt="")
                                            .cart__pay-text Mastercard / Maestro
                                                br
                                                |Оплата на сайте
                                        .cart__pay-item(data-click="pay" data-pay-type="mir")
                                            .cart__pay-img
                                                img(src="images/content/mir.png" alt="")
                                            .cart__pay-text МИР
                                                br
                                                | Оплата на сайте
                                        .cart__pay-item(data-click="pay" data-pay-type="yandex")
                                            .cart__pay-img
                                                img(src="images/content/yandex.png" alt="")
                                            .cart__pay-text Яндекс.Деньги
                                    .cart__pay-wrapper
                                        .cart__pay-item(data-click="pay" data-pay-type="webmoney")
                                            .cart__pay-img
                                                img(src="images/content/webmoney.png" alt="")
                                            .cart__pay-text WebMoney
                                        .cart__pay-item(data-click="pay" data-pay-type="alfa")
                                            .cart__pay-img
                                                img(src="images/content/alfa.png" alt="")
                                            .cart__pay-text Интернет-банк
                                                br
                                                |Альфа-Банка
                                        .cart__pay-item(data-click="pay" data-pay-type="sberbank")
                                            .cart__pay-img
                                                img(src="images/content/sberbank.png" alt="")
                                            .cart__pay-text Сбербанк Онлайн
                                        .cart__pay-item(data-click="pay" data-pay-type="prom")
                                            .cart__pay-img
                                                img(src="images/content/prom.png" alt="")
                                            .cart__pay-text Интернет-банк
                                                br
                                                | Промсвязьбанка
                                        .cart__pay-item(data-click="pay" data-pay-type="terminal")
                                            .cart__pay-img
                                                img(src="images/content/terminal.png" alt="")
                                            .cart__pay-text Терминалы оплаты
                            .cart__success
                                a.custom-btn.custom-btn--blue-text(href="cart-list.html") ← К списку покупок
                                .cart__go-to-pay
                                    .cart__success-text Я ознакомлен
                                        a(href="#") с правилами
                                    input.custom-btn.custom-btn--green(type="submit" value="Перейти к оплате →")


                        .cart__info
                            .cart__info-line.cart__info-line--title
                                    .cart__info-text Ваш заказ
                                    .cart__info-rouble ₽
                            .cart__info-line
                                .cart__info-text Две книги
                                .cart__info-rouble 1 280
                            .cart__info-line
                                .cart__info-text Курьерская доставка
                                .cart__info-rouble 180
                            .cart__info-line.cart__info-line--total
                                .cart__info-text Итого
                                .cart__info-rouble 1460
                    form.editing-callback.editing-callback--success(data-type="success")
                        .editing-callback--success__img
                        .editing-callback--success__text Форма успешно отправлена!


            include /blocks/footer-blue.jade
            script(src="./js/cart.js")