include /blocks/books.jade

- var title= 'Каталог'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade
                .content
                    form.block-search-form.clearfix(action="" method="" data-form="search")
                        input.block-search-form__input(type="text" name="search" placeholder="Искать по заголовку, названию, автору, ключевому слову, isbn…")
                        input.block-search-form__btn.custom-btn.custom-btn--blue(type="submit" value="Искать" data-action="search")
                        .block-search-form__info
                            .block-search-form__info-img
                                img(src="images/content/delivery-car.png" alt="")
                            .block-search-form__info-text — бесплатная доставка
                                br
                                |от 1 000
                                span.rouble ₽
                .b-catalog
                    .b-catalog__category(data-role="submenu")
                        .content
                            ul
                                li
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="56" height="64" viewBox="0 0 56 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-1")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="56" height="64" viewBox="0 0 56 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-1-hover")
                                        .b-catalog__category-name Учебная
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link.active Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-2")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-2-hover")
                                        .b-catalog__category-name Детям
                                            br
                                            |и родителям
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link.active Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="57" height="65" viewBox="0 0 57 65")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-3")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="57" height="65" viewBox="0 0 57 65")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-3-hover")
                                        .b-catalog__category-name Бизнес
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link.active Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="64" height="47" viewBox="0 0 64 47")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-4")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="64" height="47" viewBox="0 0 64 47")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-4-hover")
                                        .b-catalog__category-name Художественная
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link.active Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewBox="0 0 57 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-5")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewBox="0 0 57 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-5-hover")
                                        .b-catalog__category-name Нехудожественная
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link Биографии, Мемуары
                                            a(href="javascript:void(0);").submenu-ul__link Детективы, Боевики, Триллеры
                                            a(href="javascript:void(0);").submenu-ul__link Поэзия
                                            a(href="javascript:void(0);").submenu-ul__link Русская и зарубежная проза
                                            a(href="javascript:void(0);").submenu-ul__link.active Фантастика, Фэнтези, Мистика

                    .content(data-content="searchResult")
                        .b-catalog__ctr-block
                            .b-catalog__ctr-block-title Выбор редакции
                            .b-catalog__ctr-block-content(data-content='catalog-slider')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);', 'best').catalog-book__version--print
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', 'Бесплатно', 'Уроки анализа футбольных матчей', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print
                        .b-catalog__ctr-block
                            .b-catalog__ctr-block-title Бестселлеры и новинки
                            .b-catalog__ctr-block-content(data-content='catalog-slider')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);', 'best').catalog-book__version--print
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', 'Бесплатно', 'Уроки анализа футбольных матчей', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print
                        .b-catalog__ctr-block
                            .b-catalog__ctr-block-title Тематические полки
                            .b-catalog__ctr-block-content
                                .b-catalog__ctr-block-content(data-content='catalog-slider')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);', 'new')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);', 'best').catalog-book__version--print
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', 'Бесплатно', 'Уроки анализа футбольных матчей', 'javascript:void(0);', 'new')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                    +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print
                        .b-catalog__ctr-block
                            .b-catalog__ctr-block-title.b-catalog__ctr-block-title--black Популярные авторы
                            .b-catalog__ctr-block-content
                                .b-catalog__ctr-block-content(data-content='catalog-slider')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Иван Иванов', 'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Стасс Бабицкий', 'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Константин Константинопольский',  'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Иван Иванов', 'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Иван Иванов', 'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Иван Иванов', 'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Иван Иванов', 'javascript:void(0);', 'images/content/book-profile_1.png')
                                    +book-catalog-author('images/content/book-profile_1.png', 'Иван Иванов', 'javascript:void(0);', 'images/content/book-profile_1.png')
                        .b-catalog__ctr-block
                            .b-catalog__ctr-block-title Каталог
                            .b-catalog__ctr-block-content
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '120 ₽', 'Уроки анализа футбольных матчей', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print
                            .b-catalog__ctr-block-content
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '120 ₽', 'Уроки анализа футбольных матчей', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);').catalog-book__version--print

                        include blocks/pagination
            include /blocks/footer-blue.jade
            script(src="./js/slick.min.js")
            script(src="./js/catalog.js")