include /blocks/books.jade

- var title= 'Категория - детальная'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade
                .content
                    form.block-search-form.clearfix(action="" method="" data-form="search")
                        input.block-search-form__input(type="text" name="search" placeholder="Искать по заголовку, названию, автору, ключевому слову, isbn…")
                        input.block-search-form__btn.custom-btn.custom-btn--blue(type="submit" value="Искать" data-action="search")
                        .block-search-form__info
                            .block-search-form__info-img
                                img(src="images/content/delivery-car.png" alt="")
                            .block-search-form__info-text — бесплатная доставка
                                br
                                |от 1 000
                                span.rouble ₽
                .b-catalog
                    .b-catalog__category(data-role="submenu")
                        .content
                            ul
                                li(data-menu)
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="56" height="64" viewBox="0 0 56 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-1")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="56" height="64" viewBox="0 0 56 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-1-hover")
                                        .b-catalog__category-name Учебная
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link.active Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li(data-menu)
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-2")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="65" height="58" viewBox="0 0 65 58")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-2-hover")
                                        .b-catalog__category-name Детям
                                            br
                                            |и родителям
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link.active Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li(data-menu)
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="57" height="65" viewBox="0 0 57 65")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-3")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="57" height="65" viewBox="0 0 57 65")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-3-hover")
                                        .b-catalog__category-name Бизнес
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link.active Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li.active(data-menu)
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="64" height="47" viewBox="0 0 64 47")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-4")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="64" height="47" viewBox="0 0 64 47")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-4-hover")
                                        .b-catalog__category-name Художественная
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link Литературная редактура
                                            a(href="javascript:void(0);").submenu-ul__link Издательское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Аннотация для задника книги
                                            a(href="javascript:void(0);").submenu-ul__link.active Корректура
                                            a(href="javascript:void(0);").submenu-ul__link Редакторское рецензирование
                                            a(href="javascript:void(0);").submenu-ul__link Выверка текста
                                li(data-menu)
                                    a.b-catalog__category-item(href="javascript:void(0);")
                                        .b-catalog__category-img
                                            svg.static(xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewBox="0 0 57 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-5")
                                            svg.hover(xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewBox="0 0 57 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-category-5-hover")
                                        .b-catalog__category-name Нехудожественная
                                            br
                                            |литература
                                    .submenu-ul__block
                                        .submenu-ul__item
                                            a(href="javascript:void(0);").submenu-ul__link Биографии, Мемуары
                                            a(href="javascript:void(0);").submenu-ul__link Детективы, Боевики, Триллеры
                                            a(href="javascript:void(0);").submenu-ul__link Поэзия
                                            a(href="javascript:void(0);").submenu-ul__link Русская и зарубежная проза
                                            a(href="javascript:void(0);").submenu-ul__link.active Фантастика, Фэнтези, Мистика
                    .content
                        .b-catalog__ctr-block
                            .b-catalog__ctr-block-title.b-catalog__ctr-block-title--black Современная литература
                            form(action="" method="" data-form="filter")
                                .b-catalog__filter
                                    .b-catalog__filter-bl
                                        .custom-btn.custom-btn--blue-text.b-catalog__show-filter.active(data-action="show-more-filters")
                                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-filter")
                                            |Показать фильтры
                                        .custom-btn.custom-btn--blue.b-catalog__hide-filter(data-action="hide-more-filters")
                                            svg(xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-white-cross")
                                            |Скрыть фильтры
                                    .b-catalog__filter-bl.b-catalog__filter-bl--range
                                        .block-form__filter.b-catalog__filter-range
                                            .b-catalog__label-text От
                                            label.b-catalog__filter-price(for="price-min")
                                            input.b-catalog__price-input#price-min(type="text" name="minPrice"  data-filter-price data-min="1" data-max="" data-sort="filter")
                                            #slider-range-min
                                        .block-form__filter.b-catalog__filter-range
                                            .b-catalog__label-text До
                                            label.b-catalog__filter-price(for="price-max")
                                            input.b-catalog__price-input#price-max(type="text" name="maxPrice"  data-filter-price data-min="1" data-max="" data-sort="filter")
                                            #slider-range-max
                                    .b-catalog__filter-bl.b-catalog__filter-bl--select
                                        .block-form__filter
                                            select.select-custom.c-select(name="countBooks" data-sort="filter")
                                                option(value="Выводить по 20 книг" selected) Выводить по 20 книг
                                                option(value="Выводить по 40 книг") Выводить по 40 книг
                                                option(value="Вывести все") Вывести все
                                        .block-form__filter
                                            select.select-custom.c-select(name="sortType" data-sort="filter")
                                                option(value="По популярности" selected) По популярности
                                                option(value="По алфавиту от а до я") По алфавиту от а до я
                                                option(value="По алфавиту от я до а") По алфавиту от я до а
                                                option(value="По возрастанию цены") По возрастанию цены
                                                option(value="По убыванию цены") По убыванию цены
                                .b-catalog__filter.b-catalog__filter--add(data-filter="add" style="display:none")
                                    .book-info__properties-item
                                        .book-info__text-name Печать иллюстраций
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="B_W_PRINT" class="c-check-color" data-check="B_W_PRINT" data-sort="filter" name="color" value="B_W_PRINT" checked="")
                                                label.link-text(for="B_W_PRINT") Черно-белые
                                                input(type="radio" id="COLOR_PRINT" class="c-check-color" data-check="COLOR_PRINT" data-sort="filter" name="color" value="COLOR_PRINT")
                                                label.link-text(for="COLOR_PRINT") Цветныe
                                    .book-info__properties-item
                                        .book-info__text-name Переплёт
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="Мягкий" class="c-check-type" data-check="Мягкий" data-sort="filter" name="type-cover" value="Мягкий" checked="")
                                                label.link-text(for="Мягкий") Мягкий
                                                input(type="radio" id="Твёрдый" class="c-check-type" data-check="Твёрдый" data-sort="filter" name="type-cover" value="Твёрдый")
                                                label.link-text(for="Твёрдый") Твёрдый
                                    .book-info__properties-item
                                        .book-info__text-name Ламинация
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="Мятовая" class="c-check-type" data-check="Матовая" data-sort="filter" name="lamination" value="Матовая" checked="")
                                                label.link-text(for="Мятовая") Матовая
                                                input(type="radio" id="Глянцевая" class="c-check-type" data-check="Глянцевая" data-sort="filter" value="Глянцевая" name="lamination")
                                                label.link-text(for="Глянцевая") Глянцевая
                                    .book-info__properties-item
                                        .book-info__text-name Тип книги
                                        .book-info__radio
                                            .radio-group
                                                input(type="radio" id="Все" class="c-check-type" data-check="Все" name="type" data-sort="filter" value="Все" checked="")
                                                label.link-text(for="Все") Все
                                                input(type="radio" id="Бумажные" class="c-check-type" data-check="Бумажные" data-sort="filter" value="Бумажные" name="type")
                                                label.link-text(for="Бумажные") Бумажные
                                                input(type="radio" id="Электронные" class="c-check-type" data-check="Электронные" data-sort="filter" value="Электронные" name="type")
                                                label.link-text(for="Электронные") Электронные

                            .b-catalog__ctr-block-content.b-catalog__ctr-block-content--tile(data-content="searchResult")
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);', 'best')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', 'Бесплатно', 'Уроки анализа футбольных матчей', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);', 'best')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', 'Бесплатно', 'Уроки анализа футбольных матчей', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '750 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);', 'best')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', 'Бесплатно', 'Уроки анализа футбольных матчей', 'javascript:void(0);', 'new')
                                +book-catalog('images/content/book-profile_1.png', 'Иван Иванов', '280 ₽', 'Как физическая активность влияет на мозг', 'javascript:void(0);')

                        include blocks/pagination
            include /blocks/footer-blue.jade
            script(src="./js/slick.min.js")
            script(src="./js/catalog.js")