- var title= 'Bookscriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            include /blocks/header-white.jade
            .content-wrapper
                .b-create-step
                    .content
                        .b-create-step__title
                            h1 Создание новой книги
                            div.b-create-step__navigation
                                a(href="javascript:void(0)" title="Назад") Назад
                                a(href="javascript:void(0)" title="К следующему шагу") К следующему шагу
                        ul.b-create-step__list
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 1
                                    span.b-create-step__text Загрузка рукописи
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 2
                                    span.b-create-step__text Редактор
                            li.b-create-step__item.active
                                span.b-create-step__link
                                    span.b-create-step__number 3
                                    span.b-create-step__text Загрузка обложки
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 4
                                    span.b-create-step__text Обложка
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 5
                                    span.b-create-step__text Финальный предпросмотр
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 6
                                    span.b-create-step__text Публикация
                form(action="/").b-create.content
                    main.b-create__main
                        div.b-create__title
                            h2 Пожалуйста, посмотрите книгу еще раз
                        .b-create__slider
                            img(src="./images/content/before-maket.png" alt="" title="")
                        div.b-create__link
                            a(href="javascript:void(0)" title="Редактировать") Редактировать

                    aside.b-create__aside
                        .b-create__download
                            h3 Предпросмотр
                            p Убедитесь, что в тексте нет опечаток, а в верстке сдвигов.
                            button.custom-btn.custom-btn--green 
                                span Продолжить 
                        .b-create-assistant
                            h3 Наши услуги
                            div.b-create-assistant__select
                                .b-create-assistant__label Выберите услугу
                                select.select-custom.c-select(name="typeBook")
                                    option(value="Верстка книги" selected) Верстка книги
                                    option(value="Эл. версия") Персональный помощник 
                            p Верстка книги, а также корректура и редактура текста произведения.
                            a(href="javascript:void(0)" data-toggle="modal" data-target="#create-assistant"  title="Заказать услугу").b-create-assistant__link Заказать услугу прямо сейчас
            include /blocks/footer.jade