- var title= 'Bookscriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            include /blocks/header-white.jade
            .content-wrapper
                .b-create-step
                    .content
                        .b-create-step__title
                            h1 Создание новой книги
                        ul.b-create-step__list
                            li.b-create-step__item.active
                                span.b-create-step__link
                                    span.b-create-step__number 1
                                    span.b-create-step__text Загрузка рукописи
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 2
                                    span.b-create-step__text Редактор
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 3
                                    span.b-create-step__text Загрузка обложки
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 4
                                    span.b-create-step__text Обложка
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 5
                                    span.b-create-step__text Финальный предпросмотр
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 6
                                    span.b-create-step__text Публикация
                form(action="/").b-create.content
                    main.b-create__main
                        div.b-create__title
                            h2 Выберите тип файла
                            a(href="javascriptvoid(0)" data-toggle="modal" data-target="#create-video" title="Поcмотрите видео") Поcмотрите видео, как быстро пройти все шаги!
                        ul.b-create__list
                            li.b-create__item
                                .b-create__event
                                    span Скоро у нас
                                .b-create-download.disabled
                                    input(type="file" id="create-file-1").b-create-download__input
                                    label(for="create-file-1").b-create-download__label
                                        span.b-create-download__description.b-create-download__description--grey
                                            span.b-create-download__text 
                                                | Начать писать
                                                br
                                                | рукопись на сайте
                                        span.custom-btn.custom-btn--blue.disabled Выбрать
                            li.b-create__item
                                .b-create-download.complete
                                    input(type="file" id="create-file-1").b-create-download__input
                                    label(for="create-file-1").b-create-download__label
                                        span.b-create-download__description
                                            span.b-create-download__text
                                                | Загрузить файл 
                                                br
                                                | для работы в редакторе
                                                span Формат: doc.*, pdf.* 
                                        span.b-create-download__file
                                            span.b-create-download__image
                                                img(src="./images/content/doc.png" alt="" title="")
                                            span.b-create-download__panel
                                                span book_first.doc
                                                span Файл загружен
                                                a(href="javascript:void(0)" title="Удалить").b-create-download__delete
                            li.b-create__item
                                .b-create-download.disabled
                                    input(type="file" id="create-file-1").b-create-download__input
                                    label(for="create-file-1").b-create-download__label
                                        span.b-create-download__description
                                            span.b-create-download__text 
                                                | Загрузить готовый
                                                br
                                                | макет на сайт
                                        span.custom-btn.custom-btn--blue Загрузить файл
                    aside.b-create__aside
                        .b-create__download
                            h3 Загрузка рукописи
                            p Вы можете загрузить рукопись или готовый макет, а также начать работу над книгой в электронном редакторе.
                            button.custom-btn.custom-btn--green 
                                span Продолжить 
                        .b-create-assistant
                            h3 Наши услуги
                            div.b-create-assistant__select
                                .b-create-assistant__label Выберите услугу
                                select.select-custom.c-select(name="typeBook")
                                    option(value="Верстка книги" selected) Верстка книги
                                    option(value="Эл. версия") Персональный помощник 
                            p Верстка книги, а также корректура и редактура текста произведения.
                            a(href="javascript:void(0)" data-toggle="modal" data-target="#create-assistant"  title="Заказать услугу").b-create-assistant__link Заказать услугу прямо сейчас
            include /blocks/footer.jade