- var title= 'Bookscriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            include /blocks/header-white.jade
            .content-wrapper
                .b-create-step
                    .content
                        .b-create-step__title
                            h1 Создание новой книги
                            div.b-create-step__navigation
                                a(href="javascript:void(0)" title="Назад") Назад
                                a(href="javascript:void(0)" title="К следующему шагу") К следующему шагу
                        ul.b-create-step__list
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 1
                                    span.b-create-step__text Загрузка рукописи
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 2
                                    span.b-create-step__text Редактор
                             li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 3
                                    span.b-create-step__text Загрузка обложки
                             li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 4
                                    span.b-create-step__text Обложка
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 5
                                    span.b-create-step__text Финальный предпросмотр
                            li.b-create-step__item.active
                                span.b-create-step__link
                                    span.b-create-step__number 6
                                    span.b-create-step__text Публикация
                form(action="/").b-create.content
                    main.b-create__main
                        .b-create__title
                            h2 Для завершения публикации заполните поля ниже
                        .b-create-form
                            .b-create-form__panel
                                .b-create-form__group(style="height:150px;")
                                    .b-create-form__label.disabled
                                        .b-create-form__title Бесплатная публикация
                                        div.custom-btn.custom-btn--blue Выбрать
                                .b-create-form__group(style="height:150px;")
                                    .b-create-form__label.select(style="padding-right: 0;")
                                        .b-create-form__title Платная публикация
                                        .b-create-form__input
                                            label(for="create-form-sum") Укажите сумму
                                            input(type="text" id="create-form-sum" placeholder="_________" style="padding-right:38px;")
                                            span Руб.
                                        .b-create-form__description
                                            p Цена включает комиссию сайта 30%
                                            p С каждой продажи вы получите 70%
                                            a(href="javascript:void(0)" title="Сбросить").b-create-form__reset Сбросить
                            .b-create-form__panel.b-create-form__panel--full-width
                                .b-create-form__group(style="height:130px;")
                                    .b-create-form__label.b-create-form__label--phone.select
                                        .b-create-form__title.left Подтвердите номер телефона
                                        .b-create-form__input
                                            label(for="create-form-tel") Ваш номер телефона
                                            input(type="text" id="create-form-tel" placeholder="+7 (____) ____ ___ ___")
                                        .b-create-form__text Номер подтвержден
                                        a(href="javascript:void(0)" title="Сбросить").b-create-form__reset Сбросить
                            h3
                                | Вы можете ввести уже имеющийся 
                                span ISBN 
                                | или присвоить его на сайте. Вы также можете продолжить публикацию без него.
                            .b-create-form__panel
                                .b-create-form__group(style="height:200px; width: 25%;")
                                   .b-create-form__label.disabled(style="padding-top: 35px;")
                                        .b-create-form__title Присвоить на сайте
                                        div.custom-btn.custom-btn--blue(style="width: 100%;") Выбрать
                                .b-create-form__group(style="height:200px; width: 25%;")
                                    .b-create-form__label.disabled(style="padding-top: 35px;")
                                        .b-create-form__title Продолжить без ISBN
                                        div.custom-btn.custom-btn--blue(style="width: 100%;") Выбрать
                                .b-create-form__group(style="height:200px; width: 50%;")
                                    .b-create-form__label.b-create-form__label--isbn.select
                                        .b-create-form__title.left
                                            | Ввести свой  ISBN
                                            a(href="javascript:void(0)" title="Сбросить").b-create-form__reset Сбросить
                                        .b-create-form__input
                                            label(for="isbn-1") ISBN
                                            input(type="text" id="isbn-1" placeholder="___-__-_______-____-__")
                                        .b-create-form__input
                                            label(for="isbn-2") УДК
                                            input(type="text" id="isbn-2" placeholder="___.___.__")
                                        .b-create-form__input
                                            label(for="isbn-3") Авторский знак
                                            input(type="text" id="isbn-3" placeholder="____")
                                        .b-create-form__input
                                            label(for="isbn-4") ББК
                                            input(type="text" id="isbn-4" placeholder="___.___")

                    aside.b-create__aside
                        .b-create__download
                            h3 Публикация
                            p После заполнения полей ваша книга попадет на модерацию. Вы получите уведомление о результате на ваш e-mail.
                            button.custom-btn.custom-btn--green(data-toggle="modal" data-target="#create-back")
                                span Продолжить 
            include /blocks/footer.jade