- var title= 'Bookscriptor'
include ./mixin/icon.jade
include ./images/svg/sprite.svg

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            include /blocks/header-white.jade
            .content-wrapper
                .b-create-step
                    .content
                        .b-create-step__title
                            h1 Создание новой книги
                            div.b-create-step__navigation
                                a(href="javascript:void(0)" title="Назад") Назад
                                a(href="javascript:void(0)" title="К следующему шагу") К следующему шагу
                        ul.b-create-step__list
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 1
                                    span.b-create-step__text Загрузка рукописи
                            li.b-create-step__item.active
                                span.b-create-step__link
                                    span.b-create-step__number 2
                                    span.b-create-step__text Редактор
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 3
                                    span.b-create-step__text Загрузка обложки
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 4
                                    span.b-create-step__text Обложка
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 5
                                    span.b-create-step__text Финальный предпросмотр
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 6
                                    span.b-create-step__text Публикация
                .b-editor
                    .content
                        .b-editor__main
                            .b-editor__menu
                                .b-editor__menu-shadow
                                .b-editor__menu-title
                                    h2 Структура книги
                                    .b-editor__menu-search
                                        input(type="text" placeholder="Поиск по книге")
                                        .b-editor__menu-arrows
                                            a(href="javascript:void(0)").b-editor__menu-arrow
                                            a(href="javascript:void(0)").b-editor__menu-arrow.b-editor__menu-arrow--top
                                ul.b-editor__menu-list
                                    li.b-editor__menu-item Титульный лист
                                    li.b-editor__menu-item Оборот титульного листа
                                    li.b-editor__menu-item От автора
                                    li.b-editor__menu-item 01 августа 2017
                                    li.b-editor__menu-item Цель документа
                                    li.b-editor__menu-item Раздел 1. Экран загрузки
                                    li.b-editor__menu-item Раздел 1. Экран загрузки
                                    li.b-editor__menu-item Раздел 2. Экраны сервисов Экраны сервисов
                                    li.b-editor__menu-item Раздел 2. Экраны сервисов Экраны сервисов
                                    li.b-editor__menu-item Раздел 3. Экраны счетов и
                                    li.b-editor__menu-item Раздел 3. Экраны счетов и
                                    li.b-editor__menu-item Раздел 4. Экран Аналитики
                                    li.b-editor__menu-item Раздел 4. Экран Аналитики
                                    li.b-editor__menu-item Послесловие
                                    li.b-editor__menu-item Концевая страница
                                    li.b-editor__menu-item Раздел 4. Экран Аналитики
                                    li.b-editor__menu-item Раздел 4. Экран Аналитики
                                    li.b-editor__menu-item Послесловие
                                    li.b-editor__menu-item Концевая страница

                            .b-editor__page
                                .b-editor__page-menu
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor1', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor2', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor3', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor4', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor5', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor6', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor7', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor8', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor9', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor10', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor11', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor12', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor13', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание
                                    a(href="javascript:void(0);").b-editor__page-btn
                                        +icon('editor14', 'b-editor__page-icon')
                                        .b-editor__tooltip Подчеркивание

                                .b-editor__page-main
                                    h2 Маркетингово-ориентированное издание
                                    <br/>
                                    p Детерминирует рыночный медийный канал, 
                                        span.b-editor__page-hint невзирая на действия 
                                        | конкурентов.  Рекламная кампания, не меняя концепции, изложенной выше, продуцирует повторный контакт. Рекламная поддержка, отбрасывая подробности, вырождена. Искусство медиапланирования, как следует из вышесказанного, трансформирует конструктивный рекламоноситель. Принцип восприятия, пренебрегая деталями, версифицирован. Стимулирование сбыта изменяет связанный медиамикс.
                                    <br/>
                                    p Несмотря на сложности, управление брендом специфицирует ребрендинг. Как предсказывают футурологи изменение глобальной стратегии регулярно специфицирует стратегический рыночный план. Взаимодействие корпорации и клиента программирует медиавес. Поэтому управление брендом не критично. Рыночная ситуация, как следует из вышесказанного, восстанавливает клиентский спрос, осознавая социальную ответственность бизнеса.
                                    .b-editor__tooltip.b-editor__tooltip--menu.top
                                        .b-editor__tooltip-row
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor1', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor2', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor3', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor4', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor5', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor6', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor7', 'b-editor__page-icon')
                                        .b-editor__tooltip-row
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor8', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor9', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor10', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor11', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor12', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor13', 'b-editor__page-icon')
                                            a(href="javascript:void(0);").b-editor__page-btn
                                                +icon('editor14', 'b-editor__page-icon')


                            .b-editor__template
                                .b-editor__template-tabs
                                    a(href="javascript:void(0)").b-editor__template-tab.active
                                        +icon('editor-tab1', 'b-editor__tab-icon')
                                        | Макеты
                                    a(href="javascript:void(0)").b-editor__template-tab
                                        +icon('editor-tab2', 'b-editor__tab-icon')
                                        | Стили

                                ul.b-editor__template-list(style="display:none")
                                    li.b-editor__template-item
                                    li.b-editor__template-item
                                    li.b-editor__template-item
                                    li.b-editor__template-item
                                    li.b-editor__template-item
                                    li.b-editor__template-item
                                    li.b-editor__template-item
                                
                                ul.b-editor__template-list
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Раздел
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Глава
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Подглавка
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Подзаголовок
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Основной текст
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Дополнительный текст
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Нумерованный список
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Маркированный список
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Эпиграф
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Цитата
                                    li
                                        a(href="javascript:void(0)").b-editor__template-style
                                            +icon('pencil', 'b-editor__page-icon')
                                            span Отступ для абзацев
                                    li.b-editor__template-btn
                                        .custom-btn.custom-btn--blue ДОБАВИТЬ СТИЛЬ
                                    li.b-editor__template-item
                                    li.b-editor__template-item



                        .b-editor__controls
                            .b-editor__controls-btns
                                a(href="javascript:void(0)").b-editor__controls-prev
                                a(href="javascript:void(0)").b-editor__controls-next
                            button.btn-border.btn-border--blue ПРЕДПРОСМОТР
                            button.custom-btn.custom-btn--green Сохранить →

            include /blocks/footer.jade