- var title= 'Bookscriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            include /blocks/header-white.jade
            .content-wrapper
                .b-create-step
                    .content
                        .b-create-step__title
                            h1 Создание новой книги
                            div.b-create-step__navigation
                                a(href="javascript:void(0)" title="Назад") Назад
                                a(href="javascript:void(0)" title="К следующему шагу") К следующему шагу
                        ul.b-create-step__list
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 1
                                    span.b-create-step__text Загрузка рукописи
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 2
                                    span.b-create-step__text Редактор
                            li.b-create-step__item.complete
                                a(href="javascript:void(0)" title="").b-create-step__link
                                    span.b-create-step__number 3
                                    span.b-create-step__text Загрузка обложки
                            li.b-create-step__item.active
                                span.b-create-step__link
                                    span.b-create-step__number 4
                                    span.b-create-step__text Обложка
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 5
                                    span.b-create-step__text Финальный предпросмотр
                            li.b-create-step__item
                                span.b-create-step__link
                                    span.b-create-step__number 6
                                    span.b-create-step__text Публикация
                .b-create-cover
                    .content
                        .b-create-cover__title
                            .b-create-cover__navigation
                                a(href="javascript:void(0)" title="Назад") Назад
                                h2 Коструктор обложки
                            .b-create-cover__menu
                                .b-create-cover__menu-btns
                                    a(href="javascript:void(0)" title="Избранное").b-create-cover__menu-fav
                                        svg(xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16")
                                            path(fill="none" fill-rule="evenodd" stroke-width="2" d="M1 1v12.995l4-3.011 4 3.011V1H1z")
                                        span Избранное
                                    a(href="javascript:void(0)" title="Загрузить свою обложку") Загрузить свою обложку
                                .b-create-cover__menu-tabs
                                    a(href="javascript:void(0)" title="Шаблоны").active Шаблоны
                                    a(href="javascript:void(0)" title="Стоки") Стоки
                                    a(href="javascript:void(0)" title="Примеры").tip Примеры

                        .b-create-cover__wrapper
                            .b-create-cover__item
                                .b-create-cover__cover(style="background-image:url('./images/content/cover.png')")
                                        .b-create-cover__cover-content
                                            .b-create-cover__cover-btns
                                                .b-create-cover__btn
                                                    input(type="file" id="create-cover-1").b-create-download__input
                                                    label(for="create-cover-1").b-create-cover__btn-title Загрузите изображение
                                                    .b-create-cover__btn-txt Минимальный размер 960х320px
                                                .b-create-cover__btn
                                                    a(href="javascript:void(0)" title="Заполните аннотацию" data-toggle="modal" data-target="#create-annotation").b-create-cover__btn-title Заполните аннотацию
                                                    .b-create-cover__btn-txt Максимум 1 500 символов
                                            .b-create-cover__cover-controls
                                                button(type="button").b-create-cover__control
                                                button(type="button").b-create-cover__control.b-create-cover__control--next

                                .b-create-cover__decoration
                                    .b-create-cover__decoration-item
                                        a(href="javascript:void(0)" title="Избранное").b-create-cover__decoration-fav
                                            svg(xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16")
                                                path(fill="none" fill-rule="evenodd" stroke-width="2" d="M1 1v12.995l4-3.011 4 3.011V1H1z")
                                    .b-create-cover__decoration-item
                                        .b-create-cover__decoration-row
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.red.active
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.peach
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.lilac
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.brown
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.orange
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.light-brown
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.yellow
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.light-orange
                                        .b-create-cover__decoration-row
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.aqua
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.green
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.aqua-green
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.purple
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.light-blue
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.dark-blue
                                            a(href="javascript:void(0)").b-create-cover__decoration-color.blue
                                    .b-create-cover__decoration-item
                                        .b-create-cover__decoration-row
                                            a(href="javascript:void(0)").b-create-cover__decoration-font.black.active A
                                            a(href="javascript:void(0)").b-create-cover__decoration-font.yellow A
                                            a(href="javascript:void(0)").b-create-cover__decoration-font.lilac A
                                            a(href="javascript:void(0)").b-create-cover__decoration-font.aqua-green A
                                            a(href="javascript:void(0)").b-create-cover__decoration-font.green A
                                    .b-create-cover__decoration-item
                                        button.custom-btn.custom-btn--green СОХРАНИТЬ ОБЛОЖКУ

                            .b-create-cover__item
                                .b-cover-list
                                    .b-cover-list__tags
                                        a(href="javascript:void(0)") #Все
                                        a(href="javascript:void(0)") #Нон
                                        a(href="javascript:void(0)") фикшн
                                        a(href="javascript:void(0)") #Бизнес
                                        a(href="javascript:void(0)") #Детские
                                        a(href="javascript:void(0)") #Фэнтези 
                                        a(href="javascript:void(0)").b-cover-list__tags-all Все тэги...
                                    .b-cover-list__group
                                        input(type="text" id="cover-list-search" name="cover-list-search" placeholder="Искать изображение").b-cover-list__input
                                        label(for="cover-list-search").b-cover-list__label
                                    .b-cover-list__panel
                                        .b-cover-list__item.active
                                            img(src="../images/content/cyprus.jpg" alt="")
                                            .b-cover-list__text
                                                p Female rock climber in Margalef
                                                p Catalonia Spain
                                                span By: aluxum
                                        .b-cover-list__item
                                            img(src="../images/content/cyprus.jpg" alt="")
                                            .b-cover-list__text
                                                p Female rock climber in Margalef
                                                p Catalonia Spain
                                                span By: aluxum
                                    .b-cover-pagination
                                        .b-cover-pagination__page
                                            .b-cover-pagination__group
                                                input(name="annotation-save" id="annotation-save" value="1" type="text").b-cover-pagination__input
                                                span из
                                                a(href="javascript:void(0)") 100
                                            .b-cover-pagination__button
                                                a(href="javascript:void(0)").custom-btn.custom-btn--blue.b-cover-pagination__prev
                                                a(href="javascript:void(0)").custom-btn.custom-btn--blue.b-cover-pagination__next
                                                    span Следующая
                                    



            include /blocks/footer.jade