- var title= 'Дизайн обложки'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade

                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование

                .main-screen.main-screen--service-book.main-screen--design-cover
                    .main-screen--service-book__content
                        .main-screen--service-book__right
                            .main-screen--service-book__title Дизайн обложки
                            .main-screen--service-book__sub-title Специалист оформит вашу книгу по издательским стандартам
                            a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Оставить заявку

                .content.content--design-cover
                    .editing-block.editing-block--reasons
                        .b-block--white
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="64" height="60" viewBox="0 0 64 60")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sketch")
                                        .block-book__text
                                            | 3 эскиза обложки на выбор
                                            br
                                            | по вашим параметрам
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-diff-tab")
                                        .block-book__text
                                            |Любой формат книги
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cover")
                                        .block-book__text
                                            | Создание обложки для печатной
                                            br
                                            | и электронной книги
                    .cover-services
                        .cover-services__title Наши услуги
                        .cover-services__block
                            .cover-services__img
                                img(src="images/content/sketch-wish.png" alt="")
                            .cover-services__text Cоздание обложки по вашей картинке
                                .block-tip ?
                                    .block-padding
                                        .block-hover Подсказка
                            .cover-services__price 1 000
                                span.rouble ₽
                                .old-price 1 400
                                    span.rouble ₽
                        .cover-services__block
                            .cover-services__img
                                img(src="images/content/sketch-yours.png" alt="")
                            .cover-services__text Cоздание обложки по вашей хотелке
                                .block-tip ?
                                    .block-padding
                                        .block-hover Подсказка
                            .cover-services__price 100
                                span.rouble ₽
                    .cover-steps
                        .cover-steps__block.cover-steps__block--write-task
                            .cover-steps__title-block Опишите ваше пожелание в свободной форме
                            .cover-steps__btn
                                a(href="javascript:void(0);").custom-btn.custom-btn--white Описать задачу
                            .cover-steps__decor-arrow.cover-steps__decor-arrow--bottom
                        .cover-steps__block
                            .cover-steps__img
                                img(src="images/content/steps1.png" alt="")
                            .cover-steps__text Мы подберем дизайнера
                                br
                                |под вашу задачу
                            .cover-steps__decor-arrow

                        .cover-steps__block
                            .cover-steps__img
                                img(src="images/content/steps2.png" alt="")
                            .cover-steps__text Вы выберите подходящий
                                br
                                | из предложенных вариантов
                            .cover-steps__decor-arrow.cover-steps__decor-arrow--bottom
                        .cover-steps__block
                            .cover-steps__img
                                img(src="images/content/steps3.png" alt="")
                            .cover-steps__text Мы подготовим вам обложку
                                br
                                | и отдадим исходник
                    .container__callback
                        form.editing-callback.c-callback-form(name="callback_form")
                            .editing-callback__text Оставьте заявку, наш менеджер перезвонит вам
                            .block-input
                                input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                            input.custom-btn.custom-btn--green(type="submit" value="Перезвоните мне")
                        form.editing-callback.editing-callback--success.c-callback-success
                            .editing-callback--success__img
                            .editing-callback--success__text Заявка на звонок успешно отправлена!
                            //a.editing-callback--success__link.c-send-yet Отправить еще

                    a.c-anchor(href="" name="form")
            include /blocks/footer-blue.jade
            script(src="./js/serviceBook.js")