- var title= 'Дизайн макета'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                
                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                
                .main-screen.main-screen--design
                    .main-screen__shadow
                    .main-screen--design__content
                        .main-screen--design__title Дизайн макета
                        .main-screen--design__sub-title
                            | Специалист оформит вашу книгу по издательским стандартам
                        .main-screen--design__advantages
                            .main-screen--design__line 4 500 ₽
                            .main-screen--design__sub-line.main-screen--design__old-price 5 200 ₽
                            .main-screen--design__line за 100 страниц
                            .main-screen--design__sub-line A4
                                .main-screen--design__tip ?
                                    .main-screen--design__padding
                                        .main-screen--design__hover Подсказка
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Рассчитать

                .content
                    .editing-block.editing-block--reasons
                        .b-block--white
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="56" height="63" viewBox="0 0 56 63")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-date")
                                        .block-book__text
                                            | Профессиональное оформление
                                            br
                                            |книги всего за 3 дня
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-normalize")
                                        .block-book__text
                                            | Полное соответствие всем нормам,
                                            br
                                            | принятым в издательском деле
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="61" height="62" viewBox="0 0 61 62")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-choice")
                                        .block-book__text
                                            | Где и как публиковать —
                                            br
                                            | выбор за вами
                    a.c-anchor(href="" name="form")
                    .design-block
                        .design-block__title Быстрый расчет стоимости
                        a(href="#1" data-link="#1").c-tab-design.tab-design.active
                            .tab-number
                                |1
                            .tab-text
                                |Загрузка файла
                        a(href="#2" data-link="#2").c-tab-design.tab-design
                            .tab-number
                                | 2
                            .tab-text
                                | Тип книги
                        a(href="#3" data-link="#3").c-tab-design.tab-design
                            .tab-number
                                | 3
                            .tab-text
                                | Сложность
                        a(href="#4" data-link="#4").c-tab-design.tab-design
                            .tab-number
                                | 4
                            .tab-text
                                | Расчет
                        form.design-tab__content(name="design-calc" action="")
                            .design-tab__item.design-tab__item--padding#1.c-tab-content.active
                                .fallback.dropzone-steps.clearfix#upload(action="" method="POST")
                                    .preloader.c-preloader
                                        img(src="images/content/preloader-24.gif" alt="")
                                    input(name="file" type="file")
                                    .info
                                        .c-steps.c-steps-1.active
                                            button.fallback__btn.custom-btn.custom-btn--green Загрузите рукопись
                                            .fallback__text Выберите файл .doc/.docx
                                    .fallback__text-block.clearfix
                                        .text.clearfix.text--with-svg
                                            svg.icon-text(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48")
                                                defs
                                                    linearGradient(id="a" x1="-6.557%" x2="85.12%" y1="42.211%" y2="42.211%")
                                                        stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                        stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                        stop(offset="100%")
                                                    linearGradient(id="b" x1="85.12%" x2="-6.557%" y1="42.211%" y2="42.211%")
                                                        stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                        stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                        stop(offset="100%")
                                                g(fill="none" fill-rule="evenodd")
                                                    path(fill="#000" d="M23 7.601c-4.435 4.418-10.796 5.757-16 5.757C7 26.017 14.216 37.243 23 43c8.783-5.757 16-16.983 16-29.642-5.204 0-11.565-1.339-16-5.757z")
                                                    path(fill="url(#a)" d="M16 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".5" transform="translate(7 5)")
                                                    path(fill="url(#b)" d="M0 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".4" transform="matrix(-1 0 0 1 23 5)")
                                                    path(fill="#7CCB26" d="M31.141 18.083c-4.615 2.806-7.963 6.215-9.5 7.958l-3.914-2.92L16 24.446 22.761 31c1.139-2.78 4.693-8.157 9.063-12.082a.51.51 0 0 0 .13-.595.573.573 0 0 0-.813-.24")
                                            p
                                                |Ваша рукопись в безопасности.
                                                br
                                                |Bookscriptor гарантирует
                                                br
                                                |конфиденциальность по отношению ко
                                                br
                                                |всем вашим материалам
                                            .clearfix
                                        .text.clearfix
                                            .number 10
                                            .name
                                                |Минимальное
                                                br
                                                |количество страниц
                                            .clearfix
                                        .text.clearfix
                                            .number 600px
                                            .name
                                                |Минимальный размер
                                                br
                                                | иллюстрации по ширине
                                            .clearfix

                            .design-tab__item#2.c-tab-content.price
                                .options
                                    .item
                                        .text Цветность печати
                                        .radio-group.color-choose
                                            input(type="radio" id="B_W_PRINT" class="c-check-color" data-check="B_W_PRINT" name="color" checked="checked")
                                            label(for="B_W_PRINT") Черно-белая
                                            input(type="radio" id="COLOR_PRINT" class="c-check-color" data-check="COLOR_PRINT" name="color")
                                            label(for="COLOR_PRINT") Цветная
                                    .item
                                        .text Тип книги
                                        .radio-group
                                            input(type="radio" id="ONLY_TEXT" class="c-check-type" data-check="ONLY_TEXT" name="type" checked="checked")
                                            label(for="ONLY_TEXT") Только текст
                                            input(type="radio" id="WITH_IMG" class="c-check-type" data-check="WITH_IMG" name="type")
                                            label(for="WITH_IMG") С иллюстрациями
                                    .item
                                        .text Кол-во иллюстраций
                                        .quantity.c-quantity
                                            input(type="number" name="count" min="1" max="9" step="1" value="1")

                                .images
                                    .images
                                        .example-image.one(style="display: none;")
                                            img(src="https://test.bookscriptor.ru/local/templates/bookscriptor_new/img/print_book_page/books/B_W_PRINT-clip.png" alt="")
                                        .example-image.two(style="display: none;")
                                            img(src="https://test.bookscriptor.ru/local/templates/bookscriptor_new/img/print_book_page/books/B_W_PRINT-soft.png" alt="")
                                        .example-image.three(style="display: none;")
                                            img(src="https://test.bookscriptor.ru/local/templates/bookscriptor_new/img/print_book_page/books/COLOR_PRINT-clip.png" alt="")
                                        .example-image.four(style="display: none;")
                                            img(src="https://test.bookscriptor.ru/local/templates/bookscriptor_new/img/print_book_page/books/COLOR_PRINT-soft.png" alt="")
                                .design-tab__control-btn
                                    a(href="javascript:void(0);").c-prev-tab.prev-tab Предыдущий шаг
                                    a(href="javascript:void(0);").c-next-tab.next-tab.custom-btn.custom-btn--green Продолжить →

                            .design-tab__item#3.c-tab-content.design-tab__item--harding-book
                                .design-tab__wrapper
                                    .design-tab__list
                                        ul
                                            li
                                                a(href="#1tab" data-link="#1tab" data-harding="1").tab-hard.c-tab.active Текст, колонтитулы, шмуцтитулы
                                                    .main-screen--design__tip ?
                                                        .main-screen--design__padding
                                                            .main-screen--design__hover Подсказка
                                            li
                                                a(href="#2tab" data-link="#2tab" data-harding="2").tab-hard.c-tab Текст, колонтитулы, сноски, врезки, обтекание текстом, верстка иллюстраций
                                            li
                                                a(href="#3tab" data-link="#3tab" data-harding="3").tab-hard.c-tab.disabled Поэзия
                                            li
                                                a(href="#4tab" data-link="#4tab" data-harding="4").tab-hard.c-tab Пьесы, сценарии
                                            li
                                                a(href="#5tab" data-link="#5tab" data-harding="5").tab-hard.c-tab Текст, колонтитулы, сноски, таблицы, формулы, обтекание текстом, наличие текста на иностранном языке
                                    .design-tab__list-content
                                        .c-tab-block.tab-block-hard#1tab.active
                                            img(src="https://bookscriptor.ru/local/templates/bookscriptor/img/services/book-lvl-1.png" alt="")
                                        .c-tab-block.tab-block-hard#2tab
                                            img(src="https://bookscriptor.ru/local/templates/bookscriptor/img/services/book-lvl-2.png" alt="")
                                        .c-tab-block.tab-block-hard#3tab
                                            img(src="https://bookscriptor.ru/local/templates/bookscriptor/img/services/book-lvl-3.png" alt="")
                                        .c-tab-block.tab-block-hard#4tab
                                            img(src="https://bookscriptor.ru/local/templates/bookscriptor/img/services/book-lvl-4.png" alt="")
                                        .c-tab-block.tab-block-hard#5tab
                                            img(src="https://bookscriptor.ru/local/templates/bookscriptor/img/services/book-lvl-5.png" alt="")
                                .design-tab__control-btn
                                    a(href="javascript:void(0);").c-prev-tab.prev-tab Предыдущий шаг
                                    a(href="javascript:void(0);").c-next-tab.next-tab.custom-btn.custom-btn--green Продолжить →
                            .design-tab__item#4.c-tab-content
                                .design-block.design-block--skills
                                    .block-book__block
                                        .block-book__block-wrapper
                                            .block-book__icon.block-book__icon--number
                                                |1831
                                            .block-book__text
                                                | Знак
                                    .block-book__block
                                        .block-book__block-wrapper
                                            .block-book__icon.block-book__icon--color
                                                .img-color
                                            .block-book__text
                                                | Цветная печать
                                    .block-book__block
                                        .block-book__block-wrapper
                                            .block-book__icon.block-book__icon--number
                                                |2
                                            .block-book__text
                                                | Иллюстрации
                                    .block-book__block
                                        .block-book__block-wrapper
                                            .block-book__icon
                                                img(src="https://bookscriptor.ru/local/templates/bookscriptor/img/services/book-lvl-5.png" alt="")
                                            .block-book__text
                                                | Текст, колонтитулы, сноски,
                                                br
                                                |таблицы, формулы, обтекание
                                                br
                                                |текстом, наличие текста на
                                                br
                                    .design-tab__control-btn
                                        a(href="javascript:void(0);").c-prev-tab.prev-tab Предыдущий шаг
                                        a(href="javascript:void(0);").custom-btn.custom-btn--green Отправить заявку
                                    .design-tab__control-btn
                                        a(href="javascript:void(0);").c-prev-tab.prev-tab Предыдущий шаг
                                        span.message Оставьте таявку, наш менеджер перезвонит и все расскажет
                                    .design-tab__form(action="" name='design_form')
                                        .block-input
                                            input.input-custom.c-input-custom.c-input-phone.c-profile-contacts#phone(type="text" name="phone" placeholder="" value="" data-value="+79526684422")
                                            label.label-custom.c-label-custom(for="phone")
                                                | Телефон
                                        .block-input
                                            input.input-custom.c-input-custom#name(type="text" name="name" placeholder="")
                                            label.label-custom.c-label-custom(for="name")
                                                | Ваше имя
                                        .block-input
                                            input.input-custom.c-input-custom#email(type="text" name="email" placeholder="")
                                            label.label-custom.c-label-custom(for="email")
                                                | Эл. почта
                                        a(href="javascript:void(0);").custom-btn.custom-btn--green Отправить заявку
                                    .design-tab__form(action="" name='design_form')
                                        .block-input
                                            input.input-custom.c-input-custom.c-input-phone.c-profile-contacts#phone2(type="text" name="phone" placeholder="" value="" data-value="+79526684422")
                                            label.label-custom.c-label-custom(for="phone2")
                                                | Телефон
                                        a(href="javascript:void(0);").custom-btn.custom-btn--green Отправить заявку

                .content
                    .design-block.design-block--result
                        .design-block__title Результат работы
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/before-maket.png" alt="")
                                .block-book__state
                                    | Было
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/after-maket.png" alt="")
                                .block-book__state
                                    | Стало
                    .design-block.design-block--skills
                        .design-block__title Наш специалист
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/skill-1.png" alt="")
                                .block-book__text
                                    | Отформатирует текст по
                                    br
                                    |издательским стандартам
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/skill-2.png" alt="")
                                .block-book__text
                                    | Разместит в книге ваши
                                    br
                                    |иллюстрации
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/skill-3.png" alt="")
                                .block-book__text
                                    | Оформит шмуцтитулы, буквицы и
                                    br
                                    |другие элементы макета
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/skill-4.png" alt="")
                                .block-book__text
                                    | Отправит готовую работу вам
                                    br
                                    | на согласование
                        .design-block__for-btn
                            a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Заказать вёрстку
                .content
                    .design-block.design-block--variant
                        .design-block--variant__part
                            .design-block__title Текст еще не готов?
                            .design-block--variant__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/editing.png" alt="")
                                        .block-book__text
                                            | Обратитесь к нашему редактору
                                            br
                                            |и корректору чтобы исправить
                                            br
                                            |все грамматические и
                                            br
                                            |стиллистические ошибки
                        .design-block--variant__part.design-block--variant__part--item-two
                            .design-block__title Верстка уже готова?
                            .design-block--variant__wrapper
                                .block-book__block.block-book__block--beige
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/book_4.png" alt="")
                                        .block-book__text
                                            | Рассчитайте
                                            br
                                            | печать тиража
                                .block-book__block.block-book__block--beige
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/image3_2.png" alt="")
                                        .block-book__text
                                            | Используйте краудфандинг
                                            br
                                            | для печати тиража бесплатно!


                .content
                    .proofread-block
                        .proofread-block__title Больше информации в нашем блоге
                        .proofread-blog
                            .proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                a(href="javascript:void(0);").proofread-blog__txt Где учиться бренд-дизайну

                            .proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                a(href="javascript:void(0);").proofread-blog__txt Анализ конкурентов

                            .proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                a(href="javascript:void(0);").proofread-blog__txt Анализ конкурентов своими руками

            include /blocks/footer-blue.jade
            script(src="./js/design.js")