- var title= 'Литературная редактура'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                
                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                
                .main-screen.main-screen--editing
                    .main-screen__shadow
                    .main-screen--editing__content
                        .main-screen--editing__title Литературная редактура
                        .main-screen--editing__sub-title
                            | Специалист Bookscriptor сделает рукопись стилистически безупречной
                        .main-screen--editing__advantages
                            .main-screen--editing__line 40 000
                            .main-screen--editing__sub-line знаков
                                .main-screen--editing__tip ?
                                    .main-screen--editing__padding
                                        .main-screen--editing__hover Подсказка
                            .main-screen--editing__line = 3 дня,
                            .main-screen--editing__sub-line.main-screen--editing__old-price 1 600 ₽
                            .main-screen--editing__line 1 500 ₽
                                .main-screen--editing__tip.for-big ?
                                    .main-screen--editing__padding
                                        .main-screen--editing__hover Подсказка
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Рассчитать

                .content
                    .editing-block.editing-block--reasons
                        .b-block--white
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="101" height="62" viewBox="0 0 101 62" )
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-age-spec")
                                        .block-book__text
                                            | Срок выполнения работ
                                            br
                                            | от 3х дней
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="64" height="57" viewBox="0 0 64 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-style")
                                        .block-book__text
                                            |Бережное отношение к
                                            br
                                            |авторскому стилю
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            svg(xmlns="http://www.w3.org/2000/svg" width="64" height="57" viewBox="0 0 64 64")
                                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-price")
                                        .block-book__text
                                            |Разумная цена и
                                            br
                                            |адекватные сроки
                    a.c-anchor(href="" name="form")
                    .editing-block#form
                        .proofread-block__title.tab__nav Рукопись содержит &nbsp;
                            a(href="#1id" data-link="#1id").c-tab-download.tab-download.active только текст
                            |  или&nbsp;
                            a(href="#2id" data-link="#2id").c-tab-download.tab-download таблицы, графики, диаграммы
                        .editing-tab__content
                            .editing-tab__item.editing-tab__item--padding#1id.c-tab-content.active
                                .proofread-block__block-number
                                    .proofread-block__number.active.c-steps.c-step-1 1
                                    .proofread-block__arc
                                    .proofread-block__number.c-steps.c-step-2 2
                                    .proofread-block__arc
                                    .proofread-block__number.c-steps.c-step-3 3

                                .proofread-block__block-count
                                    .proofread-block__item-count.active

                                        .fallback.dropzone-steps#upload(action="" method="POST")
                                            input(name="file" type="file")
                                            .info
                                                button Загрузите рукопись

                                                br
                                                | Выберите файл .doc/.docx
                                            .text
                                                svg.icon-text(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48")
                                                    defs
                                                        linearGradient(id="a" x1="-6.557%" x2="85.12%" y1="42.211%" y2="42.211%")
                                                            stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                            stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                            stop(offset="100%")
                                                        linearGradient(id="b" x1="85.12%" x2="-6.557%" y1="42.211%" y2="42.211%")
                                                            stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                            stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                            stop(offset="100%")
                                                    g(fill="none" fill-rule="evenodd")
                                                        path(fill="#000" d="M23 7.601c-4.435 4.418-10.796 5.757-16 5.757C7 26.017 14.216 37.243 23 43c8.783-5.757 16-16.983 16-29.642-5.204 0-11.565-1.339-16-5.757z")
                                                        path(fill="url(#a)" d="M16 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".5" transform="translate(7 5)")
                                                        path(fill="url(#b)" d="M0 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".4" transform="matrix(-1 0 0 1 23 5)")
                                                        path(fill="#7CCB26" d="M31.141 18.083c-4.615 2.806-7.963 6.215-9.5 7.958l-3.914-2.92L16 24.446 22.761 31c1.139-2.78 4.693-8.157 9.063-12.082a.51.51 0 0 0 .13-.595.573.573 0 0 0-.813-.24")
                                                p
                                                    |Ваша рукопись в безопасности. Bookscriptor гарантирует конфиденциальность по отношению ко всем вашим материалам



                                    .proofread-block__item-count.active.c-steps.c-step-1
                                        .proofread-block__img.proofread-block__img--calc
                                            img(src="images/content/calc-140.png" alt="")
                                        .proofread-block__txt Расчет цены онлайн

                                    .proofread-block__item-count.c-steps.c-step-2
                                        .proofread-block__img
                                            .proofread-block__txt.proofread-block__txt--pay 10 440 знаков или 2 авторских листа
                                                .proofread-block__tip ?
                                                    .proofread-block__padding
                                                        .proofread-block__hover Подсказка
                                                .proofread-block__title.proofread-block__title--pay  От 3-х дней,
                                                .proofread-block__title.proofread-block__title--pay  600 ₽
                                                    .proofread-block__sub-title  720 ₽
                                                .proofread-block__btn.proofread-block__btn--pay
                                                    a(href="#pay").custom-btn.custom-btn--green.c-pay-proofreader Перейти к оплате →
                                        .proofread-block__links
                                            a(href="javascript:void(0);").c-change-dropzone Изменить файл
                                            a(href="javascript:void(0);").c-cancel-dropzone.cancel Отмена


                                    .proofread-block__item-count.active
                                        .proofread-block__img.proofread-block__img--book
                                            img(src="images/content/red-book.png" alt="")
                                        .proofread-block__txt — Загрузим книгу в вашу мастерскую <br>
                                                            | — Файл с правками
                                                            |  отправим на почту


                            .editing-tab__item#2id.c-tab-content
                                form.editing-callback.c-callback-form(name="callback_form")
                                    .editing-callback__text Оставьте заявку, наш менеджер перезвонит и все расскажет
                                    .block-input
                                        input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                                    input.custom-btn.custom-btn--white(type="submit" value="Перезвоните мне")
                                form.editing-callback.editing-callback--success.c-callback-success
                                    .editing-callback--success__img
                                    .editing-callback--success__text Заявка на звонок успешно отправлена!
                                    a.editing-callback--success__link.c-send-yet Отправить еще
                .content
                    .editing-block
                        .editing-block__title Наш специалист

                        .b-block--white
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/offer-1.png" alt="")
                                        .block-book__text
                                            | Поможет избежать
                                            br
                                            |нарушения логики
                                            br
                                            |повествования
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/offer-2.png" alt="")
                                        .block-book__text
                                            | Предложит замену
                                            br
                                            |ненужным повторам и
                                            br
                                            |словесным штампам
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/offer-3.png" alt="")
                                        .block-book__text
                                            | Представит варианты
                                            br
                                            |наиболее удачных
                                            br
                                            |заголовков
                .proofread-block
                    .content
                        .proofread-block__title Примеры редактуры
                        
                        .proofread-tab.editing-tab
                            .proofread-tab__nav
                                a(href="#1t" data-link="#1t").proofread-tab__title.c-tab.active Фраза трудна для восприятия
                                a(href="#2t" data-link="#2t").proofread-tab__title.c-tab Тавтология
                                a(href="#3t" data-link="#3t").proofread-tab__title.c-tab Неточное слово
                                a(href="#4t" data-link="#4t").proofread-tab__title.c-tab Ошибочное использование слова
                                a(href="#5t" data-link="#5t").proofread-tab__title.c-tab Неправильное использования деепричастного оборота

                            .proofread-tab__content
                                .proofread-tab__item#1t.c-tab-block.active
                                    .proofread-tab__part.proofread-tab__part--bad
                                        span.error Он, несмотря на все уговоры сестры, которая не могла 
                                        span.error смириться с тем, что придется остаться одной, решился 
                                        span.error на отъезд.
                                    .proofread-tab__part.proofread-tab__part--good
                                        |Он решился на отъезд, несмотря на все уговоры сестры. Она не могла смириться с тем, что теперь придется остаться одной.
                                .proofread-tab__item#2t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad
                                        span.error Правда,
                                        |  он не всегда был 
                                        span.error  правдив,
                                        |  оговаривался и в целом создавал впечатление человека ненадежного.
                                    .proofread-tab__part.proofread-tab__part--good
                                        |Однако он не всегда был правдив, оговаривался и в целом создавал впечатление человека ненадежного.
                                .proofread-tab__item#3t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad
                                        | На газовую 
                                        span.error  печку
                                        |  поставили чайник и стали накрывать на стол.
                                    .proofread-tab__part.proofread-tab__part--good На газовую плиту поставили чайник и стали накрывать на стол.
                                .proofread-tab__item#4t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad
                                        | Он вел себя как 
                                        span.error  невежда
                                        |: всем хамил и ни разу не сказал ни одного доброго слова.
                                    .proofread-tab__part.proofread-tab__part--good Он вел себя как невежа: всем хамил и ни разу не сказал ни одного доброго слова.
                                .proofread-tab__item#5t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad
                                        span.error Проходя мимо ресторана,
                                        |у него внезапно зазвонил телефон.
                                    .proofread-tab__part.proofread-tab__part--good Когда он проходил мимо ресторана, у него внезапно зазвонил телефон.

                 
                .content
                    .editing-block__for-btn
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Заказать редактуру
                //    .editing-block.editing-block--blue
                //        .editing-block__title Почему букскриптор
                //
                //        .editing-why
                //            a(href="javascript:void(0);").editing-why__block
                //                .editing-why__block-wrapper
                //                    .editing-why__img 1
                //                    .editing-why__txt
                //                        |С текстом работают опытные
                //                        br
                //                        |специалисты
                //            a(href="javascript:void(0);").editing-why__block
                //                .editing-why__block-wrapper
                //                    .editing-why__img 2
                //                    .editing-why__txt
                //                        |Мы бережно относимся к
                //                        br
                //                        |авторскому стилю
                //            a(href="javascript:void(0);").editing-why__block
                //                .editing-why__block-wrapper
                //                    .editing-why__img 3
                //                    .editing-why__txt
                //                        |У нас привлекательные цены
                //                        br
                //                        |без “подводных камней”

                .content
                    .proofread-block
                        .proofread-block__title Больше информации в нашем блоге
                        .proofread-blog
                            .proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                a(href="#").proofread-blog__txt Где учиться бренд-дизайну

                            .proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                a(href="#").proofread-blog__txt Анализ конкурентов

                            .proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                a(href="#").proofread-blog__txt Анализ конкурентов своими руками

            include /blocks/footer-blue.jade
            script(src="./js/editing.js")