include /blocks/breadcrumb.jade
include /blocks/submenu.jade
include /blocks/socials.jade
include /blocks/profile-book.jade
include /blocks/popups.jade

- var title= 'Гонорары'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                +submenu(1, 'Мой кабинет', 'Гонорар', 'Профиль', 'Мои заказы', 'Библиотека')
                .fee-common
                    .content
                        .fee-common__item.fee-common__item--border
                            .fee-common__title 0 ₽
                            .fee-common__sub-title Всего средств
                            
                        .fee-common__item
                            .fee-common__title 0 ₽
                            .fee-common__sub-title Доступно для вывода
                                .fee-common__tip 
                                    .fee-common__tip--padding
                                        .fee-common__tip--hover Минимальная сумма на перевод 1500₽
                                    
                        .fee-common__item.fee-common__item--border.fee-common__item--form.c-form-request
                            .fee-common__input
                                input.input-normal.c-sum-request.c-only-digit-dot#name(type="text" name="name" data-max="1632.25" placeholder="" value="0")
                            .fee-common__btn
                                a(href="#request" data-payid-books="0").custom-btn.custom-btn--blue.c-send-request Оставить заявку на вывод
                                .fee-common__error.c-error-request
                                .fee-common__error.fee-common__error--link.c-error-request-books 
                                    a(href="my-office.html") Создайте 
                                    |  хотя бы 1 платную книгу
                                
                                .custom-popup.custom-popup--confirm.custom-popup--report(id="request")
                                    .custom-popup__title Заявка на вывод 
                                        span.c-popup-sum 0 
                                        |  ₽
                                    .custom-popup__text Отменить заявку на вывод средств можно будет 
                                                        | связавшись с нами по телефонам, указанных 
                                                        | в нижней части сайта

                                            .custom-popup__btns.clearfix
                                                a(href="#report-error").c-report-success.custom-btn.custom-btn-blue Отправить
                                                a(href="javascript:parent.$.fancybox.close();").custom-btn--cancel Отмена   
                                            
                        .fee-common__item
                            .fee-common__title 0 ₽
                            .fee-common__sub-title Ожидаемые средства
                                .fee-common__tip 
                                    .fee-common__tip--padding.fee-common__tip--waiting
                                        .fee-common__tip--hover Эта сумма будет доступна для перевода после завершения отчетного периода. 
                                            a(href="javascript:void(0);" title="Подробнее о получении гонорара") Подробнее о получении гонорара
                     
                             
                .fee-info
                    .content
                        .fee-info__item.fee-info__item--table
                            .fee-info__title Заявки на получение гонорара
                            .fee-info__txt У вас пока нет ни одной заявки.     

                        .fee-info__item.fee-info__item--banks
                            .fee-info__title Ваши реквизиты                            
                                .fee-banks__txt Добавить реквизиты для перевода средств с продажи ваших книг
                                a(href="#banks").c-banks.fee-info__link  + Добавить реквизиты               
                            
                                .custom-popup.custom-popup--confirm.custom-popup--banks(id="banks")
                                    .custom-popup__title Ваши реквизиты
                                    .custom-popup__text 
                                        form.fee-banks-form.c-inn(action="" name='banksEdit')  
                                            .block-input.block-input--required
                                                input.input-custom.c-input-custom#surname(type="text" name="surname" placeholder="" value="")
                                                label.label-custom.c-label-custom(for="surname") Фамилия
                                            .block-input.block-input--required
                                                input.input-custom.c-input-custom#name(type="text" name="name" placeholder="" value="Никита")
                                                label.label-custom.c-label-custom(for="name") Имя
                                            .block-input.block-input--required
                                                input.input-custom.c-input-custom#family(type="text" name="family" placeholder="" value="") 
                                                label.label-custom.c-label-custom(for="family") Отчество
                                                

                                            .block-btn-radio__item
                                                input.radio-custom#item1(type="radio" name="names" value="" checked)
                                                label.label-radio.c-choose-bank(for="item1" data-link="#inn") Указать ИНН

                                            .block-btn-radio__item
                                                input.radio-custom#item2(type="radio" name="names" value="")
                                                label.label-radio.c-choose-bank(for="item2" data-link="#pasport") Указать паспортные данные
                                                
                                            .fee-banks-form__item#inn.c-bank-block.active
                                                .block-input.block-input--required.fee-banks-form__tip
                                                    input.input-custom.c-input-custom#inn_num(type="text" name="inn_num" placeholder="" value="" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                                                    label.label-custom.c-label-custom(for="inn_num") ИНН                                                  
                                                    .fee-common__tip.fee-common__tip--banks
                                                        .fee-common__tip--padding.fee-common__tip--padding-popup
                                                            .fee-common__tip--hover.fee-common__tip--waiting Свой ИНН можно     узнать на сайте 
                                                                a(href="javascript:void(0);" title="Инн")
                                                                    | service.nalog.ru/inn.do/inn
                                                 
                                            .fee-banks-form__item#pasport.c-bank-block
                                                .block-input.block-input--required.block-input--inline.fee-banks-form__part
                                                    input.input-custom.c-input-custom#part(type="text" name="part" placeholder="" value="" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                                                    label.label-custom.c-label-custom(for="part") Серия
                                                    
                                                .block-input.block-input--required.block-input--inline.fee-banks-form__num
                                                    input.input-custom.c-input-custom#num(type="text" name="num" placeholder="" value="" onkeypress='return event.charCode >= 48 && event.charCode <= 57')
                                                    label.label-custom.c-label-custom(for="num") Номер
                                                    
                                                .block-input.block-input--required.block-input--inline.fee-banks-form__date
                                                    input.input-custom.c-input-custom.c-datapicker#date(type="text" name="date" placeholder="" value="")
                                                    label.label-custom.c-label-custom(for="date") Дата выдачи
                                                    
                                                .block-input.block-input--required
                                                    input.input-custom.c-input-custom#who(type="text" name="who" placeholder="" value="")
                                                    label.label-custom.c-label-custom(for="who") Кем выдан
                                                    
                                                    
                                            .block-input.block-input--required.fee-banks-form__tip
                                                input.input-custom.c-input-custom#bank(type="text" name="bank" placeholder="" value="")
                                                label.label-custom.c-label-custom(for="bank") Наименование банка
                                                                                            
                                                .fee-common__tip.fee-common__tip--banks
                                                    .fee-common__tip--padding.fee-common__tip--padding-popup
                                                        .fee-common__tip--hover.fee-common__tip--waiting Реквизиты можно узнать 
                                                                    | в личном кабинете 
                                                                    | или отделении вашего банка
                                                            
                                            .block-input.block-input--required
                                                input.input-custom.c-input-custom#bik(type="text" name="bik" placeholder="" value="" onkeypress='return event.charCode >= 48 && event.charCode <= 57') 
                                                label.label-custom.c-label-custom(for="bik") БИК
                                            .block-input.block-input--required
                                                input.input-custom.c-input-custom.c-only-digit-dot#check(type="text" name="check" placeholder="" value="") 
                                                label.label-custom.c-label-custom(for="check") Расчетный счет
                                                
                                            a(href="https://bookscriptor.ru/information/site-rules/" title="Пользовательское соглашение").fee-banks-form__link Пользовательское соглашение

                                            .custom-popup__btns.clearfix  
                                                input.custom-btn.custom-btn-blue(type="submit" name="saveBank" id="saveBank" value="Сохранить данные" data-ajax-url="")
                                                a(href="javascript:parent.$.fancybox.close();").custom-btn--cancel Отмена     

                include /blocks/footer-blue.jade      
                script(src="./js/fee.js")       