- var title= 'UI'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                <!-- BEGIN header -->
                .header-alternate.c-header-alternate
                header.header.clearfix.c-header.header--planeta
                    .container-header.clearfix
                        .header__menu
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Каталог")
                                        span
                                            | Каталог
                                li()
                                    a.header__menu-item(href="#" title="Мастерская")
                                        span
                                            | Мастерская
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Услуги
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Статьи
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | О нас
                        a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                            img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                            img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                        .header__menu.header__menu--right
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Войти")
                                        span
                                            | Войти
                                li()
                                    a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
                                        span
                                            | Зарегистрироваться



                <!-- авторизован/корзина пустая-->
                header.header.clearfix.c-header.header--planeta
                    .container-header.clearfix
                        .header__menu
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Каталог")
                                        span
                                            | Каталог
                                li()
                                    a.header__menu-item(href="#" title="Мастерская")
                                        span
                                            | Мастерская
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Услуги
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Статьи
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | О нас
                        a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                            img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                            img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                        .header__menu.header__menu--right
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        img.cart.cart--no-sales(src="images/content/cart-white-fix.svg" alt="")
                                        span
                                            | Нет покупок
                                li.separate()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        span
                                            | Мой кабинет
                                        img.user(src="images/content/babizky.jpg" alt="")

                <!--авторизован/корзина не пуста-->
                header.header.clearfix.c-header.header--planeta
                    .container-header.clearfix
                        .header__menu
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="Каталог")
                                        span
                                            | Каталог
                                li()
                                    a.header__menu-item(href="#" title="Мастерская")
                                        span
                                            | Мастерская
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Услуги
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | Статьи
                                li()
                                    a.header__menu-item(href="#" title="Услуги")
                                        span
                                            | О нас
                        a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                            img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                            img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                        .header__menu.header__menu--right
                            ul()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        img.cart.cart--active(src="images/content/cart.svg" alt="")
                                        span.cart-content
                                            | 2 товара на 750 ₽
                                li.separate()
                                li()
                                    a.header__menu-item(href="#" title="")
                                        span
                                            | Мой кабинет
                                        img.user(src="images/content/babizky.jpg" alt="")


                <!-- END header -->

                .background-block(style="background-color: #000")
                    <!-- BEGIN header -->
                    .header-alternate.c-header-alternate
                    header.header.clearfix.c-header
                        .content
                            .container-header.clearfix
                                .header__menu
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Каталог")
                                                span
                                                    | Каталог
                                        li()
                                            a.header__menu-item(href="#" title="Мастерская")
                                                span
                                                    | Мастерская
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Услуги
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Статьи
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | О нас
                                a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                                    img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                                    img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                                .header__menu.header__menu--right
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Войти")
                                                span
                                                    | Войти
                                        li()
                                            a.header__menu-item.btn-reg(href="#" title="Зарегистрироваться")
                                                span
                                                    | Зарегистрироваться
                    <!-- авторизован/корзина пустая-->
                    header.header.clearfix.c-header
                        .content
                            .container-header.clearfix
                                .header__menu
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Каталог")
                                                span
                                                    | Каталог
                                        li()
                                            a.header__menu-item(href="#" title="Мастерская")
                                                span
                                                    | Мастерская
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Услуги
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Статьи
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | О нас
                                a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                                    img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                                    img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                                .header__menu.header__menu--right
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                img.cart.cart--no-sales(src="images/content/cart-white.svg" alt="")
                                                span
                                                    | Нет покупок
                                        li.separate()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                span
                                                    | Мой кабинет
                                                img.user(src="images/content/babizky.jpg" alt="")

                    <!--авторизован/корзина не пуста-->
                    header.header.clearfix.c-header
                        .content
                            .container-header.clearfix
                                .header__menu
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="Каталог")
                                                span
                                                    | Каталог
                                        li()
                                            a.header__menu-item(href="#" title="Мастерская")
                                                span
                                                    | Мастерская
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Услуги
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | Статьи
                                        li()
                                            a.header__menu-item(href="#" title="Услуги")
                                                span
                                                    | О нас
                                a.header__logo(href="https://bookscriptor.ru" title="Bookscriptor")
                                    img.relative(src="images/content/logo.svg" alt="Bookscriptor")
                                    img.fixed(src="images/content/logo-fixed.svg" alt="Bookscriptor")
                                .header__menu.header__menu--right
                                    ul()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                img.cart.cart--active(src="images/content/cart.svg" alt="")
                                                span.cart-content
                                                    | 2 товара на 750 ₽
                                        li.separate()
                                        li()
                                            a.header__menu-item(href="#" title="")
                                                span
                                                    | Мой кабинет
                                                img.user(src="images/content/babizky.jpg" alt="")

                    <!-- END header -->

                .content
                    .block-btn-radio__item
                        input.radio-custom#item1(type="radio" name="stepsDone" value="" checked)
                        label.label-radio(for="item1")
                            | Готова к передаче в издательство
                    .block-btn-radio__item
                        input.radio-custom#item2(type="radio" name="stepsDone" value="")
                        label.label-radio(for="item2")
                            | Почти закончена, на финальной стадии
                    .block-btn-checkbox__item
                        input.checkbox-custom#check1(type="checkbox" name="electr" value="" checked)
                        label.label-checkbox(for="check1")
                            | Готова к передаче в издательство
                    .block-btn-checkbox__item
                        input.checkbox-custom#check2(type="checkbox" name="hardCover" value="")
                        label.label-checkbox(for="check2")
                            | Почти закончена, на финальной стадии
                    .block-input.block-input--required
                        input.input-custom.c-input-custom#name(type="text" name="name" placeholder="")
                        label.label-custom.c-label-custom(for="name")
                            | Ваше имя
                    .block-input
                        input.input-custom.c-input-custom#email(type="text" name="email" placeholder="")
                        label.label-custom.c-label-custom(for="email")
                            | E-mail
                    .custom-btn-blue
                        | Заказать