- var title= 'Иллюстрация'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
        include /blocks/popups.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white-lk.jade

                .submenu-ul(data-role="submenu")
                    ul
                        li.active Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование

                .main-screen.main-screen--image
                    .main-screen--image__container
                        .main-screen--image__content
                            .main-screen--image__title Создание иллюстраций
                            .main-screen--image__sub-title Увеличьте привлекательнорсть вашей книги
                            .main-screen--image__advantages
                                .main-screen--image__line от 2 000
                                .main-screen--image__sub-line.main-screen--image__old-price 2 900 ₽
                                a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Заказать услугу
                    .main-screen--image__book
                .content
                    .block-image
                        .block-image__title Сделайте из книги настоящее
                            br
                            |произведение искусства
                        .block-image__wrapper
                            .block-image__item
                                .block-image__img
                                    img(src="images/content/signatire.png" alt="")
                                .block-image__block-title Форма
                                .block-image__text Заполните данные в форме, после чего мы вышлем вам оферту на почту. После подтверждения заказа и его оплаты художник приступит к эсикзу
                                .block-image__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="101" height="18" viewBox="0 0 101 18")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-image")
                            .block-image__item
                                .block-image__img.block-image__img--left
                                    img(src="images/content/sketch.png" alt="")
                                .block-image__block-title Эскиз
                                .block-image__text Художник сделает 1-3 схематичных эскиза для каждой иллюстрации. Вы сможете сделать 1 корректировку
                                .block-image__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="101" height="18" viewBox="0 0 101 18")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-image2")
                            .block-image__item
                                .block-image__img
                                    img(src="images/content/design.png" alt="")
                                .block-image__block-title Чистовой дизайн
                                .block-image__text После утверждения эскиза, художник подготовит чистовые иллюстрации в формате .jpg 300dpi
                    .block-image.block-image--bg
                        .block-image__wrapper
                            .block-image__item
                                .block-image__number 1
                                .block-image__text.block-image__text--white  Книга с иллюстрациями гораздо
                                    br
                                    |лучше передает замысел
                                    br
                                    |и внутренний мир автора
                            .block-image__item
                                .block-image__number 2
                                .block-image__text.block-image__text--white  Читатель сможет по-настоящему
                                    br
                                    |погрузиться в историю
                                    br
                                    |и почувствовать себя ее частью
                            .block-image__item
                                .block-image__number 3
                                .block-image__text.block-image__text--white  Произведение будет настоящим
                                    br
                                    |магнитом для читателей и будет
                                    br
                                    |выгодно выделяться
                    a.c-anchor(href="" name="form")
                    form.block-form.block-form--author(name="illustration" method="" action="")
                        .block-form__title Анкета на создание иллюстрации
                        .block-form__container
                            .block-form__wrapper
                                .block-form__bl-wrapper
                                    .block-form__image-tab
                                        .block-form__tab-header.clearfix
                                            .block-form__go-back
                                                a.custom-btn.custom-btn--blue-text ← К форме
                                            .block-form__tab-block
                                                a(href="#image" title='www.yoneg.ru' data-link="#image").block-form__tab-item.c-profile-tab.active Иллюстрации
                                                a(href="#author" title='www.yoneg.ru' data-link="#author").block-form__tab-item.c-profile-tab Авторы
                                            .block-form__tab-confirm
                                                span Выбрана 1 иллюстрация
                                                input.custom-btn.custom-btn--green(type="submit" value="Применить")
                                        .block-form__tab-contents
                                            #image.block-form__tab-content.c-profile-block.active
                                                .block-form__sort.clearfix
                                                    .block-form__hashtags
                                                        a.block-form__hashtags-item.active(href="#" data-sort="tag" data-sort-type="all") #Все стили
                                                        a.block-form__hashtags-item(href="#" data-sort="tag" data-sort-type="kids") #Детские книги
                                                        a.block-form__hashtags-item(href="#" data-sort="tag" data-sort-type="business") #Бизнес-стиль
                                                        a.block-form__hashtags-item(href="#" data-sort="tag" data-sort-type="real") #Реалистичные
                                                        a.block-form__hashtags-item(href="#" data-sort="tag" data-sort-type="scheme") #Схематичные
                                                        a.block-form__hashtags-item(href="#" data-sort="tag" data-sort-type="other") #Другой тэг
                                                    .block-form__filter
                                                        select.select-custom.c-select(name="imageSort" data-sort="select")
                                                            option(value="Сортировать по дате" selected) Сортировать по дате
                                                            option(value="По убыванию цены") По убыванию цены
                                                            option(value="По возрастанию цены") По возрастанию цены
                                                .block-form__image-content
                                                    .block-form__image-item(data-change="off" data-sort-name="all")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Константин Константинопольский
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев

                                                            .block-form__price 4 900 ₽
                                                    .block-form__image-item(data-change="off" data-sort-name="all")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Екатерина
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев

                                                            .block-form__price 1 900 ₽
                                                    .block-form__image-item(data-change="off" data-sort-name="all")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="" )
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Константин Константинопольский
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев

                                                            .block-form__price 4 900 ₽
                                                    .block-form__image-item.change(data-change="on" data-sort-name="kids")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Константин Константинопольский
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев

                                                            .block-form__price 4 900 ₽
                                                .block-form__tab-header.clearfix
                                                    .block-form__go-back
                                                        a.custom-btn.custom-btn--blue-text ← К форме
                                                    .block-form__tab-confirm
                                                        span Выбрана 1 иллюстрация
                                                        input.custom-btn.custom-btn--green(type="submit" value="Применить")

                                            #author.block-form__tab-content.c-profile-block
                                                .block-form__image-content.block-form__image-content--slider
                                                    .block-form__slider(data-block="slider")
                                                        .block-form__image-item(data-change="off")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__image-item(data-change="off")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__image-item(data-change="off")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__image-item(data-change="on")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                    .block-form__author
                                                        .block-form__author-photo
                                                            img(src="images/content/babizky.jpg" alt="")
                                                        .block-form__author-info
                                                            .block-form__author-name Константин Константинопольский
                                                                .block-form__author-label Премиум
                                                            .block-form__author-exp Опыт работы: 10 лет 6 месяцев
                                                        .block-form__price 4 900 ₽
                                                    .block-form__info-text.block-form__text-about(data-type="review") Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении всей Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении всей Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её… повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…
                                                        a.block-form__link-more(href="" data-type="all") Подробнее
                                                .block-form__image-content.block-form__image-content--slider
                                                    .block-form__slider(data-block="slider")
                                                        .block-form__image-item(data-change="off")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__image-item(data-change="off")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__image-item(data-change="off")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__image-item(data-change="on")
                                                            .block-form__img
                                                                img(src="images/content/style-img.jpg" alt="")
                                                                .block-form__shadow-wrapper
                                                                    .block-form__img--shadow
                                                                        a.custom-btn.custom-btn--green(href="") Выбрать
                                                    .block-form__author
                                                        .block-form__author-photo
                                                            img(src="images/content/babizky.jpg" alt="")
                                                        .block-form__author-info
                                                            .block-form__author-name Константин Константинопольский
                                                                .block-form__author-label Премиум
                                                            .block-form__author-exp Опыт работы: 10 лет 6 месяцев
                                                        .block-form__price 4 900 ₽
                                                    .block-form__info-text.block-form__text-about(data-type="review") Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении всей Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении всей Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все Кинематографический жанр, повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её… повествующий о судьбе знаменитой, известной личности на протяжении все жизни или в наиболее важные драматические её…
                                                        a.block-form__link-more(href="" data-type="all") Подробнее
                                                .block-form__image-content
                                                    .block-form__image-item(data-change="off")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Екатерина
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев

                                                            .block-form__price 1 900 ₽
                                                    .block-form__image-item(data-change="off")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Константин Константинопольский
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев

                                                            .block-form__price 4 900 ₽
                                                    .block-form__image-item(data-change="off")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Константин Константинопольский
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев
                                                            .block-form__price 4 900 ₽
                                                    .block-form__image-item(data-change="off")
                                                        .block-form__img
                                                            img(src="images/content/style-img.jpg" alt="")
                                                            .block-form__shadow-wrapper
                                                                .block-form__img--shadow
                                                                    a.custom-btn.custom-btn--green(href="") Выбрать
                                                        .block-form__author
                                                            .block-form__author-photo
                                                                img(src="images/content/babizky.jpg" alt="")
                                                            .block-form__author-info
                                                                .block-form__author-name Константин Константинопольский
                                                                    .block-form__author-label Премиум
                                                                .block-form__author-exp Опыт работы: 10 лет 6 месяцев
                                                            .block-form__price 4 900 ₽
                                                .block-form__tab-header.clearfix
                                                    .block-form__go-back
                                                        a.custom-btn.custom-btn--blue-text ← К форме
                                                    .block-form__tab-confirm
                                                        span Выбрана 1 иллюстрация
                                                        input.custom-btn.custom-btn--green(type="submit" value="Применить")

                            //
                            //    .block-form__bl-title Стиль иллюстраций
                            //    .block-form__bl-wrapper
                            //        .block-form__bl-part.block-form__bl-part--img
                            //            img(src="images/content/style-img.jpg" alt="")
                            //        .block-form__bl-part.block-form__bl-part--text
                            //            .block-form__author
                            //                .block-form__author-photo
                            //                    img(src="images/content/babizky.jpg" alt="")
                            //                .block-form__author-info
                            //                    .block-form__author-name Константин Константинопольский
                            //                    .block-form__author-exp Опыт работы: 10 лет 6 месяцев
                            //                    .block-form__author-label Премиум
                            //            .block-form__price 4 900 ₽
                            //            .block-form__info
                            //                .block-form__info-text(data-type="review") Писатель и журналист Станислав «Стасс» Бабицкий родился в Иркутской области. В семье военнослужащего, поэтому переезж…
                            //                    br
                            //                    |Писатель и журналист Станислав «Стасс» Бабицкий родился в Иркутской области. В семье военнослужащего, поэтому переезж…
                            //                    a.block-form__link-more(href="" data-type="all") Подробнее
                            //            a.block-form__change.custom-btn.custom-btn--blue-text(href="#") Выбрать другую иллюстрацию
                            //.block-form__wrapper.block-form__wrapper--form
                            //    .block-form__bl-title Информация об иллюстрациях
                            //    .block-form__bl-wrapper
                            //        .block-form__bl-info
                            //            .block-form__bl-name Цветность иллюстраций
                            //            .book-info__radio.block-form__radio.block-form__radio--color
                            //                .radio-group
                            //                    input(type="radio" id="B_W_PRINT" class="c-check-color" data-check="B_W_PRINT" name="color" value="B_W_PRINT" checked="")
                            //                    label(for="B_W_PRINT") Черно-белые
                            //                    input(type="radio" id="COLOR_PRINT" class="c-check-color" data-check="COLOR_PRINT" name="color" value="COLOR_PRINT")
                            //                    label(for="COLOR_PRINT") Цветныe
                            //        .block-form__bl-info
                            //            .block-form__bl-name Количество
                            //            .cart__item-count.quantity
                            //                input(type="number" min="1" max="9" step="1" value="1" name="count")
                            //    .block-form__bl-wrapper
                            //        .block-input
                            //            textarea.input-custom.c-input-custom#comment(name="comment" data-type="textarea" cols="30" rows="5" placeholder="")
                            //            label.label-custom.c-label-custom(for="comment") Первая иллюстрация
                            //        .block-form__comment Опишите эпизод или героя, например: «Кролик с часами в жилетном кармане»
                            //    a.block-form__add-descr.custom-btn.custom-btn--blue-text(href="#" data-action="add") Добавить описание
                            //.block-form__wrapper.block-form__wrapper--form
                            //    .block-form__bl-title Информация о книге
                            //    .block-form__bl-wrapper
                            //        .block-form__input
                            //            .block-input
                            //                textarea.input-custom.c-input-custom#comment2(name="comment2" data-type="textarea" cols="30" rows="5" placeholder="")
                            //                label.label-custom.c-label-custom(for="comment2") Жанр книги
                            //            .block-form__comment Нон-фикшн, художественна, фантастика…
                            //        .block-form__input
                            //            .block-input
                            //                textarea.input-custom.c-input-custom#comment3(name="comment3" data-type="textarea" cols="30" rows="5" placeholder="")
                            //                label.label-custom.c-label-custom(for="comment3") Краткий пересказ книги или аннотация
                            //            .block-form__comment Данная информация даст художнику представление о книге без ее прочтения
                            //    .block-form__bl-wrapper
                            //        .block-form__tab
                            //            a(href="#download" title='www.yoneg.ru' data-link="#download").block-form__download.c-profile-tab.active Загрузить рукопись
                            //            a(href="#change-download" title='www.yoneg.ru' data-link="#change-download").block-form__change-download.c-profile-tab Взять из личного кабинета
                            //        .block-form__tab-contents
                            //            #download.block-form__tab-content.c-profile-block.active
                            //                .block-input
                            //                    .fallback.dropzone-steps.clearfix#upload(action="" method="POST")
                            //                        .preloader.c-preloader
                            //                            img(src="images/content/preloader-24.gif" alt="")
                            //                        input(name="file" type="file")
                            //                        .info
                            //                            .c-steps.c-steps-1.active
                            //                                button.fallback__btn.custom-btn.custom-btn--green Загрузите рукопись
                            //                                .fallback__text Выберите файл .doc/.docx
                            //                .block-form__comment
                            //                        .fallback__text-block.clearfix
                            //                            .text.clearfix.text--with-svg
                            //                                svg.icon-text(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48")
                            //                                    defs
                            //                                        linearGradient(id="a" x1="-6.557%" x2="85.12%" y1="42.211%" y2="42.211%")
                            //                                            stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                            //                                            stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                            //                                            stop(offset="100%")
                            //                                        linearGradient(id="b" x1="85.12%" x2="-6.557%" y1="42.211%" y2="42.211%")
                            //                                            stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                            //                                            stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                            //                                            stop(offset="100%")
                            //                                    g(fill="none" fill-rule="evenodd")
                            //                                        path(fill="#000" d="M23 7.601c-4.435 4.418-10.796 5.757-16 5.757C7 26.017 14.216 37.243 23 43c8.783-5.757 16-16.983 16-29.642-5.204 0-11.565-1.339-16-5.757z")
                            //                                        path(fill="url(#a)" d="M16 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".5" transform="translate(7 5)")
                            //                                        path(fill="url(#b)" d="M0 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".4" transform="matrix(-1 0 0 1 23 5)")
                            //                                        path(fill="#7CCB26" d="M31.141 18.083c-4.615 2.806-7.963 6.215-9.5 7.958l-3.914-2.92L16 24.446 22.761 31c1.139-2.78 4.693-8.157 9.063-12.082a.51.51 0 0 0 .13-.595.573.573 0 0 0-.813-.24")
                            //                                p.block-form__fallback-text
                            //                                    | Ваша рукопись в безопасности.
                            //                                    | Bookscriptor гарантирует
                            //                                    | конфиденциальность по отношению ко
                            //                                    | всем вашим материалам
                            //                                .clearfix
                            //            #change-download.block-form__tab-content.c-profile-block
                            //                select.select-custom.c-select(name="bookName")
                            //                    option(selected)
                            //                        |Выберите рукопись из списка
                            //                    option(value="Sample_Copyediting.doc")
                            //                        | Sample_Copyediting.doc
                            //                    option(value="Sample_Copyediting.doc")
                            //                        | Sample_Copyediting.doc
                            //                    option(value="Sample_Copyediting.doc")
                            //                        | Sample_Copyediting.doc
                            //.block-form__wrapper.block-form__wrapper--form
                            //    .block-form__bl-title Контактные данные
                            //    .block-form__bl-wrapper
                            //        .block-form__input
                            //            .block-input
                            //                input.input-custom.c-input-custom#email(type="text" name="email" placeholder="")
                            //                label.label-custom.c-label-custom(for="email") Эл. почта
                            //            .block-form__comment Наш менеджер перезвонит вам и уточнит всю информацию по вашему заказу
                            //        .block-form__input
                            //            .block-input
                            //                input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="")
                            //                label.label-custom.c-label-custom(for="phone") Телефон
                            //        .block-form__input
                            //            .block-input
                            //                input.input-custom.c-input-custom#name(type="text" name="name" placeholder="")
                            //                label.label-custom.c-label-custom(for="name") Ваше имя
                            //
                            //
                            //.block-form__total
                            //    .block-form__total-info
                            //        .block-form__total-item.block-form__total-count 4 цветных иллюстрации,
                            //        .block-form__total-item.block-form__total-day от 8-ми дней,
                            //        .block-form__total-item.block-form__total-cost 3999 ₽
                            //        .block-form__total-item.block-form__total-old 6 490
                            //            span.rouble ₽
                            //    .block-form__total-info.clearfix
                            //        input.custom-btn.custom-btn--green(type="submit" value="Перейти к оплате →")
                            //        .cart__success-text Я ознакомлен
                            //            a(href="#") с правилами
                            //        a.block-form__callback.custom-btn.custom-btn--blue-text.c-popup-confirm(href="#popup-callback") Заказать обратный звонок
            +create-popup-callback("popup-callback", "Заявка на обратный звонок", "", "Перезвоните мне", "")
            include /blocks/footer.jade
            script(src="./js/slick.min.js")
            script(src="./js/image.js")