- var title= 'Bookscriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-search.jade
                .content
                    ul(style="padding-top: 60px; width: 80%; margin: 0; min-height: 400px; display: block; text-decoration: underline")
                        li(style="display:list-item;")
                            a(href="main.html" title="Главная")= 'Главная'
                        li(style="display:list-item;")
                            a(href="planeta.html" title="Планета - Крауд")= 'Планета - Крауд'
                        li(style="display:list-item;")
                            a(href="my-office.html" title="Мой кабинет")= 'Мой кабинет'
                        li(style="display:list-item;")
                            a(href="my-office-empty.html" title="Мой кабинет-пустой")= 'Мой кабинет-пустой'
                        li(style="display:list-item;")
                            a(href="my-office-empty2.html" title="Мой кабинет-пустой2")= 'Мой кабинет-пустой2'
                        li(style="display:list-item;")
                            a(href="profile-preview.html" title="Профиль")= 'Профиль'
                        li(style="display:list-item;")
                            a(href="profile-preview-empty.html" title="Профиль")= 'Профиль-пустой'
                        li(style="display:list-item;")
                            a(href="profile-preview-empty2.html" title="Профиль")= 'Профиль-пустой2'
                        li(style="display:list-item;")
                            a(href="profile-settings.html" title="Профиль-настройки")= 'Профиль-настройки'
                        li(style="display:list-item;")
                            a(href="fee.html" title="Гонорары")= 'Гонорары'
                        li(style="display:list-item;")
                            a(href="fee-empty.html" title="Гонорары")= 'Гонорары-пустые'
                        li(style="display:list-item;")
                            a(href="fee-error.html" title="Гонорары")= 'Гонорары-ошибка'
                        li(style="display:list-item;")
                            a(href="my-orders.html" title="Мои заказы")= 'Мои заказы'
                        li(style="display:list-item;")
                            a(href="orders-empty.html" title="Мои заказы - пусто")= 'Мои заказы - пусто'
                        li(style="display:list-item;")
                            a(href="order-detail.html" title="Заказ - детальная")= 'Заказ - детальная'
                        li(style="display:list-item;")
                            a(href="library.html" title="Библиотека")= 'Библиотека'
                        li(style="display:list-item;")
                            a(href="library-empty.html" title="Библиотека")= 'Библиотека-пустая'
                        li(style="display:list-item;")
                            a(href="proofreading.html" title="Корректура")= 'Корректура'
                        li(style="display:list-item;")
                            a(href="editing.html" title="Литературная редактура")= 'Литературная редактура'
                        li(style="display:list-item;")
                            a(href="service-book.html" title="Книга под ключ")= 'Книга под ключ'
                        li(style="display:list-item;")
                            a(href="POD-header.html" title="POD шапка")= 'POD шапка'
                        li(style="display:list-item;")
                            a(href="services.html" title="Услуги")= 'Услуги'
                        li(style="display:list-item;")
                            a(href="design.html" title="Дизайн макета")= 'Дизайн макета'
                        li(style="display:list-item;")
                            a(href="inner.html" title="Внутренняя страница раздела")= 'Внутренняя страница раздела'
                        li(style="display:list-item;")
                            a(href="blog.html" title="Блог")= 'Блог'
                        li(style="display:list-item;")
                            a(href="design-cover.html" title="Дизайн обложки")= 'Дизайн обложки'
                        li(style="display:list-item;")
                            a(href="annotation.html" title="Аннотация книги")= 'Аннотация книги'
                        li(style="display:list-item;")
                            a(href="annotation-cover.html" title="Аннотация плюс обложка")= 'Аннотация плюс обложка'
                        li(style="display:list-item;")
                            a(href="cart.html" title="Корзина-доставка")= 'Корзина-доставка'
                        li(style="display:list-item;")
                            a(href="cart-list.html" title="Корзина")= 'Корзина-список'
                        li(style="display:list-item;")
                            a(href="book.html" title="Книга - детальная")= 'Книга - детальная'
                        li(style="display:list-item;")
                            a(href="book-el.html" title="Книга - детальная")= 'Книга - детальная(электронная)'
                        li(style="display:list-item;")
                            a(href="book-el-free.html" title="Книга - детальная")= 'Книга - детальная(бесплатная)'
                        li(style="display:list-item;")
                            a(href="book-el-free-biblio.html" title="Книга - детальная")= 'Книга - детальная(в библиотеке)'
                        li(style="display:list-item;")
                            a(href="image.html" title="Создание иллюстраций Шаг 1")= 'Создание иллюстраций - Шаг 1'
                        li(style="display:list-item;")
                            a(href="image-2.html" title="Создание иллюстраций Шаг 2")= 'Создание иллюстраций - Шаг 2 - Форма'
                        li(style="display:list-item;")
                            a(href="image-3.html" title="Создание иллюстраций Шаг 3")= 'Создание иллюстраций - Шаг 3 - Список иллюстраций'
                        li(style="display:list-item;")
                            a(href="catalog.html" title="Каталог")= 'Каталог'
                        li(style="display:list-item;")
                            a(href="catalog-category-inner.html" title="Каталог - Категория детальная")= 'Категория детальная'
                        li(style="display:list-item;")
                            a(href="createbook-step-1.html" title="Создание новой книги Шаг 1")= 'Создание новой книги Шаг 1'
                        li(style="display:list-item;")
                            a(href="createbook-step-1-download.html" title="Создание новой книги Шаг 1 Скачать")= 'Создание новой книги Шаг 1 Скачать'
                        li(style="display:list-item;")
                            a(href="createbook-step-2.html" title="Создание новой книги Шаг 2")= 'Создание новой книги Шаг 2'
                        li(style="display:list-item;")
                            a(href="createbook-step-4.html" title="Создание новой книги Шаг 4")= 'Создание новой книги Шаг 4'
                        li(style="display:list-item;")
                            a(href="createbook-step-4-download.html" title="Создание новой книги Шаг 4 Скачать")= 'Создание новой книги Шаг 4 Скачать'
                        li(style="display:list-item;")
                            a(href="createbook-step-5.html" title="Создание новой книги Шаг 5")= 'Создание новой книги Шаг 5'
                        li(style="display:list-item;")
                            a(href="createbook-step-6.html" title="Создание новой книги Шаг 6")= 'Создание новой книги Шаг 6'
                        li(style="display:list-item;")
                            a(href="createbook-step-6-select.html" title="Создание новой книги Шаг 6 Select")= 'Создание новой книги Шаг 6 Select'
                        li(style="display:list-item;")
                            a(href="createbook-step-6-select-2.html" title="Создание новой книги Шаг 6 Select-2")= 'Создание новой книги Шаг 6 Select-2'
                        li(style="display:list-item;")
                            a(href="createbook-step-4-constructor.html" title="Создание новой книги Шаг 4  Конструктор обложки")= 'Создание новой книги Шаг 4  Конструктор обложки'
                        li(style="display:list-item;")
                            a(href="createbook-step-2-editor-1.html" title="Создание новой книги Шаг 2  Editor 1")= 'Создание новой книги Шаг 2  Editor 1'
                        li(style="display:list-item;")
                            a(href="createbook-step-2-editor-2.html" title="Создание новой книги Шаг 2  Editor 2")= 'Создание новой книги Шаг 2  Editor 2'
                        li(style="display:list-item;")
                            a(href="createbook-step-2-editor-3.html" title="Создание новой книги Шаг 2  Editor 3")= 'Создание новой книги Шаг 2  Editor 3'
                        li(style="display:list-item;")
                            a(href="awward.html" title="Премия Booksсriptor")= 'Премия Booksсriptor'

                        li(style="display:list-item;")
                            a(href="createbook-step-4-constructor-list" title="Создание новой книги Шаг 4  Конструктор обложки")= 'Создание новой книги Шаг 4  Конструктор обложки Другой вариант списка'

                        li(style="display:list-item;")
                            a(href="createbook-step-4-constructor-preloader" title="Создание новой книги Шаг 4  Конструктор обложки")= 'Создание новой книги Шаг 4  Конструктор обложки прелоадер'
                            



            include /blocks/footer-blue.jade