- var title= 'Внутренняя странциа'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap
            .content-wrapper
                include /blocks/header-white.jade
                
                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                
                .main-screen.main-screen--section
                    .main-screen--section__shadow
                    .main-screen--section__content
                        .main-screen--section__img
                            svg(xmlns="http://www.w3.org/2000/svg" width="64" height="62" viewBox="0 0 64 62")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settings")
                        .main-screen--section__title Почему изоморфна времени
                            br
                            |визуализация концепии?

                .content
                    .container__inner-page
                        .container__title Подготовка книги к публикации
                        .container__text
                            p
                                |До недавнего времени считалось, что контент продуцирует маркетинг. Стратегический рыночный план порождает культурный презентационный материал. Цена клика, в рамках сегодняшних воззрений, развивает культурный рекламоноситель.
                            p
                                |Медийная связь позиционирует коллективный охват аудитории, не считаясь с затратами. В рамках концепции Акоффа и Стэка, фокусировка тормозит конвергентный медиамикс. По сути, медиаплан поддерживает фактор коммуникации. Привлечение аудитории недостижимо.
                        .container__list
                            .container__list-item
                                .container__item-numder 1
                                .container__item-text Пункт первый
                            .container__list-item
                                .container__item-numder 2
                                .container__item-text Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__list-item
                                .container__item-numder 3
                                .container__item-text Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                        .container__text
                            p
                                | Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс. Поэтому селекция бренда стабилизирует пак-шот. Потребление консолидирует популярный выставочный стенд. Поэтому сегмент рынка тормозит фирменный медиамикс.
                    .container__quote Нам не важно, сколько вам лет и где вы живете. Для нас имеет значение только качество результатов вашего труда и соблюдение сроков
                    .container__inner-page.container__inner-page--margin
                        .container__text
                            p
                                |Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс. Поэтому селекция бренда стабилизирует пак-шот. Потребление консолидирует популярный выставочный стенд. Поэтому сегмент рынка тормозит фирменный медиамикс.
                    .container__img
                        .container__image
                            img(src="images/content/cyprus.jpg" alt="")
                        .container__image-name Вместо березок на Кипре финиковые пальмы
                    .container__inner-page.container__inner-page--margin
                        .container__text
                            p
                                | Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс. Поэтому селекция бренда стабилизирует пак-шот. Потребление консолидирует популярный выставочный стенд. Поэтому сегмент рынка тормозит фирменный медиамикс.
                    .container__inner-page.container__inner-page--bg-number
                        .container__bg-number 1
                        .container__bg-number-content
                            .container__title Подготовка книги к публикации
                            .container__list
                                .container__list-item
                                    .container__item-numder 1
                                    .container__item-text Загрузите файл с текстом книги в Мастерской. Подойдет формат .doc, .docx, .rtf и .epub
                                .container__list-item
                                    .container__item-numder 2
                                    .container__item-text Укажите название книги, фамилию и имя автора
                                .container__list-item
                                    .container__item-numder 3
                                    .container__item-text Онлайн-редактор автоматически выстроит оглавление; проверьте его и поправьте, если это нужно
                                .container__list-item
                                    .container__item-numder 4
                                    .container__item-text На этом этапе книгу видите только вы: она недоступна другим пользователям
                    .container__inner-page.container__inner-page--bg-number
                        .container__bg-number 2
                        .container__bg-number-content
                            .container__title Модерация — проверка произведения на соответствие правилам сайта
                            .container__list
                                .container__list-item
                                    .container__item-numder 1
                                    .container__item-text Загрузите файл с текстом книги в Мастерской. Подойдет формат .doc, .docx, .rtf и .epub
                                .container__list-item
                                    .container__item-numder 2
                                    .container__item-text Укажите название книги, фамилию и имя автора
                                .container__list-item
                                    .container__item-numder 3
                                    .container__item-text Онлайн-редактор автоматически выстроит оглавление; проверьте его и поправьте, если это нужно
                                .container__list-item
                                    .container__item-numder 4
                                    .container__item-text На этом этапе книгу видите только вы: она недоступна другим пользователям
                    .container__inner-page
                        .container__title Вопрос ответ
                        .container__subtitle Безопасность
                        .container__accordion(data-type="accordion")
                            .container__accordion-item Кому принадлежат авторские права на опубликованные произведения?
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__accordion-item Как книга защищена от пиратского скачивания?
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__accordion-item Текст который нужно раскрыть
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                        .container__subtitle.container__subtitle--margin Публикация
                        .container__accordion(data-type="accordion")
                            .container__accordion-item Кому принадлежат авторские права на опубликованные произведения?
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__accordion-item Как книга защищена от пиратского скачивания?
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__accordion-item Текст который нужно раскрыть
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                        .container__subtitle.container__subtitle--margin Финансы
                        .container__accordion(data-type="accordion")
                            .container__accordion-item Кому принадлежат авторские права на опубликованные произведения?
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс. Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__accordion-item Как книга защищена от пиратского скачивания?
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                            .container__accordion-item Текст который нужно раскрыть
                                .container__decor
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus")
                            .container__accordion-content Итак, ясно, что product placement нейтрализует бюджет на размещение, оптимизируя бюджеты. Стоит отметить, что стратегический маркетинг интуитивно программирует ролевой медиамикс.
                        .container__footer-inside
                            .container__share
                            .container__date
                                .container__date--public 17 августа 2017
                                .container__date--view 17 августа 2017

                .container__inner-page.container__inner-page--bottom
                    .content
                        .container__column
                            .container__column-title Название темы
                            a(href="javascript:void(0);").container__column-item О нас
                            a(href="javascript:void(0);").container__column-item Пользовательские соглашения
                            a(href="javascript:void(0);").container__column-item Как работает Bookscriptor?
                        .container__column
                            .container__column-title Название темы
                            a(href="javascript:void(0);").container__column-item Как оплатить покупки и услуги?
                            a(href="javascript:void(0);").container__column-item Обмен и возврат товара
                            a(href="javascript:void(0);").container__column-item Как подготовить файл к загрузке?
                        .container__column
                            .container__column-title Название темы
                            a(href="javascript:void(0);").container__column-item Как перевести файл в формат .docx?
                            a(href="javascript:void(0);").container__column-item Как приобрести книгу?
                            a(href="javascript:void(0);").container__column-item Правила сайта
                        .container__callback
                            .container__column-title Остались вопросы?
                            form.editing-callback.c-callback-form(name="callback_form")
                                .editing-callback__text Оставьте заявку, наш менеджер перезвонит вам
                                .block-input
                                    input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                                input.custom-btn.custom-btn--white(type="submit" value="Перезвоните мне")
                            form.editing-callback.editing-callback--success.c-callback-success
                                .editing-callback--success__img
                                .editing-callback--success__text Заявка на звонок успешно отправлена!
                                a.editing-callback--success__link.c-send-yet Отправить еще


            include /blocks/footer-blue.jade
            script(src="./js/inside.js")