include /blocks/submenu.jade
include /blocks/library-book.jade

- var title= 'Библиотека'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                +submenu(4, 'Мой кабинет', 'Гонорар', 'Профиль', 'Мои заказы', 'Библиотека')
                .content
                
                    .custom-library
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +library-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                    .library-empty.hidden.c-library-empty
                        .library-empty__img
                        .library-empty__txt У вас пока нет книг в бибилиотеке
                        .library-empty__btn
                            a(href="").custom-btn.custom-btn-blue Перейти в каталог
                   
                include /blocks/footer-blue.jade
                script(src="./js/library.js")