- var title= 'Bookscriptor'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer
            .content-wrapper
                .main-screen
                    .main-screen__shadow
                    include /blocks/header-white.jade
                    .content
                        .main-screen__title-block
                            .main-screen__title
                                |Войдите в мир большой литературы
                                .main-screen__label
                                    span
                                        | 20 000
                                    | книг уже опубликовано на Букскриптор
                        .main-screen__desc
                            | Bookscriptor поможет превратить вашу рукопись
                            | в настоящую книгу
                        .main-screen__buttons
                            a.main-screen__button-video.popupbox-video(href="https://www.youtube.com/embed/iuUBYx3Ds9s?autoplay=1" class="fancybox.iframe")
                                span
                                    | Помотрите видео
                                    br
                                    | о нашем сервисе и…
                            a.main-screen__button-download(href="https://test.bookscriptor.ru/workshop/publication/" title="")
                                |Загрузите рукопись
                .advantage
                    .content
                        .advantage__block
                            .advantage__icon
                                img(src="images/content/rights.svg" alt="")
                            .advantage__text
                                .advantage__title
                                    | Защита
                                    br
                                    | от пиратства
                                .advantage__desc
                                    | Никто не сможет
                                    br
                                    | скачать вашу книгу
                        .advantage__block
                            .advantage__icon
                                img(src="images/content/earn.svg" alt="")
                            .advantage__text
                                .advantage__title
                                    |Высокий доход
                                .advantage__desc
                                    | Вы зарабатываете 70% от продажи книги
                                    br
                                    | в интернете
                        .advantage__block
                            .advantage__icon
                                img(src="images/content/discuss.svg" alt="")
                            .advantage__text
                                .advantage__title
                                    |Авторские права
                                .advantage__desc
                                    |Вы остаетесь единственным правообладателем
                        .advantage__block
                            .advantage__icon
                                img(src="images/content/printing.svg" alt="")
                            .advantage__text
                                .advantage__title
                                    |Распространение
                                .advantage__desc
                                    | Продавайте свою книгу
                                    br
                                    | в электронном
                                    br
                                    | и печатном виде прямо
                                    br
                                    | с сайта
                .capabilities
                    .content
                        a.capabilities__block(href="#" target="_blank" title="")
                            .capabilities__wrapper
                                .capabilities__icon-wrapper
                                    .capabilities__icon
                                        img(src="images/content/image3_1.png" alt="")
                                .capabilities__text
                                    .capabilities__title
                                        | У вас есть
                                        br
                                        | готовая книга?
                                    .capabilities__desc
                                        | Закажите тираж
                                        br
                                        | и начните зарабатывать
                        a.capabilities__block(href="#" target="_blank" title="")
                            .capabilities__wrapper
                                .capabilities__icon-wrapper
                                    .capabilities__icon.capabilities__icon--big
                                        img(src="images/content/image3_2.png" alt="")
                                .capabilities__text
                                    .capabilities__title
                                        | Не хватает средств
                                        br
                                        | на издание книги?
                                    .capabilities__desc
                                        |Воспользуйтесь возможностями краудфандинга
                        a.capabilities__block(href="#" target="_blank" title="")
                            .capabilities__wrapper
                                .capabilities__icon-wrapper
                                    .capabilities__icon
                                        img(src="images/content/image3_3.png" alt="")
                                .capabilities__text
                                    .capabilities__title
                                        |Книга на начальном этапе или есть только идея?
                                    .capabilities__desc
                                        |Ознакомьтесь с новой услугой «Книга под ключ»
                .order
                    .content
                        .order__title
                            | Закажите печать книги
                            br
                            | с доставкой по России
                        .order__wrapper
                            .order__block
                                .order__block-wrapper
                                    .order__icon.icon1
                                        img(src="images/content/book_1.png" alt="")
                                    .order__text
                                        |Загрузите ее на Bookscriptor, закажите тираж и начните зарабатывать
                            .order__block
                                .order__block-wrapper
                                    .order__icon.icon2
                                        img(src="images/content/book_2.png" alt="")
                                    .order__text
                                        | Твердая
                                        br
                                        | или мягкая обложка
                            .order__block
                                .order__block-wrapper
                                    .order__icon.icon3
                                        img(src="images/content/book_3.png" alt="")
                                    .order__text
                                        | Черно-белая
                                        br
                                        | или цветная печать
                            .order__block
                                .order__block-wrapper
                                    .order__icon.icon4
                                        img(src="images/content/book_4.png" alt="")
                                    .order__text
                                        | Сделайте заказ на печать
                                        br
                                        | от 1 экземпляра
                            a.order__button(href="#" title="")
                                |Подробнее
                .personal
                    .content
                        .personal__title
                            | Персональные сервисы
                            br
                            | для наших авторов
                        .personal__content
                            .personal__items
                                a.personal__block(href="#" target="_blank" title="")
                                    .personal__text.personal__text--title
                                        | Профессиональная
                                        | корректура
                                    .personal__icon.icon-one.c-animate
                                        img(src="images/content/prof_1.png" alt="")
                                        .word.word--one
                                            img(src="images/content/editing-line.svg" alt="")
                                            img(src="images/content/editing-underlined.svg" alt="")
                                        .word.word--two
                                            img(src="images/content/editing-line.svg" alt="")
                                            img(src="images/content/editing-underlined.svg" alt="")
                                        .word.word--three
                                            img(src="images/content/editing-line.svg" alt="")
                                            img(src="images/content/editing-underlined.svg" alt="")
                                    .personal__text.c-start-animate
                                        | Проверим текст и исправим все
                                        br
                                        |ошибки
                                    .personal__button
                                        | Подробнее
                                a.personal__block(href="#" target="_blank" title="")
                                    .personal__text.personal__text--title
                                        | Литературная
                                        | редактура
                                    .personal__icon.icon-two.c-animate
                                        img(src="images/content/prof_2.png" alt="")
                                        .image.image--one
                                            img(src="images/content/editing-round.svg" alt="")
                                        .image.image--two
                                            img(src="images/content/arrow-basis.svg" alt="")
                                        .image.image--three
                                            img(src="images/content/arrow-tip.svg" alt="")
                                    .personal__text
                                        | Исправим стилистические
                                        br
                                        |погрешности и неточности
                                    .personal__button
                                        | Подробнее
                                a.personal__block(href="#" target="_blank" title="")
                                    .personal__text.personal__text--title
                                        | Индивидуальная
                                        | верстка
                                    .personal__icon.icon-three.c-animate
                                        img(src="images/content/prof_3.png" alt="")
                                        .line--content.line--content-one
                                            .line.line--one
                                        .line--content.line--content-two
                                            .line.line--two
                                        .line--content.line--content-three
                                            .line.line--three
                                        .line--content.line--content-four
                                            .line.line--four
                                    .personal__text
                                        | Создадим макет книги
                                        br
                                        | по издательским стандартам
                                    .personal__button
                                        | Подробнее
                            a.personal__items.personal__items--all(href="https://bookscriptor.ru/services/" target="_blank" title="")
                                .personal__icon.personal__icon--all
                                    .personal__icon-text
                                        | Все
                                        br
                                        | услуги
                .grey-block
                    .grey-block__wrap
                        .content
                            .grey-block__authors
                                .grey-block__title
                                    |Наши авторы
                                a.grey-block__authors-item(href="https://bookscriptor.ru/authors/profile/8817/" target="_blank" title="")
                                    .grey-block__img
                                        img(src="images/content/babizky.jpg" alt="")
                                    .grey-block__name
                                        |Стас
                                    .grey-block__name
                                        |Бабицкий
                                a.grey-block__authors-item(href="https://bookscriptor.ru/authors/profile/11018/" target="_blank"  title="")
                                    .grey-block__img
                                        img(src="images/content/belyi.png" alt="")
                                    .grey-block__name
                                        | Алексей
                                    .grey-block__name
                                        | Белый
                                a.grey-block__authors-item(href="https://bookscriptor.ru/authors/profile/12740/" target="_blank"  title="")
                                    .grey-block__img
                                        img(src="images/content/kudimova.jpg" alt="")
                                    .grey-block__name
                                        | Марина
                                    .grey-block__name
                                        | Кудимова
                                a.grey-block__authors-item(href="https://bookscriptor.ru/authors/profile/15593/" target="_blank"  title="")
                                    .grey-block__img
                                        img(src="images/content/prilepin.png" alt="")
                                    .grey-block__name
                                        | Захар
                                    .grey-block__name
                                        | Прилепин
                                a.grey-block__authors-item(href="https://bookscriptor.ru/authors/" target="_blank"  title="")
                                    .grey-block__img.grey-block__img--all.grey-block__img--no-radius
                                        .grey-block__img-text
                                            |Все
                                        .grey-block__img-count
                                            |129
                            .grey-block__reviews
                                .grey-block__title
                                    |Отзывы
                                .reviews.c-review
                                    .review__item.c-review__item
                                        .review__author
                                            .review__foto
                                                img(src="images/content/person.jpg" alt="")
                                            .review__name
                                                |Станислав Кулиш
                                            .review__role
                                                |Автор
                                        .review__content
                                            .review__title
                                                |Мне очень понравилось
                                            .review__text
                                                |Валерий Шанин — профессиональный путешественник, писатель и журналист. Член Союза журналистов России и Союза кругосветчиков России.
                                            .review__date
                                                |30 июня, 2016, 11:24
                                    .review__item.c-review__item
                                        .review__author
                                            .review__foto
                                                img(src="images/content/kudimova.jpg" alt="")
                                            .review__name
                                                | Марина Кудимова
                                            .review__role
                                                | Автор
                                        .review__content
                                            .review__title
                                                | Мне очень понравилось
                                            .review__text
                                                | Валерий Шанин — профессиональный путешественник, писатель и журналист. Член Союза журналистов России и Союза кругосветчиков России.
                                            .review__date
                                                | 30 июня, 2016, 11:24
                                .review__load-button
                                    a.review__load-more.c-load-more(href="#" title="" data-ajax-url="ajax/reviews.html")
                                        |Больше отзывов
                                        .preloader.c-preloader
                                            img(src="images/content/preloader-24.gif" alt="")
            include /blocks/footer.jade