- var title= 'Мой кабинет'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
        include /blocks/popups.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white-lk.jade
                .main-screen.main-screen--submenu
                    .main-screen__shadow
                    .content
                        .header__menu.header__menu--submenu
                            ul()
                                li()
                                    a.header__menu-item.header__menu-item--green.active(href="#" title="Мой кабинет")
                                        span
                                            | Мой кабинет
                                li()
                                    a.header__menu-item.header__menu-item--green(href="#" title="Гонорар")
                                        span
                                            | Гонорар
                                li()
                                    a.header__menu-item.header__menu-item--green(href="#" title="Мои заказы")
                                        span
                                            | Мои заказы
                                li()
                                    a.header__menu-item.header__menu-item--green(href="#" title="Библиотека")
                                        span
                                            | Библиотека
                                li()
                                    a.header__menu-item.header__menu-item--green(href="#" title="Профиль")
                                        span
                                            | Профиль
                .container-big.container-big--color
                    .content
                        .lk-items--header
                            .block-subtitle
                                | Здравствуйте,
                                br
                                a.name(href="#")
                                    | Никита Прокудин
                                | &nbsp; :)
                        .lk-items
                            .lk-item
                                .lk-item--number
                                    | 1
                                a.lk-item--text(href="#")
                                    | Книга на модерации
                            .lk-item
                                .lk-item--number
                                    | 3
                                a.lk-item--text.lk-item--blue.c-link-anchor(href="#public")
                                    | Книги опубликовано
                            .lk-item
                                .lk-item--number
                                    | 12 864 ₽
                                a.lk-item--text.lk-item--blue(href="#")
                                    | Заработано
                            .lk-item
                                .lk-item--number
                                    | 12
                                a.lk-item--text.lk-item--blue(href="#")
                                    | Книг приобретено
                .content
                    .container-big
                        .container-big__content
                            .block-subtitle
                                | Мастерская
                            .book-items
                                a.book-item(href="https://bookscriptor.ru/workshop/")
                                    .book-item__wrapper
                                        .book-item--img.book-item--new
                                            .book-item--cross
                                                |+
                                        .custom-btn-blue
                                            |Создать книгу
                                a.book-item.c-book-item(href="#")
                                    .book-item__wrapper
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            | Уроки анализа
                                            | футбольных матчей
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    |Предпросмотр
                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull
                                                                | Отправить на модерацию
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                                                        li.delete
                                                            .li-item.c-popup-confirm(href="#delete-book")
                                                                | Удалить
                                a.book-item.c-book-item(href="#")
                                    .book-item__wrapper
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            |Как физическая активность влияет на мозг
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    | Предпросмотр
                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull
                                                                | Отправить на модерацию
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                                                        li.delete
                                                            .li-item.c-popup-confirm(href="#delete-book")
                                                                | Удалить
                                a.book-item.c-book-item(href="#")
                                    .book-item__wrapper.book-item__wrapper--rejected
                                        .rejected-label.c-time-label
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            | Обзор 100 моделей менеджмента в одной книге
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    | Предпросмотр
                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull
                                                                | Отправить на модерацию
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                                                        li.delete
                                                            .li-item.c-popup-confirm(href="#delete-book")
                                                                | Удалить
                                .book-item.book-item--big
                                    .book-item--img
                                        img(src="images/content/covers.png" alt="")
                                    a.custom-btn-blue(href="https://bookscriptor.ru/covers/")
                                        | Заказать
                                a.book-item.c-book-item(href="#")
                                    .book-item__wrapper.book-item__wrapper--approve
                                        .approve-label.c-time-label
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            | Уроки анализа
                                            | футбольных матчей
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    | Предпросмотр
                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull
                                                                | Опубликовать публично
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                //.item-hover
                                                                //    | При переходе в редактор
                                                                //    br
                                                                //    | книга будет снята
                                                                //    br
                                                                //    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                                a.book-item.c-book-item(href="#")
                                    .book-item__wrapper.book-item__wrapper--moderate
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            | Обзор 100 моделей менеджмента в одной книге
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    | Предпросмотр
                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull.c-popup-confirm(href="#cancel-moderate")
                                                                | Снять с модерации
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                .item-hover
                                                                    | При переходе в редактор
                                                                    br
                                                                    | книга будет снята
                                                                    br
                                                                    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                .item-hover
                                                                    | При переходе в редактор
                                                                    br
                                                                    | книга будет снята
                                                                    br
                                                                    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                        .container-big__content
                            a.block-icon(href="#")
                                .block-subtitle
                                    | Поможем
                                    br
                                    | выпустить
                                    br
                                    | книгу
                                    br
                                    | быстрее
                            a.block-icon(href="#")
                                .block-icon__img
                                    img(src="images/content/handwriting.svg" alt="")
                                .block-icon__text
                                    | Персональный
                                    br
                                    | помощник переведет
                                    br
                                    | рукопись в электронный
                                    br
                                    | формат
                            a.block-icon(href="#")
                                .block-icon__img
                                    img(src="images/content/syntax.svg" alt="")
                                .block-icon__text
                                    | Проверим синтаксис
                                    br
                                    | и стилистику
                            a.block-icon(href="#")
                                .block-icon__img
                                    img(src="images/content/markups.svg" alt="")
                                .block-icon__text
                                    | Откорректируем
                                    br
                                    | текст на ошибки
                            a.block-icon(href="#")
                                .block-icon__img
                                    img(src="images/content/makeup.svg" alt="")
                                .block-icon__text
                                    | Сверстаем вашу книгу
                                    br
                                    | по типографским
                                    br
                                    | стандартам
                            a.block-icon(href="#")
                                .block-icon__img
                                    img(src="images/content/prepearing.svg" alt="")
                                .block-icon__text
                                    | Поможем
                                    br
                                    | подготовить
                                    br
                                    | к печати и рассчитать
                                    br
                                    | тираж

                        .container-big__content#approve
                            .block-subtitle
                                | Утверждены модератором
                            .book-items
                                .book-item
                                    .book-item__wrapper
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            | Уроки анализа
                                            | футбольных матчей
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    | Предпросмотр
                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull
                                                                | Опубликовать публично
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                .item-hover
                                                                    | При переходе в редактор
                                                                    br
                                                                    | книга будет снята
                                                                    br
                                                                    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                .item-hover
                                                                    | При переходе в редактор
                                                                    br
                                                                    | книга будет снята
                                                                    br
                                                                    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                                .book-item
                                    .book-item__wrapper
                                        .book-item--img
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .book-item--name
                                            | Как физическая активность влияет на мозг
                                        .book-item__wrapper--hover
                                            .btn-book.btn-book--left.link-view.c-link-view
                                                .contextmenu--hover
                                                    | Предпросмотр

                                            .btn-book.btn-book--right.c-link-contextmenu
                                                .c-content-contextmenu.content-contextmenu
                                                    ul
                                                        li
                                                            .li-item.pull
                                                                | Опубликовать публично
                                                        li.show-hover
                                                            .li-item.change
                                                                | Изменить в редакторе
                                                                .item-hover
                                                                    | При переходе в редактор
                                                                    br
                                                                    | книга будет снята
                                                                    br
                                                                    | с модерации
                                                        li.show-hover
                                                            .li-item.chenge-cover
                                                                | Изменить обложку
                                                                .item-hover
                                                                    | При переходе в редактор
                                                                    br
                                                                    | книга будет снята
                                                                    br
                                                                    | с модерации
                                                        li
                                                            .li-item.parameters
                                                                | Параметры публикации
                        a.c-anchor(href="" name="public")
                        .container-big__content#public-book
                            .block-subtitle
                                | Опубликованные книги
                            table.public-books
                                thead
                                    tr
                                        th
                                            |Книга
                                        th
                                        th
                                            | Информация
                                        th.result
                                            | Скачано/
                                            span.small-icon
                                                img(src="images/content/download.svg" alt="")
                                            br
                                            | напечатано
                                            span.small-icon
                                                img(src="images/content/print.svg" alt="")
                                        th.comment
                                            | Комментариев
                                            span.small-icon
                                                img(src="images/content/comment.svg" alt="")
                                        th.cash
                                            | Заработано
                                            span.small-icon
                                                img(src="images/content/rouble.svg" alt="")
                                tboby
                                    tr.book-string
                                        td.book
                                            img(src="images/content/icon-table-1.jpg" alt="")
                                            .book-item__wrapper--hover
                                                .btn-book.btn-book--left.link-view.c-link-view
                                                    .contextmenu--hover
                                                        | Предпросмотр
                                                .btn-book.btn-book--right.c-link-contextmenu
                                                    .c-content-contextmenu.content-contextmenu
                                                        ul
                                                            li
                                                                .li-item.pull.c-popup-confirm(href="#cancel-public")
                                                                    | Снять с публикации
                                                            li.show-hover
                                                                .li-item.change
                                                                    | Изменить в редакторе
                                                                    .item-hover
                                                                        | При переходе в редактор
                                                                        br
                                                                        | книга будет снята
                                                                        br
                                                                        | с публикации
                                                            li.show-hover
                                                                .li-item.chenge-cover
                                                                    | Изменить обложку
                                                                    .item-hover
                                                                        | При переходе в редактор
                                                                        br
                                                                        | книга будет снята
                                                                        br
                                                                        | с публикации
                                                            li
                                                                .li-item.parameters
                                                                    | Параметры публикации
                                        td.name
                                            | Три дня
                                            br
                                            | на необитаемом
                                            br
                                            | острове
                                            .icons
                                                img(src="images/content/ebook.svg" alt="")
                                        td.info
                                            | Дата публикации
                                            .date
                                                |19 июня, 2016
                                            |Возрастное ограниечение
                                            .age
                                                |0+
                                        td.result
                                            .big-number
                                                |0
                                                span.small-icon
                                                    img(src="images/content/download.svg" alt="")
                                        td.comment
                                            .big-number
                                                | 0
                                                span.small-icon
                                                    img(src="images/content/comment.svg" alt="")
                                        td.cash
                                            .big-number
                                                | 0
                                                span.small-icon
                                                    img(src="images/content/rouble.svg" alt="")
                                    tr.book-string
                                        td.book
                                            img(src="images/content/icon-table-1.jpg" alt="")
                                            .book-item__wrapper--hover
                                                .btn-book.btn-book--left.link-view.c-link-view
                                                    .contextmenu--hover
                                                        | Предпросмотр
                                                .btn-book.btn-book--right.c-link-contextmenu
                                                    .c-content-contextmenu.content-contextmenu
                                                        ul
                                                            li
                                                                .li-item.pull.c-popup-confirm(href="#cancel-public")
                                                                    | Снять с публикации
                                                            li.show-hover
                                                                .li-item.change
                                                                    | Изменить в редакторе
                                                                    .item-hover
                                                                        | При переходе в редактор
                                                                        br
                                                                        | книга будет снята
                                                                        br
                                                                        | с публикации
                                                            li.show-hover
                                                                .li-item.chenge-cover
                                                                    | Изменить обложку
                                                                    .item-hover
                                                                        | При переходе в редактор
                                                                        br
                                                                        | книга будет снята
                                                                        br
                                                                        | с публикации
                                                            li
                                                                .li-item.parameters
                                                                    | Параметры публикации
                                        td.name
                                            | Три дня
                                            br
                                            | на необитаемом
                                            br
                                            | острове
                                            .icons
                                                img(src="images/content/ebook.svg" alt="")
                                        td.info
                                            | Дата публикации
                                            .date
                                                | 19 июня, 2016
                                            | Возрастное ограниечение
                                            .age
                                                | 0+
                                        td.result
                                            .big-number
                                                | 3 650
                                                span.small-icon
                                                    img(src="images/content/download.svg" alt="")
                                            .big-number
                                                | 12 848
                                                span.small-icon
                                                    img(src="images/content/print.svg" alt="")
                                        td.comment
                                            .big-number
                                                | 1 450
                                                span.small-icon
                                                    img(src="images/content/comment.svg" alt="")
                                        td.cash
                                            .big-number
                                                | 1 234 000
                                                span.small-icon
                                                    img(src="images/content/rouble.svg" alt="")
                                    tr.book-string
                                        td.book
                                            img(src="images/content/icon-table-1.jpg" alt="")
                                            .book-item__wrapper--hover
                                                .btn-book.btn-book--left.link-view.c-link-view
                                                    .contextmenu--hover
                                                        | Предпросмотр
                                                .btn-book.btn-book--right.c-link-contextmenu
                                                    .c-content-contextmenu.content-contextmenu
                                                        ul
                                                            li
                                                                .li-item.pull.c-popup-confirm(href="#cancel-public")
                                                                    | Снять с публикации
                                                            li.show-hover
                                                                .li-item.change
                                                                    | Изменить в редакторе
                                                                    .item-hover
                                                                        | При переходе в редактор
                                                                        br
                                                                        | книга будет снята
                                                                        br
                                                                        | с публикации
                                                            li.show-hover
                                                                .li-item.chenge-cover
                                                                    | Изменить обложку
                                                                    .item-hover
                                                                        | При переходе в редактор
                                                                        br
                                                                        | книга будет снята
                                                                        br
                                                                        | с модерации
                                                            li
                                                                .li-item.parameters
                                                                    | Параметры публикации
                                        td.name
                                            | Три дня
                                            br
                                            | на необитаемом
                                            br
                                            | острове
                                            .icons
                                                img(src="images/content/ebook.svg" alt="")
                                                img(src="images/content/printed-book.svg" alt="")
                                        td.info
                                            | Дата публикации
                                            .date
                                                | 19 июня, 2016
                                            | Возрастное ограниечение
                                            .age
                                                | 0+
                                        td.result
                                            .big-number
                                                |26
                                                span.small-icon
                                                    img(src="images/content/download.svg" alt="")
                                        td.comment
                                            .big-number
                                                | 2
                                                span.small-icon
                                                    img(src="images/content/comment.svg" alt="")
                                        td.cash
                                            .big-number
                                                | 1 280
                                                span.small-icon
                                                    img(src="images/content/rouble.svg" alt="")
            .clear
            <!-- BEGIN footer -->
            footer.footer.footer--blue
                .content
                    .footer__block
                        a.footer__block-email(href="mailto:Support@bookscriptor.ru" title="")
                            | Support@bookscriptor.ru
                        .footer__block-social
                            a.social-icon.social-icon--ok(href="#" target="_blank" title="")
                                svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12,12A5,5,0,1,0,7,7,5,5,0,0,0,12,12Zm0-7a2,2,0,1,1-2,2A2.00225,2.00225,0,0,1,12,5Z")
                                    path(d="M13.8288,16.049a9.33918,9.33918,0,0,0,3.14972-1.2243,1.39994,1.39994,0,1,0-1.48437-2.374,6.71562,6.71562,0,0,1-6.88281.064A1.40038,1.40038,0,0,0,7.16992,14.916a9.34977,9.34977,0,0,0,3.00079,1.13348L7.00977,19.21045a1.40006,1.40006,0,1,0,1.98047,1.97949L12,18.18018l3.00977,3.00977a1.40006,1.40006,0,1,0,1.98047-1.97949Z")
                            a.social-icon.social-icon--vk(href="#" target="_blank" title="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13")
                                    path( fill-rule="evenodd" d="M21.059 10.91a1.416 1.416 0 0 0-.072-.139c-.367-.66-1.069-1.473-2.105-2.436l-.022-.022-.011-.01-.011-.012h-.011c-.47-.448-.768-.75-.893-.904-.228-.294-.28-.592-.155-.893.089-.228.419-.709.992-1.444.302-.389.541-.702.716-.937 1.272-1.69 1.823-2.77 1.654-3.24l-.065-.11c-.045-.067-.158-.127-.342-.182-.183-.056-.419-.065-.705-.028l-3.175.022a.404.404 0 0 0-.22.006l-.144.033-.055.028-.044.033a.465.465 0 0 0-.121.115.753.753 0 0 0-.11.193 18.044 18.044 0 0 1-1.18 2.48c-.272.456-.522.851-.75 1.185a5.713 5.713 0 0 1-.573.74 3.901 3.901 0 0 1-.418.38c-.126.095-.221.135-.287.12-.066-.015-.129-.029-.188-.044a.724.724 0 0 1-.247-.27 1.2 1.2 0 0 1-.127-.43 4.828 4.828 0 0 1-.033-.975c.007-.228.011-.383.011-.463 0-.28.005-.583.016-.91.011-.327.02-.586.028-.777.007-.19.011-.393.011-.606 0-.213-.013-.38-.039-.502a1.677 1.677 0 0 0-.116-.353.591.591 0 0 0-.226-.264 1.262 1.262 0 0 0-.368-.149c-.39-.088-.886-.136-1.489-.144C8.818-.013 7.94.075 7.551.266a1.476 1.476 0 0 0-.419.331C7 .76 6.981.847 7.076.861c.442.067.753.225.938.474l.066.133c.051.095.103.264.154.507.051.242.084.51.099.804a8.52 8.52 0 0 1 0 1.38c-.036.38-.072.678-.105.891a1.803 1.803 0 0 1-.281.761.185.185 0 0 1-.055.055.82.82 0 0 1-.298.055c-.102 0-.227-.05-.374-.154a2.653 2.653 0 0 1-.458-.425 5.759 5.759 0 0 1-.535-.755 13.445 13.445 0 0 1-.617-1.146l-.176-.32c-.11-.205-.261-.505-.452-.899-.191-.393-.36-.772-.507-1.14A.73.73 0 0 0 4.21.73L4.156.696a1.137 1.137 0 0 0-.431-.165L.705.552c-.308 0-.518.07-.628.21L.033.828A.358.358 0 0 0 0 1.004a.85.85 0 0 0 .066.298A36.35 36.35 0 0 0 1.504 4.3c.518.963.968 1.738 1.35 2.326.383.588.772 1.143 1.169 1.664.397.522.66.857.788 1.004.129.147.23.257.303.33l.276.265c.176.176.435.388.777.634s.72.49 1.135.728c.416.238.899.433 1.45.584.551.15 1.088.211 1.61.181h1.267c.257-.022.452-.103.584-.242l.044-.055a.73.73 0 0 0 .083-.204c.025-.092.038-.193.038-.303a3.654 3.654 0 0 1 .072-.854c.055-.253.117-.444.188-.573.069-.129.148-.237.237-.325a.884.884 0 0 1 .187-.16.761.761 0 0 1 .088-.039c.177-.059.384 0 .623.171.239.173.462.386.673.64.209.253.461.538.754.854.295.315.552.551.772.705l.22.132a2.7 2.7 0 0 0 .574.243c.235.074.44.092.617.055l2.822-.044c.279 0 .496-.046.65-.138.155-.092.246-.193.275-.303a.838.838 0 0 0 .006-.375 1.43 1.43 0 0 0-.077-.292")
                            a.social-icon.social-icon--fb(href="#" target="_blank" title="")
                                svg(xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18")
                                    path( fill-rule="evenodd" d="M0 5.624h1.758V3.915c0-.753.019-1.915.567-2.635C2.901.518 3.693 0 5.054 0c2.218 0 3.152.316 3.152.316l-.439 2.605s-.733-.212-1.417-.212-1.296.245-1.296.929v1.986h2.804l-.196 2.544H5.054v8.84H1.758v-8.84H0V5.624z")
                        .footer__block-address
                            | 119019, Москва, ул. Воздвиженка, 9
                        .footer__block-copyright
                            | © 2006–2017 Bookscriptor
                    .footer__block
                        .footer__block-phone
                            | +7 (945) 150-54-27
                        .footer__block-phone
                            | 8 (800) 707-54-27
                        .footer__block-ours
                            | Клиентский сервис работает
                            br
                            | Пн–Пт с 10:00 до19:00
                    .footer__block
                        a.footer__link(href="" title="")
                            | Как работает Bookscriptor?
                        a.footer__link(href="" title="")
                            | Как приобрести книгу?
                        a.footer__link(href="" title="")
                            | Правила сайта
                        a.footer__link(href="" title="")
                            | Пользовательские соглашения
                    .footer__block
                        a.footer__link(href="" title="")
                            | Как оплатить покупки и услуги?
                        a.footer__link(href="" title="")
                            | Обмен и возврат товара
                        a.footer__link(href="" title="")
                            | Как подготовить файл к загрузке?

                +create-popup("cancel-public", "Снять с публикации", "Книга будет снята с публикации и перенесена в мастерскую. Для повторной публикации нужно будет пройти повторную проверку можератором.", "Снять с публикации")
                +create-popup("delete-book", "Удалить книгу", "Книга, все настройки и параметры в редакторе будут безвозвратно удалены, вы уверены?", "Да, удалить книгу")
                +create-popup("cancel-moderate", "Снять с модерации", "Книга будет снята с модерации и перенесена в мастерскую. Для повторной публикации нужно будет пройти повторную проверку можератором.", "Снять с модерации")
            script(src="./js/plugins.js")
            script(src="./js/my-office.js")
            script(src="./js/script.js")