- var title= 'Planeta'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
        include /blocks/popups.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                .main-screen.main-screen--planeta
                    .main-screen__shadow
                    .main-screen--planeta__content
                        .main-screen--planeta__img
                            img(src="images/content/logos.png")
                        .main-screen--planeta__desc
                            | Создайте книгу вместе с читателями!
                            br
                            | Planeta.ru поможет собрать средства, а Bookscriptor – издать ее.
                        .main-screen--planeta__advantages
                            .advantage__block
                                .advantage__icon
                                    img(src="images/content/icon1.svg" alt="")
                                .advantage__text
                                    .advantage__desc
                                        | Расчет стоимости
                                        br
                                        | издания
                            .advantage__block
                                .advantage__icon
                                    img(src="images/content/icon2.svg" alt="")
                                .advantage__text
                                    .advantage__desc
                                        | Запуск и  поддержка
                                        br
                                        a.c-popup-kraud(href="#popup-kraud")= 'краудфандингового'
                                        |   проекта
                            .advantage__block
                                .advantage__icon
                                    img(src="images/content/icon3.svg" alt="")
                                .advantage__text
                                    .advantage__desc
                                        | Продвижение
                                        br
                                        | в интернет-сообществе
                            .advantage__block
                                .advantage__icon
                                    img(src="images/content/icon4.svg" alt="")
                                .advantage__text
                                    .advantage__desc
                                        | Подготовка к публикации
                                        br
                                        | и изготовление тиража
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#form")
                            | Начать проект

                .bg-block
                    .content
                        .block-title
                            |Для кого создан проект
                        .bg-block__container
                            .item-part
                                .item-part__icon
                                    img(src="images/content/new.svg" alt="")
                                .item-part__title
                                    |Только в начале
                                    br
                                    |литературного пути?
                                .item-part__text
                                    |Вы сможете найти своих читателей,
                                    br
                                    |собрать отзывы, а также получите
                                    br
                                    |порцию вдохновения от общения с публикой.
                            .item-part.item-part--border
                                .item-part__icon
                                    img(src="images/content/current.svg" alt="")
                                .item-part__title
                                    | Уже есть читатели
                                    br
                                    |и поклонники?
                                .item-part__text
                                    | Пора идти в массы! Почему
                                    br
                                    |бы не рассказать о своем творчестве
                                    br
                                    |еще большему количеству людей?
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#form")
                            |Участвовать в проекте
                .b-block
                    .block-book
                        .content
                            .block-title
                                | Приемущества
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--number
                                            |100 000
                                        .block-book__text
                                            | Столько человек узнают о вашей будущей
                                            br
                                            | книге из адресных рассылок проекта
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/social.png" alt="")
                                        .block-book__text
                                            | Пользователи социальных сетей по всему
                                            br
                                            |миру увидят посты о вашем творческом
                                            br
                                            |проекте
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--number
                                            |300 000
                                        .block-book__text
                                            | Столько подписчиков дайджеста Planeta.ru
                                            br
                                            |прочитают о сборе средств на издание
                                            br
                                            |вашей книги
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--big
                                            img(src="images/content/calc.png" alt="")
                                        .block-book__text
                                            | Специалисты подберут оптимальный пакет
                                            br
                                            |издательских услуг для публикации и печати
                                            br
                                            |вашей книги
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--big
                                            img(src="images/content/team.png" alt="")
                                        .block-book__text
                                            | Профессионалы книжной индустрии
                                            br
                                            | и краудфандинга будут оказывать
                                            br
                                            |кураторскую поддержку в ходе проекта
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--big
                                            img(src="images/content/book.png" alt="")
                                        .block-book__text
                                            | Организаторы проекта предоставляют
                                            br
                                            |возможность разместить книгу на своих
                                            br
                                            |торговых площадках
                .b-block--white
                    .block-title
                        | Что предлагает проект
                    .block-book__wrapper
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/project2.svg" alt="")
                                .block-book__text
                                    | Возможность издать книгу при поддержке
                                    br
                                    |мастеров книжного дела
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/project3.svg" alt="")
                                .block-book__text
                                    | Полный цикл предпечатной
                                    br
                                    | подготовки книги и печать тиража
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon
                                    img(src="images/content/project4.svg" alt="")
                                .block-book__text
                                    | Финансовое подтверждение вашего таланта
                                    br
                                    |и актуальности вашей работы
                    .block-book__wrapper
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon.block-book__icon--big
                                    img(src="images/content/project5.svg" alt="")
                                .block-book__text
                                    |Создание яркого PR повода вокруг вас
                                    br
                                    |и вашей книги
                        .block-book__block
                            .block-book__block-wrapper
                                .block-book__icon.block-book__icon--big
                                    img(src="images/content/project6.svg" alt="")
                                .block-book__text
                                    | Деловые знакомства с профессионалами
                                    br
                                    |издательской сферы


                .b-block.b-block--no-decor
                    .block-title
                        | Как участвовать в проекте
                    .block-book__wrapper
                        .item-part.item-part--quater
                            .item-part__icon.item-part__icon--number
                                |1
                            .item-part__icon--line
                            .item-part__title
                                | Заполнить анкету
                            .item-part__text
                                | Расскажите о себе и своей книге.
                                br
                                | Не забудьте приложить
                                br
                                |рукопись к анкете!
                        .item-part.item-part--quater
                            .item-part__icon.item-part__icon--number
                                |2
                            .item-part__icon--line
                            .item-part__title
                                | Запустить краудфандинг
                            .item-part__text
                                |Специалисты Bookscriptor
                                br
                                |и Planeta.ru помогут запустить
                                br
                                |крауд-проект и подскажут,
                                br
                                |как сделать его успешным
                        .item-part.item-part--quater
                            .item-part__icon.item-part__icon--number
                                |3
                            .item-part__icon--line
                            .item-part__title
                                | Собрать средства
                            .item-part__text
                                | Развивайте свой успех.
                                br
                                |Привлекайте пользователей
                                br
                                |Интернета к поддержке
                                br
                                |вашего произведения
                        .item-part.item-part--quater
                            .item-part__icon
                                img(src="images/content/emoji.png" alt="")
                            .item-part__title
                            .item-part__text.item-part__text--no-title
                                | Получите тираж и разделите
                                br
                                |радость с читателями,
                                br
                                |которые поддержали
                                br
                                | ваше начинание
                form.color-block(action="" name='printbook_form')
                    a.color-block__arrow.c-link-anchor(href="#form")
                    a.c-anchor(href="" name="form")
                    .block-title
                        | Заполните анкету участника проекта
                    .color-block__white
                        .block-subtitle
                            |Ваши персональные данные
                        .block-input.block-input--required
                            input.input-custom.c-input-custom#name(type="text" name="name" placeholder="")
                            label.label-custom.c-label-custom(for="name")
                                |Ваше имя
                        .block-input
                            input.input-custom.c-input-custom#email(type="text" name="email" placeholder="")
                            label.label-custom.c-label-custom(for="email")
                                | E-mail
                        .block-input.block-input--required
                            input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="")
                            label.label-custom.c-label-custom(for="phone")
                                | Телефон
                    .color-block__white
                        .block-subtitle
                            |Информация о книге
                        .block-part
                            .block-input.block-input--required
                                input.input-custom.c-input-custom#nameBook(type="text" name="nameBook" placeholder="")
                                label.label-custom.c-label-custom(for="nameBook")
                                    |Название
                            .block-input
                                input.input-custom.c-input-custom#idea(type="text" name="idea" placeholder="")
                                label.label-custom.c-label-custom(for="idea")
                                    | Основная идея книги
                            .block-btn-radio.block-btn-radio--required
                                .block-btn-radio__title
                                    |Стадия готовности книги
                                .block-btn-radio__item
                                    input.radio-custom#item1(type="radio" name="stepsDone" value="Готова к передаче в издательство" checked)
                                    label.label-radio(for="item1")
                                        |Готова к передаче в издательство
                                .block-btn-radio__item
                                    input.radio-custom#item2(type="radio" name="stepsDone" value="Почти закончена, на финальной стадии")
                                    label.label-radio(for="item2")
                                        | Почти закончена, на финальной стадии
                                .block-btn-radio__item
                                    input.radio-custom#item3(type="radio" name="stepsDone" value="Написана наполовину, еще много работы впереди")
                                    label.label-radio(for="item3")
                                        | Написана наполовину, еще много работы впереди
                                .block-btn-radio__item
                                    input.radio-custom#item4(type="radio" name="stepsDone" value="Только начата, но уже есть общая идея и план")
                                    label.label-radio(for="item4")
                                        | Только начата, но уже есть общая идея и план
                        .block-part
                            .block-part--text
                                |Загрузите рукопись в формате .doc, .docx или .pdf
                            .fallback.dropzone#upload(action="" method="POST")
                                input(name="file" type="file")
                                .info
                                    button
                                        |Загрузить

                                    br
                                    |Или перетащить файл в эту область
                                .text
                                    svg.icon-text(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48")
                                        defs
                                            linearGradient(id="a" x1="-6.557%" x2="85.12%" y1="42.211%" y2="42.211%")
                                                stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                stop(offset="100%")
                                            linearGradient(id="b" x1="85.12%" x2="-6.557%" y1="42.211%" y2="42.211%")
                                                stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                stop(offset="100%")
                                        g(fill="none" fill-rule="evenodd")
                                            path(fill="#000" d="M23 7.601c-4.435 4.418-10.796 5.757-16 5.757C7 26.017 14.216 37.243 23 43c8.783-5.757 16-16.983 16-29.642-5.204 0-11.565-1.339-16-5.757z")
                                            path(fill="url(#a)" d="M16 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".5" transform="translate(7 5)")
                                            path(fill="url(#b)" d="M0 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".4" transform="matrix(-1 0 0 1 23 5)")
                                            path(fill="#7CCB26" d="M31.141 18.083c-4.615 2.806-7.963 6.215-9.5 7.958l-3.914-2.92L16 24.446 22.761 31c1.139-2.78 4.693-8.157 9.063-12.082a.51.51 0 0 0 .13-.595.573.573 0 0 0-.813-.24")
                                    p
                                        |Bookscriptor гарантирует соблюдение конфиденциальности в отношении ваших персональных данных и результатов вашего творческого труда
                    .color-block__white
                        .block-subtitle
                            |Производство
                        .block-btn-radio.block-btn-radio--required
                            .block-btn-radio__title
                                | Структура вашей книги
                            select.select-custom.c-select(name="ready")
                                option(value="Только текст" selected)
                                    |Только текст
                                option(value="В основном текст, несколько иллюстраций")
                                    | В основном текст, несколько иллюстраций
                                option(value="Преимущественно иллюстрации, текста мало")
                                    | Преимущественно иллюстрации, текста мало
                                option(value="В книге есть графики, таблицы, сноски, схемы")
                                    | В книге есть графики, таблицы, сноски, схемы
                        .block-btn-checkbox
                            .block-btn-checkbox__title
                                | Желаемый формат публикации
                            .block-btn-checkbox__item
                                input.checkbox-custom#check1(type="checkbox" name="format" value="Электронная книга" checked)
                                label.label-checkbox(for="check1")
                                    | Электронная книга
                            .block-btn-checkbox__item
                                input.checkbox-custom#check2(type="checkbox" name="format" value="Печатная книга в твердой обложке")
                                label.label-checkbox(for="check2")
                                    | Печатная книга в твердой обложке
                            .block-btn-radio__item
                                input.checkbox-custom#check3(type="checkbox" name="format" value="Печатная книга в мягкой обложке")
                                label.label-checkbox(for="check3")
                                    | Печатная книга в мягкой обложке
                        .block-btn-radio.block-btn-radio--required
                            .block-btn-radio__title
                                | Авторство
                            select.select-custom.c-select(name="author")
                                option(value="Я единственный автор книги" selected)
                                    | Я единственный автор книги
                                option(value="Книга написана в соавторстве")
                                    | Книга написана в соавторстве
                                option(value="Сборник произведений разных авторов")
                                    | Сборник произведений разных авторов
                    .bl-inner.clearfix
                        .block-btn-checkbox__item.block-btn-checkbox__item--required
                            input.checkbox-custom.c-check-confirm#confirm(type="checkbox" name="confirm" value="")
                            label.label-checkbox(for="confirm")
                                a(href="#")
                                    span
                                        | Я согласен с правилами проекта, правилами сайта
                                    br
                                    span
                                        |и условиями пользовательских соглашений
                        br
                        .block-btn-checkbox__item.block-btn-checkbox__item--required
                            input.checkbox-custom.c-check-confirm#confirm-rules(type="checkbox" name="confirmRules" value="")
                            label.label-checkbox(for="confirm-rules")
                                a(href="#")
                                    span
                                        | Я согласен с правилами проекта, правилами сайта
                                    br
                                    span
                                        | и условиями пользовательских соглашений
                        input.custom-btn.custom-btn--green(type="submit" name="send" id="send" value="Отправить заявку")
            +create-popup-kraud("popup-kraud", "Что такое краудфандинг?", "Краудфандинг — это новая философия, форма отношений между генераторами идей, авторами проектов и их аудиторией. Краудфандинг предполагает добровольное коллективное софинансирование проекта. Planeta.ru — крупнейшая российская краудфандинговая платформа, один из первых в Рунете сервисов для коллективного финансирования проектов. ", "Закрыть", "Подробнее о краудфандинге", "https://bookscriptor.ru/")
            .custom-popup.custom-popup--success-kraud#popup-success-kraud
                .custom-popup__icon-success
                    svg(xmlns="http://www.w3.org/2000/svg" width="64" height="57" viewBox="0 0 50 43")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-success")
                .custom-popup__title
                    |Заявка успешно отправлена
                .custom-popup__text
                    | Наш менеджер перезвонит вам
                    br
                    | в ближайшее время
                .custom-popup__btns.clearfix
                    a.custom-btn.custom-btn--green(href="/")
                        |На главную

            include /blocks/footer.jade
