- var title= 'Planeta'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
        include /blocks/popups.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white-lk.jade
                .main-screen.main-screen--pod
                    .main-screen__shadow
                    .main-screen--pod__content
                        .main-screen--pod__title
                            | Авторский тираж книги
                            br
                            | от 1 экземпляра с доставкой на дом
                        .main-screen--pod__desc
                            | Вы написали книгу? Закажите печать прямо сейчас по летним ценам!
                            br
                            | Быстрый и удобный способ получить тираж в короткие сроки
                            br
                            | с доставкой по России
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#calc")
                            | Перейти к расчёту
                .b-block.b-block--no-decor
                    .block-title
                        | Как участвовать в проекте
                    .block-book__wrapper
                        .item-part.item-part--quater
                            .item-part__icon.item-part__icon--number
                                | 1
                            .item-part__icon--line
                            .item-part__title
                                | Заполнить анкету
                            .item-part__text
                                | Расскажите о себе и своей книге.
                                br
                                | Не забудьте приложить
                                br
                                | рукопись к анкете!
                        .item-part.item-part--quater
                            .item-part__icon.item-part__icon--number
                                | 2
                            .item-part__icon--line
                            .item-part__title
                                | Запустить краудфандинг
                            .item-part__text
                                | Специалисты Bookscriptor
                                br
                                | и Planeta.ru помогут запустить
                                br
                                | крауд-проект и подскажут,
                                br
                                | как сделать его успешным
                        .item-part.item-part--quater
                            .item-part__icon.item-part__icon--number
                                | 3
                            .item-part__icon--line
                            .item-part__title
                                | Собрать средства
                            .item-part__text
                                | Развивайте свой успех.
                                br
                                | Привлекайте пользователей
                                br
                                | Интернета к поддержке
                                br
                                | вашего произведения
                        .item-part.item-part--quater
                            .item-part__icon
                                img(src="images/content/emoji.png" alt="")
                            .item-part__title
                            .item-part__text.item-part__text--no-title
                                | Получите тираж и разделите
                                br
                                | радость с читателями,
                                br
                                | которые поддержали
                                br
                                | ваше начинание
            a.c-anchor(href="#" name="calc")
            include /blocks/footer.jade