include /blocks/breadcrumb.jade
include /blocks/submenu.jade
include /blocks/socials.jade
include /blocks/profile-book.jade

- var title= 'Профиль'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white-lk.jade
                +submenu(2, 'Каталог книг', 'Избранное', 'Авторы')
                .content
                    .profile-breadcrumb
                        +breadcrumb('Главная', 'Все авторы')
                        a(href="/profile-settings.html" title='Редактировать профиль').profile__link.profile__link--edit Редактировать профиль
                    .profile
                        .profile__item.profile__item--photo
                            img(src="images/content/belyi.png" alt="")
                        .profile__item.profile__item--name
                            .profile__title Имя
                            .profile__val Никита Прокудин
                            .profile__title Почта
                            .profile__val yoneg@yoneg.ru
                            a(href="http://yoneg.ru/" title='www.yoneg.ru' target="_blank").profile__link www.yoneg.ru
                        .profile__item.profile__item--socials
                            .profile__socials
                                +socials()
                            .profile__title Телефон
                            .profile__val +7 (952) 668-44-22
                    .profile__desc Писатель и&nbsp;журналист Станислав &laquo;Стасс&raquo; Бабицкий родился в&nbsp;Иркутской области. В&nbsp;семье военнослужащего, поэтому переезжали часто: детство и&nbsp;юность прошли в&nbsp;южных городах&nbsp;&mdash; Ставрополе, Пятигорске, Ростове-на-Дону. Больше двадцати лет писал репортажи и&nbsp;очерки, в&nbsp;поисках интересных тем изъездил всю Россию вдоль и&nbsp;поперек. Инициатор интернет-проектов &laquo;История страны в&nbsp;анекдотах&raquo; (2007&nbsp;год) и&nbsp;&laquo;Антикризисные частушки&raquo; (2008&nbsp;год). С&nbsp;2007 по&nbsp;2013 год вел популярную авторскую рубрику &laquo;Люди, которые нас удивили&raquo;. Участвовал в&nbsp;проектах &laquo;Пусть говорят&raquo; (&laquo;Первый канал&raquo;) и&nbsp;&laquo;Прямой эфир&raquo; (Россия-1), сыграл в&nbsp;сериале &laquo;Дневник доктора Зайцевой&raquo; (СТС). В&nbsp;настоящее время работает заместителем главного редактора журнала &laquo;Антенна&nbsp;&mdash; Телесемь&raquo;. Обладает редкой формой аллергии на&nbsp;алкоголь, по&nbsp;этой причине имеет трезвый взгляд&nbsp;&mdash; всегда и&nbsp;на&nbsp;все.
                    
                    .profile__tab
                        a(href="#mybooks" title='www.yoneg.ru' data-link="#mybooks").profile__tab--item.c-profile-tab.active Книги автора
                        a(href="#favorite" title='www.yoneg.ru' data-link="#favorite").profile__tab--item.c-profile-tab Избранное
                        
                    #mybooks.profile-book.c-profile-block.active
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге', 'javascript:void(0);')
                        
                    #favorite.profile-book.c-profile-block
                        +profile-book('images/content/book-profile_1.png', 'Обзор 100 моделей менеджмента в одной книге')     
                        
                include /blocks/footer-blue.jade
                script(src="./js/profile.js")