include /blocks/breadcrumb.jade
include /blocks/submenu.jade
include /blocks/socials.jade
include /blocks/profile-book.jade

- var title= 'Профиль'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white-lk.jade
                .content
                    .profile-breadcrumb
                        +breadcrumb('Главная', 'Все авторы')
                        a(href="/profile-settings.html" title='Редактировать профиль').profile__link.profile__link--edit Редактировать профиль
                    .profile.profile--empty
                        .profile__item.profile__item--photo
                            img(src="images/content/belyi.png" alt="")
                        .profile__item.profile__item--name
                            .profile__title Имя
                            .profile__val Никита Прокудин
                            .profile__title Почта
                            .profile__val yoneg@yoneg.ru
                        .profile__item.profile__item--socials
                        
                include /blocks/footer-blue.jade
                script(src="./js/profile.js")