include /blocks/submenu.jade

- var title= 'Мой кабинет'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body(onbeforeunload="return onCancelPage()")
        .pagewrap.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white-lk.jade
                +submenu(2, 'Мой кабинет', 'Гонорар', 'Профиль', 'Мои заказы', 'Библиотека')
                .content--profile-settings
                    .content
                        form.profile-form(action="" name='profileEdit')                        
                            .profile-form__item.profile-form__item--photo
                                .c-avatar-img
                                    img(src="images/content/avatar.svg" alt="" onerror="this.src='images/content/avatar.svg';")
                                a(href="#popup-avatar").profile-form__link.c-load-avatar Загрузить фото
                                a(href="javascript:void(0);").profile-form__link.profile-form__link--remove.c-delete-avatar Удалить
                                .custom-popup.custom-popup--avatar#popup-avatar
                                    .custom-popup__title Загрузить фото
                                    .custom-popup__btn
                                        a.custom-btn.custom-btn--blue.c-load-avatar.dropzone-avatar#upload(action="" method="POST")(href="#" title="")
                                            |Выбрать файл
                                            .preloader.c-preloader
                                                img(src="images/content/preloader-24-blue-btn.gif" alt="")
                                    .custom-popup__txt 
                                            .c-popup__txt
                                                | Рекомендуем загружать фото не меньше 200х200px в формате .jpg, .jpeg или .png
                                            .preloader__txt.c-preloader-txt Фото загружается, <br>
                                                    | подождите несколько секунд
                                            
                                        
                                //span.profile-form__txt.profile-form__txt--center jpg, jpeg, png не менее 200х200px
                            
                            .profile-form__item.profile-form__item--fields
                                .profile-form__title Личная информация
                                
                                .block-input
                                    input.input-custom.c-input-custom#name(type="text" name="name" placeholder="" value="Никита Прокудин" data-value="Никита Прокудин")
                                    label.c-label-error(for="name")
                                    label.label-custom.c-label-custom(for="name")
                                        |Имя и фамилия
                                        
                                .block-input
                                    input.input-custom.c-input-custom#pseudo(type="text" name="pseudo" placeholder="" value="Александр Великий" data-value="Александр Великий")
                                    label.label-custom.c-label-custom(for="pseudo")
                                        |Псевдоним
                                        
                                .block-input
                                    input.input-custom.c-input-custom.c-input-phone.c-profile-contacts#phone(type="text" name="phone" placeholder="" value="+79526684422" data-value="+79526684422")
                                    label.c-label-error(for="name")
                                    label.label-custom.c-label-custom(for="phone")
                                        |Телефон
                                                                    
                                .block-input
                                    input.input-custom.c-input-custom.c-profile-contacts#email(type="email" name="email" placeholder="" value="yoneg@yoneg.ru" data-value="yoneg@yoneg.ru")
                                    label.c-label-error(for="name")
                                    label.label-custom.c-label-custom(for="email")
                                        |Почта
                                                                    
                                .block-input
                                    input.input-custom.c-input-custom#link(type="text" name="link" placeholder="" value="http://yoneg.ru/" data-value="http://yoneg.ru/")
                                    label.label-custom.c-label-custom(for="link")
                                        |Внешняя ссылка 
                                        
                                .block-input.profile-form__input
                                    textarea.textarea-custom.c-input-custom#about(type="text" name="about" placeholder=""  data-value="Емкость рынка естественно охватывает маркетинг. Принцип восприятия наиболее полно транслирует фирменный имидж. Стратегия позиционирования концентрирует пак-шот. Можно предположить, что медиапланирование экономит институциональный анализ зарубежного опыта, отвоевывая свою долю рынка.") Емкость рынка естественно охватывает маркетинг. Принцип восприятия наиболее полно транслирует фирменный имидж. Стратегия позиционирования концентрирует пак-шот. Можно предположить, что медиапланирование экономит институциональный анализ зарубежного опыта, отвоевывая свою долю рынка.
                                    label.label-custom.c-label-custom(for="about")
                                        |Информация о себе
                                    .profile-form__tip 
                                        | Эта информация будет автоматически добавляться <br>
                                        | к&nbsp;аннотации книги, обязательно заполните&nbsp;ее, чтобы привлечь 
                                        | внимание читателей.
                                        
                                        span 
                                            a(href="javascript:void(0);" title='Примеры описания').profile-form__link 
                                                | Посмотрите примеры описания 
                                            |&nbsp;у&nbsp;других пользователей.
                                        
                                .profile-form__title.profile-form__title--sub Адрес
                                        
                                .block-input.profile-form__input
                                    input.input-custom.c-input-custom#street(type="text" name="street" placeholder="" data-value="")
                                    label.label-custom.c-label-custom(for="street")
                                        |Улица, проспект
                                    .profile-form__tip 
                                        | Ваш адрес понадобится для покупки книг <br>
                                        | и курьерской доставки
                                        
                                .block-input.block-input--inline
                                    input.input-custom.c-input-custom#home(type="text" name="home" placeholder="" data-value="")
                                    label.label-custom.c-label-custom(for="home")
                                        |Дом
                                        
                                .block-input.block-input--inline
                                    input.input-custom.c-input-custom#flat(type="text" name="flat" placeholder="" data-value="")
                                    label.label-custom.c-label-custom(for="flat")
                                        |Квартира
                                        
                                .block-input.block-input--inline
                                    input.input-custom.c-input-custom#housing(type="text" name="housing" placeholder="" data-value="")
                                    label.label-custom.c-label-custom(for="housing")
                                        |Корпус
                                        
                                .profile-form__btn
                                    input.custom-btn.custom-btn--blue(type="submit" name="saveProfile" id="saveProfile" value="Сохранить"  data-ajax-url="")
                                        
                            .profile-form__item.profile-form__item--info
                                a(href="/profile-preview.html" title='Смотреть публичный профиль').profile-form__link.profile-form__link--show Смотреть публичный профиль
                                
                                .block-btn-radio__item.profile-form__radio
                                    input.radio-custom#item1(type="radio" name="names" value="" checked)
                                    label.label-radio(for="item1")
                                        | Показывать имя
                                        
                                .block-btn-radio__item.profile-form__radio
                                    input.radio-custom#item2(type="radio" name="names" value="")
                                    label.label-radio(for="item2")
                                        | Показывать пседвоним
                                        
                        form.profile-form.profile-form--no-margin(action="" name='profileNotification')                   
                            .profile-form__item.profile-form__item--photo   
                            
                            .profile-form__item.profile-form__item--fields
                                .profile-form__title Email уведомления
                                
                                .block-btn-checkbox__item
                                    input.checkbox-custom#check1(type="checkbox" name="electr" value="" checked)
                                    label.label-checkbox(for="check1")
                                        | Только важные события
                                        
                                .block-btn-checkbox__item
                                    input.checkbox-custom#check2(type="checkbox" name="hardCover" value="" checked)
                                    label.label-checkbox(for="check2")
                                        | Еженедельный дайджест событий
                                        
                                .profile-form__title.profile-form__title--sub Ссылки на социальные сети
                                
                                .block-input.profile-form__input
                                    input.input-custom.c-input-custom#fb(type="text" name="fb" placeholder="" value="nick.prokudin.5" data-value="nick.prokudin.5")
                                    label.label-custom.c-label-custom(for="fb")
                                        |Facebook
                                    .profile-form__tip 
                                        | Чтобы общаться с читателями в социальных сетях, <br>
                                        | оставьте ссылки на личные профили или группы.
                                        
                                .block-input
                                    input.input-custom.c-input-custom#vk(type="text" name="vk" placeholder="" value="yoneg" data-value="yoneg")
                                    label.label-custom.c-label-custom(for="vk")
                                        |Vkontakte
                                        
                                .block-input
                                    input.input-custom.c-input-custom#instagram(type="text" name="instagram" placeholder="" value="yoneg" data-value="yoneg")
                                    label.label-custom.c-label-custom(for="instagram")
                                        |Instagram
                                        
                                a(href="javascript:void(0);" title='Добавить другие социальные сети').profile-form__link.profile-form__link--socials.c-add-other-socials  Добавить другие социальные сети
                                
                                .profile-form__socials.c-other-socials                                      
                                    .block-input
                                        input.input-custom.c-input-custom#twitter(type="text" name="twitter" placeholder="" data-value="")
                                        label.label-custom.c-label-custom(for="twitter")
                                            |Twitter

                                    .block-input
                                        input.input-custom.c-input-custom#youtube(type="text" name="youtube" placeholder="" data-value="")
                                        label.label-custom.c-label-custom(for="youtube")
                                            |Youtube
                                        
                                .profile-form__btn
                                    input.custom-btn.custom-btn--blue(type="submit" name="saveNotifications" id="saveNotifications" value="Сохранить" data-ajax-url="")
                                    
                                                                    
                                        
                            .profile-form__item.profile-form__item--info
                        
                include /blocks/footer-blue.jade
                script(src="./js/profile.js")
                script(src="./js/onCancelPage.js")
