- var title= 'Корректура'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                
                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                
                .main-screen.main-screen--proofreading
                    .main-screen__shadow
                    .main-screen--proofreading__content
                        .main-screen--proofreading__title Корректура
                        .main-screen--proofreading__sub-title Наш специалист исправит ошибки и опечатки, а также подготовит текст для верстки
                        .main-screen--proofreading__advantages
                            .main-screen--proofreading__line 40 000
                            .main-screen--proofreading__sub-line знаков
                                .main-screen--proofreading__tip ?
                                    .main-screen--proofreading__padding
                                        .main-screen--proofreading__hover Подсказка
                            .main-screen--proofreading__line = 2 дня,
                            .main-screen--proofreading__sub-line.main-screen--proofreading__old-price 1 400 ₽
                            .main-screen--proofreading__line 1 000 ₽
                        
                        a.custom-btn.custom-btn--green.c-link-anchor(href="#form") Рассчитать

                .content
                    a.c-anchor(href="" name="form")
                    .proofread-block#form
                        .proofread-block__title Быстрый расчет стоимости
                        
                        .proofread-block__block-number
                            .proofread-block__number.active.c-steps.c-step-1 1
                            .proofread-block__arc
                            .proofread-block__number.c-steps.c-step-2 2
                            .proofread-block__arc
                            .proofread-block__number.c-steps.c-step-3 3
                        
                        .proofread-block__block-count
                            .proofread-block__item-count.active
                                .fallback.dropzone-steps#upload(action="" method="POST")                                
                                    .preloader.c-preloader
                                        img(src="images/content/preloader-24.gif" alt="")
                                    input(name="file" type="file")
                                    .info
                                        button Загрузите рукопись

                                        br 
                                        | Выберите файл .doc/.docx
                                    .text
                                        svg.icon-text(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48")
                                            defs
                                                linearGradient(id="a" x1="-6.557%" x2="85.12%" y1="42.211%" y2="42.211%")
                                                    stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                    stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                    stop(offset="100%")
                                                linearGradient(id="b" x1="85.12%" x2="-6.557%" y1="42.211%" y2="42.211%")
                                                    stop(offset="0%" stop-color="#FFF" stop-opacity=".5")
                                                    stop(offset="46.472%" stop-color="#4F4F4F" stop-opacity=".844")
                                                    stop(offset="100%")
                                            g(fill="none" fill-rule="evenodd")
                                                path(fill="#000" d="M23 7.601c-4.435 4.418-10.796 5.757-16 5.757C7 26.017 14.216 37.243 23 43c8.783-5.757 16-16.983 16-29.642-5.204 0-11.565-1.339-16-5.757z")
                                                path(fill="url(#a)" d="M16 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".5" transform="translate(7 5)")
                                                path(fill="url(#b)" d="M0 39c8.783-6.017 16-17.751 16-30.983-5.204 0-11.565-1.4-16-6.017v37z" opacity=".4" transform="matrix(-1 0 0 1 23 5)")
                                                path(fill="#7CCB26" d="M31.141 18.083c-4.615 2.806-7.963 6.215-9.5 7.958l-3.914-2.92L16 24.446 22.761 31c1.139-2.78 4.693-8.157 9.063-12.082a.51.51 0 0 0 .13-.595.573.573 0 0 0-.813-.24")
                                        p
                                            |Ваша рукопись в безопасности. Bookscriptor гарантирует конфиденциальность по отношению ко всем вашим материалам
                                        


                            .proofread-block__item-count.active.c-steps.c-step-1
                                .proofread-block__img.proofread-block__img--calc
                                    img(src="images/content/calc-140.png" alt="")
                                .proofread-block__txt Расчет цены онлайн
                                
                            .proofread-block__item-count.c-steps.c-step-2
                                .proofread-block__img
                                    .proofread-block__txt.proofread-block__txt--pay 10 440 знаков или 2 авторских листа
                                        .proofread-block__tip ?
                                            .proofread-block__padding
                                                .proofread-block__hover Подсказка
                                        .proofread-block__title.proofread-block__title--pay  От 3-х дней,
                                        .proofread-block__title.proofread-block__title--pay  600 ₽
                                            .proofread-block__sub-title  720 ₽
                                        .proofread-block__btn.proofread-block__btn--pay
                                            a(href="#popup-pay").custom-btn.custom-btn--green.c-pay-proofreader Перейти к оплате →
                                .proofread-block__links
                                    a(href="javascript:void(0);").c-change-dropzone Изменить файл
                                    a(href="javascript:void(0);").c-cancel-dropzone.cancel Отмена
                                    
                            .custom-popup.custom-popup--avatar#popup-pay
                                .custom-popup__title Поп-ап
                                .custom-popup__txt Текст
                                .custom-popup__btn
                                    a.custom-btn.custom-btn--blue(action="" method="POST")(href="javascript:void(0);" title="") Кнопка
                                    

                            .proofread-block__item-count.active
                                .proofread-block__img.proofread-block__img--book
                                    img(src="images/content/red-book.png" alt="")
                                .proofread-block__txt — Загрузим книгу в вашу мастерскую <br>
                                                    | — Файл с правками отправим на почту 
                                                
                                                
                .proofread-block
                    .content
                        .proofread-block__title Примеры корректуры
                        
                        .proofread-tab
                            .proofread-tab__nav
                                a(href="#1t" data-link="#1t").proofread-tab__title.c-tab.active Орфографические ошибки
                                a(href="#2t" data-link="#2t").proofread-tab__title.c-tab Пунктуационные ошибки
                                a(href="#3t" data-link="#3t").proofread-tab__title.c-tab Оформление прямой речи
                                a(href="#4t" data-link="#4t").proofread-tab__title.c-tab Перенос слова
                                a(href="#5t" data-link="#5t").proofread-tab__title.c-tab Неправильные сокращения/аббревиатуры
                                
                            .proofread-tab__content
                                .proofread-tab__item#1t.c-tab-block.active
                                    .proofread-tab__part.proofread-tab__part--bad 
                                        span.error Серебрянные 
                                        |   ложки ее 
                                        span.error завараживали, 
                                        | в их блеске было что то необъяснимо притягательное.

                                    .proofread-tab__part.proofread-tab__part--good Серебряные ложки ее завораживали, в их блеске было что-то необъяснимо притягательное.
                                        
                                .proofread-tab__item#2t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad Он схватил все свои 
                                        span.error пожитки, и вышел 
                                        | не глядя ни на кого.

                                    .proofread-tab__part.proofread-tab__part--good Он схватил все свои пожитки и вышел, не глядя ни на кого.
                                
                                .proofread-tab__item#3t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad  
                                        span.error -   Делайте, что хотите, но&nbsp;я&nbsp;в&nbsp;этом деле не&nbsp;участвую,
                                        span.error ответил&nbsp;он. 

                                    .proofread-tab__part.proofread-tab__part--good — Делайте, что хотите, но я в этом деле не участвую, — ответил он.
                                    
                                .proofread-tab__item#4t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad Он обошел забор, но никак не смог найти 
                                        span.error лаз-
                                        br
                                        span.error ейку.

                                    .proofread-tab__part.proofread-tab__part--good Он обошел забор, но никак не смог найти 
                                            | ла- <br>
                                            | зейку.
                                
                                .proofread-tab__item#5t.c-tab-block
                                    .proofread-tab__part.proofread-tab__part--bad За годы войны число сторонников 
                                        span.error РКПБ 
                                        | увеличилось на 
                                        span.error 1,6 млн. 
                                        | человек.

                                    .proofread-tab__part.proofread-tab__part--good За годы войны число сторонников РКПб 
                                        | увеличилось на 1,6 млн человек.
                                
                  
                .content                 
                    .proofread-block
                        .proofread-block__title Наш специалист
                        
                        .b-block--white
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/proofread1.svg" alt="")
                                        .block-book__text Исправит грамматические, <br>
                                                        | орфографические и пунктуационные <br>
                                                        | ошибки
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/proofread2.svg" alt="")
                                        .block-book__text Создаст единообразие <br>
                                                        | всех элементов текста
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon
                                            img(src="images/content/proofread3.svg" alt="")
                                        .block-book__text Обеспечит правильность структуры <br>
                                                        | и соподчинения заголовков
                            .block-book__wrapper
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--big
                                            img(src="images/content/proofread4.svg" alt="")
                                        .block-book__text Оформит по правилам перечни, эпиграфы <br> 
                                                        | и другие элементы книги
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--big
                                            img(src="images/content/proofread5.svg" alt="")
                                        .block-book__text Отформатирует книгу <br> 
                                                        | для последующей верстки
                                .block-book__block
                                    .block-book__block-wrapper
                                        .block-book__icon.block-book__icon--big
                                            img(src="images/content/proofread6.svg" alt="")
                                        .block-book__text Загрузит книгу в вашу Мастерскую, чтобы вы <br>  
                                                        | могли завершить процесс публикации
                                                        
                        
                        .proofread-block__btn-order                              
                            a.custom-btn.custom-btn--blue.c-link-anchor(href="#form") Заказать корректуру
                            
                 
                .content                                               
                    .proofread-block.proofread-block--blue
                        .proofread-block__title Что дальше
                        
                        .proofread-next
                            a(href="javascript:void(0);").proofread-next__block
                                .proofread-next__block-wrapper
                                    .proofread-next__img.next-img-1
                                        img(src="images/content/covers.png" alt="")
                                    .proofread-next__txt Закажите <br>
                                                    | уникальную обложку
                            a(href="javascript:void(0);").proofread-next__block
                                .proofread-next__block-wrapper
                                    .proofread-next__img.next-img-2
                                        img(src="images/content/book_4.png" alt="")
                                    .proofread-next__txt Сделайте заказ на печать <br>
                                                    | от 1 экземпляра
                            a(href="javascript:void(0);").proofread-next__block
                                .proofread-next__block-wrapper
                                    .proofread-next__img.next-img-3
                                        img(src="images/content/image3_2.png" alt="")
                                    .proofread-next__txt Воспользуйтесь услугой <br>
                                                    | краудфандинга
                .content                                               
                    .proofread-block
                        .proofread-block__title Больше информации в нашем блоге
                        .proofread-blog
                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Где учиться бренд-дизайну

                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов

                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов своими руками
                                                    
            include /blocks/footer-blue.jade
            script(src="./js/proofReader.js")