- var title= 'Книга под ключ'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white.jade
                
                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                        
                .main-screen.main-screen--service-book 
                        .main-screen--service-book__content
                            .main-screen--service-book__right
                                .main-screen--service-book__title Книга под ключ
                                .main-screen--service-book__sub-title За 3 месяца наша команда создаст книгу вашей мечты и возьмет 
                                                            | всю организацию на себя
                .content        
                    .service-book-callback.service-book-callback--top
                        form.editing-callback.c-callback-form(name="callback_form")
                            .editing-callback__text Оставьте свой номер, наш менеджер все подробно расскажет
                            .block-input
                                input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                            input.custom-btn.custom-btn--white(type="submit" value="Перезвоните мне")

                        form.editing-callback.editing-callback--success.c-callback-success
                            .editing-callback--success__img
                            .editing-callback--success__text Заявка на звонок успешно отправлена!
                            a.editing-callback--success__link.c-send-yet Отправить еще                            
                 
                .content           
                    .service-block.service-block--top
                        .service-block__title Готовность книги
                        .block-triple
                            .block-triple__item
                                .block-triple__wrapper                                
                                    .block-triple__img
                                        img(src="images/content/service1.png" alt="")
                                    .block-triple__title
                                    .block-triple__txt У вас есть идея книги
                            .block-triple__item
                                .block-triple__wrapper  
                                    .block-triple__img
                                        img(src="images/content/service2.png" alt="")
                                    .block-triple__title
                                    .block-triple__txt Наработанные материалы <br>
                                        | (видео, аудио, блог, записи, <br>
                                        | презентации, записи)
                            .block-triple__item
                                .block-triple__wrapper  
                                    .block-triple__img
                                        img(src="images/content/service3.png" alt="")
                                    .block-triple__title
                                    .block-triple__txt Видение готовой книги <br>
                                        | (содержание и оформление)
                  
                .content                                  
                    .service-block
                        .service-block.service-block--blue
                            .service-block__title Мы работаем с лучшими редакторами <br>
                                        | всех направлений нон-фикшн
                            .block-triple.block-triple--flex
                                .block-triple__item
                                    .block-triple__wrapper  
                                        .block-triple__img.block-triple__img--five.book-shadow
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .block-triple__title Бизнес
                                        .block-triple__txt Вы эксперт,  <br>
                                            | и вам есть чем  <br>
                                            | поделиться?
                                .block-triple__item
                                    .block-triple__wrapper          
                                        .block-triple__img.block-triple__img--five.book-shadow
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .block-triple__title Корпоративные книги
                                        .block-triple__txt У вас большая компания, и вы хотите обучить методологии <br>
                                            | сотрудников?
                                .block-triple__item
                                    .block-triple__wrapper            
                                        .block-triple__img.block-triple__img--five.book-shadow
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .block-triple__title Мемуары
                                        .block-triple__txt У вас есть блог, <br>
                                            | и вы готовы поделиться <br>
                                            | им в широкие массы?
                                .block-triple__item
                                    .block-triple__wrapper           
                                        .block-triple__img.block-triple__img--five.book-shadow
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .block-triple__title Путешествия
                                        .block-triple__txt Вы много <br>
                                            | путешествуете, и вам <br>
                                            | есть что рассказать?
                                .block-triple__item
                                    .block-triple__wrapper           
                                        .block-triple__img.block-triple__img--five.book-shadow
                                            img(src="images/content/book-profile_1.png" alt="")
                                        .block-triple__title Методики
                                        .block-triple__txt У вас есть методики <br>
                                            | и тд                           
                
                .content            
                    .service-block
                        .service-block__title Почему стоит выбрать нас
                        .block-triple
                            .block-triple__item
                                .block-triple__wrapper                                
                                    .block-triple__img
                                        img(src="images/content/paper.png" alt="")
                                    .block-triple__title Прозрачный процесс
                                    .block-triple__txt На всех этапах с вами будет <br> 
                                        | работать ваш персональный <br> 
                                        | менеджер, ни шага без вашего <br> 
                                        | согласования
                            .block-triple__item
                                .block-triple__wrapper  
                                    .block-triple__img
                                        img(src="images/content/team_2.png" alt="")
                                    .block-triple__title Все берем на себя
                                    .block-triple__txt Всю работу наша команда <br>  
                                        | берет на себя
                            .block-triple__item
                                .block-triple__wrapper  
                                    .block-triple__img
                                        img(src="images/content/book_5.png" alt="")
                                    .block-triple__title 3 месяца
                                    .block-triple__txt Через 12 недель вы будете <br> 
                                        | держать вашу книгу в руках
                         
                            
                .content
                    .service-block   
                        .service-book-callback.service-book-callback--no-margin
                            form.editing-callback.c-callback-form(name="callback_form")
                                .editing-callback__text Оставьте заявку, наш менеджер перезвонит и все расскажет
                                .block-input
                                    input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                                input.custom-btn.custom-btn--white(type="submit" value="Перезвоните мне")

                            form.editing-callback.editing-callback--success.c-callback-success
                                .editing-callback--success__img
                                .editing-callback--success__text Заявка на звонок успешно отправлена!
                                a.editing-callback--success__link.c-send-yet Отправить еще
                                                
                .content 
                    .service-block   
                        .service-block__title.service-block__title--big Как это работает?
                        .block-top
                            .block-top__part
                                .block-top__item
                                    .block-top__bg 1
                                    .block-top__img
                                        img(src="images/content/service-step1.svg" alt="")
                                    .block-top__title Оценка работы
                                    .block-top__txt Совместное составление сметы и технического <br>
                                            | задания, подписание договора и внесение 50% <br>
                                            | предоплаты.  
                                            span.block-top__link  Подробнее
                                                .block-top__tip-wrapper
                                                    .block-top__tip Оставьте заявку, наш менеджер свяжется с вами в течении 1 раб. дня и соберет необходимые требования
                                                        br 
                                                        br
                                                        | Вы отправляете все необходимые материалы
                                                        br 
                                                        br
                                                        | В течении 1 рабочего дням мы оценим точную стоимость и сроки выполнения работы
                                                        br 
                                                        br
                                                        | Мы составим смету и ТЗ (пример) и согласуем ее с вами, при необходимости вы внесете коррективы. Когда вы утвердите проект вам нужно будет подписать договор (очно или заочно) и после 50% предоплаты мы начнем работать над созданием вашей книги
                                .block-top__item
                                    .block-top__bg 3
                                    .block-top__img
                                        img(src="images/content/service-step3.svg" alt="")
                                    .block-top__title Работа с текстом
                                    .block-top__txt Постоянное согласование текста  <br>
                                            | с вами на всех этапах, утверждение черновой 
                                            | рукописи, внесение второй половины предоплаты   
                                            span.block-top__link Подробнее
                                                .block-top__tip-wrapper
                                                    .block-top__tip Ваш редактор пригласит вас на личную встречу или интервью по скайпу, в котором выяснит все необходимые детали.
                                                        br 
                                                        br
                                                        | После сбора информации мы начнем работу над концепцией и структурой книги
                                                        br 
                                                        br
                                                        | После того, как вы утвердите план, мы приступим к работе над текстом

                                .block-top__item
                                    .block-top__bg 5
                                    .block-top__img
                                        img(src="images/content/service-step5.svg" alt="")
                                    .block-top__title Иллюстрации и обложка
                                    .block-top__txt Если у вас будут иллюстрации, мы отправим их вам <br>
                                            | на утверждение, и после корректировок <br>
                                            | отдадим в тираж.
                                .block-top__item
                                    .block-top__bg 7
                                    .block-top__img
                                        img(src="images/content/service-step7.svg" alt="")
                                    .block-top__title Печать тиража
                                    .block-top__txt После того, как макет, иллюстрации и обложка <br>
                                            | с вами будет согласованы, мы отправляем книгу <br>
                                            | в тираж, и вы получите свою книгу
                                    
                            .block-top__part.block-top__part--right                                    
                                .block-top__item
                                    .block-top__bg 2
                                    .block-top__img
                                        img(src="images/content/service-step2.svg" alt="")
                                    .block-top__title Составление концепции и плана книги
                                    .block-top__txt Интервью с вашим редактором, сбор информации, <br>
                                            | работа над концепцией и структуры книги, <br>
                                            | утверждение плана. <br>
                                            span.block-top__link Подробнее
                                                .block-top__tip-wrapper
                                                    .block-top__tip Ваш редактор будет связываться с вами в процессе работы, чтобы текст полностью соответствовал вашей идее, посредством скайпа  
                                                        br 
                                                        br
                                                        | Затем, мы отдадим вам черновую рукопись, после чего внесем необходимые доработки и вы получите чистовой текст
                                                        br 
                                                        br
                                                        | После этого вам нужно будет внести оставшиеся 50% оплаты                            
                                .block-top__item
                                    .block-top__bg 4
                                    .block-top__img
                                        img(src="images/content/service-step4.svg" alt="")
                                    .block-top__title Редактура и корректура
                                    .block-top__txt Как правило проходит в автономном режиме, <br>
                                            | если нет принципиальных вопросов. <br>
                                            | Затем, мы согласуем работу с вами             
                                .block-top__item
                                    .block-top__bg 6
                                    .block-top__img
                                        img(src="images/content/service-step6.svg" alt="")
                                    .block-top__title Дизайн и верстка
                                    .block-top__txt После согласований иллюстраций <br>
                                            | и текста мы   книгу на верстку.
                                            
                            .block-top__item.block-top__item--last-step
                                .block-top__img.block-top__img--center
                                    img(src="images/content/your-book.png" alt="")
                                .block-top__title.block-top__title--center Поздравляем, ваша книга готова!
                                .block-top__txt.block-top__txt--center В конце мы отправим вам исходник в формате .doc/.docx <br>
                                        | c рукописью, печатный макет в формате .pdf + обложку, <br> 
                                        | и электронный формат epub.   
                     
                .service-block.service-block--blue.service-block--no-border  
                    .service-block__wrapper
                         .service-block__item
                             .service-block__img
                                img(src="images/content/service2-white.png" alt="")
                             .service-block__subtitle У вас есть готовые материалы
                             .service-block__old-price 80 000
                             .service-block__new-price От 59 000 ₽
                         .service-block__item.service-block__item--border
                             .service-block__img
                                img(src="images/content/service-book.png" alt="")
                             .service-block__subtitle Разработка книги с нуля
                             .service-block__old-price 170 000
                             .service-block__new-price От 149 000 ₽
                        
                        
                .content
                    .service-book-callback.service-book-callback--top
                        form.editing-callback.c-callback-form(name="callback_form")
                            .editing-callback__text Оставьте зsаявку, наш менеджер перезвонит и все расскажет
                            .block-input
                                input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                            input.custom-btn.custom-btn--white(type="submit" value="Перезвоните мне")

                        form.editing-callback.editing-callback--success.c-callback-success
                            .editing-callback--success__img
                            .editing-callback--success__text Заявка на звонок успешно отправлена!
                            a.editing-callback--success__link.c-send-yet Отправить еще  

                .content            
                    .service-block
                        .service-block__title Больше информации о корректуре <br>
                                    | в наших статьях
                        .proofread-blog
                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt 5 способов заказать тираж дешевле
                                
                            a(href="javascript:void(0);").proofread-blog__item
                                .proofread-blog__img.c-ie-img
                                    img(src="images/content/1bookscriptor-main-bg.jpeg" alt="")
                                .proofread-blog__txt Анализ конкурентов своими руками
                        
                    
                    
            include /blocks/footer-blue.jade
            script(src="./js/serviceBook.js")