- var title= 'Услуги'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
        include /blocks/services-block.jade
    body
        .pagewrap.pagewrap--big-footer.pagewrap--planeta
            .content-wrapper
                include /blocks/header-white-services.jade

                .submenu-ul(data-role="submenu")
                    ul
                        li Работа с текстом
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Редакторское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Выверка текста

                        li Дизайн
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Литературная редактура
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Издательское рецензирование
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Аннотация для задника книги
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Корректура
                        li Работа с автором
                            .submenu-ul__block
                                .submenu-ul__item(data-type="submenuParent")
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Печать
                                    a(href="javascript:void(0);" data-type="submenu").submenu-ul__link Краудфандинг

                .content
                    .services-block
                        .services-block__title Работа с текстом
                        .services-block__subtitle
                            |Более 30 специалистов с большим опытом работы в лучших
                            br
                            |издательствах помогут вам превратить рукопись в шедевр
                        .services-block__wrapper
                            +services-block("images/content/editing.png", "Литературная редактура", "Исправим стилевые погрешности в вашей рукописи и подготовим ее к публикации", "https://bookscriptor.ru/services/editing/")
                            .services-block__item.services-block__item--small-img
                                a.services-block__item-wrapper(href="https://bookscriptor.ru/services/proofreading/")
                                    .services-block__img
                                        img.static(src="/images/content/proofreading.png" alt="")
                                        img.hover(src="/images/content/proofreading-hover.png" alt="")
                                    .services-block__caption Корректура
                                    .services-block__text Исправим ошибки и опечатки, а также подготовим текст для верстки
                            +services-block("images/content/makeup.png", "Верстка книги", "Подготовим верстку рукописи по издательским стандартам", "https://bookscriptor.ru/services/professional/")
                            .services-block__item
                                .services-block__item-wrapper--shadow
                                    .services-block__item-wrapper.services-block__item-wrapper--form
                                        form.services-callback.c-callback-form(name="callback_form")
                                            .services-callback__title У вас есть вопросы?
                                            .services-callback__text Оставьте номер телефона,
                                                br
                                                |и мы поможем подобрать
                                                br
                                                |услуги для вас:
                                            .block-input
                                                input.input-custom.c-input-custom#phone(type="text" name="phone" placeholder="+7")
                                            input.custom-btn.custom-btn--white(type="submit" value="Перезвоните мне")
                                        form.services-callback.services-callback--success.c-callback-success
                                            .services-callback--success__img
                                            .services-callback--success__text Заявка на звонок
                                                br
                                                |успешно отправлена!
                                            a.services-callback--success__link.c-send-yet Отправить еще
                        .services-block__wrapper.services-block__wrapper--captions
                            .services-block__part
                                .services-block__title Дизайн и оформление
                                .services-block__subtitle
                                    | Иллюстраторы Bookscriptor обладают опытом создания обложек любой сложности
                                .services-block__block-wrap
                                    .services-block__item--blue.services-block__label
                                        a.services-block__item-wrapper(href="javascript:void(0);")
                                            .services-block__img
                                                img(src="images/content/cover-no-label.png" alt="")
                                            .services-block__caption Дизайн обложки
                                            .services-block__text Подготовим уникальную обложку для вашей книги
                                    .services-block__item--blue.services-block__label
                                        a.services-block__item-wrapper(href="javascript:void(0);")
                                            .services-block__img
                                                img(src="images/content/annotation.png" alt="")
                                            .services-block__caption Аннотация для задника книги
                                            .services-block__text Подготовим аннотацию, которой можно гордиться
                            .services-block__part
                                .services-block__title Печать
                                .services-block__subtitle
                                    | Различные форматы книг на ваш выбор доступны для печати от 1 экземпляра
                                .services-block__block-wrap
                                    .services-block__item--beige
                                        a.services-block__item-wrapper(href="https://bookscriptor.ru/services/print-on-demand/")
                                            .services-block__img
                                                img(src="images/content/book_4.png" alt="")
                                            .services-block__caption Печать по требованию
                                            .services-block__text Напечатаем тираж от 1 экземпляра
                                    .services-block__item--beige
                                        a.services-block__item-wrapper(href="https://bookscriptor.ru/crowdfunding")
                                            .services-block__img
                                                img(src="images/content/image3_2.png" alt="")
                                            .services-block__caption Краудфандинг
                                            .services-block__text Поможем собрать средства на создание книги вашей мечты

            include /blocks/footer-blue.jade
            script(src="./js/services.js")